USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[Idade]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[Idade]
GO
CREATE FUNCTION [dbo].[Idade]
( 
  @dDtNasc datetime,  @dData datetime )
 RETURNS float(53)
    BEGIN 
RETURN NULL
    END
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[DayOfWeek]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[DayOfWeek]
GO
CREATE FUNCTION [dbo].[DayOfWeek]
( 
  @dt datetime )
 RETURNS float(53)
    BEGIN 
RETURN NULL
    END
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[TimeNow]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[TimeNow]
GO
CREATE FUNCTION [dbo].[TimeNow]
( 
 )
 RETURNS nvarchar(4000)
    BEGIN 
RETURN NULL
    END
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[GetGeoFromLatLng]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[GetGeoFromLatLng]
GO
CREATE FUNCTION [dbo].[GetGeoFromLatLng]
( 
  @lat decimal(10,6),  @lng decimal(10,6) )
 RETURNS GEOGRAPHY
    BEGIN 
RETURN NULL
    END
GO
  
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[IDADE_X]
ELSE IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype IN (N'P', N'PC')) DROP PROCEDURE [dbo].[IDADE_X]
ELSE IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype = N'D') DROP DEFAULT [dbo].[IDADE_X]
ELSE IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype = N'R') DROP RULE [dbo].[IDADE_X]
ELSE IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype = N'TR') DROP TRIGGER [dbo].[IDADE_X]
ELSE IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[IDADE_X]') AND xtype = N'V') DROP VIEW [dbo].[IDADE_X]
EXEC ('CREATE FUNCTION dbo.Idade_X (@dataNasc DATETIME, @data DATETIME)
RETURNS INT AS
BEGIN
	DECLARE @ano INT, @mes INT, @dia INT, @result INT

	SET @ano = YEAR(@data)
	SET @mes = MONTH(@data)
	SET @dia = DAY(@data)

	SET @result = @ano - YEAR(@dataNasc)

	IF (@mes < MONTH(@dataNasc) OR @mes = MONTH(@dataNasc) AND @dia < DAY(@dataNasc))
		SET @result = @result - 1

	RETURN @result
END')
GO

USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[ccorr]') AND xtype = N'V') DROP VIEW [dbo].[ccorr]
GO
CREATE VIEW [dbo].[ccorr] as
WITH tudo (DATE, CODITEM, codentra, CODOUTPU, QNTY, type, referenc)
AS
(
SELECT 
[GQTLDENT].[DHENTRA] DATE, 
[GQTITEM].[CODITEM] CODITEM, 
[GQTLDENT].[CODLDENT] codentra,
NULL CODOUTPU, 
[GQTLDENT].[QTDENTRA] QNTY,
'Entrada' type, 
[GQTINDOC].[DOCUMENR]
FROM [GQTLDENT] 
INNER JOIN [GQTINDOC] ON [GQTLDENT].[CODDENTR] = [GQTINDOC].[CODDENTR]
INNER JOIN [GQTITEM] ON [GQTLDENT].[CODITEM] = [GQTITEM].[CODITEM]
UNION
SELECT 
[GQTOUTPU].[EXITDT] DATE, 
[GQTITEM].[CODITEM] CODITEM, 
NULL codentra,
[GQTOUTPU].[CODOUTPU] CODOUTPU, 
-[GQTOUTPU].[EXITQNTY] QNTY,
'Saída' type, 
[GQTINDOC].[DOCUMENR] 
FROM [GQTOUTPU] 
INNER JOIN [GQTINDOC] ON [GQTOUTPU].[CODOUTPU] = [GQTINDOC].[CODDENTR]
INNER JOIN [GQTITEM] ON [GQTOUTPU].[CODITEM] = [GQTITEM].[CODITEM]
) 
, saidas (NORDER, DATE, CODITEM, codentra, CODOUTPU, QNTY, type, referenc)
AS (
SELECT
ROW_NUMBER() OVER (PARTITION BY CODITEM ORDER BY DATE) NORDER, DATE, CODITEM, codentra, CODOUTPU, QNTY, type, referenc
FROM TUDO
)
, contas (NORDER, DATE, type, CODITEM, codentra, CODOUTPU, QNTY, BALANCE,  referenc)
AS 
( 
	SELECT s.NORDER, s.DATE, s.type, s.CODITEM, s.codentra, s.CODOUTPU, s.QNTY, sum(t.QNTY) BALANCE, s.referenc
	FROM saidas s 
	INNER JOIN saidas t ON t.CODITEM = s.CODITEM AND t.NORDER <= s.NORDER
	GROUP BY s.NORDER, s.DATE, s.type, s.CODITEM, s.codentra, s.CODOUTPU, s.QNTY, s.referenc
)
-- Define the outer query by referencing columns from both CTEs.
SELECT  NEWID() CODCCORR, 
CAST(NORDER AS FLOAT) NORDER, 
CAST(DATE AS datetime) DATE,
CAST(type AS VARCHAR(10)) type, 
CAST(CODITEM AS UNIQUEIDENTIFIER) CODITEM, 
CAST(CODENTRA AS UNIQUEIDENTIFIER) CODDENTR, 
CAST(CODOUTPU AS UNIQUEIDENTIFIER) CODOUTPU, 
CAST(QNTY AS FLOAT) QNTY,
CAST(BALANCE AS FLOAT) BALANCE, 
CAST(REFERENC AS FLOAT) REFERENC, 
0 ZZSTATE
FROM contas
;
GO
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[stock]') AND xtype = N'V') DROP VIEW [dbo].[stock]
GO
CREATE VIEW [dbo].[stock] as
WITH GLOBAL (date, codprodu, codrecei, coddispa, quantity, type, referenc)
AS
(
SELECT 
[GQTRECEIPTLINE].[INSTANT] date, 
[GQTPRODUCT].[codprodu] codprodu, 
[GQTRECEIPTLINE].[CODRECEI] codrecei,
NULL coddispa, 
[GQTRECEIPTLINE].[RECEIVED] quantity,
'Input' type, 
[GQTRECEIPT].[NUMBER]
FROM [GQTRECEIPTLINE] 
INNER JOIN [GQTRECEIPT] ON [GQTRECEIPTLINE].[CODRECEI] = [GQTRECEIPT].[CODRECEI]
INNER JOIN [GQTPRODUCT] ON [GQTRECEIPTLINE].[CODPRODU] = [GQTPRODUCT].[CODPRODU]
UNION
SELECT 
[GQTDISPATCHLINE].[INSTANT] date, 
[GQTPRODUCT].[CODPRODU] codprodu, 
NULL codrecei,
[GQTDISPATCHLINE].[CODDILIN] coddispa, 
-[GQTDISPATCHLINE].[DELIVERE] quantity,
'Output' type, 
[GQTDISPATCH].[DISPANR] 
FROM [GQTDISPATCHLINE] 
INNER JOIN [GQTDISPATCH] ON [GQTDISPATCHLINE].[CODDISPA] = [GQTDISPATCH].[CODDISPA]
INNER JOIN [GQTPRODUCT] ON [GQTDISPATCHLINE].[CODPRODU] = [GQTPRODUCT].[CODPRODU]
) 
, outputs (sequence, date, codprodu, codrecei, coddispa, quantity, type, referenc)
AS (
SELECT
ROW_NUMBER() OVER (PARTITION BY codprodu ORDER BY date) sequence, date, codprodu, codrecei, coddispa, quantity, type, referenc
FROM GLOBAL
)
, counts (sequence, date, type, codprodu, codrecei, coddispa, quantity, balance,  referenc)
AS 
( 
	SELECT s.sequence, s.date, s.type, s.codprodu, s.codrecei, s.coddispa, s.quantity, sum(t.quantity) balance, s.referenc
	FROM outputs s 
	INNER JOIN outputs t ON t.codprodu = s.codprodu AND t.sequence <= s.sequence
	GROUP BY s.sequence, s.date, s.type, s.codprodu, s.codrecei, s.coddispa, s.quantity, s.referenc
)
-- Define the outer query by referencing columns from both CTEs.
SELECT  NEWID() CODSTOCK, 
CAST(sequence AS FLOAT) SEQUENCE, 
CAST(date AS datetime) DATE,
CAST(type AS VARCHAR(10)) TYPE, 
CAST(codprodu AS UNIQUEIDENTIFIER) CODPRODU, 
CAST(codrecei AS UNIQUEIDENTIFIER) CODRECEI, 
CAST(coddispa AS UNIQUEIDENTIFIER) CODDISPA, 
CAST(quantity AS FLOAT) QUANTITY,
CAST(balance AS FLOAT) BALANCE, 
CAST(REFERENC AS FLOAT) REFERENC, 
0 ZZSTATE
FROM counts
;
GO
-- comment to prevent the file from being empty
-- if the file is empty the backoffice will throw an error

USE [W_GnBD]
GO
ALTER FUNCTION [dbo].[Idade]
( 
  @dDtNasc datetime,  @dData datetime )
 RETURNS float(53)
    BEGIN 
--BEGIN_FUNCTION:c6c78a86-33c9-421d-9c97-b050791e6470
	DECLARE @ano INT, @mes INT, @dia INT, @result INT

	SET @ano = YEAR(@dData)
	SET @mes = MONTH(@dData)
	SET @dia = DAY(@dData)

	SET @result = @ano - YEAR(@dDtNasc)

	IF (@mes < MONTH(@dDtNasc) OR @mes = MONTH(@dDtNasc) AND @dia < DAY(@dDtNasc))
		SET @result = @result - 1

	RETURN @result
--END_FUNCTION
    END
GO
USE [W_GnBD]
GO
ALTER FUNCTION [dbo].[DayOfWeek]
( 
  @dt datetime )
 RETURNS float(53)
    BEGIN 
--BEGIN_FUNCTION:1e67f030-ae5f-4c2b-b8b5-25d046a3507b
IF dbo.emptyD(@dt)=1
     RETURN CAST(-1 AS FLOAT);
ELSE        
     declare @dayOfWeek   int;
     set @dayOfWeek = (((@@datefirst-1) + datepart(weekday, @dt)) % 7);
     RETURN CAST(@dayOfWeek AS FLOAT);
--END_FUNCTION
    END
GO
USE [W_GnBD]
GO
ALTER FUNCTION [dbo].[TimeNow]
( 
 )
 RETURNS nvarchar(4000)
    BEGIN 
--BEGIN_FUNCTION:3ca28166-4bd9-47da-8128-b8f7965b8f84
	declare @dt datetime
	SELECT @dt=Data FROM dbo.CurrentDate
	RETURN LEFT(CONVERT(VARCHAR, @dt, 8), 5)
--END_FUNCTION
    END
GO
USE [W_GnBD]
GO
ALTER FUNCTION [dbo].[GetGeoFromLatLng]
( 
  @lat decimal(10,6),  @lng decimal(10,6) )
 RETURNS GEOGRAPHY
    BEGIN 
--BEGIN_FUNCTION:e897c9ae-00bd-47de-a8a5-910216c374e3
    DECLARE @ret geography

    select @ret = geography::STPointFromText('POINT(' + convert(nvarchar(25), @lng) +' ' + convert(nvarchar(25), @lat) + ')', 4326);        

    RETURN @ret
--END_FUNCTION
    END
GO
  