USE [W_GnBD]
if (524 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTADDRL_CUSTADID', 'customeraddressid', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaddrl', 'GQTADDRL_CUSTADID', 'gqt';
end
GO
if (235 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAERO_CODAERO_', 'codaero', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1911
SELECT 'GQTAERO_8CF31625D9F2499B', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtaero', 'GQTAERO_CODAERO_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AGENT
SELECT 'GQTAGENT_02D5EDFE1E6A483B', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGENT_02D5EDFE1E6A483B','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T01AGENT
SELECT 'GQTAGENT_22E9EAA8803E42FA', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtagent', 'GQTAGENT_CODAGENT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRLN_CODAIRLN', 'codairln', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup AIRPLAIRLNAIRLNAME
SELECT 'GQTAIRLN_E00C48CD56474519', 'airlname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairln', 'GQTAIRLN_CODAIRLN', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAUDIT_CODAUDIT', 'codaudit', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaudit', 'GQTAUDIT_CODAUDIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATEG_CODCATEG', 'codcateg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CATEG
SELECT 'GQTCATEG_0C2A36BB65A0482D', 'categoria', 0, 1, 0, 0
UNION ALL
SELECT 'GQTCATEG_0C2A36BB65A0482D','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TBS_131
SELECT 'GQTCATEG_BBBB6AEE164542E6', 'abbreviation', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcategorias', 'GQTCATEG_CODCATEG', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCFAQS_CODCFAQS', 'codcfaqs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtcfaqs', 'GQTCFAQS_CODCFAQS', 'gqt';
end
GO
if (98 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCNTRY_CODCNTRY', 'codcntry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4271
SELECT 'GQTCNTRY_F5FD40ED7ACB4169', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcntry', 'GQTCNTRY_CODCNTRY', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCTRY_CODCTRY_', 'codctry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03COUNTRY
SELECT 'GQTCTRY_1C160CFB5A3B4523', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtctry', 'GQTCTRY_CODCTRY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDECOM_CODDECO_', 'coddeco', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DECOM
SELECT 'GQTDECOM_D172D3713CB34896', 'decomnr', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDECOM_D172D3713CB34896','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2C111
SELECT 'GQTDECOM_A80A1E937AC7474F', 'dtdeco', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdecom', 'GQTDECOM_CODDECO_', 'gqt';
end
GO
if (82 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDESAM_CODDESAM', 'coddesam', 1, 1, 0, 1
UNION ALL
SELECT 'GQTDESAM_zzState', 'zzState', 0, 1, 0, 0
 
exec CheckIdxTmp @tabela, 'gqtdesam', 'GQTDESAM_CODDESAM', 'gqt';
end
GO
if (1589 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISST_CODDISST', 'coddisst', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_251
SELECT 'GQTDISST_D6268B3FDBB5437A', 'status', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdisst', 'GQTDISST_CODDISST', 'gqt';
end
GO
if (534 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDTTYP_CODDTTYP', 'coddttyp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_7111
SELECT 'GQTDTTYP_538BB920AB7D4A91', 'string', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdatatypes', 'GQTDTTYP_CODDTTYP', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACTY_CODFACTY', 'codfacty', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4231
SELECT 'GQTFACTY_4CC3A07487D04243', 'type', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacilitytype', 'GQTFACTY_CODFACTY', 'gqt';
end
GO
if (136 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAMIL_CODFAMIL', 'codfamil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2921
SELECT 'GQTFAMIL_3BF2BAD35E5847D2', 'family', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfamil', 'GQTFAMIL_CODFAMIL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFTGRI_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup GRIDFTGRILEGENDA
SELECT 'GQTFTGRI_5CC36BD086CD4FF0', 'legenda', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtftgri', 'GQTFTGRI_CODPHOTO', 'gqt';
end
GO
if (28 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGENRE_CODGENRE', 'codgenre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_161
SELECT 'GQTGENRE_7CA5867EBF564566', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgenre', 'GQTGENRE_CODGENRE', 'gqt';
end
GO
if (105 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGITEM_CODGITEM', 'codgitem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_5FAEFC120E3649DE', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_5A300A9E3A8B44C3', 'itemgcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgitem', 'GQTGITEM_CODGITEM', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRPB_CODGRPB_', 'codgrpb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_EDITABLETABLELIST
SELECT 'GQTGRPB_80050BADD14844F4', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrpb', 'GQTGRPB_CODGRPB_', 'gqt';
end
GO
if (1022 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINPGR_CODINPGR', 'codinpgr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_361
SELECT 'GQTINPGR_EADD6281727849FE', 'textgro', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinpgr', 'GQTINPGR_CODINPGR', 'gqt';
end
GO
if (502 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTKINDE_CODKINDE', 'codkinde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4121
SELECT 'GQTKINDE_9B40B6380B574336', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtkindofequipment', 'GQTKINDE_CODKINDE', 'gqt';
end
GO
if (128 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLANGU_CODLANG_', 'codlang', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_921
SELECT 'GQTLANGU_EA4A2B47090242D0', 'langua', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlangu', 'GQTLANGU_CODLANG_', 'gqt';
end
GO
if (1648 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtmem', 'GQTMEM_CODMEM__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTORGAN_CODORGAN', 'codorgan', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup VENDAORGANORGANIZA
SELECT 'GQTORGAN_924DD4F9E8934BFE', 'organiza', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtorgan', 'GQTORGAN_CODORGAN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUDOC_CODDOCSD', 'coddocsd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUDOC
SELECT 'GQTOUDOC_BEABC60AAF864F1C', 'nrdocsda', 1, 1, 0, 0
UNION ALL
SELECT 'GQTOUDOC_BEABC60AAF864F1C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoudoc', 'GQTOUDOC_CODDOCSD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPEDID_CODPEDID', 'codpedid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PEDID
SELECT 'GQTPEDID_A474DED2D6904D86', 'nrpedido', 1, 1, 0, 0
UNION ALL
SELECT 'GQTPEDID_A474DED2D6904D86','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_281
SELECT 'GQTPEDID_BE884F4446CA4A39', 'dtpedido', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpedid', 'GQTPEDID_CODPEDID', 'gqt';
end
GO
if (520 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERIO_CODPERIO', 'codperio', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtperiod', 'GQTPERIO_CODPERIO', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERSO_CODPERSO', 'codperso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_67E3B0E8D63D41BD', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_67E3B0E8D63D41BD', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_C30DF02074344A51', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtperson', 'GQTPERSO_CODPERSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPSNGR_CODPSNGR', 'codpsngr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSPSNGRFSTNAME
SELECT 'GQTPSNGR_C0BE047C24D34A71', 'fstname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpsngr', 'GQTPSNGR_CODPSNGR', 'gqt';
end
GO
if (1649 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup USERSPSWNOME
SELECT 'GQTPSW_087A6D593A784CF9', 'nome', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIS_CODREGIS', 'codregis', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_0458440E2B90437F', 'nif', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_0458440E2B90437F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_EDE7B79E936E4CC4', 'email1', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_EDE7B79E936E4CC4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu REG_111
SELECT 'GQTREGIS_B7F1985BB6004300', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregis', 'GQTREGIS_CODREGIS', 'gqt';
end
GO
if (542 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROGL1_CODROGL1', 'codrogl1', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_431
SELECT 'GQTROGL1_DC03C24267124D33', 'title', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrogl1', 'GQTROGL1_CODROGL1', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROLE_CODROLE_', 'codrole', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrole', 'GQTROLE_CODROLE_', 'gqt';
end
GO
if (78 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROOMS_CODROOMS', 'codrooms', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_ACBC9130D7574CE1', 'roomnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_395BC43F82954A40', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrooms', 'GQTROOMS_CODROOMS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDF_CODRORDF', 'codrordf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDF
SELECT 'GQTRORDF_F2E93EEA6DD4491A', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDF_F2E93EEA6DD4491A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordf', 'GQTRORDF_CODRORDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDI_CODRORDI', 'codrordi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDI
SELECT 'GQTRORDI_A2D876F4680E4048', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDI_A2D876F4680E4048','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordi', 'GQTRORDI_CODRORDI', 'gqt';
end
GO
if (491 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRULES_CODREGRA', 'codregra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrules', 'GQTRULES_CODREGRA', 'gqt';
end
GO
if (1653 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'gqt';
end
GO
if (1652 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'gqt';
end
GO
if (1651 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSBCAT_CODSBCAT', 'codsbcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup TPCATSBCATSUBCATEG
SELECT 'GQTSBCAT_C65E5F4FD07B4CB3', 'subcateg', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsbcat', 'GQTSBCAT_CODSBCAT', 'gqt';
end
GO
if (12 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSHITY_CODSHITY', 'codshity', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtshity', 'GQTSHITY_CODSHITY', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPACE_CODESPAC', 'codespac', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtspace', 'GQTSPACE_CODESPAC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPECI_CODESPEC', 'codespec', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_A1E18DE9DD41414F', 'especial', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_A1E18DE9DD41414F', 'areatecn', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites REPARSPECIESPECIAL
SELECT 'GQTSPECI_08D5E64353914DB6', 'areatecn', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtspeci', 'GQTSPECI_CODESPEC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTAKE_CODPARTE', 'codparte', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PESS1STAKEDESIGNAT
SELECT 'GQTSTAKE_5CF735CCD250483D', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtstake', 'GQTSTAKE_CODPARTE', 'gqt';
end
GO
if (3 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTRAT_CODESTRA', 'codestra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtstrat', 'GQTSTRAT_CODESTRA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTEAMP_CODEQJOG', 'codeqjog', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup JOGOSTEAMPEQUIPA
SELECT 'GQTTEAMP_6CA25E94EF4E4041', 'equipa', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtteamp', 'GQTTEAMP_CODEQJOG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPPRO_CODTPPRO', 'codtppro', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PROPR00TPPROTPPROPRI
SELECT 'GQTTPPRO_284BE9AE313147A0', 'tppropri', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttppro', 'GQTTPPRO_CODTPPRO', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRSB_CODTRSB_', 'codtrsb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3141
SELECT 'GQTTRSB_8AEDCA00BA944266', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttrsb', 'GQTTRSB_CODTRSB_', 'gqt';
end
GO
if (250 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUICOM_CODUICOM', 'coduicom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_OVERVIEW
SELECT 'GQTUICOM_D78736E033434BF9', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtuicom', 'GQTUICOM_CODUICOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWAREH_CODWAREH', 'codwareh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_F119DB05AF9B431D', 'warehdes', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWAREH_F119DB05AF9B431D','showreco', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_A73E9CDCA1C1469A', 'warehcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtwareh', 'GQTWAREH_CODWAREH', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTYEAR_CODYEAR_', 'codyear', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A31
SELECT 'GQTYEAR_D40B40307D464ED9', 'year', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtyear', 'GQTYEAR_CODYEAR_', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPL_CODAIRPL', 'codairpl', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtairpl', 'GQTAIRPL_CODAIRPL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPT_CODAIRPT', 'codairpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup FLIGHAIRPTAIRPTNAM
SELECT 'GQTAIRPT_BFEC0140F7494848', 'airptnam', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairpt', 'GQTAIRPT_CODAIRPT', 'gqt';
end
GO
if (1030 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATTP_CODTPCAT', 'codtpcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_471
SELECT 'GQTCATTP_DE28AFD1DE75447D', 'tpcatego', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcattp', 'GQTCATTP_CODTPCAT', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CITY
SELECT 'GQTCITY_A359F73C50A948D4', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcity', 'GQTCITY_CODCITY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPNY_CODEMPRE', 'codempre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_07CC6A4FA36E4491', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_07CC6A4FA36E4491', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_09957703435143A0', 'acronym', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_F844A6E8923F4299', 'nif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_28329D46250D4901', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_01F5F954D1664A65', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_972DAD91BB174CFD', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcmpny', 'GQTCMPNY_CODEMPRE', 'gqt';
end
GO
if (1539 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACIL_CODFACIL', 'codfacil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_74DD5C4E65144407', 'codentit', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_74DD5C4E65144407', 'incorpor', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_4211
SELECT 'GQTFACIL_30079A79584E4C5A', 'incorpor', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_7A24BD6BCA014690', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_7A24BD6BCA014690', 'codentit', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacility', 'GQTFACIL_CODFACIL', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAQS_CODFAQS_', 'codfaqs', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_35911
SELECT 'GQTFAQS_C3F9EEE2C896475D', 'codcfaqs', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfaqs', 'GQTFAQS_CODFAQS_', 'gqt';
end
GO
if (1024 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGLOB_CODGLOB_', 'codglob', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtglob', 'GQTGLOB_CODGLOB_', 'gqt';
end
GO
if (857 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEM_CODITEM_', 'coditem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_606ABC39DF06470F', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_606ABC39DF06470F', 'codwareh', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_451
SELECT 'GQTITEM_83A9DAC975A948DB', 'itemcod', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_98EAADF11B9A4AD3', 'codwareh', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_98EAADF11B9A4AD3', 'itemcod', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtitem', 'GQTITEM_CODITEM_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMANUA_CODMANUA', 'codmanua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP KINDEPSEUDMANUALS
SELECT 'GQTMANUA_49A6AE2F788247AC', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmanualtocollect', 'GQTMANUA_CODMANUA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPARAM_CODPARAM', 'codparam', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_5E523776159548D7', 'parameter', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_5E523776159548D7', 'codkinde', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_2741FC25A2E542E0', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtparameter', 'GQTPARAM_CODPARAM', 'gqt';
end
GO
if (467 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRPIN_CODPESSO', 'codpesso', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtprpin', 'GQTPRPIN_CODPESSO', 'gqt';
end
GO
if (172 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWORG_CODPWORG', 'codpworg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTPWORG_26110F64DA974CE3', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpworg', 'GQTPWORG_CODPWORG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGF_CODROIGF', 'codroigf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_9A9FA965AD804284', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_9A9FA965AD804284', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_9A9FA965AD804284','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4311
SELECT 'GQTROIGF_9D704BC820EE49B1', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_F3004EAF00DB408F', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_F3004EAF00DB408F', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_F3004EAF00DB408F','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigf', 'GQTROIGF_CODROIGF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGI_CODROIGI', 'codroigi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_96AA28DF700D4F7F', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_96AA28DF700D4F7F', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_96AA28DF700D4F7F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4411
SELECT 'GQTROIGI_1310F5D16D554AF2', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_789CE646D197415F', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_789CE646D197415F', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_789CE646D197415F','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigi', 'GQTROIGI_CODROIGI', 'gqt';
end
GO
if (1654 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'gqt';
end
GO
if (1655 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'gqt';
end
GO
if (1650 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_B832C24C5A584E47', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_B832C24C5A584E47', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'GQTS_UA_B832C24C5A584E47','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemApaga PSW
SELECT 'GQTS_UA_90E5AB9A772A4863', 'codpsw', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALE_CODVENDA', 'codvenda', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALE_81C0553C9FED43D4', 'codorgan', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_511
SELECT 'GQTSALE_08653C3F81164338', 'startdt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTSALE_08653C3F81164338','showrcrd', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtsale', 'GQTSALE_CODVENDA', 'gqt';
end
GO
if (517 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALES_CODSALES', 'codsales', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALES_44C4ADAB1C1C4503', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsales', 'GQTSALES_CODSALES', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLB_CODTBLB_', 'codtblb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3131
SELECT 'GQTTBLB_D439D591B69A49E0', 'text', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblb', 'GQTTBLB_CODTBLB_', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLK_CODTBLK_', 'codtblk', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3151
SELECT 'GQTTBLK_8BA5B3892F304B61', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblk', 'GQTTBLK_CODTBLK_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTICKT_CODTICKT', 'codtickt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSTICKTTKTID
SELECT 'GQTTICKT_5A0A100D20A84AE4', 'tktid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSTICKTTKTID
SELECT 'GQTTICKT_D61E59F69C7E4AB8', 'codpsngr', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttickt', 'GQTTICKT_CODTICKT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPCON_CODTPCON', 'codtpcon', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_3A67892DA0A74F1F', 'tipocont', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_3A67892DA0A74F1F', 'codgenre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites CONTATPCONTIPOCONT
SELECT 'GQTTPCON_861D10E8650C4C29', 'codgenre', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpcon', 'GQTTPCON_CODTPCON', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPEQU_CODTPEQU', 'codtpequ', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup TPEQU
SELECT 'GQTTPEQU_3F65E7D95EDC4B33', 'tpequcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTTPEQU_3F65E7D95EDC4B33','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D11
SELECT 'GQTTPEQU_8C553B759E8C4E36', 'tipoequi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FAMI1PSEUDTIPOSEQU
SELECT 'GQTTPEQU_E2D5882C325A42F8', 'codfamil', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpequ', 'GQTTPEQU_CODTPEQU', 'gqt';
end
GO
if (10 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUSERS_CODUSERS', 'codusers', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtusers', 'GQTUSERS_CODUSERS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWPESS_CODPESS_', 'codpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR WAREH
SELECT 'GQTWPESS_2053D650995641CA', 'codwareh', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_2053D650995641CA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu STY_IMGBACKGROUND
SELECT 'GQTWPESS_5D97420FD7E64381', 'date', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_PESSCARD
SELECT 'GQTWPESS_E22E15FB39374E75', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_E22E15FB39374E75','showreco', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtwpess', 'GQTWPESS_CODPESS_', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGAMES_CODGAMES', 'codgames', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtgames', 'GQTGAMES_CODGAMES', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMC_CODCATAR', 'codcatar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_6878CB39CF034879', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_6878CB39CF034879', 'codtpcat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DV relacao1 ARTIGPSEUDCATEGORI
SELECT 'GQTITEMC_B0F6FAE7116B4E5F', 'codtpcat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtitemc', 'GQTITEMC_CODCATAR', 'gqt';
end
GO
if (1512 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMP_CODITEMP', 'coditemp', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtitemp', 'GQTITEMP_CODITEMP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHPD_CODLNHPD', 'codlnhpd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_265B58103BEA4508', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_265B58103BEA4508', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_265B58103BEA4508','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB limites LNHDELNHPDLINE
SELECT 'GQTLNHPD_88445B214324416B', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_151170088B1D464D', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_151170088B1D464D', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_151170088B1D464D','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhpd', 'GQTLNHPD_CODLNHPD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPT_CODOUTPT', 'codoutpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_CD6F563D464F4027', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_CD6F563D464F4027', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_CD6F563D464F4027','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDSAIOUTPTDOCUMENR
SELECT 'GQTOUTPT_FA0AEDE286BF4F72', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_2B30F682332640BC', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_2B30F682332640BC', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_2B30F682332640BC','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpt', 'GQTOUTPT_CODOUTPT', 'gqt';
end
GO
if (155 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROJE_CODPROJE', 'codproje', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A11
SELECT 'GQTPROJE_768C87C9A4E74C9D', 'projecto', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproje', 'GQTPROJE_CODPROJE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPE_CODPROPE', 'codprope', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PROPE
SELECT 'GQTPROPE_207F97BD804646A8', 'order', 0, 1, 0, 0
UNION ALL
SELECT 'GQTPROPE_207F97BD804646A8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_E6771588E72A4BCD', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_E6771588E72A4BCD', 'codagent', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_7F5C3797A9124FC5', 'codagent', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprope', 'GQTPROPE_CODPROPE', 'gqt';
end
GO
if (521 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIO_CODREGIA', 'codregia', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_204A291952D14CC7', 'regiao', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_204A291952D14CC7', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_6C020C0B91344E9F', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregio', 'GQTREGIO_CODREGIA', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTABPR_CODTABPR', 'codtabpr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_4F539BDC08FD4CD6', 'codtpeq1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_4F539BDC08FD4CD6', 'precohor', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_4F539BDC08FD4CD6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_D766C0DD82B34BEC', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_D766C0DD82B34BEC', 'codtpeq1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_D766C0DD82B34BEC','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqttabpr', 'GQTTABPR_CODTABPR', 'gqt';
end
GO
if (130 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRADU_CODTRADU', 'codtradu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_36EB6A3F1C53420E', 'codidio2', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_36EB6A3F1C53420E', 'atraduzi', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_911
SELECT 'GQTTRADU_50758B2376214AEA', 'referenc', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttradu', 'GQTTRADU_CODTRADU', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGREG_CODAGGRE', 'codaggre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_569BDE8CD4434958', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_569BDE8CD4434958', 'yearnumb', 0, 2, 0, 0
UNION ALL
-- Index with origin: Formula SR YEAR
SELECT 'GQTAGREG_B6830481E2ED4A14', 'codyear', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGREG_B6830481E2ED4A14','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_1279144824854706', 'value', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_1279144824854706', 'codproje', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_1279144824854706', 'codyear', 0, 3, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_45064D8A6B044AF6', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_45064D8A6B044AF6', 'codyear', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtagreg', 'GQTAGREG_CODAGGRE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPKI_CODCMPKI', 'codcmpki', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_2CFEAFD386724BDF', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_2CFEAFD386724BDF', 'codtpequ', 0, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_2CFEAFD386724BDF','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2A11
SELECT 'GQTCMPKI_8A0154CD68AA4AE6', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_CFA0EC5B9E0D40EF', 'codtpequ', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_CFA0EC5B9E0D40EF', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_CFA0EC5B9E0D40EF','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtcmpki', 'GQTCMPKI_CODCMPKI', 'gqt';
end
GO
if (1553 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTENTIT_CODENTIT', 'codentit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_511
SELECT 'GQTENTIT_724E8B0E5E404389', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTENTIT_724E8B0E5E404389','supplier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_724E8B0E5E404389','carrier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_724E8B0E5E404389','manufact', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtentity', 'GQTENTIT_CODENTIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLIGH_CODFLIGH', 'codfligh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLIGHFLIGHTID
SELECT 'GQTFLIGH_487123C2522144DD', 'flightid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfligh', 'GQTFLIGH_CODFLIGH', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHAG_CODLNHAG', 'codlnhag', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PEDIDPSEUDAGRUPAME
SELECT 'GQTLNHAG_5E02469B39194A97', 'codpedid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhag', 'GQTLNHAG_CODLNHAG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPU_CODOUTPU', 'codoutpu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_9897857227B541EB', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_9897857227B541EB', 'exitdt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_9897857227B541EB','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_2695B3CC0ED348CE', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_2695B3CC0ED348CE', 'codoutpt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_2695B3CC0ED348CE','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DSAIDPSEUDSAIDAS
SELECT 'GQTOUTPU_6C15DF882D6942C8', 'codoutpt', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_CA14B20F22974316', 'codoutpt', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_CA14B20F22974316', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_CA14B20F22974316','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpu', 'GQTOUTPU_CODOUTPU', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROCN_CODPROCN', 'codprocn', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CONTACTS
SELECT 'GQTPROCN_5AAB62256E8945BA', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE10PSEUDPROPCONT
SELECT 'GQTPROCN_61637FCC3D0648F2', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprocn', 'GQTPROCN_CODPROCN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPH_CODPROPH', 'codproph', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03PHOTOS
SELECT 'GQTPROPH_8749C4EEF3454EE3', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE11PSEUDPROPHOTO
SELECT 'GQTPROPH_541BBA774522447B', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproph', 'GQTPROPH_CODPROPH', 'gqt';
end
GO
if (169 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWREG_CODPWREG', 'codpwreg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph REGIAO
SELECT 'GQTPWREG_2513900AF0FF4FE0', 'codregia', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwreg', 'GQTPWREG_CODPWREG', 'gqt';
end
GO
if (1588 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISPA_CODDISPA', 'coddispa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DISPA
SELECT 'GQTDISPA_5B1DB77C84074EE3', 'dispanr', 1, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_5B1DB77C84074EE3','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_2211
SELECT 'GQTDISPA_0D5EB2829AE54536', 'dispadt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_0D5EB2829AE54536','isprepar', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatch', 'GQTDISPA_CODDISPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEXPEN_CODDESPE', 'coddespe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT EXPEN
SELECT 'GQTEXPEN_4C970EB2CABE4A28', 'yearnumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR AGREG
SELECT 'GQTEXPEN_6D2A74137430421C', 'codaggre', 0, 1, 0, 0
UNION ALL
SELECT 'GQTEXPEN_6D2A74137430421C','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_A21
SELECT 'GQTEXPEN_87F37FD652E74967', 'descript', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP ANOPSEUDTODASDES
SELECT 'GQTEXPEN_A79954C1D3C6468C', 'codyear', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROJEPSEUDDESPESAS
SELECT 'GQTEXPEN_D5AAD1BA2CFC4471', 'codproje', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtexpen', 'GQTEXPEN_CODDESPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLTSC_CODFLTSC', 'codfltsc', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_A353F9BAD3A54536', 'scaleid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_959C00976A7F487C', 'codfligh', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfltsc', 'GQTFLTSC_CODFLTSC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDE_CODLNHDE', 'codlnhde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemApaga LNHPD
SELECT 'GQTLNHDE_8043367E51824510', 'codlnhpd', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_64DC3445D7344772', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_64DC3445D7344772', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_64DC3445D7344772','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula SR LNHAG
SELECT 'GQTLNHDE_E53E1D1B52644350', 'codlnhag', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLNHDE_E53E1D1B52644350','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PEDIDPSEUDDESAGREG
SELECT 'GQTLNHDE_9A585C831372460A', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_38FE1B524FCF448F', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_38FE1B524FCF448F', 'codlnhpd', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_A3A4B31745604A8B', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_A3A4B31745604A8B', 'ordem', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_A3A4B31745604A8B','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhde', 'GQTLNHDE_CODLNHDE', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLOCAT_CODLOCAT', 'codlocat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4251
SELECT 'GQTLOCAT_98D17F3BFAB342FE', 'gln', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocation', 'GQTLOCAT_CODLOCAT', 'gqt';
end
GO
if (506 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMESSA_CODMESSA', 'codmessa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_611
SELECT 'GQTMESSA_7D64A0AB42244391', 'idnotif', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmessages', 'GQTMESSA_CODMESSA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPESSO_CODPESSO', 'codpesso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_7E460D203E134262', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_7E460D203E134262', 'idfuncio', 1, 2, 0, 0
UNION ALL
SELECT 'GQTPESSO_7E460D203E134262','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_1E8D562ED1D74625', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_1E8D562ED1D74625', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_1E8D562ED1D74625', 'gender', 0, 3, 0, 0
UNION ALL
SELECT 'GQTPESSO_1E8D562ED1D74625','interna', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_271
SELECT 'GQTPESSO_73D70733D5F94BAF', 'dtultcat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_021A1FA3EE864115', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_021A1FA3EE864115', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_36370EA2BD064522', 'gender', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_F071A34A97204503', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_F071A34A97204503', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_6DA8CF55A66C4614', 'dtnascim', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_B4A6ED7FA19B4F82', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_AF05E399F76540C7', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_3B2821398DD04536', 'email2', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites PROPRALLPESSONAME
SELECT 'GQTPESSO_4FA5B098D9BA423E', 'codpaise', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_DCE51386CE274E1B', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_DCE51386CE274E1B', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_94EC0C78745E4A5E', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_94EC0C78745E4A5E', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_3BE61CDC463449AE', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_3BE61CDC463449AE', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_3BE61CDC463449AE', 'codpaise', 0, 3, 0, 0

exec CheckIdxTmp @tabela, 'gqtpessoas', 'GQTPESSO_CODPESSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRECEI_CODRECEI', 'codrecei', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RECEI
SELECT 'GQTRECEI_2F066B04B5A44F33', 'number', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRECEI_2F066B04B5A44F33','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_111
SELECT 'GQTRECEI_1ADE3790679D4309', 'dtreceip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtreceipt', 'GQTRECEI_CODRECEI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSET_CODASSET', 'codasset', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ASSET
SELECT 'GQTASSET_079BE4AABEBC4C8C', 'assetnum', 1, 1, 0, 0
UNION ALL
SELECT 'GQTASSET_079BE4AABEBC4C8C','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_BD9D60ABEC5C4E41', 'assettyp', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_ADDC13573EF74D24', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_ADDC13573EF74D24', 'assettyp', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtasset', 'GQTASSET_CODASSET', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTBRDPS_CODBRDPS', 'codbrdps', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtbrdps', 'GQTBRDPS_CODBRDPS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCONTA_CODCONTA', 'codconta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_141
SELECT 'GQTCONTA_5D657600176A468D', 'contacto', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDCONTACTO
SELECT 'GQTCONTA_6599FFFC43634B6A', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtconta', 'GQTCONTA_CODCONTA', 'gqt';
end
GO
if (115 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTESPPE_CODESPPE', 'codesppe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV relacaoF PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_433C4FB8B9604A87', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV relacao1 PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_8B6BB2A384CE4C4A', 'codespec', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtesppe', 'GQTESPPE_CODESPPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEVCAT_CODPROGR', 'codprogr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_396564996CFC4833', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_396564996CFC4833', 'codpesso', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEVCAT_396564996CFC4833','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDEVOLUCAO
SELECT 'GQTEVCAT_8EE4E48B3C73401C', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtevcat', 'GQTEVCAT_CODPROGR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRID_CODGRID_', 'codgrid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PESSOGRIPSEUDGRID1
SELECT 'GQTGRID_1CE2F9B8E2C14A4E', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrid', 'GQTGRID_CODGRID_', 'gqt';
end
GO
if (1497 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTHPESS_CODHPESS', 'codhpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemDesmarca PESSO
SELECT 'GQTHPESS_B9ABA666E03347F5', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu PTN_1421
SELECT 'GQTHPESS_8C811E750BD94116', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqthpess', 'GQTHPESS_CODHPESS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINDOC_CODDENTR', 'coddentr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5E44BDB88F3649B4', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5E44BDB88F3649B4', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_5E44BDB88F3649B4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDENTNORINDOCDOCUMENR
SELECT 'GQTINDOC_BE9976C8994A482C', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_DD30C2C359B2469A', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_DD30C2C359B2469A', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_DD30C2C359B2469A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtindoc', 'GQTINDOC_CODDENTR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLCEXT_CODLCEXT', 'codlcext', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_201FE4B9B5324B46', 'glnext', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_201FE4B9B5324B46', 'codlocat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_FCF2FEB4E7D741EE', 'codlocat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocationextension', 'GQTLCEXT_CODLCEXT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDF_CODLNHDF', 'codlnhdf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP LNHDEPSEUDLNPROPS
SELECT 'GQTLNHDF_5F6F3B7F49E04C9A', 'codlnhde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhdf', 'GQTLNHDF_CODLNHDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPR_CODPROPR', 'codpropr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_441211E136F74E3D', 'codregia', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_441211E136F74E3D', 'codpais1', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_B5C8BB1AA042413A', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_B5C8BB1AA042413A', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_4C55018EEC874B2F', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpropr', 'GQTPROPR_CODPROPR', 'gqt';
end
GO
if (1365 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAFINI_CODAFINI', 'codafini', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTAFINI_8697E288B06C426D', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtafini', 'GQTAFINI_CODAFINI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSMA_CODASSMA', 'codassma', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET03PSEUDDOCUMENT
SELECT 'GQTASSMA_7DEDC501EF1B43C5', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetmanual', 'GQTASSMA_CODASSMA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSPA_CODASSPA', 'codasspa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET04PSEUDPARAMETE
SELECT 'GQTASSPA_887D97309AF64DF1', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetparameter', 'GQTASSPA_CODASSPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTATTAC_CODATTAC', 'codattac', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_E547DB217D434787', 'codasset', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_29D7928F64DC4B9F', 'attached', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_29D7928F64DC4B9F', 'codasset', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtattachment', 'GQTATTAC_CODATTAC', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEQUIP_CODEQUIP', 'codequip', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_A60EE79A2CE845D1', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_A60EE79A2CE845D1', 'designat', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_A60EE79A2CE845D1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemDesmarca DECOM
SELECT 'GQTEQUIP_714570E99CF84134', 'coddeco', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_F6E08BF5C03E4302', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_F6E08BF5C03E4302', 'sequennr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_F6E08BF5C03E4302','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTEQUIP_1124E9454EA645BB', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_74C3FA5F54D34DDD', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_74C3FA5F54D34DDD', 'coddeco', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_74C3FA5F54D34DDD','bought', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_74C3FA5F54D34DDD','ifabatif', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_74C3FA5F54D34DDD','showrc', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_CC32D3C2E27B4946', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_CC32D3C2E27B4946', 'codtpequ', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_CEDD0D5CEE1A4491', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_CEDD0D5CEE1A4491', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu PTN_3G11
SELECT 'GQTEQUIP_2FA8BC5A571A4926', 'dtaquisi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_F96E5E933F1E459B', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_F96E5E933F1E459B', 'codpess1', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtequip', 'GQTEQUIP_CODEQUIP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLDENT_CODLDENT', 'codldent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_B2B40218E38141C3', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_B2B40218E38141C3', 'coddentr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_B2B40218E38141C3','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_E235320F8DAF49A8', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_E235320F8DAF49A8', 'dhentra', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_E235320F8DAF49A8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DENTRPSEUDENTRADAS
SELECT 'GQTLDENT_3920869EEB9641FE', 'coddentr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_1F8DD1E19D284365', 'coddentr', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_1F8DD1E19D284365', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_1F8DD1E19D284365','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtldent', 'GQTLDENT_CODLDENT', 'gqt';
end
GO
if (466 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTNOTIF_CODNOTIF', 'codnotif', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_659EF5B378EC4DC0', 'begin', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_0541CC1151574036', 'end', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_125D9F9A049F4352', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_977A6FB529524B5B', 'idnotif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_9B303A17347B4E89', 'idmsg', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_3DCA013592064218', 'mailerr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_A8DDEC29A72145F0', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_186212CDFDBE48CB', 'creatdat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_67CC6759D3204B47', 'creatope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtnotif', 'GQTNOTIF_CODNOTIF', 'gqt';
end
GO
if (501 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRODU_CODPRODU', 'codprodu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_311
SELECT 'GQTPRODU_E6D4A994FA3143E2', 'product', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproduct', 'GQTPRODU_CODPRODU', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWCOM_CODPWCOM', 'codpwcom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTPWCOM_F3A63F6C095444AF', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwcom', 'GQTPWCOM_CODPWCOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTANEXD_CODANEXD', 'codanexd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_931
SELECT 'GQTANEXD_43A16B2DB3AE4ED0', 'dthranex', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP EQUDOCUMPSEUDLISANEX
SELECT 'GQTANEXD_20A9D6ADDE36463A', 'codequip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtanexd', 'GQTANEXD_CODANEXD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDILIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_1698C66906B44E23', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_1698C66906B44E23', 'coddispa', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_1698C66906B44E23','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_118FCB954A394578', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_118FCB954A394578', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_118FCB954A394578','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DISPAPSEUDDISPATCH
SELECT 'GQTDILIN_7123DC5FA13243B9', 'coddispa', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_667213426699480A', 'coddispa', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_667213426699480A', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_667213426699480A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatchline', 'GQTDILIN_CODDILIN', 'gqt';
end
GO
if (1569 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLDS_CODFLDS_', 'codflds', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu QWB_11
SELECT 'GQTFLDS_AC760C3167F54044', 'duration', 0, 1, 0, 0
UNION ALL
SELECT 'GQTFLDS_AC760C3167F54044','shwrc', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtflds', 'GQTFLDS_CODFLDS_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINSTA_CODINSTA', 'codinsta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR EQUIP
SELECT 'GQTINSTA_58DE99A75E7D4BAC', 'codequip', 0, 1, 0, 0
UNION ALL
SELECT 'GQTINSTA_58DE99A75E7D4BAC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_261
SELECT 'GQTINSTA_2946020BD2B042C6', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_LEAFLET
SELECT 'GQTINSTA_9CE8CE1FBB8C42E6', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP TPEQUPSEUDINSTALAC
SELECT 'GQTINSTA_A0779DD22C3444E5', 'codtpequ', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinsta', 'GQTINSTA_CODINSTA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLENDI_CODLENDI', 'codlendi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_ED0580A9884F4A7A', 'lendinnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_ED0580A9884F4A7A', 'codpess1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_ED0580A9884F4A7A','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_10959D4F33634CE4', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_10959D4F33634CE4', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_C872C7D2621A4F95', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_C872C7D2621A4F95', 'warndt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_C872C7D2621A4F95','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_C872C7D2621A4F95','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_0B99903F8A3B45F7', 'warndt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_0B99903F8A3B45F7','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_0B99903F8A3B45F7','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_9256E0030A344C12', 'end', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_9256E0030A344C12','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_9256E0030A344C12','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_B6F07DD1BD36456D', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_B6F07DD1BD36456D', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_E84FC41207F14466', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_E84FC41207F14466', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_E5DC6FE37CDB4CE3', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_E5DC6FE37CDB4CE3', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_3119935769424012', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_3119935769424012', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_C7EDEBD3B7714EB0', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_C7EDEBD3B7714EB0', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_702CD723F96B4421', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_702CD723F96B4421', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_01CDBB6D120C4E32', 'codpess1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_01CDBB6D120C4E32', 'lendinnr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_01CDBB6D120C4E32','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlendi', 'GQTLENDI_CODLENDI', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMOVIM_CODMOVIM', 'codmovim', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_D5B0E35F299C405F', 'dhmudanc', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_D5B0E35F299C405F', 'codequip', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_D5B0E35F299C405F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_2CF523304BC64967', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_2CF523304BC64967', 'codrooms', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_2CF523304BC64967','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2511
SELECT 'GQTMOVIM_8C0E25E750B54BA5', 'codrooms', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmovim', 'GQTMOVIM_CODMOVIM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPHOTO_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_B1D2230AB5284B0D', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_B1D2230AB5284B0D', 'anexed', 0, 2, 0, 0
UNION ALL
SELECT 'GQTPHOTO_B1D2230AB5284B0D','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_3E1F8EB0B78A473C', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_3E1F8EB0B78A473C', 'codequip', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtphoto', 'GQTPHOTO_CODPHOTO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRELIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_CC966ED441EE44DE', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_CC966ED441EE44DE', 'codrecei', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_CC966ED441EE44DE','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_95BA99A578A440D8', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_95BA99A578A440D8', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_95BA99A578A440D8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP RECEIPSEUDRECEIPTL
SELECT 'GQTRELIN_A57FC012A05E42E4', 'codrecei', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_B392CFBC1611436C', 'codrecei', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_B392CFBC1611436C', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_B392CFBC1611436C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtreceiptline', 'GQTRELIN_CODDILIN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREPAR_CODREPAR', 'codrepar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_086250EA16F04590', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_086250EA16F04590', 'nrrepara', 1, 2, 0, 0
UNION ALL
SELECT 'GQTREPAR_086250EA16F04590','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_311
SELECT 'GQTREPAR_58B7676743D44ABC', 'dtrepara', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_3165127FBB284611', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_3165127FBB284611', 'nrrepara', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtrepar', 'GQTREPAR_CODREPAR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTVISIT_CODVISIT', 'codvisit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_ACEA2041BDB9437B', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_ACEA2041BDB9437B', 'startdt', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_1B4AAD6B173A4EC4', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_1B4AAD6B173A4EC4', 'codequip', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_48E59D4920134F5C', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_48E59D4920134F5C', 'dtfim', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_BEB8457786E54EB7', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_BEB8457786E54EB7', 'color', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtvisit', 'GQTVISIT_CODVISIT', 'gqt';
end
GO
if (1560 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFEECA_CODFEECA', 'codfeeca', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1931
SELECT 'GQTFEECA_78D538AFCC0741C1', 'feedback', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FLDSTBLPSEUDFEECA
SELECT 'GQTFEECA_4D2E5EBA2D8849C4', 'codflds', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfeeca', 'GQTFEECA_CODFEECA', 'gqt';
end
GO

if (1655 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'gqtalerta_alerta01'))
	DROP INDEX gqtalerta_alerta01 ON gqtalerta
CREATE INDEX gqtalerta_alerta01 ON gqtalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit01'))
	DROP INDEX gqtpostit_postit01 ON gqtpostit
CREATE INDEX gqtpostit_postit01 ON gqtpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit02'))
	DROP INDEX gqtpostit_postit02 ON gqtpostit
CREATE INDEX gqtpostit_postit02 ON gqtpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit03'))
	DROP INDEX gqtpostit_postit03 ON gqtpostit
CREATE INDEX gqtpostit_postit03 ON gqtpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit04'))
	DROP INDEX gqtpostit_postit04 ON gqtpostit
CREATE INDEX gqtpostit_postit04 ON gqtpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit05'))
	DROP INDEX gqtpostit_postit05 ON gqtpostit
CREATE INDEX gqtpostit_postit05 ON gqtpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit06'))
	DROP INDEX gqtpostit_postit06 ON gqtpostit
CREATE INDEX gqtpostit_postit06 ON gqtpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit07'))
	DROP INDEX gqtpostit_postit07 ON gqtpostit
CREATE INDEX gqtpostit_postit07 ON gqtpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'gqtaltent_altent01'))
	DROP INDEX gqtaltent_altent01 ON gqtaltent
CREATE INDEX gqtaltent_altent01 ON gqtaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega01'))
	DROP INDEX gqtdelega_delega01 ON gqtdelega
CREATE INDEX gqtdelega_delega01 ON gqtdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega02'))
	DROP INDEX gqtdelega_delega02 ON gqtdelega
CREATE INDEX gqtdelega_delega02 ON gqtdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstusr_codpsw'))
	DROP INDEX gqtlstusr_codpsw ON gqtlstusr
CREATE INDEX gqtlstusr_codpsw ON gqtlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstcol_codlstusr'))
	DROP INDEX gqtlstcol_codlstusr ON gqtlstcol
CREATE INDEX gqtlstcol_codlstusr ON gqtlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstren_codlstusr'))
	DROP INDEX gqtlstren_codlstusr ON gqtlstren
CREATE INDEX gqtlstren_codlstusr ON gqtlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtusrwid_codlstusr'))
	DROP INDEX gqtusrwid_codlstusr ON gqtusrwid
CREATE INDEX gqtusrwid_codlstusr ON gqtusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid_name'))
	DROP INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid'))
	DROP INDEX gqttblcfg_codpsw_uuid ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid ON gqttblcfg (codpsw, uuid)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfgsel_codpsw_uuid'))
	DROP INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel
CREATE INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel (codpsw, uuid)



if (exists(select top 1 name from sys.indexes where name = 'loggqtall_loggqtall01'))
	DROP INDEX loggqtall_loggqtall01 ON loggqtall
CREATE CLUSTERED INDEX [loggqtall_loggqtall01] ON [dbo].[logGQTall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE GQTcfg set versindx = 1655
end
GO