*{gqpaddress}*
USE [W_GnBD]
GO
*{gqtaddrl}*
USE [W_GnBD]
GO
*{gqtaero}*
USE [W_GnBD]
GO
*{gqtagent}*
USE [W_GnBD]
GO
*{gqtairln}*
USE [W_GnBD]
GO
*{gqtaudit}*
USE [W_GnBD]
GO
*{gqtcategorias}*
USE [W_GnBD]
GO
*{gqtcfaqs}*
USE [W_GnBD]
GO
*{gqtcntry}*
USE [W_GnBD]
GO
*{gqtctry}*
USE [W_GnBD]
GO
*{gqtdecom}*
USE [W_GnBD]
GO
*{gqtdesam}*
USE [W_GnBD]
GO
*{gqtdisst}*
USE [W_GnBD]
GO
*{gqtdatatypes}*
USE [W_GnBD]
GO
*{gqtfacilitytype}*
USE [W_GnBD]
GO
*{gqtfamil}*
USE [W_GnBD]
GO
*{gqtftgri}*
USE [W_GnBD]
GO
*{gqtgenre}*
USE [W_GnBD]
GO
*{gqtgitem}*
USE [W_GnBD]
GO
*{gqtgrpb}*
USE [W_GnBD]
GO
*{gqtinpgr}*
USE [W_GnBD]
GO
*{gqtkindofequipment}*
USE [W_GnBD]
GO
*{gqtlangu}*
USE [W_GnBD]
GO
*{gqtmem}*
USE [W_GnBD]
GO
*{gqtorgan}*
USE [W_GnBD]
GO
*{gqtoudoc}*
USE [W_GnBD]
GO
*{gqtpedid}*
USE [W_GnBD]
GO
*{gqtperiod}*
USE [W_GnBD]
GO
*{gqtperson}*
USE [W_GnBD]
GO
*{gqtpsngr}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{gqtregis}*
USE [W_GnBD]
GO
*{gqtrogl1}*
USE [W_GnBD]
GO
*{gqtrole}*
USE [W_GnBD]
GO
*{gqtrooms}*
USE [W_GnBD]
GO
*{gqtrordf}*
USE [W_GnBD]
GO
*{gqtrordi}*
USE [W_GnBD]
GO
*{gqtrules}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{gqtsbcat}*
USE [W_GnBD]
GO
*{gqtshity}*
USE [W_GnBD]
GO
*{gqtspace}*
USE [W_GnBD]
GO
*{gqtspeci}*
USE [W_GnBD]
GO
*{gqtstake}*
USE [W_GnBD]
GO
*{gqtstrat}*
USE [W_GnBD]
GO
*{gqtteamp}*
USE [W_GnBD]
GO
*{gqttppro}*
USE [W_GnBD]
GO
*{gqttrsb}*
USE [W_GnBD]
GO
*{gqtuicom}*
USE [W_GnBD]
GO
*{gqtwareh}*
USE [W_GnBD]
GO
*{gqtyear}*
USE [W_GnBD]
GO
*{gqtairpl}*
USE [W_GnBD]
GO
*{gqtairpt}*
USE [W_GnBD]
GO
*{gqtcattp}*
USE [W_GnBD]
GO
*{gqtcity}*
USE [W_GnBD]
GO
*{gqtcmpny}*
USE [W_GnBD]
GO
*{gqtfacility}*
USE [W_GnBD]
GO
*{gqtfaqs}*
USE [W_GnBD]
GO
*{gqtglob}*
USE [W_GnBD]
GO
*{gqtitem}*
USE [W_GnBD]
GO
*{gqtmanualtocollect}*
USE [W_GnBD]
GO
*{gqtparameter}*
USE [W_GnBD]
GO
*{gqtprpin}*
USE [W_GnBD]
GO
*{gqtpworg}*
USE [W_GnBD]
GO
*{gqtroigf}*
USE [W_GnBD]
GO
*{gqtroigi}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{gqtsale}*
USE [W_GnBD]
GO
*{gqtsales}*
USE [W_GnBD]
GO
*{gqttblb}*
USE [W_GnBD]
GO
*{gqttblk}*
USE [W_GnBD]
GO
*{gqttickt}*
USE [W_GnBD]
GO
*{gqttpcon}*
USE [W_GnBD]
GO
*{gqttpequ}*
USE [W_GnBD]
GO
*{gqtusers}*
USE [W_GnBD]
GO
*{gqtwpess}*
USE [W_GnBD]
GO
*{gqtgames}*
USE [W_GnBD]
GO
*{gqtitemc}*
USE [W_GnBD]
GO
*{gqtitemp}*
USE [W_GnBD]
GO
*{gqtlnhpd}*
USE [W_GnBD]
GO
*{gqtoutpt}*
USE [W_GnBD]
GO
*{gqtproje}*
USE [W_GnBD]
update [gqtproje] set [gqtproje].[primeiro] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] <= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] ASC),0)
update [gqtproje] set [gqtproje].[before] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] <= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] DESC),0)
update [gqtproje] set [gqtproje].[followin] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] >= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] ASC),0)
update [gqtproje] set [gqtproje].[ultimo] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] >= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] DESC),0)
GO
*{gqtprope}*
USE [W_GnBD]
GO
*{gqtregio}*
USE [W_GnBD]
GO
*{gqttabpr}*
USE [W_GnBD]
GO
*{gqttradu}*
USE [W_GnBD]
GO
*{gqtagreg}*
USE [W_GnBD]
GO
*{gqtcmpki}*
USE [W_GnBD]
GO
*{gqtentity}*
USE [W_GnBD]
update [gqtentity] set [gqtentity].[firstfacilitie] = ((select top 1 [gqtfacility].[codfacil] from [gqtfacility] where ([gqtfacility].[incorpor] <= [gqtentity].[founded] and [gqtfacility].[codentit] = [gqtentity].[codentit]) order by [gqtfacility].[incorpor] ASC))
update [gqtentity] set [gqtentity].[lastfacilitie] = ((select top 1 [gqtfacility].[codfacil] from [gqtfacility] where ([gqtfacility].[incorpor] >= [gqtentity].[founded] and [gqtfacility].[codentit] = [gqtentity].[codentit]) order by [gqtfacility].[incorpor] DESC))
GO
*{gqtfligh}*
USE [W_GnBD]
GO
*{gqtlnhag}*
USE [W_GnBD]
GO
*{gqtoutpu}*
USE [W_GnBD]
GO
*{gqtprocn}*
USE [W_GnBD]
GO
*{gqtproph}*
USE [W_GnBD]
GO
*{gqtpwreg}*
USE [W_GnBD]
GO
*{gqtdispatch}*
USE [W_GnBD]
GO
*{gqtexpen}*
USE [W_GnBD]
update [gqtexpen] set [gqtexpen].[prevval] = ISNULL((select top 1 [gqtexpen].[value] from [gqtexpen] where ([gqtexpen].[yearnumb] <= [gqtexpen].[yearprev]) order by [gqtexpen].[yearnumb] DESC),0)
GO
*{gqtfltsc}*
USE [W_GnBD]
GO
*{gqtlnhde}*
USE [W_GnBD]
GO
*{gqtlocation}*
USE [W_GnBD]
GO
*{gqtmessages}*
USE [W_GnBD]
GO
*{gqtpessoas}*
USE [W_GnBD]
GO
*{gqtreceipt}*
USE [W_GnBD]
GO
*{gqtasset}*
USE [W_GnBD]
GO
*{gqtbrdps}*
USE [W_GnBD]
GO
*{gqtconta}*
USE [W_GnBD]
GO
*{gqtesppe}*
USE [W_GnBD]
GO
*{gqtevcat}*
USE [W_GnBD]
update [gqtevcat] set [gqtevcat].[until] = (select min(tabela1.[since])-1 from gqtevcat as tabela1 where (tabela1.[since] > [gqtevcat].[since] and tabela1.[codpesso] = [gqtevcat].[codpesso]))
GO
*{gqtgrid}*
USE [W_GnBD]
GO
*{gqthpess}*
USE [W_GnBD]
GO
*{gqtindoc}*
USE [W_GnBD]
GO
*{gqtlocationextension}*
USE [W_GnBD]
GO
*{gqtlnhdf}*
USE [W_GnBD]
GO
*{gqtpropr}*
USE [W_GnBD]
GO
*{gqtafini}*
USE [W_GnBD]
GO
*{gqtassetmanual}*
USE [W_GnBD]
GO
*{gqtassetparameter}*
USE [W_GnBD]
GO
*{gqtatags}*
USE [W_GnBD]
GO
*{gqtattachment}*
USE [W_GnBD]
GO
*{ccorr}*
USE [W_GnBD]
GO
*{gqtequip}*
USE [W_GnBD]
update [gqtequip] set [gqtequip].[first] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] ASC),'')
update [gqtequip] set [gqtequip].[before] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere]) order by [gqtmovim].[dhmudanc] DESC),'')
update [gqtequip] set [gqtequip].[followin] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] ASC),'')
update [gqtequip] set [gqtequip].[last] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] DESC),'')
GO
*{gqtldent}*
USE [W_GnBD]
GO
*{gqtnotif}*
USE [W_GnBD]
GO
*{gqtproduct}*
USE [W_GnBD]
GO
*{gqtpwcom}*
USE [W_GnBD]
GO
*{gqtanexd}*
USE [W_GnBD]
update [gqtanexd] set [gqtanexd].[tittradu] = ISNULL((select top 1 [gqttradu].[traduzid] from [gqttradu] where ([gqttradu].[atraduzi] <= [gqtanexd].[title] and [gqttradu].[codidio2] = [gqtanexd].[codlang]) order by [gqttradu].[atraduzi] DESC),'')
GO
*{gqtdispatchline}*
USE [W_GnBD]
GO
*{gqtflds}*
USE [W_GnBD]
GO
*{gqtinsta}*
USE [W_GnBD]
update [gqtinsta] set [gqtinsta].[precohor] = ISNULL((select top 1 [gqttabpr].[precohor] from [gqttabpr] where ([gqttabpr].[since] <= [gqtinsta].[since] and [gqttabpr].[codtpeq1] = [gqtinsta].[codtpequ]) order by [gqttabpr].[since] DESC),0)
GO
*{gqtlendi}*
USE [W_GnBD]
GO
*{gqtmovim}*
USE [W_GnBD]
GO
*{gqtphoto}*
USE [W_GnBD]
GO
*{gqtreceiptline}*
USE [W_GnBD]
GO
*{gqtrepar}*
USE [W_GnBD]
GO
*{stock}*
USE [W_GnBD]
GO
*{gqtvisit}*
USE [W_GnBD]
GO
*{gqtfeeca}*
USE [W_GnBD]
GO
