USE [W_GnBD]
ALTER TABLE [dbo].[GQTPRPIN] WITH NOCHECK ADD CONSTRAINT [FK_GQTPRPIN_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[GQTPRPIN] NOCHECK CONSTRAINT [FK_GQTPRPIN_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[GQTLOCATIONEXTENSION] WITH NOCHECK ADD CONSTRAINT [FK_GQTLOCATIONEXTENSION_CODLOCAT_GQTLOCATION_CODLOCAT] FOREIGN KEY([CODLOCAT]) REFERENCES [dbo].[GQTLOCATION] ([CODLOCAT])
ALTER TABLE [dbo].[GQTLOCATIONEXTENSION] NOCHECK CONSTRAINT [FK_GQTLOCATIONEXTENSION_CODLOCAT_GQTLOCATION_CODLOCAT]

ALTER TABLE [dbo].[GQTLOCATION] WITH NOCHECK ADD CONSTRAINT [FK_GQTLOCATION_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTLOCATION] NOCHECK CONSTRAINT [FK_GQTLOCATION_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTLOCATION] WITH NOCHECK ADD CONSTRAINT [FK_GQTLOCATION_CODFACIL_GQTFACILITY_CODFACIL] FOREIGN KEY([CODFACIL]) REFERENCES [dbo].[GQTFACILITY] ([CODFACIL])
ALTER TABLE [dbo].[GQTLOCATION] NOCHECK CONSTRAINT [FK_GQTLOCATION_CODFACIL_GQTFACILITY_CODFACIL]

ALTER TABLE [dbo].[GQTDISPATCHLINE] WITH NOCHECK ADD CONSTRAINT [FK_GQTDISPATCHLINE_CODDISPA_GQTDISPATCH_CODDISPA] FOREIGN KEY([CODDISPA]) REFERENCES [dbo].[GQTDISPATCH] ([CODDISPA])
ALTER TABLE [dbo].[GQTDISPATCHLINE] NOCHECK CONSTRAINT [FK_GQTDISPATCHLINE_CODDISPA_GQTDISPATCH_CODDISPA]

ALTER TABLE [dbo].[GQTDISPATCHLINE] WITH NOCHECK ADD CONSTRAINT [FK_GQTDISPATCHLINE_CODPRODU_GQTPRODUCT_CODPRODU] FOREIGN KEY([CODPRODU]) REFERENCES [dbo].[GQTPRODUCT] ([CODPRODU])
ALTER TABLE [dbo].[GQTDISPATCHLINE] NOCHECK CONSTRAINT [FK_GQTDISPATCHLINE_CODPRODU_GQTPRODUCT_CODPRODU]

ALTER TABLE [dbo].[GQTRECEIPTLINE] WITH NOCHECK ADD CONSTRAINT [FK_GQTRECEIPTLINE_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTRECEIPTLINE] NOCHECK CONSTRAINT [FK_GQTRECEIPTLINE_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTRECEIPTLINE] WITH NOCHECK ADD CONSTRAINT [FK_GQTRECEIPTLINE_CODPRODU_GQTPRODUCT_CODPRODU] FOREIGN KEY([CODPRODU]) REFERENCES [dbo].[GQTPRODUCT] ([CODPRODU])
ALTER TABLE [dbo].[GQTRECEIPTLINE] NOCHECK CONSTRAINT [FK_GQTRECEIPTLINE_CODPRODU_GQTPRODUCT_CODPRODU]

ALTER TABLE [dbo].[GQTRECEIPTLINE] WITH NOCHECK ADD CONSTRAINT [FK_GQTRECEIPTLINE_CODRECEI_GQTRECEIPT_CODRECEI] FOREIGN KEY([CODRECEI]) REFERENCES [dbo].[GQTRECEIPT] ([CODRECEI])
ALTER TABLE [dbo].[GQTRECEIPTLINE] NOCHECK CONSTRAINT [FK_GQTRECEIPTLINE_CODRECEI_GQTRECEIPT_CODRECEI]

ALTER TABLE [dbo].[GQTATTACHMENT] WITH NOCHECK ADD CONSTRAINT [FK_GQTATTACHMENT_CODASSET_GQTASSET_CODASSET] FOREIGN KEY([CODASSET]) REFERENCES [dbo].[GQTASSET] ([CODASSET])
ALTER TABLE [dbo].[GQTATTACHMENT] NOCHECK CONSTRAINT [FK_GQTATTACHMENT_CODASSET_GQTASSET_CODASSET]

ALTER TABLE [dbo].[GQTUSERS] WITH NOCHECK ADD CONSTRAINT [FK_GQTUSERS_CODPERSO_GQTPERSON_CODPERSO] FOREIGN KEY([CODPERSO]) REFERENCES [dbo].[GQTPERSON] ([CODPERSO])
ALTER TABLE [dbo].[GQTUSERS] NOCHECK CONSTRAINT [FK_GQTUSERS_CODPERSO_GQTPERSON_CODPERSO]

ALTER TABLE [dbo].[GQTUSERS] WITH NOCHECK ADD CONSTRAINT [FK_GQTUSERS_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[GQTUSERS] NOCHECK CONSTRAINT [FK_GQTUSERS_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[GQTTABPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTTABPR_CODTPEQ1_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQ1]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTTABPR] NOCHECK CONSTRAINT [FK_GQTTABPR_CODTPEQ1_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTEVCAT] WITH NOCHECK ADD CONSTRAINT [FK_GQTEVCAT_CODCATEG_GQTCATEGORIAS_CODCATEG] FOREIGN KEY([CODCATEG]) REFERENCES [dbo].[GQTCATEGORIAS] ([CODCATEG])
ALTER TABLE [dbo].[GQTEVCAT] NOCHECK CONSTRAINT [FK_GQTEVCAT_CODCATEG_GQTCATEGORIAS_CODCATEG]

ALTER TABLE [dbo].[GQTEVCAT] WITH NOCHECK ADD CONSTRAINT [FK_GQTEVCAT_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTEVCAT] NOCHECK CONSTRAINT [FK_GQTEVCAT_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTCONTA] WITH NOCHECK ADD CONSTRAINT [FK_GQTCONTA_CODGENRE_GQTGENRE_CODGENRE] FOREIGN KEY([CODGENRE]) REFERENCES [dbo].[GQTGENRE] ([CODGENRE])
ALTER TABLE [dbo].[GQTCONTA] NOCHECK CONSTRAINT [FK_GQTCONTA_CODGENRE_GQTGENRE_CODGENRE]

ALTER TABLE [dbo].[GQTCONTA] WITH NOCHECK ADD CONSTRAINT [FK_GQTCONTA_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTCONTA] NOCHECK CONSTRAINT [FK_GQTCONTA_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTCONTA] WITH NOCHECK ADD CONSTRAINT [FK_GQTCONTA_CODTPCON_GQTTPCON_CODTPCON] FOREIGN KEY([CODTPCON]) REFERENCES [dbo].[GQTTPCON] ([CODTPCON])
ALTER TABLE [dbo].[GQTCONTA] NOCHECK CONSTRAINT [FK_GQTCONTA_CODTPCON_GQTTPCON_CODTPCON]

ALTER TABLE [dbo].[GQTPRODUCT] WITH NOCHECK ADD CONSTRAINT [FK_GQTPRODUCT_CODLCEXT_GQTLOCATIONEXTENSION_CODLCEXT] FOREIGN KEY([CODLCEXT]) REFERENCES [dbo].[GQTLOCATIONEXTENSION] ([CODLCEXT])
ALTER TABLE [dbo].[GQTPRODUCT] NOCHECK CONSTRAINT [FK_GQTPRODUCT_CODLCEXT_GQTLOCATIONEXTENSION_CODLCEXT]

ALTER TABLE [dbo].[GQTPRODUCT] WITH NOCHECK ADD CONSTRAINT [FK_GQTPRODUCT_CODLOCAT_GQTLOCATION_CODLOCAT] FOREIGN KEY([CODLOCAT]) REFERENCES [dbo].[GQTLOCATION] ([CODLOCAT])
ALTER TABLE [dbo].[GQTPRODUCT] NOCHECK CONSTRAINT [FK_GQTPRODUCT_CODLOCAT_GQTLOCATION_CODLOCAT]

ALTER TABLE [dbo].[GQTTPCON] WITH NOCHECK ADD CONSTRAINT [FK_GQTTPCON_CODGENRE_GQTGENRE_CODGENRE] FOREIGN KEY([CODGENRE]) REFERENCES [dbo].[GQTGENRE] ([CODGENRE])
ALTER TABLE [dbo].[GQTTPCON] NOCHECK CONSTRAINT [FK_GQTTPCON_CODGENRE_GQTGENRE_CODGENRE]

ALTER TABLE [dbo].[GQTLNHAG] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHAG_CODPEDID_GQTPEDID_CODPEDID] FOREIGN KEY([CODPEDID]) REFERENCES [dbo].[GQTPEDID] ([CODPEDID])
ALTER TABLE [dbo].[GQTLNHAG] NOCHECK CONSTRAINT [FK_GQTLNHAG_CODPEDID_GQTPEDID_CODPEDID]

ALTER TABLE [dbo].[GQTLNHAG] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHAG_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTLNHAG] NOCHECK CONSTRAINT [FK_GQTLNHAG_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTOUTPT] WITH NOCHECK ADD CONSTRAINT [FK_GQTOUTPT_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTOUTPT] NOCHECK CONSTRAINT [FK_GQTOUTPT_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTOUTPU] WITH NOCHECK ADD CONSTRAINT [FK_GQTOUTPU_CODITEM_GQTITEM_CODITEM] FOREIGN KEY([CODITEM]) REFERENCES [dbo].[GQTITEM] ([CODITEM])
ALTER TABLE [dbo].[GQTOUTPU] NOCHECK CONSTRAINT [FK_GQTOUTPU_CODITEM_GQTITEM_CODITEM]

ALTER TABLE [dbo].[GQTOUTPU] WITH NOCHECK ADD CONSTRAINT [FK_GQTOUTPU_CODDOCSD_GQTOUDOC_CODDOCSD] FOREIGN KEY([CODDOCSD]) REFERENCES [dbo].[GQTOUDOC] ([CODDOCSD])
ALTER TABLE [dbo].[GQTOUTPU] NOCHECK CONSTRAINT [FK_GQTOUTPU_CODDOCSD_GQTOUDOC_CODDOCSD]

ALTER TABLE [dbo].[GQTOUTPU] WITH NOCHECK ADD CONSTRAINT [FK_GQTOUTPU_CODOUTPT_GQTOUTPT_CODOUTPT] FOREIGN KEY([CODOUTPT]) REFERENCES [dbo].[GQTOUTPT] ([CODOUTPT])
ALTER TABLE [dbo].[GQTOUTPU] NOCHECK CONSTRAINT [FK_GQTOUTPU_CODOUTPT_GQTOUTPT_CODOUTPT]

ALTER TABLE [dbo].[GQTOUTPU] WITH NOCHECK ADD CONSTRAINT [FK_GQTOUTPU_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTOUTPU] NOCHECK CONSTRAINT [FK_GQTOUTPU_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTPHOTO] WITH NOCHECK ADD CONSTRAINT [FK_GQTPHOTO_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTPHOTO] NOCHECK CONSTRAINT [FK_GQTPHOTO_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTLENDI] WITH NOCHECK ADD CONSTRAINT [FK_GQTLENDI_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTLENDI] NOCHECK CONSTRAINT [FK_GQTLENDI_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTLENDI] WITH NOCHECK ADD CONSTRAINT [FK_GQTLENDI_CODPESS1_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS1]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTLENDI] NOCHECK CONSTRAINT [FK_GQTLENDI_CODPESS1_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTLENDI] WITH NOCHECK ADD CONSTRAINT [FK_GQTLENDI_CODPESS2_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS2]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTLENDI] NOCHECK CONSTRAINT [FK_GQTLENDI_CODPESS2_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTGAMES] WITH NOCHECK ADD CONSTRAINT [FK_GQTGAMES_CODEQJGF_GQTTEAMP_CODEQJOG] FOREIGN KEY([CODEQJGF]) REFERENCES [dbo].[GQTTEAMP] ([CODEQJOG])
ALTER TABLE [dbo].[GQTGAMES] NOCHECK CONSTRAINT [FK_GQTGAMES_CODEQJGF_GQTTEAMP_CODEQJOG]

ALTER TABLE [dbo].[GQTGAMES] WITH NOCHECK ADD CONSTRAINT [FK_GQTGAMES_CODEQJGC_GQTTEAMP_CODEQJOG] FOREIGN KEY([CODEQJGC]) REFERENCES [dbo].[GQTTEAMP] ([CODEQJOG])
ALTER TABLE [dbo].[GQTGAMES] NOCHECK CONSTRAINT [FK_GQTGAMES_CODEQJGC_GQTTEAMP_CODEQJOG]

ALTER TABLE [dbo].[GQTITEMC] WITH NOCHECK ADD CONSTRAINT [FK_GQTITEMC_CODTPCAT_GQTCATTP_CODTPCAT] FOREIGN KEY([CODTPCAT]) REFERENCES [dbo].[GQTCATTP] ([CODTPCAT])
ALTER TABLE [dbo].[GQTITEMC] NOCHECK CONSTRAINT [FK_GQTITEMC_CODTPCAT_GQTCATTP_CODTPCAT]

ALTER TABLE [dbo].[GQTITEMC] WITH NOCHECK ADD CONSTRAINT [FK_GQTITEMC_CODITEM_GQTITEM_CODITEM] FOREIGN KEY([CODITEM]) REFERENCES [dbo].[GQTITEM] ([CODITEM])
ALTER TABLE [dbo].[GQTITEMC] NOCHECK CONSTRAINT [FK_GQTITEMC_CODITEM_GQTITEM_CODITEM]

ALTER TABLE [dbo].[GQTMANUALTOCOLLECT] WITH NOCHECK ADD CONSTRAINT [FK_GQTMANUALTOCOLLECT_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE] FOREIGN KEY([CODKINDE]) REFERENCES [dbo].[GQTKINDOFEQUIPMENT] ([CODKINDE])
ALTER TABLE [dbo].[GQTMANUALTOCOLLECT] NOCHECK CONSTRAINT [FK_GQTMANUALTOCOLLECT_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE]

ALTER TABLE [dbo].[GQTASSETMANUAL] WITH NOCHECK ADD CONSTRAINT [FK_GQTASSETMANUAL_CODASSET_GQTASSET_CODASSET] FOREIGN KEY([CODASSET]) REFERENCES [dbo].[GQTASSET] ([CODASSET])
ALTER TABLE [dbo].[GQTASSETMANUAL] NOCHECK CONSTRAINT [FK_GQTASSETMANUAL_CODASSET_GQTASSET_CODASSET]

ALTER TABLE [dbo].[GQTLDENT] WITH NOCHECK ADD CONSTRAINT [FK_GQTLDENT_CODDENTR_GQTINDOC_CODDENTR] FOREIGN KEY([CODDENTR]) REFERENCES [dbo].[GQTINDOC] ([CODDENTR])
ALTER TABLE [dbo].[GQTLDENT] NOCHECK CONSTRAINT [FK_GQTLDENT_CODDENTR_GQTINDOC_CODDENTR]

ALTER TABLE [dbo].[GQTLDENT] WITH NOCHECK ADD CONSTRAINT [FK_GQTLDENT_CODITEM_GQTITEM_CODITEM] FOREIGN KEY([CODITEM]) REFERENCES [dbo].[GQTITEM] ([CODITEM])
ALTER TABLE [dbo].[GQTLDENT] NOCHECK CONSTRAINT [FK_GQTLDENT_CODITEM_GQTITEM_CODITEM]

ALTER TABLE [dbo].[GQTLDENT] WITH NOCHECK ADD CONSTRAINT [FK_GQTLDENT_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTLDENT] NOCHECK CONSTRAINT [FK_GQTLDENT_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTESPPE] WITH NOCHECK ADD CONSTRAINT [FK_GQTESPPE_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTESPPE] NOCHECK CONSTRAINT [FK_GQTESPPE_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTESPPE] WITH NOCHECK ADD CONSTRAINT [FK_GQTESPPE_CODESPEC_GQTSPECI_CODESPEC] FOREIGN KEY([CODESPEC]) REFERENCES [dbo].[GQTSPECI] ([CODESPEC])
ALTER TABLE [dbo].[GQTESPPE] NOCHECK CONSTRAINT [FK_GQTESPPE_CODESPEC_GQTSPECI_CODESPEC]

ALTER TABLE [dbo].[GQTREPAR] WITH NOCHECK ADD CONSTRAINT [FK_GQTREPAR_CODCATEG_GQTCATEGORIAS_CODCATEG] FOREIGN KEY([CODCATEG]) REFERENCES [dbo].[GQTCATEGORIAS] ([CODCATEG])
ALTER TABLE [dbo].[GQTREPAR] NOCHECK CONSTRAINT [FK_GQTREPAR_CODCATEG_GQTCATEGORIAS_CODCATEG]

ALTER TABLE [dbo].[GQTREPAR] WITH NOCHECK ADD CONSTRAINT [FK_GQTREPAR_CODEMPRE_GQTCMPNY_CODEMPRE] FOREIGN KEY([CODEMPRE]) REFERENCES [dbo].[GQTCMPNY] ([CODEMPRE])
ALTER TABLE [dbo].[GQTREPAR] NOCHECK CONSTRAINT [FK_GQTREPAR_CODEMPRE_GQTCMPNY_CODEMPRE]

ALTER TABLE [dbo].[GQTREPAR] WITH NOCHECK ADD CONSTRAINT [FK_GQTREPAR_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTREPAR] NOCHECK CONSTRAINT [FK_GQTREPAR_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTREPAR] WITH NOCHECK ADD CONSTRAINT [FK_GQTREPAR_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTREPAR] NOCHECK CONSTRAINT [FK_GQTREPAR_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTREPAR] WITH NOCHECK ADD CONSTRAINT [FK_GQTREPAR_CODESPEC_GQTSPECI_CODESPEC] FOREIGN KEY([CODESPEC]) REFERENCES [dbo].[GQTSPECI] ([CODESPEC])
ALTER TABLE [dbo].[GQTREPAR] NOCHECK CONSTRAINT [FK_GQTREPAR_CODESPEC_GQTSPECI_CODESPEC]

ALTER TABLE [dbo].[GQTINDOC] WITH NOCHECK ADD CONSTRAINT [FK_GQTINDOC_CODEMPRE_GQTCMPNY_CODEMPRE] FOREIGN KEY([CODEMPRE]) REFERENCES [dbo].[GQTCMPNY] ([CODEMPRE])
ALTER TABLE [dbo].[GQTINDOC] NOCHECK CONSTRAINT [FK_GQTINDOC_CODEMPRE_GQTCMPNY_CODEMPRE]

ALTER TABLE [dbo].[GQTINDOC] WITH NOCHECK ADD CONSTRAINT [FK_GQTINDOC_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTINDOC] NOCHECK CONSTRAINT [FK_GQTINDOC_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTINDOC] WITH NOCHECK ADD CONSTRAINT [FK_GQTINDOC_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTINDOC] NOCHECK CONSTRAINT [FK_GQTINDOC_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTINDOC] WITH NOCHECK ADD CONSTRAINT [FK_GQTINDOC_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTINDOC] NOCHECK CONSTRAINT [FK_GQTINDOC_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTTRADU] WITH NOCHECK ADD CONSTRAINT [FK_GQTTRADU_CODIDIO1_GQTLANGU_CODLANG] FOREIGN KEY([CODIDIO1]) REFERENCES [dbo].[GQTLANGU] ([CODLANG])
ALTER TABLE [dbo].[GQTTRADU] NOCHECK CONSTRAINT [FK_GQTTRADU_CODIDIO1_GQTLANGU_CODLANG]

ALTER TABLE [dbo].[GQTTRADU] WITH NOCHECK ADD CONSTRAINT [FK_GQTTRADU_CODIDIO2_GQTLANGU_CODLANG] FOREIGN KEY([CODIDIO2]) REFERENCES [dbo].[GQTLANGU] ([CODLANG])
ALTER TABLE [dbo].[GQTTRADU] NOCHECK CONSTRAINT [FK_GQTTRADU_CODIDIO2_GQTLANGU_CODLANG]

ALTER TABLE [dbo].[GQTANEXD] WITH NOCHECK ADD CONSTRAINT [FK_GQTANEXD_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTANEXD] NOCHECK CONSTRAINT [FK_GQTANEXD_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTANEXD] WITH NOCHECK ADD CONSTRAINT [FK_GQTANEXD_CODLANG_GQTLANGU_CODLANG] FOREIGN KEY([CODLANG]) REFERENCES [dbo].[GQTLANGU] ([CODLANG])
ALTER TABLE [dbo].[GQTANEXD] NOCHECK CONSTRAINT [FK_GQTANEXD_CODLANG_GQTLANGU_CODLANG]

ALTER TABLE [dbo].[GQTTPEQU] WITH NOCHECK ADD CONSTRAINT [FK_GQTTPEQU_CODFAMIL_GQTFAMIL_CODFAMIL] FOREIGN KEY([CODFAMIL]) REFERENCES [dbo].[GQTFAMIL] ([CODFAMIL])
ALTER TABLE [dbo].[GQTTPEQU] NOCHECK CONSTRAINT [FK_GQTTPEQU_CODFAMIL_GQTFAMIL_CODFAMIL]

ALTER TABLE [dbo].[GQTMOVIM] WITH NOCHECK ADD CONSTRAINT [FK_GQTMOVIM_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTMOVIM] NOCHECK CONSTRAINT [FK_GQTMOVIM_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTMOVIM] WITH NOCHECK ADD CONSTRAINT [FK_GQTMOVIM_CODROOMS_GQTROOMS_CODROOMS] FOREIGN KEY([CODROOMS]) REFERENCES [dbo].[GQTROOMS] ([CODROOMS])
ALTER TABLE [dbo].[GQTMOVIM] NOCHECK CONSTRAINT [FK_GQTMOVIM_CODROOMS_GQTROOMS_CODROOMS]

ALTER TABLE [dbo].[GQTPROPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPR_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTPROPR] NOCHECK CONSTRAINT [FK_GQTPROPR_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTPROPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPR_CODPAIS1_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODPAIS1]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTPROPR] NOCHECK CONSTRAINT [FK_GQTPROPR_CODPAIS1_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTPROPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPR_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTPROPR] NOCHECK CONSTRAINT [FK_GQTPROPR_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTPROPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPR_CODREGIA_GQTREGIO_CODREGIA] FOREIGN KEY([CODREGIA]) REFERENCES [dbo].[GQTREGIO] ([CODREGIA])
ALTER TABLE [dbo].[GQTPROPR] NOCHECK CONSTRAINT [FK_GQTPROPR_CODREGIA_GQTREGIO_CODREGIA]

ALTER TABLE [dbo].[GQTPROPR] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPR_CODTPPRO_GQTTPPRO_CODTPPRO] FOREIGN KEY([CODTPPRO]) REFERENCES [dbo].[GQTTPPRO] ([CODTPPRO])
ALTER TABLE [dbo].[GQTPROPR] NOCHECK CONSTRAINT [FK_GQTPROPR_CODTPPRO_GQTTPPRO_CODTPPRO]

ALTER TABLE [dbo].[GQTPROJE] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROJE_CODYEAR_GQTYEAR_CODYEAR] FOREIGN KEY([CODYEAR]) REFERENCES [dbo].[GQTYEAR] ([CODYEAR])
ALTER TABLE [dbo].[GQTPROJE] NOCHECK CONSTRAINT [FK_GQTPROJE_CODYEAR_GQTYEAR_CODYEAR]

ALTER TABLE [dbo].[GQTCMPKI] WITH NOCHECK ADD CONSTRAINT [FK_GQTCMPKI_CODTPEQ1_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQ1]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTCMPKI] NOCHECK CONSTRAINT [FK_GQTCMPKI_CODTPEQ1_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTCMPKI] WITH NOCHECK ADD CONSTRAINT [FK_GQTCMPKI_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTCMPKI] NOCHECK CONSTRAINT [FK_GQTCMPKI_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTPWREG] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWREG_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[GQTPWREG] NOCHECK CONSTRAINT [FK_GQTPWREG_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[GQTPWREG] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWREG_CODREGIA_GQTREGIO_CODREGIA] FOREIGN KEY([CODREGIA]) REFERENCES [dbo].[GQTREGIO] ([CODREGIA])
ALTER TABLE [dbo].[GQTPWREG] NOCHECK CONSTRAINT [FK_GQTPWREG_CODREGIA_GQTREGIO_CODREGIA]

ALTER TABLE [dbo].[GQTPWORG] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWORG_CODORGAN_GQTORGAN_CODORGAN] FOREIGN KEY([CODORGAN]) REFERENCES [dbo].[GQTORGAN] ([CODORGAN])
ALTER TABLE [dbo].[GQTPWORG] NOCHECK CONSTRAINT [FK_GQTPWORG_CODORGAN_GQTORGAN_CODORGAN]

ALTER TABLE [dbo].[GQTPWORG] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWORG_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[GQTPWORG] NOCHECK CONSTRAINT [FK_GQTPWORG_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[GQTGRID] WITH NOCHECK ADD CONSTRAINT [FK_GQTGRID_CODFTGRI_GQTFTGRI_CODPHOTO] FOREIGN KEY([CODFTGRI]) REFERENCES [dbo].[GQTFTGRI] ([CODPHOTO])
ALTER TABLE [dbo].[GQTGRID] NOCHECK CONSTRAINT [FK_GQTGRID_CODFTGRI_GQTFTGRI_CODPHOTO]

ALTER TABLE [dbo].[GQTGRID] WITH NOCHECK ADD CONSTRAINT [FK_GQTGRID_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTGRID] NOCHECK CONSTRAINT [FK_GQTGRID_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTFEECA] WITH NOCHECK ADD CONSTRAINT [FK_GQTFEECA_CODFLDS_GQTFLDS_CODFLDS] FOREIGN KEY([CODFLDS]) REFERENCES [dbo].[GQTFLDS] ([CODFLDS])
ALTER TABLE [dbo].[GQTFEECA] NOCHECK CONSTRAINT [FK_GQTFEECA_CODFLDS_GQTFLDS_CODFLDS]

ALTER TABLE [dbo].[GQTNOTIF] WITH NOCHECK ADD CONSTRAINT [FK_GQTNOTIF_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTNOTIF] NOCHECK CONSTRAINT [FK_GQTNOTIF_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTSALE] WITH NOCHECK ADD CONSTRAINT [FK_GQTSALE_CODORGAN_GQTORGAN_CODORGAN] FOREIGN KEY([CODORGAN]) REFERENCES [dbo].[GQTORGAN] ([CODORGAN])
ALTER TABLE [dbo].[GQTSALE] NOCHECK CONSTRAINT [FK_GQTSALE_CODORGAN_GQTORGAN_CODORGAN]

ALTER TABLE [dbo].[GQTINSTA] WITH NOCHECK ADD CONSTRAINT [FK_GQTINSTA_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTINSTA] NOCHECK CONSTRAINT [FK_GQTINSTA_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTINSTA] WITH NOCHECK ADD CONSTRAINT [FK_GQTINSTA_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTINSTA] NOCHECK CONSTRAINT [FK_GQTINSTA_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTWPESS] WITH NOCHECK ADD CONSTRAINT [FK_GQTWPESS_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTWPESS] NOCHECK CONSTRAINT [FK_GQTWPESS_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTVISIT] WITH NOCHECK ADD CONSTRAINT [FK_GQTVISIT_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTVISIT] NOCHECK CONSTRAINT [FK_GQTVISIT_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTMESSAGES] WITH NOCHECK ADD CONSTRAINT [FK_GQTMESSAGES_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTMESSAGES] NOCHECK CONSTRAINT [FK_GQTMESSAGES_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTMESSAGES] WITH NOCHECK ADD CONSTRAINT [FK_GQTMESSAGES_CODPERSO_GQTPERSON_CODPERSO] FOREIGN KEY([CODPERSO]) REFERENCES [dbo].[GQTPERSON] ([CODPERSO])
ALTER TABLE [dbo].[GQTMESSAGES] NOCHECK CONSTRAINT [FK_GQTMESSAGES_CODPERSO_GQTPERSON_CODPERSO]

ALTER TABLE [dbo].[GQTPARAMETER] WITH NOCHECK ADD CONSTRAINT [FK_GQTPARAMETER_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE] FOREIGN KEY([CODKINDE]) REFERENCES [dbo].[GQTKINDOFEQUIPMENT] ([CODKINDE])
ALTER TABLE [dbo].[GQTPARAMETER] NOCHECK CONSTRAINT [FK_GQTPARAMETER_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE]

ALTER TABLE [dbo].[GQTASSETPARAMETER] WITH NOCHECK ADD CONSTRAINT [FK_GQTASSETPARAMETER_CODASSET_GQTASSET_CODASSET] FOREIGN KEY([CODASSET]) REFERENCES [dbo].[GQTASSET] ([CODASSET])
ALTER TABLE [dbo].[GQTASSETPARAMETER] NOCHECK CONSTRAINT [FK_GQTASSETPARAMETER_CODASSET_GQTASSET_CODASSET]

ALTER TABLE [dbo].[GQTASSETPARAMETER] WITH NOCHECK ADD CONSTRAINT [FK_GQTASSETPARAMETER_CODPARAM_GQTPARAMETER_CODPARAM] FOREIGN KEY([CODPARAM]) REFERENCES [dbo].[GQTPARAMETER] ([CODPARAM])
ALTER TABLE [dbo].[GQTASSETPARAMETER] NOCHECK CONSTRAINT [FK_GQTASSETPARAMETER_CODPARAM_GQTPARAMETER_CODPARAM]

ALTER TABLE [dbo].[GQTSALES] WITH NOCHECK ADD CONSTRAINT [FK_GQTSALES_CODORGAN_GQTORGAN_CODORGAN] FOREIGN KEY([CODORGAN]) REFERENCES [dbo].[GQTORGAN] ([CODORGAN])
ALTER TABLE [dbo].[GQTSALES] NOCHECK CONSTRAINT [FK_GQTSALES_CODORGAN_GQTORGAN_CODORGAN]

ALTER TABLE [dbo].[GQTREGIO] WITH NOCHECK ADD CONSTRAINT [FK_GQTREGIO_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTREGIO] NOCHECK CONSTRAINT [FK_GQTREGIO_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTREGIO] WITH NOCHECK ADD CONSTRAINT [FK_GQTREGIO_CODPAIS1_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODPAIS1]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTREGIO] NOCHECK CONSTRAINT [FK_GQTREGIO_CODPAIS1_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTAGREG] WITH NOCHECK ADD CONSTRAINT [FK_GQTAGREG_CODPROJE_GQTPROJE_CODPROJE] FOREIGN KEY([CODPROJE]) REFERENCES [dbo].[GQTPROJE] ([CODPROJE])
ALTER TABLE [dbo].[GQTAGREG] NOCHECK CONSTRAINT [FK_GQTAGREG_CODPROJE_GQTPROJE_CODPROJE]

ALTER TABLE [dbo].[GQTAGREG] WITH NOCHECK ADD CONSTRAINT [FK_GQTAGREG_CODYEAR_GQTYEAR_CODYEAR] FOREIGN KEY([CODYEAR]) REFERENCES [dbo].[GQTYEAR] ([CODYEAR])
ALTER TABLE [dbo].[GQTAGREG] NOCHECK CONSTRAINT [FK_GQTAGREG_CODYEAR_GQTYEAR_CODYEAR]

ALTER TABLE [dbo].[GQTEXPEN] WITH NOCHECK ADD CONSTRAINT [FK_GQTEXPEN_CODAGGRE_GQTAGREG_CODAGGRE] FOREIGN KEY([CODAGGRE]) REFERENCES [dbo].[GQTAGREG] ([CODAGGRE])
ALTER TABLE [dbo].[GQTEXPEN] NOCHECK CONSTRAINT [FK_GQTEXPEN_CODAGGRE_GQTAGREG_CODAGGRE]

ALTER TABLE [dbo].[GQTEXPEN] WITH NOCHECK ADD CONSTRAINT [FK_GQTEXPEN_CODPROJE_GQTPROJE_CODPROJE] FOREIGN KEY([CODPROJE]) REFERENCES [dbo].[GQTPROJE] ([CODPROJE])
ALTER TABLE [dbo].[GQTEXPEN] NOCHECK CONSTRAINT [FK_GQTEXPEN_CODPROJE_GQTPROJE_CODPROJE]

ALTER TABLE [dbo].[GQTEXPEN] WITH NOCHECK ADD CONSTRAINT [FK_GQTEXPEN_CODYEAR_GQTYEAR_CODYEAR] FOREIGN KEY([CODYEAR]) REFERENCES [dbo].[GQTYEAR] ([CODYEAR])
ALTER TABLE [dbo].[GQTEXPEN] NOCHECK CONSTRAINT [FK_GQTEXPEN_CODYEAR_GQTYEAR_CODYEAR]

ALTER TABLE [dbo].[GQTRECEIPT] WITH NOCHECK ADD CONSTRAINT [FK_GQTRECEIPT_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTRECEIPT] NOCHECK CONSTRAINT [FK_GQTRECEIPT_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTROIGF] WITH NOCHECK ADD CONSTRAINT [FK_GQTROIGF_CODROGL1_GQTROGL1_CODROGL1] FOREIGN KEY([CODROGL1]) REFERENCES [dbo].[GQTROGL1] ([CODROGL1])
ALTER TABLE [dbo].[GQTROIGF] NOCHECK CONSTRAINT [FK_GQTROIGF_CODROGL1_GQTROGL1_CODROGL1]

ALTER TABLE [dbo].[GQTROIGI] WITH NOCHECK ADD CONSTRAINT [FK_GQTROIGI_CODROGL1_GQTROGL1_CODROGL1] FOREIGN KEY([CODROGL1]) REFERENCES [dbo].[GQTROGL1] ([CODROGL1])
ALTER TABLE [dbo].[GQTROIGI] NOCHECK CONSTRAINT [FK_GQTROIGI_CODROGL1_GQTROGL1_CODROGL1]

ALTER TABLE [dbo].[GQTTBLB] WITH NOCHECK ADD CONSTRAINT [FK_GQTTBLB_FKEY1_GQTGRPB_CODGRPB] FOREIGN KEY([FKEY1]) REFERENCES [dbo].[GQTGRPB] ([CODGRPB])
ALTER TABLE [dbo].[GQTTBLB] NOCHECK CONSTRAINT [FK_GQTTBLB_FKEY1_GQTGRPB_CODGRPB]

ALTER TABLE [dbo].[GQTTBLK] WITH NOCHECK ADD CONSTRAINT [FK_GQTTBLK_FKEY1_GQTGRPB_CODGRPB] FOREIGN KEY([FKEY1]) REFERENCES [dbo].[GQTGRPB] ([CODGRPB])
ALTER TABLE [dbo].[GQTTBLK] NOCHECK CONSTRAINT [FK_GQTTBLK_FKEY1_GQTGRPB_CODGRPB]

ALTER TABLE [dbo].[GQTTBLK] WITH NOCHECK ADD CONSTRAINT [FK_GQTTBLK_FKEY2_GQTTRSB_CODTRSB] FOREIGN KEY([FKEY2]) REFERENCES [dbo].[GQTTRSB] ([CODTRSB])
ALTER TABLE [dbo].[GQTTBLK] NOCHECK CONSTRAINT [FK_GQTTBLK_FKEY2_GQTTRSB_CODTRSB]

ALTER TABLE [dbo].[GQTITEM] WITH NOCHECK ADD CONSTRAINT [FK_GQTITEM_CODGITEM_GQTGITEM_CODGITEM] FOREIGN KEY([CODGITEM]) REFERENCES [dbo].[GQTGITEM] ([CODGITEM])
ALTER TABLE [dbo].[GQTITEM] NOCHECK CONSTRAINT [FK_GQTITEM_CODGITEM_GQTGITEM_CODGITEM]

ALTER TABLE [dbo].[GQTITEM] WITH NOCHECK ADD CONSTRAINT [FK_GQTITEM_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTITEM] NOCHECK CONSTRAINT [FK_GQTITEM_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTFAQS] WITH NOCHECK ADD CONSTRAINT [FK_GQTFAQS_CODCFAQS_GQTCFAQS_CODCFAQS] FOREIGN KEY([CODCFAQS]) REFERENCES [dbo].[GQTCFAQS] ([CODCFAQS])
ALTER TABLE [dbo].[GQTFAQS] NOCHECK CONSTRAINT [FK_GQTFAQS_CODCFAQS_GQTCFAQS_CODCFAQS]

ALTER TABLE [dbo].[GQTCMPNY] WITH NOCHECK ADD CONSTRAINT [FK_GQTCMPNY_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTCMPNY] NOCHECK CONSTRAINT [FK_GQTCMPNY_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTGLOB] WITH NOCHECK ADD CONSTRAINT [FK_GQTGLOB_CODFACTY_GQTFACILITYTYPE_CODFACTY] FOREIGN KEY([CODFACTY]) REFERENCES [dbo].[GQTFACILITYTYPE] ([CODFACTY])
ALTER TABLE [dbo].[GQTGLOB] NOCHECK CONSTRAINT [FK_GQTGLOB_CODFACTY_GQTFACILITYTYPE_CODFACTY]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODCATEG_GQTCATEGORIAS_CODCATEG] FOREIGN KEY([CODCATEG]) REFERENCES [dbo].[GQTCATEGORIAS] ([CODCATEG])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODCATEG_GQTCATEGORIAS_CODCATEG]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODEMPRE_GQTCMPNY_CODEMPRE] FOREIGN KEY([CODEMPRE]) REFERENCES [dbo].[GQTCMPNY] ([CODEMPRE])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODEMPRE_GQTCMPNY_CODEMPRE]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODPAISE_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODPAISE]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODPAISE_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODREGIA_GQTREGIO_CODREGIA] FOREIGN KEY([CODREGIA]) REFERENCES [dbo].[GQTREGIO] ([CODREGIA])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODREGIA_GQTREGIO_CODREGIA]

ALTER TABLE [dbo].[GQTPESSOAS] WITH NOCHECK ADD CONSTRAINT [FK_GQTPESSOAS_CODPARTE_GQTSTAKE_CODPARTE] FOREIGN KEY([CODPARTE]) REFERENCES [dbo].[GQTSTAKE] ([CODPARTE])
ALTER TABLE [dbo].[GQTPESSOAS] NOCHECK CONSTRAINT [FK_GQTPESSOAS_CODPARTE_GQTSTAKE_CODPARTE]

ALTER TABLE [dbo].[GQTCATTP] WITH NOCHECK ADD CONSTRAINT [FK_GQTCATTP_CODSBCAT_GQTSBCAT_CODSBCAT] FOREIGN KEY([CODSBCAT]) REFERENCES [dbo].[GQTSBCAT] ([CODSBCAT])
ALTER TABLE [dbo].[GQTCATTP] NOCHECK CONSTRAINT [FK_GQTCATTP_CODSBCAT_GQTSBCAT_CODSBCAT]

ALTER TABLE [dbo].[GQTAFINI] WITH NOCHECK ADD CONSTRAINT [FK_GQTAFINI_CODPESS1_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS1]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTAFINI] NOCHECK CONSTRAINT [FK_GQTAFINI_CODPESS1_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTAFINI] WITH NOCHECK ADD CONSTRAINT [FK_GQTAFINI_CODPESS2_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS2]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTAFINI] NOCHECK CONSTRAINT [FK_GQTAFINI_CODPESS2_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTASSET] WITH NOCHECK ADD CONSTRAINT [FK_GQTASSET_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE] FOREIGN KEY([CODKINDE]) REFERENCES [dbo].[GQTKINDOFEQUIPMENT] ([CODKINDE])
ALTER TABLE [dbo].[GQTASSET] NOCHECK CONSTRAINT [FK_GQTASSET_CODKINDE_GQTKINDOFEQUIPMENT_CODKINDE]

ALTER TABLE [dbo].[GQTASSET] WITH NOCHECK ADD CONSTRAINT [FK_GQTASSET_CODMANUF_GQTENTITY_CODENTIT] FOREIGN KEY([CODMANUF]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTASSET] NOCHECK CONSTRAINT [FK_GQTASSET_CODMANUF_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTCITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTCITY_CODCTRY_GQTCTRY_CODCTRY] FOREIGN KEY([CODCTRY]) REFERENCES [dbo].[GQTCTRY] ([CODCTRY])
ALTER TABLE [dbo].[GQTCITY] NOCHECK CONSTRAINT [FK_GQTCITY_CODCTRY_GQTCTRY_CODCTRY]

ALTER TABLE [dbo].[GQTPROCN] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROCN_CODPROPE_GQTPROPE_CODPROPE] FOREIGN KEY([CODPROPE]) REFERENCES [dbo].[GQTPROPE] ([CODPROPE])
ALTER TABLE [dbo].[GQTPROCN] NOCHECK CONSTRAINT [FK_GQTPROCN_CODPROPE_GQTPROPE_CODPROPE]

ALTER TABLE [dbo].[GQTPROPH] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPH_CODPROPE_GQTPROPE_CODPROPE] FOREIGN KEY([CODPROPE]) REFERENCES [dbo].[GQTPROPE] ([CODPROPE])
ALTER TABLE [dbo].[GQTPROPH] NOCHECK CONSTRAINT [FK_GQTPROPH_CODPROPE_GQTPROPE_CODPROPE]

ALTER TABLE [dbo].[GQTPROPE] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPE_CODAGENT_GQTAGENT_CODAGENT] FOREIGN KEY([CODAGENT]) REFERENCES [dbo].[GQTAGENT] ([CODAGENT])
ALTER TABLE [dbo].[GQTPROPE] NOCHECK CONSTRAINT [FK_GQTPROPE_CODAGENT_GQTAGENT_CODAGENT]

ALTER TABLE [dbo].[GQTPROPE] WITH NOCHECK ADD CONSTRAINT [FK_GQTPROPE_CODCITY_GQTCITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[GQTCITY] ([CODCITY])
ALTER TABLE [dbo].[GQTPROPE] NOCHECK CONSTRAINT [FK_GQTPROPE_CODCITY_GQTCITY_CODCITY]

ALTER TABLE [dbo].[GQTLNHDE] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHDE_CODLNHAG_GQTLNHAG_CODLNHAG] FOREIGN KEY([CODLNHAG]) REFERENCES [dbo].[GQTLNHAG] ([CODLNHAG])
ALTER TABLE [dbo].[GQTLNHDE] NOCHECK CONSTRAINT [FK_GQTLNHDE_CODLNHAG_GQTLNHAG_CODLNHAG]

ALTER TABLE [dbo].[GQTLNHDE] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHDE_CODLNHPD_GQTLNHPD_CODLNHPD] FOREIGN KEY([CODLNHPD]) REFERENCES [dbo].[GQTLNHPD] ([CODLNHPD])
ALTER TABLE [dbo].[GQTLNHDE] NOCHECK CONSTRAINT [FK_GQTLNHDE_CODLNHPD_GQTLNHPD_CODLNHPD]

ALTER TABLE [dbo].[GQTLNHDE] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHDE_CODPEDID_GQTPEDID_CODPEDID] FOREIGN KEY([CODPEDID]) REFERENCES [dbo].[GQTPEDID] ([CODPEDID])
ALTER TABLE [dbo].[GQTLNHDE] NOCHECK CONSTRAINT [FK_GQTLNHDE_CODPEDID_GQTPEDID_CODPEDID]

ALTER TABLE [dbo].[GQTLNHDE] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHDE_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTLNHDE] NOCHECK CONSTRAINT [FK_GQTLNHDE_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTLNHDF] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHDF_CODLNHDE_GQTLNHDE_CODLNHDE] FOREIGN KEY([CODLNHDE]) REFERENCES [dbo].[GQTLNHDE] ([CODLNHDE])
ALTER TABLE [dbo].[GQTLNHDF] NOCHECK CONSTRAINT [FK_GQTLNHDF_CODLNHDE_GQTLNHDE_CODLNHDE]

ALTER TABLE [dbo].[GQTLNHPD] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHPD_CODPEDID_GQTPEDID_CODPEDID] FOREIGN KEY([CODPEDID]) REFERENCES [dbo].[GQTPEDID] ([CODPEDID])
ALTER TABLE [dbo].[GQTLNHPD] NOCHECK CONSTRAINT [FK_GQTLNHPD_CODPEDID_GQTPEDID_CODPEDID]

ALTER TABLE [dbo].[GQTLNHPD] WITH NOCHECK ADD CONSTRAINT [FK_GQTLNHPD_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTLNHPD] NOCHECK CONSTRAINT [FK_GQTLNHPD_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTAIRPL] WITH NOCHECK ADD CONSTRAINT [FK_GQTAIRPL_CODAIRLN_GQTAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[GQTAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[GQTAIRPL] NOCHECK CONSTRAINT [FK_GQTAIRPL_CODAIRLN_GQTAIRLN_CODAIRLN]

ALTER TABLE [dbo].[GQTAIRPT] WITH NOCHECK ADD CONSTRAINT [FK_GQTAIRPT_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTAIRPT] NOCHECK CONSTRAINT [FK_GQTAIRPT_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTBRDPS] WITH NOCHECK ADD CONSTRAINT [FK_GQTBRDPS_CODFLIGH_GQTFLIGH_CODFLIGH] FOREIGN KEY([CODFLIGH]) REFERENCES [dbo].[GQTFLIGH] ([CODFLIGH])
ALTER TABLE [dbo].[GQTBRDPS] NOCHECK CONSTRAINT [FK_GQTBRDPS_CODFLIGH_GQTFLIGH_CODFLIGH]

ALTER TABLE [dbo].[GQTBRDPS] WITH NOCHECK ADD CONSTRAINT [FK_GQTBRDPS_CODFLTSC_GQTFLTSC_CODFLTSC] FOREIGN KEY([CODFLTSC]) REFERENCES [dbo].[GQTFLTSC] ([CODFLTSC])
ALTER TABLE [dbo].[GQTBRDPS] NOCHECK CONSTRAINT [FK_GQTBRDPS_CODFLTSC_GQTFLTSC_CODFLTSC]

ALTER TABLE [dbo].[GQTBRDPS] WITH NOCHECK ADD CONSTRAINT [FK_GQTBRDPS_CODPSNGR_GQTPSNGR_CODPSNGR] FOREIGN KEY([CODPSNGR]) REFERENCES [dbo].[GQTPSNGR] ([CODPSNGR])
ALTER TABLE [dbo].[GQTBRDPS] NOCHECK CONSTRAINT [FK_GQTBRDPS_CODPSNGR_GQTPSNGR_CODPSNGR]

ALTER TABLE [dbo].[GQTBRDPS] WITH NOCHECK ADD CONSTRAINT [FK_GQTBRDPS_CODTICKT_GQTTICKT_CODTICKT] FOREIGN KEY([CODTICKT]) REFERENCES [dbo].[GQTTICKT] ([CODTICKT])
ALTER TABLE [dbo].[GQTBRDPS] NOCHECK CONSTRAINT [FK_GQTBRDPS_CODTICKT_GQTTICKT_CODTICKT]

ALTER TABLE [dbo].[GQTFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLIGH_CODAIRFR_GQTAIRPT_CODAIRPT] FOREIGN KEY([CODAIRFR]) REFERENCES [dbo].[GQTAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[GQTFLIGH] NOCHECK CONSTRAINT [FK_GQTFLIGH_CODAIRFR_GQTAIRPT_CODAIRPT]

ALTER TABLE [dbo].[GQTFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLIGH_CODAIRLN_GQTAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[GQTAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[GQTFLIGH] NOCHECK CONSTRAINT [FK_GQTFLIGH_CODAIRLN_GQTAIRLN_CODAIRLN]

ALTER TABLE [dbo].[GQTFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLIGH_CODAIRPT_GQTAIRPT_CODAIRPT] FOREIGN KEY([CODAIRPT]) REFERENCES [dbo].[GQTAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[GQTFLIGH] NOCHECK CONSTRAINT [FK_GQTFLIGH_CODAIRPT_GQTAIRPT_CODAIRPT]

ALTER TABLE [dbo].[GQTFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLIGH_CODAIRTO_GQTAIRPT_CODAIRPT] FOREIGN KEY([CODAIRTO]) REFERENCES [dbo].[GQTAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[GQTFLIGH] NOCHECK CONSTRAINT [FK_GQTFLIGH_CODAIRTO_GQTAIRPT_CODAIRPT]

ALTER TABLE [dbo].[GQTFLTSC] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLTSC_CODFLIGH_GQTFLIGH_CODFLIGH] FOREIGN KEY([CODFLIGH]) REFERENCES [dbo].[GQTFLIGH] ([CODFLIGH])
ALTER TABLE [dbo].[GQTFLTSC] NOCHECK CONSTRAINT [FK_GQTFLTSC_CODFLIGH_GQTFLIGH_CODFLIGH]

ALTER TABLE [dbo].[GQTTICKT] WITH NOCHECK ADD CONSTRAINT [FK_GQTTICKT_CODPSNGR_GQTPSNGR_CODPSNGR] FOREIGN KEY([CODPSNGR]) REFERENCES [dbo].[GQTPSNGR] ([CODPSNGR])
ALTER TABLE [dbo].[GQTTICKT] NOCHECK CONSTRAINT [FK_GQTTICKT_CODPSNGR_GQTPSNGR_CODPSNGR]

ALTER TABLE [dbo].[GQTHPESS] WITH NOCHECK ADD CONSTRAINT [FK_GQTHPESS_CODEMPRE_GQTCMPNY_CODEMPRE] FOREIGN KEY([CODEMPRE]) REFERENCES [dbo].[GQTCMPNY] ([CODEMPRE])
ALTER TABLE [dbo].[GQTHPESS] NOCHECK CONSTRAINT [FK_GQTHPESS_CODEMPRE_GQTCMPNY_CODEMPRE]

ALTER TABLE [dbo].[GQTHPESS] WITH NOCHECK ADD CONSTRAINT [FK_GQTHPESS_CODPESSO_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESSO]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTHPESS] NOCHECK CONSTRAINT [FK_GQTHPESS_CODPESSO_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTITEMP] WITH NOCHECK ADD CONSTRAINT [FK_GQTITEMP_CODITEM_GQTITEM_CODITEM] FOREIGN KEY([CODITEM]) REFERENCES [dbo].[GQTITEM] ([CODITEM])
ALTER TABLE [dbo].[GQTITEMP] NOCHECK CONSTRAINT [FK_GQTITEMP_CODITEM_GQTITEM_CODITEM]

ALTER TABLE [dbo].[GQTFACILITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTFACILITY_CODCNTRY_GQTCNTRY_CODCNTRY] FOREIGN KEY([CODCNTRY]) REFERENCES [dbo].[GQTCNTRY] ([CODCNTRY])
ALTER TABLE [dbo].[GQTFACILITY] NOCHECK CONSTRAINT [FK_GQTFACILITY_CODCNTRY_GQTCNTRY_CODCNTRY]

ALTER TABLE [dbo].[GQTFACILITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTFACILITY_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTFACILITY] NOCHECK CONSTRAINT [FK_GQTFACILITY_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTFACILITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTFACILITY_CODFACTY_GQTFACILITYTYPE_CODFACTY] FOREIGN KEY([CODFACTY]) REFERENCES [dbo].[GQTFACILITYTYPE] ([CODFACTY])
ALTER TABLE [dbo].[GQTFACILITY] NOCHECK CONSTRAINT [FK_GQTFACILITY_CODFACTY_GQTFACILITYTYPE_CODFACTY]

ALTER TABLE [dbo].[GQTENTITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTENTITY_FIRSTFACILITIE_GQTFACILITY_CODFACIL] FOREIGN KEY([FIRSTFACILITIE]) REFERENCES [dbo].[GQTFACILITY] ([CODFACIL])
ALTER TABLE [dbo].[GQTENTITY] NOCHECK CONSTRAINT [FK_GQTENTITY_FIRSTFACILITIE_GQTFACILITY_CODFACIL]

ALTER TABLE [dbo].[GQTENTITY] WITH NOCHECK ADD CONSTRAINT [FK_GQTENTITY_LASTFACILITIE_GQTFACILITY_CODFACIL] FOREIGN KEY([LASTFACILITIE]) REFERENCES [dbo].[GQTFACILITY] ([CODFACIL])
ALTER TABLE [dbo].[GQTENTITY] NOCHECK CONSTRAINT [FK_GQTENTITY_LASTFACILITIE_GQTFACILITY_CODFACIL]

ALTER TABLE [dbo].[GQTFLDS] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLDS_CODAERO_GQTAERO_CODAERO] FOREIGN KEY([CODAERO]) REFERENCES [dbo].[GQTAERO] ([CODAERO])
ALTER TABLE [dbo].[GQTFLDS] NOCHECK CONSTRAINT [FK_GQTFLDS_CODAERO_GQTAERO_CODAERO]

ALTER TABLE [dbo].[GQTFLDS] WITH NOCHECK ADD CONSTRAINT [FK_GQTFLDS_CODEQUIP_GQTEQUIP_CODEQUIP] FOREIGN KEY([CODEQUIP]) REFERENCES [dbo].[GQTEQUIP] ([CODEQUIP])
ALTER TABLE [dbo].[GQTFLDS] NOCHECK CONSTRAINT [FK_GQTFLDS_CODEQUIP_GQTEQUIP_CODEQUIP]

ALTER TABLE [dbo].[GQTDISPATCH] WITH NOCHECK ADD CONSTRAINT [FK_GQTDISPATCH_CODDISST_GQTDISST_CODDISST] FOREIGN KEY([CODDISST]) REFERENCES [dbo].[GQTDISST] ([CODDISST])
ALTER TABLE [dbo].[GQTDISPATCH] NOCHECK CONSTRAINT [FK_GQTDISPATCH_CODDISST_GQTDISST_CODDISST]

ALTER TABLE [dbo].[GQTDISPATCH] WITH NOCHECK ADD CONSTRAINT [FK_GQTDISPATCH_CODENTIT_GQTENTITY_CODENTIT] FOREIGN KEY([CODENTIT]) REFERENCES [dbo].[GQTENTITY] ([CODENTIT])
ALTER TABLE [dbo].[GQTDISPATCH] NOCHECK CONSTRAINT [FK_GQTDISPATCH_CODENTIT_GQTENTITY_CODENTIT]

ALTER TABLE [dbo].[GQTDISPATCH] WITH NOCHECK ADD CONSTRAINT [FK_GQTDISPATCH_CODPERSO_GQTPERSON_CODPERSO] FOREIGN KEY([CODPERSO]) REFERENCES [dbo].[GQTPERSON] ([CODPERSO])
ALTER TABLE [dbo].[GQTDISPATCH] NOCHECK CONSTRAINT [FK_GQTDISPATCH_CODPERSO_GQTPERSON_CODPERSO]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODEMPRE_GQTCMPNY_CODEMPRE] FOREIGN KEY([CODEMPRE]) REFERENCES [dbo].[GQTCMPNY] ([CODEMPRE])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODEMPRE_GQTCMPNY_CODEMPRE]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODDECO_GQTDECOM_CODDECO] FOREIGN KEY([CODDECO]) REFERENCES [dbo].[GQTDECOM] ([CODDECO])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODDECO_GQTDECOM_CODDECO]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODITEM_GQTITEM_CODITEM] FOREIGN KEY([CODITEM]) REFERENCES [dbo].[GQTITEM] ([CODITEM])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODITEM_GQTITEM_CODITEM]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODPESS1_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS1]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODPESS1_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODROOMS_GQTROOMS_CODROOMS] FOREIGN KEY([CODROOMS]) REFERENCES [dbo].[GQTROOMS] ([CODROOMS])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODROOMS_GQTROOMS_CODROOMS]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODTPEQU_GQTTPEQU_CODTPEQU] FOREIGN KEY([CODTPEQU]) REFERENCES [dbo].[GQTTPEQU] ([CODTPEQU])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODTPEQU_GQTTPEQU_CODTPEQU]

ALTER TABLE [dbo].[GQTEQUIP] WITH NOCHECK ADD CONSTRAINT [FK_GQTEQUIP_CODWAREH_GQTWAREH_CODWAREH] FOREIGN KEY([CODWAREH]) REFERENCES [dbo].[GQTWAREH] ([CODWAREH])
ALTER TABLE [dbo].[GQTEQUIP] NOCHECK CONSTRAINT [FK_GQTEQUIP_CODWAREH_GQTWAREH_CODWAREH]

ALTER TABLE [dbo].[GQTPWCOM] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWCOM_CODPESS1_GQTPESSOAS_CODPESSO] FOREIGN KEY([CODPESS1]) REFERENCES [dbo].[GQTPESSOAS] ([CODPESSO])
ALTER TABLE [dbo].[GQTPWCOM] NOCHECK CONSTRAINT [FK_GQTPWCOM_CODPESS1_GQTPESSOAS_CODPESSO]

ALTER TABLE [dbo].[GQTPWCOM] WITH NOCHECK ADD CONSTRAINT [FK_GQTPWCOM_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[GQTPWCOM] NOCHECK CONSTRAINT [FK_GQTPWCOM_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

GO
