*{gqtaddress}*
GO
*{gqtaddrl}*
GO
*{gqtaero}*
GO
*{gqtagent}*
GO
*{gqtaudit}*
GO
*{gqtcategorias}*
GO
*{gqtcfaqs}*
GO
*{gqtcntry}*
GO
*{gqtcompany}*
GO
*{gqtctry}*
GO
*{gqtdecom}*
GO
*{gqtdesam}*
GO
*{gqtdatatypes}*
USE [W_GnBD]
update [dttyp] set [qrcode] = [dttyp].[string] from [gqtdatatypes] as [dttyp]
GO
*{gqtfacilitytype}*
GO
*{gqtfamil}*
GO
*{gqtftgri}*
GO
*{gqtgenre}*
GO
*{gqtgitem}*
GO
*{gqtgrpb}*
GO
*{gqtinpgr}*
GO
*{gqtkindofequipment}*
GO
*{gqtlangu}*
GO
*{gqtmem}*
GO
*{gqtorgan}*
GO
*{gqtoudoc}*
GO
*{gqtpatient}*
GO
*{gqtpedid}*
GO
*{gqtperiod}*
GO
*{gqtperson}*
GO
*{userlogin}*
GO
*{gqtregis}*
GO
*{gqtrogl1}*
GO
*{gqtrole}*
GO
*{gqtrooms}*
GO
*{gqtrordf}*
GO
*{gqtrordi}*
GO
*{gqtrules}*
GO
*{asyncprocess}*
USE [W_GnBD]
update [s_apr] set [finished] = (case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end) from [asyncprocess] as [s_apr]
GO
*{notificationemailsignature}*
GO
*{notificationmessage}*
GO
*{gqtsbcat}*
GO
*{gqtshity}*
GO
*{gqtspace}*
GO
*{gqtspeci}*
GO
*{gqtstake}*
GO
*{gqtstrat}*
GO
*{gqtteamp}*
GO
*{gqttppro}*
GO
*{gqttrsb}*
GO
*{gqtuicom}*
GO
*{gqtwareh}*
GO
*{gqtyear}*
GO
*{gqtcattp}*
GO
*{gqtcity}*
GO
*{gqtcmpny}*
GO
*{gqtfacility}*
USE [W_GnBD]
update [facil] set [geocoord] = (case when ([facil].[gpsinput]='L') then dbo.GetGeoFromLatLng([facil].[latitude],[facil].[longitud]) else [facil].[geocoori] end) from [gqtfacility] as [facil]
GO
*{gqtfaqs}*
GO
*{gqtglob}*
USE [W_GnBD]
update [glob] set [pzerod] = 100+(100-[glob].[pzero]) from [gqtglob] as [glob]
update [glob] set [pvalmind] = 100+(100-[glob].[pvalmax]) from [gqtglob] as [glob]
update [glob] set [palertd] = 100+(100-[glob].[palert]) from [gqtglob] as [glob]
update [glob] set [plimbomd] = 100+(100-[glob].[plimbom]) from [gqtglob] as [glob]
update [glob] set [plimsupd] = 100+(100-[glob].[plimsup]) from [gqtglob] as [glob]
update [glob] set [pvalmaxd] = 100+(100-[glob].[pvalmin]) from [gqtglob] as [glob]
update [glob] set [plimmaud] = 100+(100-[glob].[plimmau]) from [gqtglob] as [glob]
update [glob] set [pbomsc] = 100+(100-[glob].[pbomc]) from [gqtglob] as [glob]
update [glob] set [palertsc] = 100+(100-[glob].[palertc]) from [gqtglob] as [glob]
update [glob] set [pmausc] = 100+(100-[glob].[pmauc]) from [gqtglob] as [glob]
update [glob] set [pmaxsc] = 100+(100-[glob].[pminc]) from [gqtglob] as [glob]
update [glob] set [pzerosc] = 100+(100-[glob].[pzeroc]) from [gqtglob] as [glob]
update [glob] set [pricolor] = '#009AA5' from [gqtglob] as [glob]
GO
*{gqtitem}*
USE [W_GnBD]
update [item] set [disponib] = (case when ([item].[existenc]>0) then 'A' else (case when ([item].[existenc]<=0) then 'O' else 'D' end) end) from [gqtitem] as [item]
GO
*{gqtmanualtocollect}*
GO
*{gqtparameter}*
GO
*{gqtprpin}*
GO
*{gqtpworg}*
GO
*{gqtroigf}*
GO
*{gqtroigi}*
GO
*{asyncprocessargument}*
GO
*{asyncprocessattachments}*
GO
*{userauthorization}*
USE [W_GnBD]
update [s_ua] set [naodupli] = dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo] from [userauthorization] as [s_ua]
update [s_ua] set [nivel] = dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role]) from [userauthorization] as [s_ua]
GO
*{gqtsale}*
GO
*{gqtsales}*
GO
*{gqttblb}*
GO
*{gqttblk}*
GO
*{gqttpcon}*
GO
*{gqttpequ}*
GO
*{gqtusers}*
GO
*{gqtwpess}*
GO
*{gqtgames}*
GO
*{gqtitemc}*
GO
*{gqtlnhpd}*
GO
*{gqtoutpt}*
GO
*{gqtproje}*
USE [W_GnBD]
update [proje] set [saldo1] = [proje].[followin]-[proje].[before] from [gqtproje] as [proje]
update [proje] set [saldo2] = [proje].[ultimo]-[proje].[primeiro] from [gqtproje] as [proje]
GO
*{gqtprope}*
USE [W_GnBD]
update [prope] set [buildage] = year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year(dbo.DateAddYears(NULL,dbo.atoi([prope].[year]))) from [gqtprope] as [prope]
GO
*{gqtregio}*
GO
*{gqttabpr}*
GO
*{gqttradu}*
GO
*{gqtagreg}*
GO
*{gqtcmpki}*
GO
*{gqtentity}*
GO
*{gqtlnhag}*
GO
*{gqtoutpu}*
GO
*{gqtprocn}*
GO
*{gqtproph}*
GO
*{gqtpwreg}*
GO
*{gqtdispatch}*
USE [W_GnBD]
update [dispa] set [status] = (case when (dbo.emptyD([dispa].[dispadt])=0) then 'D' else (case when (dbo.emptyD([dispa].[prepared])=0) then 'P' else 'I' end) end) from [gqtdispatch] as [dispa]
GO
*{gqtexpen}*
USE [W_GnBD]
update [expen] set [yearnumb] = dbo.ansi_N([year].[yearnum]) from [gqtexpen] as [expen] LEFT JOIN [gqtyear] as [year] ON [expen].[codyear] = [year].[codyear]
update [expen] set [yearprev] = dbo.ansi_N([year].[yearnum])-1 from [gqtexpen] as [expen] LEFT JOIN [gqtyear] as [year] ON [expen].[codyear] = [year].[codyear]
GO
*{gqtlnhde}*
GO
*{gqtlocation}*
GO
*{gqtmessages}*
GO
*{gqtpessoas}*
USE [W_GnBD]
update [pesso] set [idade] = dbo.Idade([pesso].[dtnascim],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime)) from [gqtpessoas] as [pesso]
GO
*{gqtreceipt}*
USE [W_GnBD]
update [recei] set [checked] = (case when (([recei].[dtcheck] IS NULL)) then 0 else 1 end) from [gqtreceipt] as [recei]
update [recei] set [tocheck] = (case when (not ([recei].[dtreceip] IS NULL) and ([recei].[dtcheck] IS NULL)) then 1 else 0 end) from [gqtreceipt] as [recei]
GO
*{gqtasset}*
GO
*{gqtconta}*
GO
*{gqtesppe}*
GO
*{gqtevcat}*
USE [W_GnBD]
update [evcat] set [fimperio] = (case when (dbo.emptyD([evcat].[untilman])=0) then [evcat].[untilman] else [evcat].[until] end) from [gqtevcat] as [evcat]
GO
*{gqtgrid}*
GO
*{gqtindoc}*
USE [W_GnBD]
update [indoc] set [date] = (case when (dbo.emptyG([indoc].[codwareh])=1) then NULL else [indoc].[dhdocume] end) from [gqtindoc] as [indoc]
GO
*{gqtlocationextension}*
GO
*{gqtpropr}*
GO
*{gqtafini}*
GO
*{gqtassetmanual}*
GO
*{gqtassetparameter}*
USE [W_GnBD]
update [asspa] set [toshow] = (case when ([asspa].[datatype]='T') then [asspa].[text] else (case when ([asspa].[datatype]='N') then dbo.NumericToString([asspa].[quantity],0) else (case when ([asspa].[datatype]='D') then dbo.NumericToString(year([asspa].[date]),0)+'-'+right('00'+dbo.NumericToString(month([asspa].[date]),0),2)+'-'+right('00'+dbo.NumericToString(day([asspa].[date]),0),2) else '' end) end) end) from [gqtassetparameter] as [asspa]
GO
*{gqtattachment}*
GO
*{ccorr}*
GO
*{gqtequip}*
USE [W_GnBD]
update [equip] set [registnr] = right('000000'+dbo.NumericToString([equip].[sequennr],0),6) from [gqtequip] as [equip]
update [equip] set [ifabatif] = (case when (dbo.emptyD([equip].[dtdeco])=1) then 0 else 1 end) from [gqtequip] as [equip]
update [equip] set [bought] = (case when (dbo.emptyD([equip].[dtaquisi])=1) then 0 else 1 end) from [gqtequip] as [equip]
GO
*{gqtldent}*
GO
*{gqtnotif}*
GO
*{gqtproduct}*
GO
*{gqtpwcom}*
GO
*{gqtanexd}*
GO
*{gqtdispatchline}*
USE [W_GnBD]
update [dilin] set [outstand] = [dilin].[ordered]-[dilin].[delivere] from [gqtdispatchline] as [dilin]
GO
*{gqtflds}*
GO
*{gqtinsta}*
USE [W_GnBD]
update [insta] set [hours] = (case when (dbo.emptyD([insta].[since])=1 or dbo.emptyD([insta].[until])=1) then 0 else dbo.Diferenca_entre_Datas([insta].[since],[insta].[until],'H') end) from [gqtinsta] as [insta]
update [insta] set [value] = [insta].[hours]*[insta].[precohor] from [gqtinsta] as [insta]
GO
*{gqtlendi}*
USE [W_GnBD]
update [lendi] set [warndt] = dbo.SomaDias([lendi].[start],dbo.ansi_N([equip].[frequenc])) from [gqtlendi] as [lendi] LEFT JOIN [gqtequip] as [equip] ON [lendi].[codequip] = [equip].[codequip]
update [lendi] set [end] = dbo.SomaDias([lendi].[warndt],1) from [gqtlendi] as [lendi]
update [lendi] set [returned] = (case when (dbo.emptyD([lendi].[returndt])=1) then 0 else 1 end) from [gqtlendi] as [lendi]
update [lendi] set [ifoutdt] = (case when ([lendi].[dayslimi]<0) then 1 else 0 end) from [gqtlendi] as [lendi]
GO
*{gqtmovim}*
USE [W_GnBD]
update [movim] set [roomnr] = dbo.ansi_C([rooms].[roomnr])+' '+dbo.ansi_C([rooms].[designat]) from [gqtmovim] as [movim] LEFT JOIN [gqtrooms] as [rooms] ON [movim].[codrooms] = [rooms].[codrooms]
GO
*{gqtphoto}*
GO
*{gqtreceiptline}*
USE [W_GnBD]
update [relin] set [outstand] = [relin].[ordered]-[relin].[received] from [gqtreceiptline] as [relin]
GO
*{gqtrepar}*
GO
*{stock}*
GO
*{gqtvisit}*
GO
*{gqtfeeca}*
GO
