-- Last values dependent on dates

USE [W_GnBD]
-- Last value from gqttabpr
update [gqttpequ] set [since] = tmptab1.[since], [precoult] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[since]) as uData from [gqttabpr] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqttabpr
update [gqttpequ] set [since] = NULL,[precoult] = NULL where not exists(select [src].[codtpeq1] from [gqttabpr] [src] where [src].[codtpeq1] = [gqttpequ].[codtpequ] and [src].[codtpeq1] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODTPEQ1])
GO
USE [W_GnBD]
-- Last value from gqtevcat
update [gqtpessoas] set [codcateg] = tmptab1.[codcateg], [dtultcat] = tmptab1.[since] from [gqtpessoas] inner join (select tmpFromTab.[CODPESSO], max(tmpFromTab.[since]) as uData from [gqtevcat] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODPESSO]) as tmptab2 on [gqtpessoas].[codpesso] = tmptab2.[codpesso] inner join [gqtevcat] as tmptab1 on [gqtpessoas].[codpesso] = tmptab1.[codpesso] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqtevcat
update [gqtpessoas] set [codcateg] = NULL,[dtultcat] = NULL where not exists(select [src].[codpesso] from [gqtevcat] [src] where [src].[codpesso] = [gqtpessoas].[codpesso] and [src].[codpesso] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODPESSO])
GO
USE [W_GnBD]
-- Last value from gqtmovim
update [gqtequip] set [codrooms] = tmptab1.[codrooms] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[dhmudanc]) as uData from [gqtmovim] as tmpFromTab  where tmpFromTab.[dhmudanc] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtmovim] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[dhmudanc] = tmptab2.uData
-- Clean last value from gqtmovim
update [gqtequip] set [codrooms] = NULL where not exists(select [src].[codequip] from [gqtmovim] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[dhmudanc] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
-- Last value from gqtphoto
update [gqtequip] set [lastpho] = tmptab1.[photogra] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[anexed]) as uData from [gqtphoto] as tmpFromTab  where tmpFromTab.[anexed] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtphoto] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[anexed] = tmptab2.uData
-- Clean last value from gqtphoto
update [gqtequip] set [lastpho] = NULL where not exists(select [src].[codequip] from [gqtphoto] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[anexed] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
GO

-- Arithmetic (Today)
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [lendi] set [dayslimi] = (case when (dbo.emptyD([lendi].[end])=1) then 0 else dbo.Diferenca_entre_Datas(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),[lendi].[end],'D') end) from [gqtlendi] as [lendi]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
GO


USE [W_GnBD]
UPDATE GQTcfg SET checkdat = GETDATE()
GO

USE [W_GnBD]

GO