USE [W_GnBD]
if (2007.01 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPRPIN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPRPIN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLOCATIONEXTENSION') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLOCATIONEXTENSION] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2501 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLOCATION') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLOCATION] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2503 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDISPATCHLINE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDISPATCHLINE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2503 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTRECEIPTLINE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTRECEIPTLINE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2505 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTATTACHMENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTATTACHMENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2506 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTUSERS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTUSERS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2507 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSHITY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSHITY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2507 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTABPR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTABPR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2508 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCATEGORIAS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCATEGORIAS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2509 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTEVCAT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTEVCAT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2514 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCONTA') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCONTA] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2514 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPRODUCT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPRODUCT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2514 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTPCON') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTPCON] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2515 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGENRE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGENRE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2516 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSTAKE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSTAKE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2518 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTREGIS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTREGIS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2521 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTKINDOFEQUIPMENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTKINDOFEQUIPMENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2525 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPEDID') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPEDID] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2526 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLNHAG') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLNHAG] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2527 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTOUTPT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTOUTPT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2533 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTOUTPU') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTOUTPU] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2534 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPHOTO') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPHOTO] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2536 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFACILITYTYPE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFACILITYTYPE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2536 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTOUDOC') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTOUDOC] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2537 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLENDI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLENDI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2537 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSTRAT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSTRAT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2538 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTPPRO') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTPPRO] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2540 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGAMES') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGAMES] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2540 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTROOMS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTROOMS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2540 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSPACE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSPACE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2540 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTEAMP') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTEAMP] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2544 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTITEMC') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTITEMC] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2546 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTMANUALTOCOLLECT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTMANUALTOCOLLECT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2547 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTASSETMANUAL') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTASSETMANUAL] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2553 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCNTRY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCNTRY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2558 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGITEM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGITEM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2561 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLDENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLDENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2563 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTESPPE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTESPPE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2563 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSPECI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSPECI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2565 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTREPAR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTREPAR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2568 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTINDOC') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTINDOC] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2574 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLANGU') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLANGU] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2574 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTRADU') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTRADU] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2575 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTANEXD') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTANEXD] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2579 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFAMIL') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFAMIL] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2580 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTPEQU') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTPEQU] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2581 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTMOVIM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTMOVIM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2584 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTORGAN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTORGAN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2585 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDECOM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDECOM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2586 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPROPR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPROPR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2592 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPROJE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPROJE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2600 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCMPKI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCMPKI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2601 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPWREG') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPWREG] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2603 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPWORG') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPWORG] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2627 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDESAM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDESAM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2629 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAERO') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAERO] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2640 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFTGRI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFTGRI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2642 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGRID') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGRID] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2646 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFEECA') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFEECA] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2657 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTUICOM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTUICOM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2870 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTNOTIF') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTNOTIF] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2880 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSALE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSALE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2887 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTINSTA') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTINSTA] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2888 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTRULES') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTRULES] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2891 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWPESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTWPESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2892 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTVISIT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTVISIT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2893 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTMESSAGES') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTMESSAGES] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2895 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPARAMETER') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPARAMETER] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2897 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTASSETPARAMETER') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTASSETPARAMETER] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2901 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSALES') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSALES] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2902 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQPADDRESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQPADDRESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2902 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPERIOD') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPERIOD] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2903 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTREGIO') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTREGIO] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2905 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTADDRL') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTADDRL] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2906 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAGREG') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAGREG] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2906 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTEXPEN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTEXPEN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2906 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPERSON') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPERSON] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2906 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTYEAR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTYEAR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2909 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDATATYPES') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDATATYPES] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2910 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTRECEIPT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTRECEIPT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2911 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTRORDF') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTRORDF] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2911 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTRORDI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTRORDI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2912 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTROGL1') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTROGL1] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2912 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTROIGF') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTROIGF] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2912 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTROIGI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTROIGI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2913 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGRPB') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGRPB] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2913 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTBLB') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTBLB] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2914 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTBLK') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTBLK] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (2914 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTRSB') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTRSB] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3039 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWAREH') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTWAREH] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3215 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTITEM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTITEM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3280 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCFAQS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCFAQS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3280 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFAQS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFAQS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3297 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAUDIT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAUDIT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3297 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTROLE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTROLE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3376 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTINPGR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTINPGR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3378 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCMPNY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCMPNY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3378 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTGLOB') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTGLOB] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3378 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPESSOAS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPESSOAS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3383 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCATTP') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCATTP] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3383 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSBCAT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTSBCAT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3711 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAFINI') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAFINI] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3712 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTASSET') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTASSET] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3720 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAGENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAGENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3724 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCITY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCITY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3724 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCTRY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTCTRY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3724 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPROCN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPROCN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3724 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPROPH') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPROPH] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3732 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPROPE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPROPE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3798 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLNHDE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLNHDE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3798 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLNHDF') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLNHDF] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3798 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLNHPD') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTLNHPD] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAIRLN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAIRLN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAIRPL') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAIRPL] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTAIRPT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTAIRPT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTBRDPS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTBRDPS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFLIGH') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFLIGH] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFLTSC') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFLTSC] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPSNGR') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPSNGR] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3801 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTICKT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTTICKT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3835 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTHPESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTHPESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3850 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTITEMP') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTITEMP] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3875 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFACILITY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFACILITY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3887 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTENTITY') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTENTITY] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3902 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTFLDS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTFLDS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3921 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDISPATCH') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDISPATCH] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3921 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDISST') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTDISST] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3950 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTEQUIP') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTEQUIP] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (3950 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPWCOM') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [GQTPWCOM] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERLOGIN') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERLOGIN] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSARGUMENT') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSARGUMENT] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONEMAILSIGNATURE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONEMAILSIGNATURE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'NOTIFICATIONMESSAGE') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [NOTIFICATIONMESSAGE] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'ASYNCPROCESSATTACHMENTS') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [ASYNCPROCESSATTACHMENTS] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if (4019 > isnull((select versao from [GQTcfg]),0) or 'W_GnZeroTrue'='1')
begin
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'USERAUTHORIZATION') = 0)
BEGIN
BEGIN TRAN
	ALTER TABLE [USERAUTHORIZATION] REBUILD

	if (@@error <> 0)
		ROLLBACK TRAN
	else
		COMMIT TRAN
	end
END
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTMEM') = 0)
	ALTER TABLE [GQTMEM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTCFG') = 0)
	ALTER TABLE [GQTCFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTUSRSET') = 0)
	ALTER TABLE [GQTUSRSET] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTUSRCFG') = 0)
	ALTER TABLE [GQTUSRCFG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWKFACT') = 0)
	ALTER TABLE [GQTWKFACT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWKFCON') = 0)
	ALTER TABLE [GQTWKFCON] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWKFLIG') = 0)
	ALTER TABLE [GQTWKFLIG] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTWKFLOW') = 0)
	ALTER TABLE [GQTWKFLOW] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTNOTIFI') = 0)
	ALTER TABLE [GQTNOTIFI] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTSCRCRD') = 0)
	ALTER TABLE [GQTSCRCRD] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPOSTIT') = 0)
	ALTER TABLE [GQTPOSTIT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTPRMFRM') = 0)
	ALTER TABLE [GQTPRMFRM] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTALERTA') = 0)
	ALTER TABLE [GQTALERTA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTALTENT') = 0)
	ALTER TABLE [GQTALTENT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTTALERT') = 0)
	ALTER TABLE [GQTTALERT] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTDELEGA') = 0)
	ALTER TABLE [GQTDELEGA] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLSTUSR') = 0)
	ALTER TABLE [GQTLSTUSR] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLSTCOL') = 0)
	ALTER TABLE [GQTLSTCOL] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTLSTREN') = 0)
	ALTER TABLE [GQTLSTREN] REBUILD
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'GQTUSRWID') = 0)
	ALTER TABLE [GQTUSRWID] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'DOCUMS') = 0)
	ALTER TABLE [DOCUMS] REBUILD
GO
if ((select count(1) tablename from sys.fulltext_index_columns fic where UPPER(object_name(fic.[object_id])) = 'hashcd') = 0)
	ALTER TABLE [hashcd] REBUILD
GO