*{gqtaddress}*
USE [W_GnBD]
GO
*{gqtaddrl}*
USE [W_GnBD]
GO
*{gqtaero}*
USE [W_GnBD]
GO
*{gqtagent}*
USE [W_GnBD]
GO
*{gqtaudit}*
USE [W_GnBD]
GO
*{gqtcategorias}*
USE [W_GnBD]
GO
*{gqtcfaqs}*
USE [W_GnBD]
GO
*{gqtcntry}*
USE [W_GnBD]
GO
*{gqtcompany}*
USE [W_GnBD]
GO
*{gqtctry}*
USE [W_GnBD]
GO
*{gqtdecom}*
USE [W_GnBD]
GO
*{gqtdesam}*
USE [W_GnBD]
GO
*{gqtdatatypes}*
USE [W_GnBD]
GO
*{gqtfacilitytype}*
USE [W_GnBD]
GO
*{gqtfamil}*
USE [W_GnBD]
GO
*{gqtftgri}*
USE [W_GnBD]
GO
*{gqtgenre}*
USE [W_GnBD]
GO
*{gqtgitem}*
USE [W_GnBD]
GO
*{gqtgrpb}*
USE [W_GnBD]
GO
*{gqtinpgr}*
USE [W_GnBD]
GO
*{gqtkindofequipment}*
USE [W_GnBD]
GO
*{gqtlangu}*
USE [W_GnBD]
GO
*{gqtmem}*
USE [W_GnBD]
GO
*{gqtorgan}*
USE [W_GnBD]
GO
*{gqtoudoc}*
USE [W_GnBD]
GO
*{gqtpatient}*
USE [W_GnBD]
GO
*{gqtpedid}*
USE [W_GnBD]
GO
*{gqtperiod}*
USE [W_GnBD]
GO
*{gqtperson}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{gqtregis}*
USE [W_GnBD]
GO
*{gqtrogl1}*
USE [W_GnBD]
GO
*{gqtrole}*
USE [W_GnBD]
GO
*{gqtrooms}*
USE [W_GnBD]
GO
*{gqtrordf}*
USE [W_GnBD]
GO
*{gqtrordi}*
USE [W_GnBD]
GO
*{gqtrules}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{gqtsbcat}*
USE [W_GnBD]
GO
*{gqtshity}*
USE [W_GnBD]
GO
*{gqtspace}*
USE [W_GnBD]
GO
*{gqtspeci}*
USE [W_GnBD]
GO
*{gqtstake}*
USE [W_GnBD]
GO
*{gqtstrat}*
USE [W_GnBD]
GO
*{gqtteamp}*
USE [W_GnBD]
GO
*{gqttppro}*
USE [W_GnBD]
GO
*{gqttrsb}*
USE [W_GnBD]
GO
*{gqtuicom}*
USE [W_GnBD]
GO
*{gqtwareh}*
USE [W_GnBD]
GO
*{gqtyear}*
USE [W_GnBD]
GO
*{gqtcattp}*
USE [W_GnBD]
GO
*{gqtcity}*
USE [W_GnBD]
GO
*{gqtcmpny}*
USE [W_GnBD]
GO
*{gqtfacility}*
USE [W_GnBD]
GO
*{gqtfaqs}*
USE [W_GnBD]
GO
*{gqtglob}*
USE [W_GnBD]
GO
*{gqtitem}*
USE [W_GnBD]
GO
*{gqtmanualtocollect}*
USE [W_GnBD]
GO
*{gqtparameter}*
USE [W_GnBD]
GO
*{gqtprpin}*
USE [W_GnBD]
GO
*{gqtpworg}*
USE [W_GnBD]
GO
*{gqtroigf}*
USE [W_GnBD]
GO
*{gqtroigi}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{gqtsale}*
USE [W_GnBD]
GO
*{gqtsales}*
USE [W_GnBD]
GO
*{gqttblb}*
USE [W_GnBD]
GO
*{gqttblk}*
USE [W_GnBD]
GO
*{gqttpcon}*
USE [W_GnBD]
GO
*{gqttpequ}*
USE [W_GnBD]
update [gqttpequ] set [since] = tmptab1.[since], [precoult] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[since]) as uData from [gqttabpr] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[since] = tmptab2.uData
update [gqttpequ] set [since] = NULL,[precoult] = NULL where not exists(select [codtpeq1] from [gqttabpr] where [gqttabpr].[codtpeq1] = [gqttpequ].[codtpequ] and [gqttabpr].[codtpeq1] is not null and [gqttabpr].[since] <= getdate() and [gqttabpr].[zzstate] = 0 group by [gqttabpr].[CODTPEQ1])
update [gqttpequ] set [precomax] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[precohor]) as uData from [gqttabpr] as tmpFromTab  group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[precohor] = tmptab2.uData
update [gqttpequ] set [precomax] = NULL where not exists(select [codtpeq1] from [gqttabpr] group by [gqttabpr].[CODTPEQ1])
GO
*{gqtusers}*
USE [W_GnBD]
GO
*{gqtwpess}*
USE [W_GnBD]
GO
*{gqtgames}*
USE [W_GnBD]
GO
*{gqtitemc}*
USE [W_GnBD]
GO
*{gqtlnhpd}*
USE [W_GnBD]
GO
*{gqtoutpt}*
USE [W_GnBD]
GO
*{gqtproje}*
USE [W_GnBD]
GO
*{gqtprope}*
USE [W_GnBD]
GO
*{gqtregio}*
USE [W_GnBD]
GO
*{gqttabpr}*
USE [W_GnBD]
GO
*{gqttradu}*
USE [W_GnBD]
GO
*{gqtagreg}*
USE [W_GnBD]
GO
*{gqtcmpki}*
USE [W_GnBD]
GO
*{gqtentity}*
USE [W_GnBD]
GO
*{gqtlnhag}*
USE [W_GnBD]
GO
*{gqtoutpu}*
USE [W_GnBD]
GO
*{gqtprocn}*
USE [W_GnBD]
GO
*{gqtproph}*
USE [W_GnBD]
GO
*{gqtpwreg}*
USE [W_GnBD]
GO
*{gqtdispatch}*
USE [W_GnBD]
GO
*{gqtexpen}*
USE [W_GnBD]
GO
*{gqtlnhde}*
USE [W_GnBD]
GO
*{gqtlocation}*
USE [W_GnBD]
GO
*{gqtmessages}*
USE [W_GnBD]
GO
*{gqtpessoas}*
USE [W_GnBD]
update [gqtpessoas] set [codcateg] = tmptab1.[codcateg], [dtultcat] = tmptab1.[since] from [gqtpessoas] inner join (select tmpFromTab.[CODPESSO], max(tmpFromTab.[since]) as uData from [gqtevcat] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODPESSO]) as tmptab2 on [gqtpessoas].[codpesso] = tmptab2.[codpesso] inner join [gqtevcat] as tmptab1 on [gqtpessoas].[codpesso] = tmptab1.[codpesso] where tmptab1.[since] = tmptab2.uData
update [gqtpessoas] set [codcateg] = NULL,[dtultcat] = NULL where not exists(select [codpesso] from [gqtevcat] where [gqtevcat].[codpesso] = [gqtpessoas].[codpesso] and [gqtevcat].[codpesso] is not null and [gqtevcat].[since] <= getdate() and [gqtevcat].[zzstate] = 0 group by [gqtevcat].[CODPESSO])
GO
*{gqtreceipt}*
USE [W_GnBD]
GO
*{gqtasset}*
USE [W_GnBD]
GO
*{gqtconta}*
USE [W_GnBD]
GO
*{gqtesppe}*
USE [W_GnBD]
GO
*{gqtevcat}*
USE [W_GnBD]
GO
*{gqtgrid}*
USE [W_GnBD]
GO
*{gqtindoc}*
USE [W_GnBD]
GO
*{gqtlocationextension}*
USE [W_GnBD]
GO
*{gqtpropr}*
USE [W_GnBD]
GO
*{gqtafini}*
USE [W_GnBD]
GO
*{gqtassetmanual}*
USE [W_GnBD]
GO
*{gqtassetparameter}*
USE [W_GnBD]
GO
*{gqtattachment}*
USE [W_GnBD]
GO
*{ccorr}*
USE [W_GnBD]
GO
*{gqtequip}*
USE [W_GnBD]
update [gqtequip] set [codrooms] = tmptab1.[codrooms] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[dhmudanc]) as uData from [gqtmovim] as tmpFromTab  where tmpFromTab.[dhmudanc] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtmovim] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[dhmudanc] = tmptab2.uData
update [gqtequip] set [codrooms] = NULL where not exists(select [codequip] from [gqtmovim] where [gqtmovim].[codequip] = [gqtequip].[codequip] and [gqtmovim].[codequip] is not null and [gqtmovim].[dhmudanc] <= getdate() and [gqtmovim].[zzstate] = 0 group by [gqtmovim].[CODEQUIP])
update [gqtequip] set [lastpho] = tmptab1.[photogra] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[anexed]) as uData from [gqtphoto] as tmpFromTab  where tmpFromTab.[anexed] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtphoto] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[anexed] = tmptab2.uData
update [gqtequip] set [lastpho] = NULL where not exists(select [codequip] from [gqtphoto] where [gqtphoto].[codequip] = [gqtequip].[codequip] and [gqtphoto].[codequip] is not null and [gqtphoto].[anexed] <= getdate() and [gqtphoto].[zzstate] = 0 group by [gqtphoto].[CODEQUIP])
GO
*{gqtldent}*
USE [W_GnBD]
GO
*{gqtnotif}*
USE [W_GnBD]
GO
*{gqtproduct}*
USE [W_GnBD]
GO
*{gqtpwcom}*
USE [W_GnBD]
GO
*{gqtanexd}*
USE [W_GnBD]
GO
*{gqtdispatchline}*
USE [W_GnBD]
GO
*{gqtflds}*
USE [W_GnBD]
GO
*{gqtinsta}*
USE [W_GnBD]
GO
*{gqtlendi}*
USE [W_GnBD]
GO
*{gqtmovim}*
USE [W_GnBD]
GO
*{gqtphoto}*
USE [W_GnBD]
GO
*{gqtreceiptline}*
USE [W_GnBD]
GO
*{gqtrepar}*
USE [W_GnBD]
GO
*{stock}*
USE [W_GnBD]
GO
*{gqtvisit}*
USE [W_GnBD]
GO
*{gqtfeeca}*
USE [W_GnBD]
GO
