IF((SELECT COUNT(1) FROM GQTcfg) = 0)
	INSERT INTO GQTcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES (newid(), GETDATE(), 4056, 0, NULL, 0, 0)
ELSE
  UPDATE GQTcfg set versao = 4056;
GO
