:root {
    --g-light: #beccd4;
}
.c-card--gridView {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    min-height: 20px;
}
.c-card--gridView [class*="col-auto"] {
    margin-bottom: 0.25rem;
}
.c-card--gridView .c-card {
    width: 18rem;
    margin: 1rem 0;
    color: var(--body-color);
    border-color: var(--g-light);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow;
    flex: 1 1 auto;
    cursor: pointer;
}
.c-card--gridView .c-card .c-card__body {
    padding: 1rem;
}
.c-card--gridView .c-card .c-card__header {
    background-color: transparent;
    padding: 0.5rem;
    padding-bottom: 0;
    border-bottom: none;
}
.c-card--gridView .c-card .c-card__header .b-icon.b-icon--secondary {
    border: none;
    background: none;
}
.c-card--gridView .c-card .c-card__b-action {
    float: right;
    padding: 0.25rem;
}
.c-card--gridView .c-card .c-card__b-action .b-icon {
    padding: 0.2rem 0.4rem;
    border: none;
}
.c-card--gridView .c-card .c-card__img-cropper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: calc(0.2rem - 1px);
}
.c-card--gridView .c-card .c-card__img {
    margin: 0 auto;
    height: 11rem;
    width: auto;
}
.c-card--gridView .c-card .c-card__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    margin-top: 0.5rem;
}
.c-card--gridView .c-card .c-card__subtitle {
    font-size: 12px;
    color: var(--primary);
    line-height: 1;
    padding-bottom: 0.25rem;
    margin-bottom: 0;
}
.c-card--gridView .c-card .c-card__text {
    margin-top: 0.5rem;
}
.c-card--gridView .c-card .c-card__text span.label {
    display: block;
    color: var(--gray);
    font-size: 0.85rem;
}
.c-card--gridView .c-card .c-card__icon--group {
    display: inline-block;
}
.c-card--gridView .c-card .c-card__icon--group .e-icon {
    color: var(--gray);
    font-size: 1rem;
    padding-left: 0.5rem;
}
.c-card--gridView .c-card .c-card__divider {
    margin: 0 0.5rem 0.5rem 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.c-card--gridView .c-card .c-card__tags .e-badge {
    padding: 0.2rem 0.5rem;
    font-size: 75%;
    border-radius: 10rem;
}
.c-card--gridView .c-card .c-card__footer {
    background-color: transparent;
    padding: 0.5rem;
    padding-top: 0;
    border-top: none;
}
.c-card--gridView .c-card .c-card__footer .b-icon.b-icon--secondary {
    border: none;
    background: none;
}
.c-card--gridView .c-card.c-card--card.c-card--small {
    width: 12rem;
}
.c-card--gridView .c-card.c-card--card.c-card--small .c-card__title {
    font-size: 15px;
}
.c-card--gridView .c-card.c-card--card.c-card--small .c-card__img-cropper {
    width: 10rem;
    height: 10rem;
}
.c-card--gridView
    .c-card.c-card--card.c-card--small
    .c-card__img-cropper
    .c-card__img {
    height: 10rem;
}
.c-card--gridView .c-card.c-card--card .cropper-square .c-card__img {
    height: 16rem;
}
.c-card--gridView .c-card.c-card--horizontal {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.c-card--gridView .c-card.c-card--horizontal .c-card__img-cropper {
    width: 8rem;
    height: 8rem;
    box-shadow: 0px 3px 6px 3px rgba(26, 27, 29, 0.18);
}
.c-card--gridView .c-card.c-card--horizontal .c-card__img-cropper .c-card__img {
    height: 8rem;
}
.c-card--gridView .c-card.c-card--horizontal .c-card__body {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.c-card--gridView .c-card.c-card--horizontal .c-card__content {
    width: 14rem;
    margin: 0 1rem;
}
.c-card--gridView .c-card.c-card--horizontal .c-card__title {
    margin-top: 0;
}
.c-card--gridView .c-card.c-card--horizontal .c-card__footer {
    padding-top: 0;
    margin-top: -1rem;
}
.c-card--gridView .c-card.c-card--img-top.c-card--small {
    width: 12rem;
}
.c-card--gridView .c-card.c-card--img-top.c-card--small .c-card__title {
    font-size: 15px;
}
.c-card--gridView .c-card.c-card--img-top.c-card--small .c-card__img-cropper {
    height: 12rem;
}
.c-card--gridView
    .c-card.c-card--img-top.c-card--small
    .c-card__img-cropper
    img {
    height: 12rem;
}
.c-card--gridView .c-card.c-card--img-top .c-card__img-cropper {
    width: 100%;
    height: 12rem;
    border-top-left-radius: calc(0.2rem - 1px);
    border-top-right-radius: calc(0.2rem - 1px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.c-card--gridView .c-card.c-card--img-top .c-card__img-cropper img.c-card__img {
    min-height: 12.5rem;
    width: auto;
    border-radius: 0;
}
.c-card--gridView .c-card.c-card--img-top .c-card__img-cropper.logo {
    width: 100%;
    height: 12rem;
    border-top-left-radius: calc(0.2rem - 1px);
    border-top-right-radius: calc(0.2rem - 1px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--light);
}
.c-card--gridView
    .c-card.c-card--img-top
    .c-card__img-cropper.logo
    img.c-card__img {
    width: 80%;
    min-height: auto;
    height: auto;
}
.c-card--gridView .c-card.c-card--img-top .cropper-square {
    width: 100%;
    height: 18rem;
}
.c-card--gridView .c-card.c-card--img-top .c-card__header {
    padding: 0;
}
.c-card--gridView .c-card.c-card--img-top .c-card__body {
    flex: 1 1 auto;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
}
.c-card--gridView .c-card.c-card--img-top .c-card__footer {
    background-color: transparent;
    border-top: none;
    padding: 0.5rem;
}
.c-card--gridView .c-card.c-card--centered.c-card--small {
    width: 12rem;
}
.c-card--gridView .c-card.c-card--centered.c-card--small .c-card__title {
    font-size: 16px !important;
}
.c-card--gridView .c-card.c-card--centered .c-card__img-cropper {
    width: 10rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.c-card--gridView
    .c-card.c-card--centered
    .c-card__img-cropper
    img.c-card__img {
    display: inline;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.c-card--gridView .c-card.c-card--img-thumbnail {
    width: 14rem;
}
.c-card--gridView .c-card.c-card--img-thumbnail .c-card__header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid var(--g-light);
    padding: 0.5rem 0.75rem;
}
.c-card--gridView .c-card.c-card--img-thumbnail .c-card__title {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
}
.c-card--gridView .c-card.c-card--img-thumbnail .c-card__img {
    width: 60px;
    height: 40px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -o-object-position: left;
    object-position: left;
    margin: 0;
}
.c-card--gridView .c-card.c-card--img-background {
    padding: 10rem 0 0;
    overflow: hidden;
    background-size: cover !important;
    background-clip: padding-box !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.c-card--gridView .c-card.c-card--img-background .c-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 11rem;
    padding-top: 1.5em;
    color: white;
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3) 20%,
        black
    );
}
.c-card--gridView
    .c-card.c-card--img-background
    .c-card__content
    .c-card__title,
.c-card--gridView
    .c-card.c-card--img-background
    .c-card__content
    .c-card__text {
    text-shadow: 1px 1px black;
}
.c-card--gridView .c-card__footer .b-icon.b-icon--secondary:hover,
.c-card--gridView .c-card__header .b-icon.b-icon--secondary:hover {
    background: var(--primary);
}
@media (max-width: 575.98px) {
    .c-card.c-card--centered.small {
        width: 100% !important;
        height: auto;
    }
}

/*actions button*/
.sr-dropdown {
    background: none;
    color: var(--primary);
}

/*actions menu*/
.sr-dropdown-menu {
    top: unset !important;
    left: unset !important;
    box-shadow: none;
    border: none;
    background: none;
}

.sr-dropdown-menu.show {
    display: flex !important;
    flex-direction: row;
    height: 120.44px;
}

.sr-dropdown-container {
    background-color: white;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    padding: 0.5rem 0;
}

.sr-dropdown-container > a:hover {
    background-image: linear-gradient(to bottom, #eaebec 0%, #eaebec 100%);
    background-repeat: repeat-x;
    color: #1e2436;
}

.sr-dropdown-menu-footer-left {
    transform: translate(0px, -155px) !important;
    align-items: flex-end;
}

.sr-dropdown-menu-footer-right {
    transform: translate(-127px, -155px) !important;
    align-items: flex-end;
}

.sr-dropdown-menu-header-left {
    transform: translate(0px, 3px) !important;
    align-items: flex-start;
}

.sr-dropdown-menu-header-right {
    transform: translate(-125px, 3px) !important;
    align-items: flex-start;
}
