$danger:#B71C1C;
$secondary:#040628;
$warning:#FFA900;
$enable-table-wrap:true;
$compactstyle:false;
$light:#EDF0F3;
$hover-secondary:#191c23;
$hover-primary:#244080;
$menu-multi-level:false;
$border-radius:0;
$table-head-inverse:true;
$gray-light:#C4C5CA;
$wizard-steps:'arrow';
$info:#17A2B8;
$dark:#1E2436;
$gray:#7C858D;
$gray-dark:#40474F;
$primary:#018BD2;
$success:#28A745;

// USE /[MANUAL GQT CSS_THEMEVARIABLES]/

// USE /[MANUAL GQT CSS_THEMEVARIABLES QUIDGEST]/
