@import "theme-variables.scss";
@import "typography.scss";
@import "bootstrap/scss/bootstrap";
@import "quidgest-ui.scss";
@import "layout-variables.scss";
@import "layout.scss";

$textColor: $body-color;

%input-Label {
	color: var(--q-theme-neutral-dark);
	line-height: 1.5;
}

%input-Field {
    font-size: $font-size-base !important;
    color: $textColor;
    background-color: $white;

	@if $enable-rounded {
		border-radius: $border-radius;
	}
	@else {
		border-radius: 0;
	}

	@if $enable-shadows {
		box-shadow: $box-shadow;
	}
	@else {
		box-shadow: none;
	}
}

%label_Required {
	content: "\00a0\002A";
	font-weight: bold;
	color: $danger;
}

//style for error input message
.input-error {
	.q-field {
		&__control {
			border: 1px solid $danger;
			box-shadow: 0 0 2px var(--q-theme-danger-dark);
		}

		&__extras {
			color: $danger;
		}
	}
}

.label-container {
	display: flex;
}

.i-text {
	&__label {
		@extend %input-Label;
		display: block;

		&--bold {
			font-weight: bold;
		}
	}

	&__field {
		@extend .form-control;
		@extend %input-Field;
		padding: $input-btn-padding-y $input-btn-padding-x !important;
		height: inherit;
		background-clip: padding-box;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		border: 1px solid #C4C5CA;

		:focus {
			color: $textColor;
			background-color: $white;
			border-color: $info;
			outline: 0;
			box-shadow: 0 0 0 0.2rem $info;
		}

		::-webkit-input-placeholder {
			color: $textColor;
			opacity: 1;
		}

		::-moz-placeholder {
			color: $textColor;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: $textColor;
			opacity: 1;
		}

		:disabled, [readonly] {
			background-color: #e9ecef;
			opacity: 1;
		}

		::-ms-input-placeholder {
			color: $textColor;
			opacity: 1;
		}

		::placeholder {
			color: $textColor;
			opacity: 1;
		}
	}

	&--disabled {
		input:disabled {
			color: $textColor;
			cursor: not-allowed;
			background-color: $light;
		}

		label {
			cursor: not-allowed;
		}
	}

	&__error {
		color: $danger;
		font-size: 0.875rem;
		padding: 0.76rem;
		border-left: 10px solid $danger;
		background-color: rgba(183, 28, 28, 0.15);

		input {
			background-color: #fceaea;
		}

		li {
			list-style-type: none;
			margin-left:-2.1rem;
		}

		ul{
			margin-bottom:0;
		}
	}

	&--readonly input:read-only {
		color: $textColor;
		background-color: $light;
		cursor: not-allowed;
	}

	&--required label::after {
		content: " *";
		color: $danger;
		font-weight: bold;
	}

	&--inline {
		display: inline-block;
	}
}

select.i-text__field:focus::-ms-value {
	color: $body-color;
	background-color: $white;
}

.i-textarea {
	display: inline-block;
	width: 100%;

	&__label {
		color: $gray;
		line-height: 1.5;
		cursor: pointer;
	}

	&__field {
		color: $gray;
		background-color:$input-bg;
		font-size: 1rem;
		background-clip: padding-box;
		border: 1px solid $input-border-color;
		padding: 0.375rem 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		text-rendering: auto;
		text-align: start;
		height: auto;
		-webkit-rtl-ordering: logical;
		flex-direction: column;
		resize: auto;
		overflow-wrap: break-word;

		@if $enable-rounded {
			border-radius: $border-radius;
		}
		@else {
			border-radius: 0 !important;
		}

		&:focus {
			color: $input-color;
			background-color: $input-bg;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.15rem rgba(0, 169, 206, 0.35) !important;
		}

		&:disabled, &[readonly] {
			background-color: #e9ecef;
			opacity: 1;
		}
	}

	&--disabled {
		textarea:disabled {
			background-color: $light;
			opacity: 1;
			cursor: not-allowed;
		}

		label {
			cursor: not-allowed;
		}
	}

	&__error {
		color: $danger;
		font-size: 0.875rem;

		textarea {
			background-color: #fceaea;
		}
	}
}

.database-options {
	display: flex;
	align-items: center;

	// Due to the +Info button, the maintenance checkboxes need to be aligned
	>.q-checkbox >.q-checkbox__input {
		align-self: center;
	}

	&__status {
		&-error {
			color: var(--q-theme-danger);
		}

		&-success {
			color: var(--q-theme-success);
		}
	}

	&__last-rdx {
		display: flex;
		padding: 1rem;
		gap: 1rem;
	}
}

//i-radio
.i-radio {
	display: block;
	position: relative;
	padding-left: 1.65rem;
	margin-bottom: 0px;
	margin-top: 0.3rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&__control {
		display: inline-block;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	&--inline {
		margin-right: .75rem;
	}

	&__field {
		position: absolute;
		top: 0;
		left: 0;
		height: 22px !important;
		width: 22px !important;
		background-color:  $white;
		border-radius: 50%;
		border: 1px solid $input-border-color !important;

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}

	&:hover input ~ &__field {
		background-color: $light;
	}
	/* When the radio button is checked, add a blue background */
	& input:checked ~ &__field {
		background-color: $primary;
		border: 1px solid $primary !important;
	}
	/* Show the indicator (dot/circle) when checked */
	& input:checked ~ &__field:after {
		display: block;
	}
	/* Style the indicator (dot/circle) */
	& &__field:after {
		top: 6px;
		left: 6px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: white;
		background-color: $input-bg;
	}

	&__label {
		color: $secondary;
		cursor: pointer;
	}

	&--disabled {
		cursor: not-allowed;
	}

	&__error {
		color: $danger;
		font-size: 0.875rem;
	}
}

.i-date-picker {
	&__field {
		@extend .i-input-group__field;
		height: inherit;
	}

	&__button {
		@extend .i-input-group--right;

		&--secondary {
			@extend .btn;
			padding: $input-btn-padding-y 0.1rem;
		}

		&--primary {
			@extend .btn;
			padding: $input-btn-padding-y 0.1rem;
		}
	}
}

.i-dbedit, .i-image {
	display: inline-block;
	vertical-align: bottom;
}

//Table
.c-table {
	@extend table;
	font-size: .9rem;
	text-align: left;
	word-wrap: break-word;
	width: 100%;
	border: 1px solid $border-dark-color;
	background-color: $container-bg-color;

	@if $compactstyle {
		margin: 0.5rem 0;
	}
	@else {
		margin: 1rem 0;
	}

	& th, & td {
		vertical-align: top;
		border-bottom: 1px solid $border-dark-color;
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		@if $compactstyle {
			padding-top: 0.1rem;
			padding-bottom: 0.1rem;
		}
		@else {
			padding: 0.5rem;
		}
	}

	thead th {
		border-bottom: none;
		vertical-align: top;

		@if $compactstyle {
			padding: 0.5rem;
		}
		@else {
			padding: 0.75rem;
		}
	}

	thead a {
		@if $table-head-inverse {
			color: $primary;
		}
		@else {
			color: $white;
		}
	}

	.RowOrders, .thead-actions {
		width: 5rem;
	}

	@if $table-striped {
		tbody > tr:nth-child(odd) > td,
		tbody > tr:nth-child(odd) > th {
			background-color: rgba(155,166,178,0.2);
		}
	}

	&--striped > tbody > tr:nth-child(odd) > td,
	&--striped > tbody > tr:nth-child(odd) > th {
		background-color: rgba(155,166,178,0.2);
	}

	&--bordered {
		border: 1px solid $table-border-color;

		& th, & td {
			border: 1px solid $table-border-color;
		}
	}

	&-hover tbody tr:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	&__export-btn {
		margin-right: 15px;
	}

	&__head {
		@if $table-head-inverse {
			color: $primary;
			background-color: $container-bg-color;
		}
		@else {
		color: $white;
		background-color: $primary;
		}

		th {
			font-size: 0.75rem;
			letter-spacing: .02rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			vertical-align: top;
			line-height: 1rem;

			@if $table-head-inverse {
				border: none;
				border-bottom: 1px solid $primary !important;
			}
			@else {
			border: 1px solid $primary;
		}
		}

		thead th {
			vertical-align: top;
		}

		&-numeric {
			@extend .text-right;
		}
	}

	&__caption {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		color: $secondary;
		text-align: left;
		caption-side: bottom;
	}

	&__body {
		th {
			vertical-align: middle;
			font-weight: 500;
		}

		tr {
			vertical-align: middle;
		}

		td {
			vertical-align: middle;
			font-weight: 400;

			@if $table-vertical-border {
				border-left: 1px solid $border-dark-color;
			}
			@else {
				border-left: none;
			}

			a:not(.dropdown-item) {
				font-weight: 600;

				&:hover {
					font-weight: 600;
				}
			}

			&.row-actions {
				padding-left: 0.1rem;
				padding-right: 0.1rem;
			}
		}
	}

	&__row {
		&--alert-text {
			font-size: 1.05rem;
			font-weight: 600;
			color: $body-color;
			padding-right: 1rem;
			padding-left: 0.5rem;
		}

		&--alert-icon {
			padding-top: 0.3rem;
			padding-left: 0.25rem;
			font-size: 1.2rem;
			color: $body-color;
			vertical-align: middle;
		}

		&--empty {
			background-color: $container-bg-color;

			.c-alert__row-text {
				font-style: italic;
				color:$gray;
			}
		}

		&--information {
			border-left: 12px solid $info;
			background-color: scale-color($info, $lightness: 92%);
			-webkit-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			-moz-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
		}

		&--pending {
			height: 19.6px;
			border-left: 10px solid $warning;
			background-color: lighten($warning, 47%);
			-webkit-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			-moz-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
		}

		&--error {
			border-left: 10px solid $danger;
			background-color: lighten($danger, 49%);
			-webkit-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			-moz-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
		}

		&--success {
			border-left: 10px solid $success;
			background-color: lighten($success, 49%);
			-webkit-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			-moz-box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
			box-shadow: 2px 2px 3px 0px rgba(96,125,139,0.3);
		}

		&--selected {
			background-color: rgba(0,145,234,0.2);
			cursor: cell;
		}

		&--draggable {
			background-color: $container-bg-color;
			border-color: $input-border-color;

			input {
				border: none;
				outline: none;
				background: transparent;
				box-shadow: none;

				&:focus {
					border: none;
					outline: none;
				}
			}

			&:hover {
				-webkit-box-shadow: 4px 4px 8px 0px rgba(96,125,139,0.32);
				-moz-box-shadow: 4px 4px 8px 0px rgba(96,125,139,0.32);
				box-shadow: 4px 4px 8px 0px rgba(96,125,139,0.32);
				cursor: -webkit-grabbing;
				cursor: grabbing;
			}

			& tr, & td {
				vertical-align: middle;
			}
		}
	}

	&__cell-img {
		width: 44px;
		height: 44px;
		margin: .5rem .5rem .5rem 0rem;

		&--rounded {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			margin: .5rem .5rem .5rem 0rem;
		}
	}

	&__cell-icon {
		font-size: 32px;
		color: $secondary;

		&--primary {
			font-size: 32px;
			color: $primary;
		}

		&--danger {
			font-size: 32px;
			color: $danger;
		}
	}

	&__cell-status {
		font-size: 80%;
		font-weight: 500;
		line-height: 1;
		display: inline-block;
		padding: .35rem .375rem;
		text-align: center;
		vertical-align: baseline;
		white-space: nowrap;
		border-radius: .4rem;

		&__dot {
			font-size: .9rem;
			font-weight: 400;
			padding-right: 0;
			padding-left: 0;
			text-transform: none;
			background: transparent;

			i {
				display: inline-block;
				width: 1rem;
				height: 1rem;
				margin-right: .2rem;
				vertical-align: middle;
				border-radius: 50%;
			}
		}

		&--primary {
			background-color: $primary;
		}

		&--completed {
			background-color: $success;
		}

		&--pending {
			background-color: $warning;
		}

		&--delayed {
			background-color: $danger;
		}
	}


	&__cell-numeric {
		@extend .text-right;
		white-space: nowrap;
	}

	&__footer {
		padding: 0.5rem;
		border-top: 2px solid $border-dark-color;
		border-bottom: none;

		th {
			font-weight: 600;
			border-bottom: none;
			padding-left: 1rem;
		}

		td {
			font-weight: 600;
			border-bottom: none;
			vertical-align: middle;

			@if $compactstyle {
				padding-top: 0.2rem;
			}
			@else {
				padding-top: 1rem;
			}
		}
	}

	&--sm {
		th, td {
			padding: 0.3rem;
		}
	}

	&__drag-icon {
		font-size: 24px;
		color: $gray;

		&:hover {
			color: $primary;
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
	}

	&__title {
		color: $gray;
		padding-top: 0.5rem;
		display: block;
		letter-spacing: 0.02rem;
		font-size: 1.05rem;
		line-height: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		white-space: nowrap;
	}
}

.q-table--borderless {

	.search:has( + .export-btn) {
		padding: 0;
	}

	.export-btn {
		padding-right: 15px;
		padding-left: .25rem;
	}

	.form-group {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.c-table {
		border: none;

		tr, td {
			border: none;
		}

		&__head {
			color: rgb(var(--q-theme-on-background-rgb)/.9);
			background-color: rgb(var(--q-theme-primary-light-rgb)/.5);
			border-bottom: 3px solid var(--q-theme-container);

			th {
				border: none;
			}
		}

		&__body {

			tr {
				color: rgb(var(--q-theme-on-background-rgb)/.75);
				background-color: rgb(var(--q-theme-neutral-light-rgb)/.25);
				border-bottom: 3px solid var(--q-theme-container);
			}
		}

		&__footer {

			td {
				padding: .25rem 0 0 0;
			}
		}
	}
}

//Tabs
.tab-group-container {
	.nav-tabs.c-tab__divider {
		@extend .nav;
		background-color: transparent;
		border: none;

		&.c-tab__list{
			button.nav-item {
				padding: 0;

				&:hover {
					border-color: #e9ecef #e9ecef #dee2e6; 
					background-color: #f3f5f6;

					span.q-btn__content span.nav-link {
						color: $primary;
						font-weight: 400;
					}
				}

				&.active {
					cursor: unset;
					margin-bottom: -1px;
				}

				span.q-btn__content{
					span.nav-link {
						display: block;
						padding: .645rem 1rem;
						border: 1px solid transparent;
						color: #000;
						outline: none;
						padding-bottom: .5rem;
	
						&.active {
							color: #202428; //$on-background
							border: none;
							background-color: transparent;
							margin-bottom: .2rem;
							padding-bottom: .2rem;
							font-weight: 700;
							box-shadow: 0 .4rem 0 $primary;
						}
					}
				}
			}
		}
	}

	.c-tab__item-container{
		border: 1px solid #dce3e8;
		background-color: $white;

		.c-tab__item-content{
			padding: .55rem;
		}
	}
}

//.i-input-group
.i-input-group {
	@extend .input-group;
	flex-wrap: nowrap !important;
}

.i-input-group--right {
	@extend .input-group-append;
}

/* .form-control  +  */
.i-input-group__field {
	@extend .form-control;
	height: inherit;
	font-size: $font-size-base !important;
	color: $gray;
	background-color: $white;
	border: 1px solid $input-border-color;
	vertical-align: inherit;
	padding: $input-btn-padding-y $input-btn-padding-x !important;

	@if $enable-rounded {
		border-radius: $border-radius;
	}
	@else {
		border-radius: 0 !important;
	}

	input:disabled {
		color: $gray;
		background-color: $light;
	}

	&:focus {
		color: $gray;
		background-color: $white;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem $info;
	}

	&::placeholder {
		color: $gray;
		opacity: 1;
	}

	&:disabled, &[readonly] {
		background-color: #e9ecef;
		opacity: 1;
	}
}

select.i-input-group__field:focus::-ms-value {
	color: $body-color;
	background-color: $white;
}

// TEMPORARY: once the roles tab refactor is done, rethink and remove
.c-groupbox {
	width: 100%;
	position: relative;
	margin-top: .25rem;
	padding: .5rem 1rem .5rem 1rem;
	border-color: #dce3e8; //$neutral-light
	word-wrap: break-word;
	background-color: $white;
	display: inline-block;
	border: 1px solid #d5dce0;
	border-top: 1px solid #dce3e8;
	border-bottom: 3px solid #dce3e8;
	border-radius: 0.2rem;
	/*@if $compactstyle {
		padding: 0.55rem;
	}
	@else {
		padding: 1.25rem;
	}*/

	&__title {
		font-size: 1.15rem;
		font-weight: 600;
		line-height: 1.5rem;
		margin-bottom: 0.25rem;
		letter-spacing: 0.02rem;
		color: $primary;
	}

	&__container {
		background: transparent;
		margin: 10px;
		margin-top: 20px;
		border: 1px solid rgba(0,0,0,0.2);
	}

	&__divider {
		margin-top: 0.5rem;
		margin-bottom: 0.25rem;
		margin-left: -1rem;
		margin-right: -1rem;
		border-top: 1px solid #d5dce0;
	}

	&--no-border {
		border: none;
		margin: 0;
		padding: 0;
		background-color: transparent;
	}

	&--minor-border-top {
		background-color: transparent;
		border: none;
		border-top: 1px solid #dce3e8; //$neutral-light
		border-radius: 0;
		margin-top: 0.5rem;
		padding: 0.25rem 0;

		.c-groupbox__title {
			font-size: 0.9rem;
			line-height: 1;
			letter-spacing: initial;
			color: #006398; //$primary-dark
			text-transform: none;
			font-weight: 600;
			margin-bottom: 0.75rem;
			margin-top: 0.25rem;
		}

		.alert {
			margin-top: .5rem;
		}
	}
}

.row-line-group > .c-groupbox {
	width: 100%;
}

.zone-no-border {
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

//dd, dl
dl:not(.wa-environment) dd:not(:last-child)::after {
	content: "|";
	margin: 0 .5rem;
}

dl.row {
	margin-bottom: 0;
	gap: .25rem;
}

dt {
	font-weight: 900;

	&.version {
		display: flex;
		align-items: center;
	}
}

dl.wa-environment {
	display: grid;
	gap: 4px 16px;
	grid-template-columns: max-content;

	dd {
		margin: 0;
		grid-column-start: 2;

		&.version {
			display: flex;
			align-items: center;

			.q-icon {
				color:red;
				display: flex;
				font-size: 1.3em;
			}
		}
	}
}

.nav-link {
	display: block;
	padding: .5rem 1rem;

	&:hover {
		color: $secondary;
	}
}

.nav-tabs {
	background: $white;
	background-color: transparent;
	border-bottom: 1px solid #e9ecef;

	.nav-link {
		border: 1px solid transparent;

		@if $enable-rounded {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}
		@else {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	& &.active {
		color: $secondary;
		background-color: $white;
		border-color: #dee2e6 #dee2e6 #fff;
	}
}

/* ----- ALERT ----- */
.alert {
	position: relative;
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;

	.q-btn--secondary{
		background-color: var(--q-theme-background);
	}

	.alert-header {
		display: flex;
		gap: .25rem;
		align-items: center;
	}

	&--danger{
		width: 100%;
		background-color: var(--q-theme-danger-light);
		color: var(--q-theme-danger-dark);
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $danger;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;

		.alert-icon {
			.q-icon {
				font-size: 1.25rem;
			}
		}
	}

	&--warning{
		width: 100%;
		background-color: var(--q-theme-warning-light);
		color: var(--q-theme-warning-dark);
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $warning;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;

		.alert-icon {
			.q-icon {
				font-size: 1.25rem;
			}
		}
	}

	&--success {
		width: 100%;
		background-color: var(--q-theme-success-light);
		color: var(--q-theme-success-dark);
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $success;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;

		.alert-icon {
			.q-icon {
				font-size: 1.25rem;
			}
		}
	}

	&--info {
		width: 100%;
		background-color: var(--q-theme-info-light);
		color: var(--q-theme-info-dark);
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $info;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;

		.q-icon {
			font-size: 1.75rem;
			vertical-align: sub;

			&.alert-icon {
				font-size: 1rem;
			}
		}

		.alert-icon {
			.q-icon {
				font-size: 1.25rem;
			}
		}
	}

	&-info {
		width: 100%;
		background-color: var(--q-theme-info-light);
		color: var(--q-theme-info-dark);
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $info;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;
	}

	&-info {
		width: 100%;
		background-color: var(--q-theme-info-light) !important; //info-light
		color: var(--q-theme-info-dark) !important; //info-dark
		border-color: transparent;
		box-shadow: inset 8px 0 0 0 $info;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;
	
		& p {
			margin-top: .7rem;
	
			& span {
				display: flex;
				gap: 0.5rem;
				align-items: center;
			}
	
			& i {
				font-size: 1.3rem;
			}
		}
	
		.q-btn--secondary {
			background-color: #f0f0f1; //$background
		}
	}

	h4{
		display: inline-flex;
		line-height: 1;
		gap: .5rem;
		margin-bottom: 0;
	}

	&__title {
		font-weight: 600;
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	&__text {
		font-weight: 400;
		color: inherit;
	}

	&__icon {
		float: left;
		font-size: 1.5rem;
		line-height: 1rem;
		color: inherit;
	}

	&__list {
		font-weight: 400;
		color: inherit;

		span.status-message {
			display: block;
		}
	}

	&__dismissible {
		float: right;
		font-size: 1rem;
		color: $white;

		.close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.75rem 1.25rem;
			color: $white;
		}
	}
}

//c-modal
.c-modal {

    @extend .modal;

	&__fade {
		@extend .fade;
	}

	&__dialog {
		@extend .modal-dialog;
		margin: 5rem auto;
	}

	&--lg {
		@extend .modal-lg;
	}

	&__content {
		@extend .modal-content;
		border: 1px solid $input-border-color;
		background-color:$body-bg;

		@if $enable-rounded {
			border-radius: $border-radius;
		}
		@else {
			border-radius: 0;
		}
	}

	&__header {
		@extend .modal-header;
		border-color: $light;
		margin-bottom: 1rem;
		display: block;

		@if $compactstyle {
			padding: 0.5rem;
			margin-bottom: 0;
		}

		&-title {
			color: $gray;
			font-size: 1.25rem;
			font-weight: 600;
			letter-spacing: 0.02rem;
		}
	}

	&--center {
		top: 40% !important;
		transform: translateY(-50%) !important;
	}

	&__body {
		@extend .modal-body;
		color: $gray;

		@if $compactstyle {
			padding: 0.5rem;
		}

		.normal-view{
			overflow-x:auto
		}
	}

	&__footer {
		@extend .modal-footer;
		border-color: $light;

		@if $compactstyle {
			margin-top: 0;
			padding-top: 0.55rem;
		}
		@else {
			margin-top: 10px;
			padding-top: 1.25rem;
		}
	}
}

//modal
.modal-content {
	max-width: 500px;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: $white;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;

	.modal-content {
		box-shadow: 0 .5rem 1rem #00000080;

		.modal-content {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 1rem;
			border-bottom: 1px solid #e9ecef;
			border-top-left-radius: .3rem;
			border-top-right-radius: .3rem;

			.modal-title {
				margin-bottom: 0;
				line-height: 1.5;
			}
		}
	}
}

#database-script-details.modal-content {
	min-width: 25rem;

	.modal-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}

	.modal-body {
		.script-details {
			&__block {
				max-height: 15rem;
				overflow-y: auto;
			}

			&__line {
				display: flex;
				justify-content: space-between;

				padding: 0 0.5rem;
				color: rgb(var(--q-theme-neutral-dark-rgb) / .75);

				&-error {
					color: var(--q-theme-danger);
				}
			}
		}
	}
}

.q-stack--column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .25rem;
	margin-block-start: .5rem;
	margin-block-end: .5rem;

	.f-header__title {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		font-size: 1.25rem;
		font-weight: 600;
		color: #202428; //$on-background
		letter-spacing: 0.02rem;
		text-transform: none;
	}
}

select {
	height: auto;
}

.i-text__field {
	@if $enable-rounded {
		border-radius: $border-radius;
	}
	@else {
		border-radius: 0 !important;
	}

	&:focus {
		box-shadow: 0 0 0 0.15rem rgba(0, 169, 206, 0.35) !important;
	}
}

.form-control:focus,
	.i-input-group__field:focus,
	.i-date-picker__field:focus,
	.i-time-picker__field:focus,
	.i-text__field:focus {
		color: $input-color;
		background-color: $input-bg;
		outline: 0;
		box-shadow: 0 0 0 0.15rem rgba(0, 169, 206, 0.35) !important;
}

input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea {
	color: $input-color;
	border: 1px solid $input-border-color;
	background-color: $input-bg;
}

input,
textarea {
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

//disabled fields
.form-control:disabled,
	.i-input-group__field:disabled,
	.i-date-picker__field:disabled,
	.i-time-picker__field:disabled,
	.i-text__field:disabled,
	.form-control[readonly],
	[readonly].i-input-group__field,
	[readonly].i-date-picker__field,
	[readonly].i-time-picker__field,
	[readonly].i-text__field {
		background-color: $input-disabled-bg;
		color: $input-label;
		opacity: 1;
		outline: none;
	}


/* Search bar
---------------------------------------------------------- */
.search {
	div {
		margin-left: 0px;
	}
}

.dbeditimage {
	height: 32px;
	width: 32px;
}

.control-row-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 0.75rem;

	@if $compactstyle {
		margin-bottom: 0.25rem;
	}
	@else {
		margin-bottom: 0.75rem;
	}

	& + .control-row-group {
		margin-top: .25rem;
	}
}

.control-join-group {
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;

	@if $compactstyle {
		margin: 0;
	}
	@else {
		margin: 0.25rem;
	}

	.form-check-inline {
		white-space: initial !important;
		display: block;

		.i-radio {
			display: inline-block;
		}
	}

	.i-date-picker {
		display: inline-block;
	}
}

.control-row-group .control-join-group .c-groupbox {
	white-space: initial !important;
}

/* Highlighted and selectable lines
-----------------------------------------------------------*/
.table tbody > tr.highlighted > td,
.highlighted {
	@include gradient-y($hover-dropdown, $hover-dropdown);
	cursor: pointer;
	color: $hover-primary;
}

label {
    &.highlighted-lable {
    color: $secondary;
    font-weight: bold;
    }
    &.i-radio__label {
        color: $input-label;
    }
}

.filtersRow {
	background: lighten($primary, 10%);
}

.i-dbedit {
	display: inline-block;
}

a.contains-val-required[data-zone-type="ZC"], a.contains-val-required[data-zone-type="ZA"], a.contains-val-required[data-toggle="tab"] {
	&:after {
		@extend %label_Required;
	}
}

label[data-val-required] {
	&:after {
		@extend %label_Required;
	}
}

.dropdown-menu > li > a:hover, .dropdown-menu > a:hover {
	@include gradient-y($primary, darken($primary, 1%));
	color: $white;
}

.dropdown-menu-left {
	right: 0 !important;
	left: auto !important;
}

.footer-btn .control-row-group {
	margin-top: 1rem;
	display: flex;
	gap: .5rem;
	justify-content: flex-start;
}

/* ---------- Helps -----------*/
.btn-popover {
	border: hidden;
	background-color: transparent;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	padding: 0;
	border-radius: 50%;

	&:hover:not(:disabled){
		background-color: transparent;
	}

	.q-icon__svg {
		fill: var(--q-theme-neutral);
	}

	.q-btn__content{
		font-size: 0.75rem;
	}

	&:focus {
		outline: 2px solid rgb(var(--q-theme-info-rgb) / 0.5);
	}
}

/*----- HELPS -----*/
.q-field__extras {
	font-size: .75rem;
}

.q-help__subtext {
    color: var(--q-theme-neutral);
    font-size: .75rem;
    display: block;
    line-height: 1;
    margin-top: .25rem;

	.q-icon__svg {
		fill: var(--q-theme-neutral);
		font-size: .65rem;
		vertical-align: initial;
	}
}

.q-help__info-banner {
	color: var(--q-theme-neutral-dark);
	font-size: .9rem;
	background-color: rgb(var(--q-theme-info-light-rgb) / .75);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	margin-bottom: .25rem;
	white-space: normal;
	width: 100%;

	&-header {
		display: flex;
		flex-direction: row;
		gap: .5rem;
		margin-bottom: .25rem;
	}

	.q-icon {
		font-size: 1.5rem;
	}
}

/*------------------*/

label {
	margin-bottom: unset !important;
}

.row-line-group>.i-text {
	width: 100%;
}

.navbar__data-systems {
	padding-left: 0.25rem;
}

.col-12 {
	flex: 0 0 auto;
}

//page title
.form-header {
	color: $secondary;
	padding-top: 0;
	padding-top: 1.5rem;
	display: block;
	letter-spacing: 0.02rem;
	font-size: 1.05rem;
	line-height: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	white-space: nowrap;
}

legend {
	margin-bottom: 0;
}

.sidebar .q-icon {
	font-size: 1.5em;
}

.vbt-table-wrapper:not(:has(.multiselect)) {
	display: block;
    width: 100%;
    overflow-x: auto;
}

.vbt-column-header div {
	display: inline;
}

.card-body:has(#tab-loader) {
	align-items: center;
	display: flex;
	position: relative;
	justify-content: center;
	padding: 1rem;
}

/*------ QButtonGroup ----*/
#pagination {
	.q-btn-group {
		background-color: #fff;

		.q-btn {
			padding: 0.2rem;
		}
	}
}

#testServer {
	margin: 0.5rem 0;
}

.database-data {
	div:has(.i-text__label) {
		display: inline;

		.i-text__label {
			display: inline;
			color: var(--q-theme-secondary);
			margin-right: .25rem;
		}
	}
}

#tab_link_schedule_maintenance-tab {
	color: $white;
	background-color: rgb(var(--q-theme-primary-rgb) / .95);
	font-weight: 500;
	padding: .15rem .75rem .25rem .5rem;
	border-radius: 1rem;
	margin-top: .25rem;

	&.active {
		box-shadow: none;
	}
}

// Row classes
.q-table--borderless .c-table__body {
	tr {
		cursor: default;

		&.q-table__row {
			&-warning {
				background-color: var(--q-theme-warning-light);
				box-shadow: inset 4px 0 0 var(--q-theme-warning);
			}

			&-error {
				background-color: var(--q-theme-danger-light);
				box-shadow: inset 4px 0 0 var(--q-theme-danger);
			}
		}
	}
}

// Table alert
.q-table__alert {
	margin-top: 2rem;
}

.progress-bar {
	&__container {
		min-width: 30rem;
	}

	&__footer {
		display: flex;
		padding: 0.5rem;
		padding-top: 0;
		justify-content: flex-end;
	}
}

/*--------------------*/

.container-group {
	background-color: $white;
	padding: 0.5rem 1rem;
}

.all-users-checkboxes {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.25rem;
	gap: 0.5rem;

	// Needs to be aligned due to line height differences between WebAdmin and Storybook
	.q-checkbox>.q-checkbox__input {
		align-self: center;
	}

	&__divider {
		border: 1px solid var(--q-theme-neutral);
		margin: 0 0.25rem;
	}
}

.search-input {
	.q-field__append {
		button.q-btn {
			margin-top: 0;
			padding: 0;

			span {
				padding-right: .25rem;
			}
		}
	}
}

/* --- MULTISELECT --- */
.multiselect {
	&__placeholder {
		color: var(--q-theme-neutral)
	}

	&__option {
		&--selected {
			&::after {
				color: var(--q-theme-neutral)
			}
		}
	}
}

/* ---- DIALOG ---- */
.q-dialog {
	&-container {
		padding: 0.5rem .75rem;
	}

	&__body-icon {
		&:has(svg#alert) {
			color: $warning;
		}
	
		&:has(svg#check-circle-outline) {
			color: $success;
		}
	}
}

// Data systems tab
.data-systems {
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

		&--with-errors {
			.q-field__control {
				border: 1px solid var(--q-theme-danger);
				box-shadow: 0 0 2px var(--q-theme-danger-dark);
			}

			.q-field__extras {
				color: var(--q-theme-danger);
			}
		}
    }

    &__dialog--container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
    }

	&__table {
		&--btns {
			display:flex;
			justify-content: center;
		}
	}
}

.alert-dialog {
    .q-dialog__body-text {
        text-align: center;
    }
}

.title-container {
	&--with-badge {
		display: flex;
		align-items: baseline;
		gap: 0.5rem;
	}
}


// QCollapsible web-admin specific styling
.q-collapsible {
	// Removes the bootstrap styling and leaves the QuidgestUI defaults.
	// Should be deleted once bootstrap is removed
	&__title-text {
		font-size: unset;
		line-height: unset;
	}
	// Variants
	&--admin-default {
		&:not(.q-collapsible--border-bottom) {
			border-bottom: 2px solid var(--q-theme-neutral-light);
		}

		.q-collapsible__btn {
			.q-btn__content {
				color: var(--q-theme-primary);
			}
		}
	}
}

// QCard web-admin specific styling
.q-card {
	// Variants
	&--admin-default {
		border-bottom: 3px solid var(--q-theme-neutral-light);

		.q-card__title {
			color: var(--q-theme-primary);
		}
	}

	&--admin-border-top {
		border-radius: 0;
		border-color: transparent;
		border-top: 1px solid var(--q-theme-neutral-light);

		.q-card__title {
			color: var(--q-theme-primary-dark);
		}
	}

	&--admin-compact {
		.q-card__header-content, .q-card__content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// QCheckbox web-admin specific styling
.q-checkbox {
	gap: 0.25rem;
}
