// QCollapsible web-admin specific styling
.q-collapsible {
	// Removes the bootstrap styling and leaves the QuidgestUI defaults.
	// Should be deleted once bootstrap is removed
	&__title-text {
		font-size: unset;
		line-height: unset;
	}
	// Variants
	&--admin-default {
		&:not(.q-collapsible--border-bottom) {
			border-bottom: 2px solid var(--q-theme-neutral-light);
		}

		.q-collapsible__btn {
			.q-btn__content {
				color: var(--q-theme-primary);
			}
		}
	}
}
