


/*#region Button search type*/
.display-flex {
    display: flex;
}

.display-none {
    display: none;
}
/*#region Button search type*/

.c-card{
    border: none;
}

.f-search__engine {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: 0;
    padding: .25rem 0;
}

    .f-search__engine button#searchButton {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .f-search__engine .i-input-group__field {
        height: inherit;
    }

    .f-search__engine .btn.b-icon-text--primary.dropdown-toggle.i-input-group__button-dropdown {
        padding-right: .75rem;
    }

.ui-menu .ui-menu-item {
    margin-bottom: 0.25rem;
}

.search-container .c-accordion__panel {
    border: none;
    border-bottom: 1px solid #D4D3D5;
    border-radius: 0;
}

.search-container .c-accordion__panel-header {
    padding: 0.25rem 0;
    border: none;
}

.search-container .c-accordion__panel-title {
    font-weight: 500;
    text-transform: none;
}

    .search-container .c-accordion__panel-title span {
        font-size: .8rem !important;
    }

.search-container .c-accordion__panel-body {
    padding: 0;
}

.search-container .badge-primary {
    color: #00114b;
    background-color: #fff;
    padding: 0.25rem 0;
    font-weight: 400;
    border-bottom: 1px solid #D4D3D5;
    border-radius: 0;
}

    .search-container .badge-primary:hover {
        color: #1699c8;
    }

.search-container .badge.badge-info {
    font-size: 90%;
    color: #fff;
    background-color: #00114b;
}

    .search-container .badge.badge-info i.glyphicons.glyphicons-remove-circle {
        display: none;
    }

.search-container .badge.e-badge--secondary {
    font-weight: 500;
    line-height: 1.3;
}

    .search-container .badge.e-badge--secondary i.glyphicons.glyphicons-remove-circle {
        display: inline-block;
        color: #fff;
    }

dl.list-group-horizontal {
    font-size: 90%;
}

.textEllipsis {
    white-space: pre-wrap;
}

.f-search__engine--result {
    color: #0D1427;
}

.search-container .list-group.c-list {
    margin-top: .5rem;
}

.search-container div.b-btn-group.float-right {
    transform: translate(-15px, -3px);
}
.search-container div.b-btn-group.float-right {
    transform: translate(0px, -2px);
    margin-left: .5rem;
}

.nav-list.form-check {
    border-bottom: 1px solid #d4d3d5;
}

.search-container .badge-primary {
    border-bottom: none;
}

.search-container .table-title.c-table__title,
.f-search__engine--result-filter .f-search__engine--result:not(:last-child) {
    color: #0D1427;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
}

table.table.card-list-table {
    font-size: .8rem;
}

.dropdown-menu {
    z-index: 1050 !important; /* Um valor alto para garantir que esteja acima dos outros elementos */
}

.list-group-item {
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    margin-bottom: .5rem;
    border-radius: .25rem;
}

.table.card-list-table th {
    padding: 0.25rem;
    border: none;
    color: #343a40;
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    line-height: 1;
}

.table.card-list-table td {
    padding: 0.25rem;
    color: #343a40;
    border-color: rgba(0, 0, 0, 0.125);
}

.table.card-list-table b {
    font-weight: normal;
}
