USE [W_GnBD]
if (524 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTADDRL_CUSTADID', 'customeraddressid', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaddrl', 'GQTADDRL_CUSTADID', 'gqt';
end
GO
if (235 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAERO_CODAERO_', 'codaero', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1911
SELECT 'GQTAERO_F54306434280453F', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtaero', 'GQTAERO_CODAERO_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AGENT
SELECT 'GQTAGENT_EFC2DE77F1194CC9', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGENT_EFC2DE77F1194CC9','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T01AGENT
SELECT 'GQTAGENT_BC163996059743AE', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtagent', 'GQTAGENT_CODAGENT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRLN_CODAIRLN', 'codairln', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup AIRPLAIRLNAIRLNAME
SELECT 'GQTAIRLN_0CD6CD9006264AD0', 'airlname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairln', 'GQTAIRLN_CODAIRLN', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAUDIT_CODAUDIT', 'codaudit', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaudit', 'GQTAUDIT_CODAUDIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATEG_CODCATEG', 'codcateg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CATEG
SELECT 'GQTCATEG_4A1D577E8AB04B2E', 'categoria', 0, 1, 0, 0
UNION ALL
SELECT 'GQTCATEG_4A1D577E8AB04B2E','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TBS_131
SELECT 'GQTCATEG_2E968BF908BB4A6E', 'abbreviation', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcategorias', 'GQTCATEG_CODCATEG', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCFAQS_CODCFAQS', 'codcfaqs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtcfaqs', 'GQTCFAQS_CODCFAQS', 'gqt';
end
GO
if (98 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCNTRY_CODCNTRY', 'codcntry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4271
SELECT 'GQTCNTRY_8440381480A14957', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcntry', 'GQTCNTRY_CODCNTRY', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCTRY_CODCTRY_', 'codctry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03COUNTRY
SELECT 'GQTCTRY_A6ED0D7A5E884B3B', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtctry', 'GQTCTRY_CODCTRY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDECOM_CODDECO_', 'coddeco', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DECOM
SELECT 'GQTDECOM_48410CA2B72C49A1', 'decomnr', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDECOM_48410CA2B72C49A1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2C111
SELECT 'GQTDECOM_51235713B49C4940', 'dtdeco', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdecom', 'GQTDECOM_CODDECO_', 'gqt';
end
GO
if (82 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDESAM_CODDESAM', 'coddesam', 1, 1, 0, 1
UNION ALL
SELECT 'GQTDESAM_zzState', 'zzState', 0, 1, 0, 0
 
exec CheckIdxTmp @tabela, 'gqtdesam', 'GQTDESAM_CODDESAM', 'gqt';
end
GO
if (1589 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISST_CODDISST', 'coddisst', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_251
SELECT 'GQTDISST_9C7AA19E02E4419E', 'status', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdisst', 'GQTDISST_CODDISST', 'gqt';
end
GO
if (534 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDTTYP_CODDTTYP', 'coddttyp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_7111
SELECT 'GQTDTTYP_BAB20CE5F817406C', 'string', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdatatypes', 'GQTDTTYP_CODDTTYP', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACTY_CODFACTY', 'codfacty', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4231
SELECT 'GQTFACTY_0BCC65445CB74B02', 'type', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacilitytype', 'GQTFACTY_CODFACTY', 'gqt';
end
GO
if (136 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAMIL_CODFAMIL', 'codfamil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2921
SELECT 'GQTFAMIL_4DACDBF4B632429E', 'family', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfamil', 'GQTFAMIL_CODFAMIL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFTGRI_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup GRIDFTGRILEGENDA
SELECT 'GQTFTGRI_50DA018CA95B4BC3', 'legenda', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtftgri', 'GQTFTGRI_CODPHOTO', 'gqt';
end
GO
if (28 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGENRE_CODGENRE', 'codgenre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_161
SELECT 'GQTGENRE_D2445B6939324475', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgenre', 'GQTGENRE_CODGENRE', 'gqt';
end
GO
if (105 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGITEM_CODGITEM', 'codgitem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_9DD21082FA9247A5', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_7878C36CFE1B4BC9', 'itemgcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgitem', 'GQTGITEM_CODGITEM', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRPB_CODGRPB_', 'codgrpb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_EDITABLETABLELIST
SELECT 'GQTGRPB_E4CCA176FBAF42F1', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrpb', 'GQTGRPB_CODGRPB_', 'gqt';
end
GO
if (1022 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINPGR_CODINPGR', 'codinpgr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_361
SELECT 'GQTINPGR_E7ED4D01BED441AA', 'textgro', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinpgr', 'GQTINPGR_CODINPGR', 'gqt';
end
GO
if (502 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTKINDE_CODKINDE', 'codkinde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4121
SELECT 'GQTKINDE_4719523175F04538', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtkindofequipment', 'GQTKINDE_CODKINDE', 'gqt';
end
GO
if (128 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLANGU_CODLANG_', 'codlang', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_921
SELECT 'GQTLANGU_5E587597389D4C0B', 'langua', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlangu', 'GQTLANGU_CODLANG_', 'gqt';
end
GO
if (1745 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtmem', 'GQTMEM_CODMEM__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTORGAN_CODORGAN', 'codorgan', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup VENDAORGANORGANIZA
SELECT 'GQTORGAN_5C94D6BFAC734FE9', 'organiza', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtorgan', 'GQTORGAN_CODORGAN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUDOC_CODDOCSD', 'coddocsd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUDOC
SELECT 'GQTOUDOC_D45DDC2501AC4F3A', 'nrdocsda', 1, 1, 0, 0
UNION ALL
SELECT 'GQTOUDOC_D45DDC2501AC4F3A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoudoc', 'GQTOUDOC_CODDOCSD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPEDID_CODPEDID', 'codpedid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PEDID
SELECT 'GQTPEDID_B082F12EF7FE4B32', 'nrpedido', 1, 1, 0, 0
UNION ALL
SELECT 'GQTPEDID_B082F12EF7FE4B32','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_281
SELECT 'GQTPEDID_E9A90CC6D0734583', 'dtpedido', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpedid', 'GQTPEDID_CODPEDID', 'gqt';
end
GO
if (520 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERIO_CODPERIO', 'codperio', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtperiod', 'GQTPERIO_CODPERIO', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERSO_CODPERSO', 'codperso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_4461C8F14A8446A6', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_4461C8F14A8446A6', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_CF734A5F354B4147', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtperson', 'GQTPERSO_CODPERSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPSNGR_CODPSNGR', 'codpsngr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSPSNGRFSTNAME
SELECT 'GQTPSNGR_86D182A95FAC44C4', 'fstname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpsngr', 'GQTPSNGR_CODPSNGR', 'gqt';
end
GO
if (1746 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup USERSPSWNOME
SELECT 'GQTPSW_CBC54F8002D2410E', 'nome', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIS_CODREGIS', 'codregis', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_2122E3BB54F34162', 'nif', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_2122E3BB54F34162','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_AEA495C1F45A4D19', 'email1', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_AEA495C1F45A4D19','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu REG_111
SELECT 'GQTREGIS_E9A540E961774F9C', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregis', 'GQTREGIS_CODREGIS', 'gqt';
end
GO
if (542 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROGL1_CODROGL1', 'codrogl1', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_431
SELECT 'GQTROGL1_8D6E0672AEFF40E8', 'title', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrogl1', 'GQTROGL1_CODROGL1', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROLE_CODROLE_', 'codrole', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrole', 'GQTROLE_CODROLE_', 'gqt';
end
GO
if (78 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROOMS_CODROOMS', 'codrooms', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_8A2F8BA2B7A94D26', 'roomnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_30F7CE02E04E41BF', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrooms', 'GQTROOMS_CODROOMS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDF_CODRORDF', 'codrordf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDF
SELECT 'GQTRORDF_FB94B6AFC4574489', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDF_FB94B6AFC4574489','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordf', 'GQTRORDF_CODRORDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDI_CODRORDI', 'codrordi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDI
SELECT 'GQTRORDI_A541D5CCCE3F4C21', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDI_A541D5CCCE3F4C21','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordi', 'GQTRORDI_CODRORDI', 'gqt';
end
GO
if (491 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRULES_CODREGRA', 'codregra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrules', 'GQTRULES_CODREGRA', 'gqt';
end
GO
if (1750 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'gqt';
end
GO
if (1749 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'gqt';
end
GO
if (1748 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSBCAT_CODSBCAT', 'codsbcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup TPCATSBCATSUBCATEG
SELECT 'GQTSBCAT_B9FF5356D9E54019', 'subcateg', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsbcat', 'GQTSBCAT_CODSBCAT', 'gqt';
end
GO
if (12 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSHITY_CODSHITY', 'codshity', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtshity', 'GQTSHITY_CODSHITY', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPACE_CODESPAC', 'codespac', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtspace', 'GQTSPACE_CODESPAC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPECI_CODESPEC', 'codespec', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_6836FB37F2DF4F46', 'especial', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_6836FB37F2DF4F46', 'areatecn', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites REPARSPECIESPECIAL
SELECT 'GQTSPECI_946CCAE8D35142BE', 'areatecn', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtspeci', 'GQTSPECI_CODESPEC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTAKE_CODPARTE', 'codparte', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PESS1STAKEDESIGNAT
SELECT 'GQTSTAKE_ACA85F9672764DFE', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtstake', 'GQTSTAKE_CODPARTE', 'gqt';
end
GO
if (3 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTRAT_CODESTRA', 'codestra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtstrat', 'GQTSTRAT_CODESTRA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTEAMP_CODEQJOG', 'codeqjog', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup JOGOSTEAMPEQUIPA
SELECT 'GQTTEAMP_55BBD7F2280749E4', 'equipa', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtteamp', 'GQTTEAMP_CODEQJOG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPPRO_CODTPPRO', 'codtppro', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PROPR00TPPROTPPROPRI
SELECT 'GQTTPPRO_01018F6FEF5B4C53', 'tppropri', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttppro', 'GQTTPPRO_CODTPPRO', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRSB_CODTRSB_', 'codtrsb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3151
SELECT 'GQTTRSB_2B101209ED1F4B59', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttrsb', 'GQTTRSB_CODTRSB_', 'gqt';
end
GO
if (250 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUICOM_CODUICOM', 'coduicom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_OVERVIEW
SELECT 'GQTUICOM_8FFD81784AE54A02', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtuicom', 'GQTUICOM_CODUICOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWAREH_CODWAREH', 'codwareh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_26BA83BB28144FAA', 'warehdes', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWAREH_26BA83BB28144FAA','showreco', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_BCBBA0769D4849B1', 'warehcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtwareh', 'GQTWAREH_CODWAREH', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTYEAR_CODYEAR_', 'codyear', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A31
SELECT 'GQTYEAR_6CF650BE1F614CFD', 'year', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtyear', 'GQTYEAR_CODYEAR_', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPL_CODAIRPL', 'codairpl', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtairpl', 'GQTAIRPL_CODAIRPL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPT_CODAIRPT', 'codairpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup FLIGHAIRPTAIRPTNAM
SELECT 'GQTAIRPT_7F2756646AF045CE', 'airptnam', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairpt', 'GQTAIRPT_CODAIRPT', 'gqt';
end
GO
if (1030 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATTP_CODTPCAT', 'codtpcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_471
SELECT 'GQTCATTP_34BFCF9FCCB74A9D', 'tpcatego', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcattp', 'GQTCATTP_CODTPCAT', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CITY
SELECT 'GQTCITY_851F0ED940D049B3', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcity', 'GQTCITY_CODCITY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPNY_CODEMPRE', 'codempre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_664B9576F22D4A44', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_664B9576F22D4A44', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_7E25082F2DD34368', 'acronym', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_29254659B45B44FE', 'nif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_31E363EEFB364B4A', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_BEECF8BC2541484B', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_60138792F1C5492F', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcmpny', 'GQTCMPNY_CODEMPRE', 'gqt';
end
GO
if (1539 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACIL_CODFACIL', 'codfacil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_53469B0B35814B42', 'codentit', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_53469B0B35814B42', 'incorpor', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_4211
SELECT 'GQTFACIL_50F164BEFD944E94', 'incorpor', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_FC6E7724CF4545C9', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_FC6E7724CF4545C9', 'codentit', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacility', 'GQTFACIL_CODFACIL', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAQS_CODFAQS_', 'codfaqs', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_35911
SELECT 'GQTFAQS_3D97E873F9F64939', 'codcfaqs', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfaqs', 'GQTFAQS_CODFAQS_', 'gqt';
end
GO
if (1024 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGLOB_CODGLOB_', 'codglob', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtglob', 'GQTGLOB_CODGLOB_', 'gqt';
end
GO
if (1725 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEM_CODITEM_', 'coditem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_82E62BF030554093', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_82E62BF030554093', 'codwareh', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_451
SELECT 'GQTITEM_BDA3FECE46B7432C', 'itemcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTITEM_BDA3FECE46B7432C','valid', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_9AD982DE71654F2D', 'codwareh', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_9AD982DE71654F2D', 'itemcod', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtitem', 'GQTITEM_CODITEM_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMANUA_CODMANUA', 'codmanua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP KINDEPSEUDMANUALS
SELECT 'GQTMANUA_C18858B48B1E43BC', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmanualtocollect', 'GQTMANUA_CODMANUA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPARAM_CODPARAM', 'codparam', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_BEE25FD0C23044E8', 'parameter', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_BEE25FD0C23044E8', 'codkinde', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_AF70C5803AEA43B1', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtparameter', 'GQTPARAM_CODPARAM', 'gqt';
end
GO
if (467 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRPIN_CODPESSO', 'codpesso', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtprpin', 'GQTPRPIN_CODPESSO', 'gqt';
end
GO
if (172 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWORG_CODPWORG', 'codpworg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTPWORG_B9F2162462BA47E7', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpworg', 'GQTPWORG_CODPWORG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGF_CODROIGF', 'codroigf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_BA51654C7C5B40B8', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_BA51654C7C5B40B8', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_BA51654C7C5B40B8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4311
SELECT 'GQTROIGF_80992DA0C6994D5C', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_C091AAA93865417A', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_C091AAA93865417A', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_C091AAA93865417A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigf', 'GQTROIGF_CODROIGF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGI_CODROIGI', 'codroigi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_1D9985E69D994038', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_1D9985E69D994038', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_1D9985E69D994038','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4411
SELECT 'GQTROIGI_26313A8F9FF3447D', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_342885F372894FC8', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_342885F372894FC8', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_342885F372894FC8','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigi', 'GQTROIGI_CODROIGI', 'gqt';
end
GO
if (1751 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'gqt';
end
GO
if (1752 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'gqt';
end
GO
if (1747 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_5BF3DBBE672B4FE6', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_5BF3DBBE672B4FE6', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'GQTS_UA_5BF3DBBE672B4FE6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemApaga PSW
SELECT 'GQTS_UA_01A669EDBB394BC4', 'codpsw', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALE_CODVENDA', 'codvenda', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALE_40ADFFCF43D349CA', 'codorgan', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_511
SELECT 'GQTSALE_CD58A08C05D1418C', 'startdt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTSALE_CD58A08C05D1418C','showrcrd', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtsale', 'GQTSALE_CODVENDA', 'gqt';
end
GO
if (517 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALES_CODSALES', 'codsales', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALES_CF3ABEA88DFE4B07', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsales', 'GQTSALES_CODSALES', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLB_CODTBLB_', 'codtblb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3131
SELECT 'GQTTBLB_AC94DA24055E41CD', 'text', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblb', 'GQTTBLB_CODTBLB_', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLK_CODTBLK_', 'codtblk', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3161
SELECT 'GQTTBLK_D98247A8F636478E', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblk', 'GQTTBLK_CODTBLK_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTICKT_CODTICKT', 'codtickt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSTICKTTKTID
SELECT 'GQTTICKT_C78066DCC3C04C93', 'tktid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSTICKTTKTID
SELECT 'GQTTICKT_B5273CDBCAD84FDD', 'codpsngr', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttickt', 'GQTTICKT_CODTICKT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPCON_CODTPCON', 'codtpcon', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_05C8239640C0429C', 'tipocont', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_05C8239640C0429C', 'codgenre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites CONTATPCONTIPOCONT
SELECT 'GQTTPCON_B4211EFFA0E94C7E', 'codgenre', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpcon', 'GQTTPCON_CODTPCON', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPEQU_CODTPEQU', 'codtpequ', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup TPEQU
SELECT 'GQTTPEQU_95B9EF2FBDF242A9', 'tpequcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTTPEQU_95B9EF2FBDF242A9','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D11
SELECT 'GQTTPEQU_499750A4E41B4368', 'tipoequi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FAMI1PSEUDTIPOSEQU
SELECT 'GQTTPEQU_50ABBD7C21B44B95', 'codfamil', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpequ', 'GQTTPEQU_CODTPEQU', 'gqt';
end
GO
if (10 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUSERS_CODUSERS', 'codusers', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtusers', 'GQTUSERS_CODUSERS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWPESS_CODPESS_', 'codpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR WAREH
SELECT 'GQTWPESS_695A9E9E785E4A5F', 'codwareh', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_695A9E9E785E4A5F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu STY_IMGBACKGROUND
SELECT 'GQTWPESS_08F30188D35E4129', 'date', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_PESSCARD
SELECT 'GQTWPESS_392DE0B0F4574455', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_392DE0B0F4574455','showreco', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtwpess', 'GQTWPESS_CODPESS_', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGAMES_CODGAMES', 'codgames', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtgames', 'GQTGAMES_CODGAMES', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMC_CODCATAR', 'codcatar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_47A5399671B84C7E', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_47A5399671B84C7E', 'codtpcat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DV relacao1 ARTIGPSEUDCATEGORI
SELECT 'GQTITEMC_842651C2BD374F76', 'codtpcat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtitemc', 'GQTITEMC_CODCATAR', 'gqt';
end
GO
if (1512 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMP_CODITEMP', 'coditemp', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtitemp', 'GQTITEMP_CODITEMP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHPD_CODLNHPD', 'codlnhpd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_A93E712D16E046AE', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_A93E712D16E046AE', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_A93E712D16E046AE','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB limites LNHDELNHPDLINE
SELECT 'GQTLNHPD_906A695793444B8A', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_8730839D201C49DC', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_8730839D201C49DC', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_8730839D201C49DC','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhpd', 'GQTLNHPD_CODLNHPD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPT_CODOUTPT', 'codoutpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_DDD72DE5ADFC4759', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_DDD72DE5ADFC4759', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_DDD72DE5ADFC4759','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDSAIOUTPTDOCUMENR
SELECT 'GQTOUTPT_47EFEAF2A1174577', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_BB14A482E456408C', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_BB14A482E456408C', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_BB14A482E456408C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpt', 'GQTOUTPT_CODOUTPT', 'gqt';
end
GO
if (155 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROJE_CODPROJE', 'codproje', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A11
SELECT 'GQTPROJE_C76A712CAF0746AA', 'projecto', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproje', 'GQTPROJE_CODPROJE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPE_CODPROPE', 'codprope', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PROPE
SELECT 'GQTPROPE_8938FDBE61154CB2', 'order', 0, 1, 0, 0
UNION ALL
SELECT 'GQTPROPE_8938FDBE61154CB2','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_65C41A6AAD45432F', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_65C41A6AAD45432F', 'codagent', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_297F854D8689422A', 'codagent', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprope', 'GQTPROPE_CODPROPE', 'gqt';
end
GO
if (521 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIO_CODREGIA', 'codregia', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_B7AA382C84534BE5', 'regiao', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_B7AA382C84534BE5', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_1BE2991DFC97454E', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregio', 'GQTREGIO_CODREGIA', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTABPR_CODTABPR', 'codtabpr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_D4588A86011C4AF8', 'codtpeq1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_D4588A86011C4AF8', 'precohor', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_D4588A86011C4AF8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_40FFDDB3B90B4DFC', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_40FFDDB3B90B4DFC', 'codtpeq1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_40FFDDB3B90B4DFC','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqttabpr', 'GQTTABPR_CODTABPR', 'gqt';
end
GO
if (130 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRADU_CODTRADU', 'codtradu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_2515174DCEA44D9C', 'codidio2', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_2515174DCEA44D9C', 'atraduzi', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_911
SELECT 'GQTTRADU_DD8E4F1D73E74D60', 'referenc', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttradu', 'GQTTRADU_CODTRADU', 'gqt';
end
GO
if (1642 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGREG_CODAGGRE', 'codaggre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_0BE0A5F617394D05', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_0BE0A5F617394D05', 'year', 0, 2, 0, 0
UNION ALL
-- Index with origin: Formula SR YEAR
SELECT 'GQTAGREG_BA34DB4856A845DC', 'codyear', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGREG_BA34DB4856A845DC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_721FB031A1434045', 'value', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_721FB031A1434045', 'codproje', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_721FB031A1434045', 'codyear', 0, 3, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_B6700809C3CC4198', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_B6700809C3CC4198', 'codyear', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtagreg', 'GQTAGREG_CODAGGRE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPKI_CODCMPKI', 'codcmpki', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_9EBDAA18152849B7', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_9EBDAA18152849B7', 'codtpequ', 0, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_9EBDAA18152849B7','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2A11
SELECT 'GQTCMPKI_EAB310B1D0214325', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_735AC448816E4C2C', 'codtpequ', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_735AC448816E4C2C', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_735AC448816E4C2C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtcmpki', 'GQTCMPKI_CODCMPKI', 'gqt';
end
GO
if (1553 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTENTIT_CODENTIT', 'codentit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_511
SELECT 'GQTENTIT_F3157E2075904DF6', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTENTIT_F3157E2075904DF6','supplier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_F3157E2075904DF6','carrier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_F3157E2075904DF6','manufact', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtentity', 'GQTENTIT_CODENTIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLIGH_CODFLIGH', 'codfligh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLIGHFLIGHTID
SELECT 'GQTFLIGH_4F09C5D785AD4A02', 'flightid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfligh', 'GQTFLIGH_CODFLIGH', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHAG_CODLNHAG', 'codlnhag', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PEDIDPSEUDAGRUPAME
SELECT 'GQTLNHAG_8D19695D651D4DF6', 'codpedid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhag', 'GQTLNHAG_CODLNHAG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPU_CODOUTPU', 'codoutpu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_D7EC3D74C1394F54', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_D7EC3D74C1394F54', 'exitdt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_D7EC3D74C1394F54','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_EB26E18402A34902', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_EB26E18402A34902', 'codoutpt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_EB26E18402A34902','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DSAIDPSEUDSAIDAS
SELECT 'GQTOUTPU_3539CFFC1AB3478A', 'codoutpt', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_FD8B2C88B06E44D1', 'codoutpt', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_FD8B2C88B06E44D1', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_FD8B2C88B06E44D1','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpu', 'GQTOUTPU_CODOUTPU', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROCN_CODPROCN', 'codprocn', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CONTACTS
SELECT 'GQTPROCN_E0A10FB3857D40A3', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE10PSEUDPROPCONT
SELECT 'GQTPROCN_D5A348D4836A4C6F', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprocn', 'GQTPROCN_CODPROCN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPH_CODPROPH', 'codproph', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03PHOTOS
SELECT 'GQTPROPH_59226FEA7A444C5C', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE11PSEUDPROPHOTO
SELECT 'GQTPROPH_A1ABC76BE4BF4564', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproph', 'GQTPROPH_CODPROPH', 'gqt';
end
GO
if (169 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWREG_CODPWREG', 'codpwreg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph REGIAO
SELECT 'GQTPWREG_26613F03579D473B', 'codregia', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwreg', 'GQTPWREG_CODPWREG', 'gqt';
end
GO
if (1588 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISPA_CODDISPA', 'coddispa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DISPA
SELECT 'GQTDISPA_F53AA9223CF5423B', 'dispanr', 1, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_F53AA9223CF5423B','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_2211
SELECT 'GQTDISPA_8CCDCD660EFC4149', 'dispadt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_8CCDCD660EFC4149','isprepar', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatch', 'GQTDISPA_CODDISPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEXPEN_CODDESPE', 'coddespe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT EXPEN
SELECT 'GQTEXPEN_AB2262B0EF834525', 'yearnumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR AGREG
SELECT 'GQTEXPEN_38376E6EB1504C03', 'codaggre', 0, 1, 0, 0
UNION ALL
SELECT 'GQTEXPEN_38376E6EB1504C03','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_A21
SELECT 'GQTEXPEN_63F93F42965B4C91', 'descript', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP ANOPSEUDTODASDES
SELECT 'GQTEXPEN_2AB73F5E6A994109', 'codyear', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROJEPSEUDDESPESAS
SELECT 'GQTEXPEN_142E653385AA42EE', 'codproje', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtexpen', 'GQTEXPEN_CODDESPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLTSC_CODFLTSC', 'codfltsc', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_05939D57D222452C', 'scaleid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_21F05C2C15DF430C', 'codfligh', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfltsc', 'GQTFLTSC_CODFLTSC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDE_CODLNHDE', 'codlnhde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemApaga LNHPD
SELECT 'GQTLNHDE_689DAC97543640FB', 'codlnhpd', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_9B5B1BCFC2BF4211', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_9B5B1BCFC2BF4211', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_9B5B1BCFC2BF4211','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula SR LNHAG
SELECT 'GQTLNHDE_8B90E364AED54463', 'codlnhag', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLNHDE_8B90E364AED54463','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PEDIDPSEUDDESAGREG
SELECT 'GQTLNHDE_070699D72ED842AF', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_2277049BB7214FD5', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_2277049BB7214FD5', 'codlnhpd', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_915BF43027C04902', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_915BF43027C04902', 'ordem', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_915BF43027C04902','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhde', 'GQTLNHDE_CODLNHDE', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLOCAT_CODLOCAT', 'codlocat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4251
SELECT 'GQTLOCAT_90D4E50972BB4536', 'gln', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocation', 'GQTLOCAT_CODLOCAT', 'gqt';
end
GO
if (506 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMESSA_CODMESSA', 'codmessa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_611
SELECT 'GQTMESSA_104FC58CB27A4013', 'idnotif', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmessages', 'GQTMESSA_CODMESSA', 'gqt';
end
GO
if (1737 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPESSO_CODPESSO', 'codpesso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_74EAC130781F45C1', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_74EAC130781F45C1', 'idfuncio', 1, 2, 0, 0
UNION ALL
SELECT 'GQTPESSO_74EAC130781F45C1','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_DF2FC87DB6844757', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_DF2FC87DB6844757', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_DF2FC87DB6844757', 'gender', 0, 3, 0, 0
UNION ALL
SELECT 'GQTPESSO_DF2FC87DB6844757','interna', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_271
SELECT 'GQTPESSO_4D30A0B449BA4BAE', 'dtultcat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_C9E1FF3F78CF43BF', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_C9E1FF3F78CF43BF', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_AEDFCAF9BFC5441A', 'gender', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_747CD5C995DC402B', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_747CD5C995DC402B', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_F97D74093D2A4804', 'dtnascim', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_FC48A15E814741BA', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_34C85D63149A42D3', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_5836F32260554168', 'email2', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites PROPRALLPESSONAME
SELECT 'GQTPESSO_435E6932DA7E41B6', 'codpaise', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_841F65903EE44550', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_841F65903EE44550', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_6993E62A34CE4C15', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_6993E62A34CE4C15', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_D3DD2E268C1F4CA4', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_D3DD2E268C1F4CA4', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_D3DD2E268C1F4CA4', 'codpaise', 0, 3, 0, 0

exec CheckIdxTmp @tabela, 'gqtpessoas', 'GQTPESSO_CODPESSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRECEI_CODRECEI', 'codrecei', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RECEI
SELECT 'GQTRECEI_304C2BD0D3B84096', 'number', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRECEI_304C2BD0D3B84096','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_111
SELECT 'GQTRECEI_D9B98B9D758F4E75', 'dtreceip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtreceipt', 'GQTRECEI_CODRECEI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSET_CODASSET', 'codasset', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ASSET
SELECT 'GQTASSET_1CFF967528594671', 'assetnum', 1, 1, 0, 0
UNION ALL
SELECT 'GQTASSET_1CFF967528594671','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_06D582285700421E', 'assettyp', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_A6AEFC7F00E84127', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_A6AEFC7F00E84127', 'assettyp', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtasset', 'GQTASSET_CODASSET', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTBRDPS_CODBRDPS', 'codbrdps', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtbrdps', 'GQTBRDPS_CODBRDPS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCONTA_CODCONTA', 'codconta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_141
SELECT 'GQTCONTA_5143DB7D87754D24', 'contacto', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDCONTACTO
SELECT 'GQTCONTA_4953CE00A7CA480D', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtconta', 'GQTCONTA_CODCONTA', 'gqt';
end
GO
if (115 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTESPPE_CODESPPE', 'codesppe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV relacaoF PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_95F356FCE418488F', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV relacao1 PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_CDA0018F4FF44507', 'codespec', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtesppe', 'GQTESPPE_CODESPPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEVCAT_CODPROGR', 'codprogr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_D64AB34E0CEF4271', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_D64AB34E0CEF4271', 'codpesso', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEVCAT_D64AB34E0CEF4271','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDEVOLUCAO
SELECT 'GQTEVCAT_B95D86039ECB4BF7', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtevcat', 'GQTEVCAT_CODPROGR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRID_CODGRID_', 'codgrid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PESSOGRIPSEUDGRID1
SELECT 'GQTGRID_69DD0F53DCA64044', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrid', 'GQTGRID_CODGRID_', 'gqt';
end
GO
if (1497 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTHPESS_CODHPESS', 'codhpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemDesmarca PESSO
SELECT 'GQTHPESS_F9382735A8AA4191', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu PTN_1421
SELECT 'GQTHPESS_6B34A291ED844695', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqthpess', 'GQTHPESS_CODHPESS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINDOC_CODDENTR', 'coddentr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5B5FA07BFBDB41CB', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5B5FA07BFBDB41CB', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_5B5FA07BFBDB41CB','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDENTNORINDOCDOCUMENR
SELECT 'GQTINDOC_39317E0D246D4A70', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_BBE0C4F8C30D4D57', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_BBE0C4F8C30D4D57', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_BBE0C4F8C30D4D57','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtindoc', 'GQTINDOC_CODDENTR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLCEXT_CODLCEXT', 'codlcext', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_F17AF5E3945547CC', 'glnext', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_F17AF5E3945547CC', 'codlocat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_C368474A43024AFC', 'codlocat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocationextension', 'GQTLCEXT_CODLCEXT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDF_CODLNHDF', 'codlnhdf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP LNHDEPSEUDLNPROPS
SELECT 'GQTLNHDF_AA3836BF5EAB4AAA', 'codlnhde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhdf', 'GQTLNHDF_CODLNHDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPR_CODPROPR', 'codpropr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_1921D482DE364096', 'codregia', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_1921D482DE364096', 'codpais1', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_B2F2D411B9424BDD', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_B2F2D411B9424BDD', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_5A12961C84004EBB', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpropr', 'GQTPROPR_CODPROPR', 'gqt';
end
GO
if (1365 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAFINI_CODAFINI', 'codafini', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTAFINI_A663A919F4314A71', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtafini', 'GQTAFINI_CODAFINI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSMA_CODASSMA', 'codassma', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET03PSEUDDOCUMENT
SELECT 'GQTASSMA_B1CF93CA287446C3', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetmanual', 'GQTASSMA_CODASSMA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSPA_CODASSPA', 'codasspa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET04PSEUDPARAMETE
SELECT 'GQTASSPA_F98F001A7CF248C5', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetparameter', 'GQTASSPA_CODASSPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTATTAC_CODATTAC', 'codattac', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_B7FCADFCD9134AD3', 'codasset', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_C6640670E82F43F3', 'attached', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_C6640670E82F43F3', 'codasset', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtattachment', 'GQTATTAC_CODATTAC', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEQUIP_CODEQUIP', 'codequip', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_7EC76A96C8E649BB', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_7EC76A96C8E649BB', 'designat', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_7EC76A96C8E649BB','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemDesmarca DECOM
SELECT 'GQTEQUIP_86A619CF27E9478C', 'coddeco', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_6921482F2E0E4DEA', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_6921482F2E0E4DEA', 'sequennr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_6921482F2E0E4DEA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTEQUIP_F1D78EA76FE54020', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_5B2506B978EC4697', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_5B2506B978EC4697', 'coddeco', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_5B2506B978EC4697','bought', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_5B2506B978EC4697','ifabatif', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_5B2506B978EC4697','showrc', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_C4DD4E2DA5934F67', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_C4DD4E2DA5934F67', 'codtpequ', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_BE5E86A6327A4FA7', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_BE5E86A6327A4FA7', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu PTN_3G11
SELECT 'GQTEQUIP_D43C03FF40DF4455', 'dtaquisi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_8D4B892C21304340', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_8D4B892C21304340', 'codpess1', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtequip', 'GQTEQUIP_CODEQUIP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLDENT_CODLDENT', 'codldent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_0EEA4FE7B1D7403D', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_0EEA4FE7B1D7403D', 'coddentr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_0EEA4FE7B1D7403D','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_8E60BD7CE4274723', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_8E60BD7CE4274723', 'dhentra', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_8E60BD7CE4274723','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DENTRPSEUDENTRADAS
SELECT 'GQTLDENT_48684F7D8F8843CD', 'coddentr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_30586B4AA9C34D5E', 'coddentr', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_30586B4AA9C34D5E', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_30586B4AA9C34D5E','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtldent', 'GQTLDENT_CODLDENT', 'gqt';
end
GO
if (466 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTNOTIF_CODNOTIF', 'codnotif', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_C60AE22E1EF046A0', 'begin', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_94C81B2187D848E8', 'end', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_704AF0C432D744DC', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_7D7FEECA0F8C45BC', 'idnotif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_399902C04EEF4024', 'idmsg', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_26A0F6CA562D48B3', 'mailerr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_912549C47B084A50', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_8096853334BB4C28', 'creatdat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_EA96DEF656314BB2', 'creatope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtnotif', 'GQTNOTIF_CODNOTIF', 'gqt';
end
GO
if (501 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRODU_CODPRODU', 'codprodu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_311
SELECT 'GQTPRODU_1E622285E9D04FE8', 'product', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproduct', 'GQTPRODU_CODPRODU', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWCOM_CODPWCOM', 'codpwcom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTPWCOM_45F1CAEA5C2C4EE6', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwcom', 'GQTPWCOM_CODPWCOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTANEXD_CODANEXD', 'codanexd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_931
SELECT 'GQTANEXD_4F6B23B670E244BD', 'dthranex', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP EQUDOCUMPSEUDLISANEX
SELECT 'GQTANEXD_6881F7293A484E24', 'codequip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtanexd', 'GQTANEXD_CODANEXD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDILIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_E8F21E7FA6E14F84', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_E8F21E7FA6E14F84', 'coddispa', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_E8F21E7FA6E14F84','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_45F02A9CB23B49BC', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_45F02A9CB23B49BC', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_45F02A9CB23B49BC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DISPAPSEUDDISPATCH
SELECT 'GQTDILIN_18BA108B9397440A', 'coddispa', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_DDCE3DEC80EC4358', 'coddispa', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_DDCE3DEC80EC4358', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_DDCE3DEC80EC4358','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatchline', 'GQTDILIN_CODDILIN', 'gqt';
end
GO
if (1569 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLDS_CODFLDS_', 'codflds', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu QWB_11
SELECT 'GQTFLDS_976B6979F154438B', 'duration', 0, 1, 0, 0
UNION ALL
SELECT 'GQTFLDS_976B6979F154438B','shwrc', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtflds', 'GQTFLDS_CODFLDS_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINSTA_CODINSTA', 'codinsta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR EQUIP
SELECT 'GQTINSTA_7BBD1CB8D46A4A5E', 'codequip', 0, 1, 0, 0
UNION ALL
SELECT 'GQTINSTA_7BBD1CB8D46A4A5E','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_261
SELECT 'GQTINSTA_6801A03202884972', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_LEAFLET
SELECT 'GQTINSTA_EC937C37D5AF4BFF', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP TPEQUPSEUDINSTALAC
SELECT 'GQTINSTA_B4A1EFEB1B434C1B', 'codtpequ', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinsta', 'GQTINSTA_CODINSTA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLENDI_CODLENDI', 'codlendi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_DD03849B44BB41AA', 'lendinnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_DD03849B44BB41AA', 'codpess1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_DD03849B44BB41AA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_9EBFB6B8B08D4D7B', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_9EBFB6B8B08D4D7B', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_701CF52FF6114A6C', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_701CF52FF6114A6C', 'warndt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_701CF52FF6114A6C','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_701CF52FF6114A6C','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_5DF1B2CAE9D84FA6', 'warndt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_5DF1B2CAE9D84FA6','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_5DF1B2CAE9D84FA6','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_19B7A2CE2D7C4E16', 'end', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_19B7A2CE2D7C4E16','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_19B7A2CE2D7C4E16','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_382F2B2096A142FA', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_382F2B2096A142FA', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_1A45B5FD0665487C', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_1A45B5FD0665487C', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_D5713F92EA7C4B82', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_D5713F92EA7C4B82', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_5CEAEE14A5564E95', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_5CEAEE14A5564E95', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_07497C70EC5C41B2', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_07497C70EC5C41B2', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_4D9B8413D7704A2E', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_4D9B8413D7704A2E', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_E36E2E47BB604731', 'codpess1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_E36E2E47BB604731', 'lendinnr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_E36E2E47BB604731','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlendi', 'GQTLENDI_CODLENDI', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMOVIM_CODMOVIM', 'codmovim', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_405D8A466D4B403B', 'dhmudanc', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_405D8A466D4B403B', 'codequip', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_405D8A466D4B403B','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_72965F5F57ED4842', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_72965F5F57ED4842', 'codrooms', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_72965F5F57ED4842','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2511
SELECT 'GQTMOVIM_9DADE8ED38334371', 'codrooms', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmovim', 'GQTMOVIM_CODMOVIM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPHOTO_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_59A710A3C6194273', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_59A710A3C6194273', 'anexed', 0, 2, 0, 0
UNION ALL
SELECT 'GQTPHOTO_59A710A3C6194273','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_1F48307BFC3E4506', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_1F48307BFC3E4506', 'codequip', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtphoto', 'GQTPHOTO_CODPHOTO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRELIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_650F23966D0C4F15', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_650F23966D0C4F15', 'codrecei', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_650F23966D0C4F15','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_925FF81E5F6348BD', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_925FF81E5F6348BD', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_925FF81E5F6348BD','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP RECEIPSEUDRECEIPTL
SELECT 'GQTRELIN_FD458F19F3714A18', 'codrecei', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_AB0B808297974C18', 'codrecei', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_AB0B808297974C18', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_AB0B808297974C18','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtreceiptline', 'GQTRELIN_CODDILIN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREPAR_CODREPAR', 'codrepar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_B04C6287F83047BE', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_B04C6287F83047BE', 'nrrepara', 1, 2, 0, 0
UNION ALL
SELECT 'GQTREPAR_B04C6287F83047BE','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_REPAIR_LIST
SELECT 'GQTREPAR_830EA342A73B4AE4', 'dtrepara', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_49ADB10BB8F64BDD', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_49ADB10BB8F64BDD', 'nrrepara', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtrepar', 'GQTREPAR_CODREPAR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTVISIT_CODVISIT', 'codvisit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_13934303956F4ABB', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_13934303956F4ABB', 'startdt', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_07ECBA2594544F5D', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_07ECBA2594544F5D', 'codequip', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_FE0F64755BD8412A', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_FE0F64755BD8412A', 'dtfim', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_60F415384C624D0E', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_60F415384C624D0E', 'color', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtvisit', 'GQTVISIT_CODVISIT', 'gqt';
end
GO
if (1560 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFEECA_CODFEECA', 'codfeeca', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1931
SELECT 'GQTFEECA_8CB81C8FA01B4A96', 'feedback', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FLDSTBLPSEUDFEECA
SELECT 'GQTFEECA_E7E51CC02C8B410D', 'codflds', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfeeca', 'GQTFEECA_CODFEECA', 'gqt';
end
GO

if (1752 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'gqtalerta_alerta01'))
	DROP INDEX gqtalerta_alerta01 ON gqtalerta
CREATE INDEX gqtalerta_alerta01 ON gqtalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit01'))
	DROP INDEX gqtpostit_postit01 ON gqtpostit
CREATE INDEX gqtpostit_postit01 ON gqtpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit02'))
	DROP INDEX gqtpostit_postit02 ON gqtpostit
CREATE INDEX gqtpostit_postit02 ON gqtpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit03'))
	DROP INDEX gqtpostit_postit03 ON gqtpostit
CREATE INDEX gqtpostit_postit03 ON gqtpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit04'))
	DROP INDEX gqtpostit_postit04 ON gqtpostit
CREATE INDEX gqtpostit_postit04 ON gqtpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit05'))
	DROP INDEX gqtpostit_postit05 ON gqtpostit
CREATE INDEX gqtpostit_postit05 ON gqtpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit06'))
	DROP INDEX gqtpostit_postit06 ON gqtpostit
CREATE INDEX gqtpostit_postit06 ON gqtpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit07'))
	DROP INDEX gqtpostit_postit07 ON gqtpostit
CREATE INDEX gqtpostit_postit07 ON gqtpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'gqtaltent_altent01'))
	DROP INDEX gqtaltent_altent01 ON gqtaltent
CREATE INDEX gqtaltent_altent01 ON gqtaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega01'))
	DROP INDEX gqtdelega_delega01 ON gqtdelega
CREATE INDEX gqtdelega_delega01 ON gqtdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega02'))
	DROP INDEX gqtdelega_delega02 ON gqtdelega
CREATE INDEX gqtdelega_delega02 ON gqtdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstusr_codpsw'))
	DROP INDEX gqtlstusr_codpsw ON gqtlstusr
CREATE INDEX gqtlstusr_codpsw ON gqtlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstcol_codlstusr'))
	DROP INDEX gqtlstcol_codlstusr ON gqtlstcol
CREATE INDEX gqtlstcol_codlstusr ON gqtlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstren_codlstusr'))
	DROP INDEX gqtlstren_codlstusr ON gqtlstren
CREATE INDEX gqtlstren_codlstusr ON gqtlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtusrwid_codlstusr'))
	DROP INDEX gqtusrwid_codlstusr ON gqtusrwid
CREATE INDEX gqtusrwid_codlstusr ON gqtusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid_name'))
	DROP INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid'))
	DROP INDEX gqttblcfg_codpsw_uuid ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid ON gqttblcfg (codpsw, uuid)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfgsel_codpsw_uuid'))
	DROP INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel
CREATE INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel (codpsw, uuid)



if (exists(select top 1 name from sys.indexes where name = 'loggqtall_loggqtall01'))
	DROP INDEX loggqtall_loggqtall01 ON loggqtall
CREATE CLUSTERED INDEX [loggqtall_loggqtall01] ON [dbo].[logGQTall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE GQTcfg set versindx = 1752
end
GO