USE [W_GnBD]


DECLARE @codPsw uniqueidentifier 

DECLARE @codUserAuth uniqueidentifier 

IF NOT EXISTS (SELECT * FROM UserLogin WHERE nome = 'QUIDGEST') 
BEGIN
		set @codPsw = NewID()
		INSERT INTO UserLogin (codpsw, nome, password, zzstate) VALUES (@codPsw,'QUIDGEST', 'da_a]aZ\VYRJOPJFGLFA', 0)
END
else
	SELECT @codPsw = codpsw FROM UserLogin WHERE nome = 'QUIDGEST'

IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'XRS' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
	INSERT INTO UserAuthorization (codua, codpsw, sistema, modulo, nivel, zzstate) VALUES (@codUserAuth, @codPsw,'GQT', 'XRS', 99, 0)	
END
