.i-checkbox {
	display: inline-block;
	align-self: flex-end;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover input ~ &__field {
		background-color: $light;
	}

	&:hover input:checked ~ &__field {
		background-color: $primary-dark;
		border: 1px solid $primary-dark;
	}

	&__container {
		cursor: pointer;
		position: relative;
		height: 17px;
		width: 17px;

		&.disabled,
		&.disabled .i-checkbox:hover {
			input:checked ~ .i-checkbox__field {
				background-color: $gray;
				border: 1px solid $gray;
			}

			.i-checkbox__field {
				background-color: $light;
			}
		}

		input {
			cursor: pointer;
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;

			&:checked ~ .i-checkbox__field {
				background-color: $primary;
				border: 1px solid $primary;

				&:after {
					display: block;
				}
			}
		}
	}

	&__field {
		position: absolute;
		top: 0;
		left: 0;
		height: 17px;
		width: 17px;
		background-color: $input-bg;
		border: 1px solid $input-border-color;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 5px;
			top: 1px;
			width: 6px;
			height: 11px;
			border: solid $white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	&__label {
		display: flex;
		color: $input-label;
		cursor: pointer;
		gap: .25rem;
		line-height: 16px;
	}

	&__error {
		color: $danger;
		font-size: 0.875rem;
	}
}

.labelleft {
	.i-checkbox__container {
		margin-left: 0.2rem;
	}
}

.labelright {
	.i-checkbox__container {
		margin-right: 0.2rem;
	}
}
