/*******************************************************************************
 *                                                                             *
 *                            ~>  Wizard Styles  <~                            *
 *   These styles will only be available if the application has any wizards.   *
 *                                                                             *
 *******************************************************************************/

div.q-form-wizard-container {
	.hidden {
		display: none !important;
	}

	.q-wizard-container {
		position: relative;
		display: block;
		background-color: $container;
		margin-top: 1rem;
		padding-top: 1rem;
		border-radius: 0.25rem;
	}

	.horizontal-steps .carousel-control-prev,
	.horizontal-steps .carousel-control-next {
		margin-bottom: 1rem;
		width: 2rem;
		z-index: 2;
		cursor: pointer;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		filter: invert(100%);
	}

	.wizard-steps {
		position: relative;
	}

	.q-wizard__step {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $gray-light;
		color: #fff;
		padding: 0.5rem;
		cursor: pointer;
		border-radius: 0.25rem;

		&:hover {
			box-shadow: 0 0 8px rgba(33, 33, 33, 0.6);
		}

		&.disabled {
			pointer-events: none;

			.q-icon__svg {
				fill: #c2c8cc;
			}
		}

		a {
			box-shadow: none !important;

			&:hover {
				color: inherit !important;
			}
		}

		label {
			text-align: center;
			line-height: 1.2;
			cursor: pointer;
			font-size: 0.9rem;
		}

		.btn:focus {
			outline: $action-focus-width $action-focus-style $action-focus-color;
			box-shadow: none;
		}
	}

	ol.q-wizard__steps--horizontal {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	ol.q-wizard__steps--vertical {
		margin-left: -1rem;
	}

	.q-wizard__step-number {
		display: block;
		color: #fff;
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		border-radius: 50%;
		line-height: 1.35;
	}

	.q-wizard__step-icon {
		display: block;
		position: relative;
		margin: 0 auto;
		text-align: center;
		color: #fff;

		.q-icon {
			font-size: 30px;
			text-align: center;
			line-height: 2.5rem;
		}

		.icon-img {
			width: 20px;
			height: 20px;
		}
	}

	.current-step {
		box-shadow: 0 0 8px rgba(33, 33, 33, 0.6);
		pointer-events: none;

		.q-wizard__step-icon .q-icon {
			color: #fff;
		}
	}

	.q-wizard__step-link {
		text-align: center;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5;
		color: #fff;
		margin-top: -0.5rem;
	}

	.filled-step {
		background-color: $gray;
		opacity: 1;
	}

	.wizard-container .form-header span {
		color: $gray;
	}

	.wizard-progress {
		margin-left: -15px;
		margin-right: -15px;
	}

	.wizard-progress > .progress {
		border-radius: 0.25rem;
		margin-bottom: 1rem;
		height: 1.5rem;
	}

	.wizard-progress .q-progress {
		transition: width 0.8s ease;
	}

	.q-wizard-btn-disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}

	/* wizard step content */

	.wizard-content {
		padding: 0.25rem 1rem 1rem 1rem;
	}

	.q-wizard__content {
		background-color: $background;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: $on-background;
		height: fit-content;
		display: flex;
		flex-direction: column;
		position: relative;
		min-width: 0;
		word-wrap: break-word;
		border-radius: 0.25rem;

		&-container .wizard-content .c-tab__item-content {
			white-space: normal;
		}
	}

	.q-wizard__content-title {
		color: $on-primary;
		background-color: $primary;
		display: flex;
		align-items: center;
		border-radius: 0.25rem 0.25rem 0 0;
		padding: 0 1rem;
		height: 40px;
	}

	.q-wizard__content-title h3 {
		font-size: 1.25rem;
		font-weight: 700;
		letter-spacing: 0.02rem;
		margin-bottom: 0;
	}

	.q-wizard__content-title .q-wizard__step-number {
		display: flex;
		font-size: 2rem;
		text-align: left;
		width: auto;
		height: auto;
		margin-top: -0.25rem;
		margin-right: 0.75rem;
	}

	.q-wizard__content-title .q-wizard__step-icon {
		position: relative;
		display: flex;
		margin: 0 0.75rem 0 0;
		text-align: right;
	}

	.q-wizard__content-title .q-wizard__step-icon .q-icon {
		font-size: 28px;
		line-height: 1;
		margin: 0;
	}

	.q-wizard__content .c-groupbox {
		background-color: $container;
		border: none;
		border-top: none;
		padding: 1rem 0 0 0;
		border-radius: 0;
	}

	.q-wizard__content .c-groupbox:not(:first-child) {
		border-left: 2px solid rgba(0, 0, 0, 0.1);
		padding-left: 1rem;
	}

	.q-wizard__content-navigation {
		border-top: 1px solid rgba(0, 0, 0, 0.05);
		padding: 1rem;
	}

	.q-wizard__content-navigation button:not(:disabled),
	.q-wizard__content-navigation a:not(:disabled) {
		cursor: pointer;
	}

	.wiz-action.forward i.q-icon,
	.wiz-action.backward i.q-icon {
		margin-right: 0;
	}

	.navigation ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.navigation .q-btn .q-icon,
	.navigation .q-btn img {
		margin-right: 0;
	}

	.navigation li:not(:first-child) > button {
		margin-left: 10px;
	}

	.btn-align {
		display: flex;
		@if $btn-align-right {
			justify-content: flex-end;
		} @else {
			justify-content: flex-start;
		}
	}

	/* Small devices */

	@media (max-width: 575.98px) {
		.q-wizard-container {
			margin: auto;
		}

		.q-wizard__step-icon .q-icon {
			font-size: 1.5rem;
			line-height: 1.6;
			padding-top: 0;
		}

		.q-wizard__step-number {
			font-size: 1.5rem;
			width: auto;
			height: auto;
			line-height: 1.6;
		}

		.q-wizard__step-number .q-icon {
			padding-top: 0;
			line-height: 1.5;
		}

		.q-wizard__step-link {
			display: none;
		}

		.q-wizard__step label {
			display: none;
		}

		.q-button-label {
			display: none;
		}

		.q-wizard__content .c-groupbox:not(:first-child) {
			border-left: none;
		}

		.q-wizard__content .c-groupbox:not(:first-child) {
			border-top: 2px solid rgba(0, 0, 0, 0.1);
			padding-top: 1rem;
		}

		.q-wizard__content-title .q-wizard__step-icon .q-icon,
		.q-wizard__content-title .q-wizard__step-number .q-icon {
			font-size: 1.55rem;
		}

		.q-wizard__content-title h3 {
			font-size: 1.15rem;
		}

		.q-wizard__content-title .q-wizard__step-number {
			font-size: 1.55rem;
		}

		.q-wizard__content .c-groupbox {
			padding: 0.5rem !important;
		}

		ol.q-wizard__steps--vertical {
			position: relative;
			display: flex;
			flex-direction: row !important;
			flex-wrap: nowrap !important;
			justify-content: space-around !important;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}

		ol.q-wizard__steps--vertical > li {
			width: 15vw;
			border-radius: 0.25rem;
		}

		ol.q-wizard__steps--vertical li.q-wizard__step:not(:last-child) {
			margin-right: 0.5rem !important;
		}
	}

	@media (max-width: 992px) {
		.q-wizard-container {
			width: 100%;
		}
	}

	.step-buttons--container {
		.carousel-control-prev,
		.carousel-control-next {
			position: absolute;

			&:hover {
				border: 0;
			}

			&:focus {
				.q-btn__content {
					outline: $action-focus-width $action-focus-style $action-focus-color;
				}
			}
		}
	}

	@if $wizard-steps == 'rectangle' {
		/***************************************************************************
		 *                         Steps style: Rectangle                          *
		 ***************************************************************************/

		.current-step {
			background-color: $primary !important;
		}

		.q-wizard__step:hover {
			background-color: $gray-dark;
		}

		/* wizard steps horizontal */

		.horizontal-steps ol.q-wizard__steps--horizontal {
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			list-style: none;
			padding-left: 0;
			overflow: visible;
		}

		.horizontal-steps .q-wizard__steps--horizontal > li {
			width: 15vw;
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li:not(:last-child) {
			margin-right: 0.5rem;
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li:not(:first-child) {
			margin-left: 0.5rem;
		}

		.horizontal-steps .current-step label {
			text-align: center;
			color: #fff;
		}

		.horizontal-steps .current-step {
			transform: scale(1.07, 1.07);
		}

		/* wizard steps horizontal with color class .q-wizard-container--secondary */

		div.q-wizard-container--secondary .horizontal-steps .q-wizard-container {
			border: $secondary !important;
			background-color: $secondary !important;
			border-radius: 0.5rem;
		}

		.q-wizard-container--secondary .horizontal-steps ol.q-wizard__steps--horizontal {
			width: fit-content;
			margin: 0 auto 2rem auto;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step {
			background-color: $secondary;
			border: 1px solid $gray-light;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step:not(:last-child) {
			margin-right: 0.5rem;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step:hover {
			background-color: $hover-primary;
		}

		.q-wizard-container--secondary .horizontal-steps .q-wizard__step-icon .q-icon,
		.q-wizard-container--secondary .horizontal-steps .q-wizard__step-link {
			color: rgba(210, 218, 223, 0.7);
		}

		.q-wizard-container--secondary .horizontal-steps .q-wizard__step-icon .q-icon:hover,
		.q-wizard-container--secondary .horizontal-steps .q-wizard__step-link:hover {
			color: rgba(210, 218, 223, 1);
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step.filled-step {
			background-color: $gray;
			border: 1px solid $gray;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step.filled-step .q-icon {
			color: $light;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step.current-step {
			background-color: $primary;
			border: 1px solid $primary;
			transform: scale(1.09, 1.09);
			margin: 0 0.5rem;
		}

		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step.current-step .q-icon,
		.q-wizard-container--secondary .horizontal-steps li.q-wizard__step.current-step .q-wizard__step-link {
			color: $light;
		}

		.q-wizard-container--secondary .horizontal-steps .q-wizard__content {
			border: 1px solid $secondary;
		}

		/* wizard steps vertical */

		.vertical-steps ol.q-wizard__steps--vertical {
			position: relative;
			display: flex;
			flex-direction: column;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}

		.vertical-steps ol.q-wizard__steps--vertical li.q-wizard__step {
			width: 100%;
			margin-bottom: 1rem;
		}

		.vertical-steps ol.q-wizard__steps--vertical li.q-wizard__step:last-child {
			margin-bottom: 0;
		}

		.vertical-steps ol.q-wizard__steps--vertical li.q-wizard__step .q-wizard__step-number {
			display: initial;
			font-size: 1.5rem;
		}

		.vertical-steps .filled-step label,
		.vertical-steps .current-step label {
			text-align: center;
		}

		.vertical-steps .filled-step .q-icon {
			color: #fff;
		}

		.vertical-steps .current-step {
			transform: scale(1.07, 1.07);
		}

		div.wizard-steps.horizontal-steps > div.col-12 {
			display: flex;
			justify-content: center;
		}

		.horizontal-steps ol.q-wizard__steps--horizontal {
			justify-content: center;
		}

		ol.q-wizard__steps--horizontal {
			margin-left: -1.5rem;
			margin-right: -1rem;
		}

		.horizontal-steps .carousel-control-prev {
			background-color: transparent;
			transform: translate(-30px, 0);
		}

		.horizontal-steps .carousel-control-next {
			background-color: transparent;
			transform: translate(30px, 0);
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			filter: invert(100%);
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li:first-child {
			margin-left: 0.5rem;
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li.current-step:first-child {
			margin-left: 0.5rem;
		}

		.filled-step {
			background-color: #fff;
			opacity: 1;
			border: 2px solid $primary;
		}

		.filled-step i.q-icon,
		.filled-step a,
		.filled-step label,
		.filled-step .q-wizard__step-number {
			color: $primary;
		}

		.filled-step:hover {
			background-color: #eaebec;
			border: 2px solid $primary;
		}

		.filled-step a:hover {
			color: $primary !important;
		}

		.filled-step.current-step i.q-icon,
		.filled-step.current-step a,
		.filled-step.current-step label,
		.filled-step.current-step .q-wizard__step-number {
			color: #fff;
		}

		.filled-step:hover {
			background-color: #eaebec;
			border: 2px solid $primary;
		}

		.filled-step a:hover {
			color: $primary !important;
		}

		.vertical-steps .filled-step .q-icon {
			color: $primary;
		}

		.q-wizard__step-link i.q-icon {
			font-size: 1rem;
			line-height: 1;
		}

		/* Extra small devices (portrait phones, less than 576px) */

		@media (max-width: 575.98px) {
			.horizontal-steps ol.q-wizard__steps--horizontal {
				margin-bottom: 1rem !important;
			}

			.horizontal-steps ol.q-wizard__steps--horizontal > li:not(:last-child) {
				margin-right: 0.5rem !important;
			}

			.vertical-steps ol.q-wizard__steps--vertical li.q-wizard__step .q-wizard__step-number {
				display: block !important;
				font-size: 1.5rem !important;
			}

			.wrapper {
				margin-top: -1rem;
			}

			form.form-horizontal.wizard-form {
				margin-left: 7px;
				margin-right: 7px;
				margin-top: -1.5rem !important;
			}

			form.form-horizontal.wizard-form .mb-4 {
				margin-bottom: 0.5rem !important;
			}

			form.form-horizontal.wizard-form div.col-12 {
				padding: 0 5px !important;
			}

			form.form-horizontal.wizard-form div.c-groupbox {
				padding: 0.5rem !important;
				margin-bottom: 0.25rem !important;
			}

			.q-wizard-container {
				width: 100%;
				margin-top: 1rem;
				padding: 0;
			}

			.wizard-content {
				padding: 0;
			}

			.horizontal-steps .carousel-control-prev {
				background-color: transparent;
				transform: translate(-20px, 0);
			}

			.horizontal-steps .carousel-control-next {
				background-color: transparent;
				transform: translate(20px, 0);
			}

			.horizontal-steps ol.q-wizard__steps--horizontal.carousel_active {
				justify-content: center;
				width: 85%;
				margin: 0 auto;
			}

			.horizontal-steps ol.q-wizard__steps--horizontal > li:not(:last-child) {
				margin-right: 0.25rem !important;
			}

			.q-wizard__content {
				margin: 0 -1.3rem;
			}

			.wizard-area.q-wizard__content.compact.wizard input.input-xxlarge {
				width: 310px !important;
			}

			.q-wizard__content .c-groupbox {
				padding: 0 !important;
			}
		}
	}
	@else if $wizard-steps == 'circle' {
		/***************************************************************************
		 *                          Steps style: Circle                            *
		 ***************************************************************************/

		.q-wizard__step > a,
		.q-wizard__step > span {
			z-index: 2;
		}

		.filled-step .q-wizard__step-icon,
		.filled-step .q-wizard__step-number {
			background-color: $gray !important;
		}

		.step-buttons .q-wizard__step-icon,
		.step-buttons .q-wizard__step-number {
			min-width: 50px;
			min-height: 50px;
		}

		.q-wizard__step:not(.disabled) .q-wizard__step-link > .q-icon {
			color: $primary;
		}

		.q-wizard__step-link {
			color: $gray-light;
			font-size: 1.05rem;
		}

		.q-wizard__step-number {
			font-size: 2rem;
			line-height: 1.35;
		}

		.current-step .q-wizard__step-link {
			color: $gray-dark;
		}

		.filled-step .q-wizard__step-link {
			color: $gray;
			display: flex;
			align-items: center;
			gap: 0.3rem;
		}

		.filled-step:hover .q-wizard__step-icon,
		.filled-step:hover .q-wizard__step-number {
			background-color: $gray-dark !important;
			box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.75);
		}

		.filled-step:hover .q-wizard__step-link,
		.filled-step:hover label {
			color: $gray-dark !important;
		}

		.filled-step:hover .q-wizard__step-link > .q-icon {
			color: $hover-primary;
		}

		.step-buttons > li.disabled::after {
			background: $gray-light;
		}

		.step-buttons > li.filled-step::after {
			background: $gray;
		}

		.step-buttons--container {
			width: 95%;
			margin: 0 auto;
			position: relative;

			.carousel-control-prev,
			.carousel-control-next {
				position: absolute;
				align-items: flex-start;
				padding-top: 15px;
			}
		}

		/* wizard steps horizontal */

		.horizontal-steps {
			.q-wizard__step-number {
				color: #fff;
				background-color: $gray-light;
				margin-top: 0;
			}

			.q-wizard__step-icon {
				display: block;
				background-color: $gray-light;
				border-radius: 50%;
				margin: 0 auto;
				position: relative;
				text-align: center;
				z-index: 10;

				.q-icon {
					font-size: 20px;
					text-align: center;
					line-height: 2.5rem;
				}
			}

			.q-wizard__steps--horizontal {
				position: relative;
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				list-style: none;
				padding-left: 0;
				margin-bottom: 1rem;
				margin-left: auto;
				margin-right: auto;
				width: 90%;

				& > li {
					width: 15vw;
				}

				& > li:not(:last-child) {
					margin-right: 0;
				}

				& > li:first-child {
					margin-left: 0.5rem;
				}

				& > li.current-step:first-child {
					margin-left: 0.5rem;
				}
			}

			.q-wizard__step {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: transparent;
				color: $gray-light;
				padding: 0;

				&.q-wizard__step:hover,
				&.q-wizard__step.current-step {
					box-shadow: none;
				}

				&::after {
					position: absolute;
					content: "";
					height: 5px;
					top: 25px;
				}

				&:not(:first-child):not(:last-child)::after {
					width: 100%;
				}

				&:only-child::after {
					width: 0 !important;
				}

				&:first-child::after {
					width: 50%;
					left: 50%;
				}

				&:last-child::after {
					width: 50%;
					right: 50%;
				}
			}

			.current-step {
				.q-wizard__step-number {
					color: $on-primary;
					background-color: $primary;
					margin-top: 0;
				}

				.q-wizard__step-icon,
				.q-wizard__step-number {
					width: 65px;
					height: 65px;
					margin-top: -6px;
					line-height: 1.7;
					background-color: $primary !important;
					box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.75);
				}

				.q-wizard__step-icon .q-icon {
					font-size: 36px;
					line-height: 3.3rem;
				}
			}

			.q-wizard__step-link {
				margin-top: 0.25rem;
			}

			.wizard-step-caption {
				margin: 0 0.25rem;
			}

			.filled-step .wizard-step-caption,
			.current-step .wizard-step-caption {
				text-align: center;
				color: $gray;
			}

			.q-wizard__content-title {
				h3 {
					font-size: 1.25rem;
					font-weight: 700;
					letter-spacing: 0.02rem;
					margin-bottom: 0;
				}

				.q-wizard__step-number,
				.q-wizard__step-icon {
					background-color: transparent;
				}

				.q-wizard__step-icon {
					position: relative;
					display: flex;
					margin: 0;
					text-align: right;
					width: auto;
					height: auto;
				}

				.q-icon {
					position: relative;
					display: flex;
					margin: 0 0.75rem 0 0;
					text-align: right;
					font-size: 2rem;
				}
			}

			& > div.col-12 {
				display: flex;
				justify-content: center;
			}
		}

		/* wizard steps vertical */

		.vertical-steps {
			display: flex;
			flex-direction: row;

			.step-buttons--container {
				width: 95%;
				margin: 0 auto;
				padding-right: 0;
			}

			.q-wizard__content-container {
				padding-right: 0;
			}

			.q-wizard__steps--vertical {
				position: relative;
				display: flex;
				list-style: none;
				flex-direction: column;
				transform: translateY(-7%);
				padding-left: 1rem;
				margin-bottom: -20%;
			}

			.q-wizard__step::after {
				position: absolute;
				content: "";
				width: 5px;
				left: 23px;
			}

			.q-wizard__step:not(:first-child):not(:last-child)::after {
				height: 100%;
			}

			.q-wizard__step:first-child::after {
				height: 50%;
				top: 50%;
			}

			.q-wizard__step:last-child::after {
				height: 50%;
				bottom: 50%;
			}

			.filled-step::after {
				position: absolute;
				content: "";
				background: $gray;
				height: 100%;
				width: 5px;
				left: 23px;
			}

			.q-wizard__step {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: row;
				background-color: transparent;
				color: $gray-light;
				padding: 0;
				height: 12vh;

				label {
					position: absolute;
					margin: 1.8rem 0 0 4.1rem;
				}

				&-icon {
					background-color: $gray-light;
					border-radius: 50%;
					margin: 0 auto;
					text-align: center;
					z-index: 10;

					.q-icon {
						font-size: 20px;
						text-align: center;
						line-height: 2.5rem;
					}
				}

				&-link {
					position: absolute;
					left: 60px;
					text-align: left;
					margin-bottom: 0.25rem;
				}

				&-number {
					color: #fff;
					background-color: $gray-light;
					margin-top: 0;
				}

				&.current-step {
					box-shadow: none;

					.q-wizard__step-number {
						color: $on-primary;
						background-color: $primary;
						margin-top: 0;
					}

					.q-wizard__step-icon,
					.q-wizard__step-number {
						width: 65px;
						height: 65px;
						margin-top: 10px;
						margin-left: -7px;
						line-height: 1.7;
						background-color: $primary !important;
						box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.75);

						.q-icon {
							font-size: 36px;
							line-height: 3.3rem;
						}

						.icon-img {
							margin-top: 20px !important;
						}
					}
				}

				&:hover {
					box-shadow: none;
				}
			}

			.step-link .icon-img {
				margin-top: 14px !important;
			}

			.filled-step label,
			.current-step label {
				text-align: center;
				color: $gray;
				position: absolute;
				margin: 1.8rem 0 0 4.1rem;
			}

			.q-wizard__content-title {
				h3 {
					font-size: 1.25rem;
					font-weight: 700;
					letter-spacing: 0.02rem;
					margin-bottom: 0;
				}

				.q-wizard__step-number,
				.q-wizard__step-icon {
					background-color: transparent;
				}

				.q-wizard__step-icon {
					position: relative;
					display: flex;
					margin: 0;
					text-align: right;
					width: auto;
					height: auto;
				}

				.q-icon {
					position: relative;
					display: flex;
					margin: 0 0.75rem 0 0;
					text-align: right;
					font-size: 2rem;
				}
			}
		}

		.horizontal-steps .step-buttons--container .carousel-control-prev,
		.horizontal-steps .step-buttons--container .carousel-control-next {
			background-color: transparent;
			transform: translate(0, 0);
		}

		.q-wizard__step-link i.q-icon {
			font-size: 1rem;
			line-height: 1;
		}

		.filled-step:hover .q-wizard__step-icon,
		.filled-step:hover .q-wizard__step-number {
			background-color: #eaebec !important;
			border: 2px solid $primary;
			color: $primary;
			box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.5);
		}

		.filled-step .q-wizard__step-icon,
		.filled-step .q-wizard__step-number {
			background-color: #fff !important;
			border: 2px solid $primary;
			color: $primary;
		}

		.horizontal-steps {
			.step-link .icon-img {
				margin-top: 12px !important;
			}

			.current-step {
				.q-wizard__step-icon,
				.q-wizard__step-number {
					width: 60px;
					height: 60px;
					border: none;
					box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.5);

					.icon-img {
						margin-top: 18px !important;
					}
				}
			}
		}

		.current-step .q-wizard__step-link {
			margin-top: 0;
		}

		.q-wizard__content-title .q-wizard__step-number {
			font-size: 1.75rem;
		}

		/* Extra small devices (portrait phones, less than 576px) */

		@media (max-width: 575.98px) {
			.horizontal-steps {
				.current-step {
					.q-wizard__step-icon,
					.q-wizard__step-number {
						width: 46px !important;
						height: 46px !important;
						margin-top: -2px !important;
						border: 2px solid #009aa5 !important;
						line-height: 1.4;

						.q-icon {
							font-size: 20px;
							line-height: 2.5rem;
						}

						.icon-img {
							margin-top: 12px !important;
						}
					}
				}

				.q-wizard__step-icon .q-icon {
					padding-top: 0.25rem;
				}

				ol.q-wizard__steps--horizontal::before {
					top: 18px !important;
				}

				li.filled-step::after {
					top: 18px !important;
				}

				li.q-wizard__step::after {
					top: 22px;
				}

				li.filled-step::after {
					top: 22px !important;
				}
			}
		}
	}
	@else if $wizard-steps == 'arrow' {
		/***************************************************************************
		 *                          Steps style: Arrow                             *
		 ***************************************************************************/

		li.q-wizard__step {
			box-shadow: none !important;
			outline-style: none;
			min-height: 50px;
			border-radius: 0;
		}

		.q-wizard__step:hover {
			background-color: $gray-dark !important;
		}

		/* wizard steps horizontal */

		ol.q-wizard__steps--horizontal {
			display: flex;
			border: 0 solid #fff !important;
			padding: 0;
			background-color: #fff;
			list-style: none;
			justify-content: center;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step {
			padding: 10px 0 10px 35px;
			float: left;
			margin-right: 7px;
			min-width: 15vw;
		}

		ol.q-wizard__steps--horizontal li.q-wizard__step + li.q-wizard__step:before {
			padding: 0;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step:not(:last-child):after {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid $gray-light;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: 100%;
			z-index: 2;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step:not(:last-child):before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid #fff;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: 100%;
			z-index: 1;
			margin-left: 7px;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step:first-child {
			border-radius: 0.25rem 0 0 0.25rem;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step:last-child {
			border-radius: 0 0.25rem 0.25rem 0;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.required-step {
			background-color: hsl(184, 46%, 65%);
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.required-step:not(:last-child):after {
			border-left: 30px solid hsl(184, 46%, 65%) !important;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.required-step:hover {
			background-color: $primary;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.required-step:not(:last-child):hover:after {
			border-left: 30px solid $primary !important;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.current-step {
			background-color: $primary;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.filled-step {
			background-color: $gray;
			opacity: 1;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.filled-step:not(:last-child):after {
			border-left: 30px solid $gray !important;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.filled-step:not(:last-child):hover:after {
			border-left: 30px solid $gray-dark !important;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.current-step {
			border-color: $primary;
			color: $on-primary;
			background-color: $primary;
		}

		ol.q-wizard__steps--horizontal > li.q-wizard__step.current-step:not(:last-child):after {
			border-left: 30px solid $primary !important;
		}

		ol.q-wizard__steps--horizontal {
			display: flex;
			justify-content: center;
		}

		.horizontal-steps .carousel-control-prev {
			background-color: transparent;
			transform: translate(-30px, 0);
		}

		.horizontal-steps .carousel-control-next {
			background-color: transparent;
			transform: translate(50px, 0);
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			filter: invert(100%);
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li.current-step:first-child {
			margin-left: 0.5rem;
		}

		.q-wizard__step-link i.q-icon {
			font-size: 1rem;
			line-height: 1.5;
		}

		.step-buttons--container {
			width: 90%;
			margin: auto;
		}

		li.q-wizard__step {
			box-shadow: none !important;
			outline-style: none;
			min-height: 50px;
			max-height: 100px;
			border-radius: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.horizontal-steps ol.q-wizard__steps--horizontal > li:first-child {
			margin-left: 0.5rem;
			padding-left: 0.5rem;
		}

		.q-wizard__step-number {
			font-size: 1.75rem;
			line-height: 1.2;
		}

		.q-wizard__step-icon .q-icon {
			font-size: 24px;
			color: #fff;
			line-height: 1.2;
		}

		.q-wizard__step-link {
			font-size: 1.15rem;
			line-height: 2;
		}

		.q-wizard__step-link i.q-icon {
			font-size: 1rem;
			line-height: 1.8;
			margin-left: 0.5rem;
		}

		.q-wizard__step label {
			line-height: 1.5;
			font-size: 0.85rem;
			margin-top: -10px;
			max-width: 12vw;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		/* Small devices */

		@media (max-width: 575.98px) {
			.wrapper {
				margin-top: -1rem;
			}

			form.form-horizontal.wizard-form {
				margin-left: 7px;
				margin-right: 7px;
				margin-top: -1.5rem !important;
			}

			form.form-horizontal.wizard-form .mb-4 {
				margin-bottom: 0.5rem !important;
			}

			form.form-horizontal.wizard-form div.col-12 {
				padding: 0 5px !important;
			}

			form.form-horizontal.wizard-form div.c-groupbox {
				padding: 0.5rem !important;
				margin-bottom: 0.25rem !important;
			}

			.q-wizard-container {
				width: 100%;
				margin-top: 1rem;
				padding: 0;
			}

			.wizard-content {
				padding: 0;
			}

			.step-buttons--container {
				width: 95%;
				margin: auto;
			}

			.horizontal-steps .carousel-control-prev {
				background-color: transparent;
				transform: translate(-20px, 0);
			}

			.horizontal-steps .carousel-control-next {
				background-color: transparent;
				transform: translate(30px, 0);
			}

			.horizontal-steps ol.q-wizard__steps--horizontal.carousel_active {
				justify-content: center;
				width: 85%;
				margin: 0 auto;
			}

			.horizontal-steps ol.q-wizard__steps--horizontal > li:not(:last-child) {
				margin-right: 0.25rem !important;
			}

			.q-wizard__content {
				margin: 0 -1.3rem;
			}

			.wizard-area.q-wizard__content.compact.wizard input.input-xxlarge {
				width: 310px !important;
			}

			.q-wizard__content .c-groupbox {
				padding: 0 !important;
			}

			ol.q-wizard__steps--horizontal li.q-wizard__step {
				height: 60px;
			}

			ol.q-wizard__steps--horizontal > li.q-wizard__step.filled-step:not(:last-child):after {
				border-left: 15px solid #747c91 !important;
			}

			ol.q-wizard__steps--horizontal > li.q-wizard__step.current-step:not(:last-child):after {
				border-left: 15px solid #009aa5 !important;
			}

			ol.q-wizard__steps--horizontal > li.q-wizard__step:not(:last-child):before {
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-top: 30px solid transparent;
				border-bottom: 30px solid transparent;
				border-left: 15px solid #fff;
				position: absolute;
				top: 25%;
				margin-top: -15px;
				left: 100%;
				z-index: 1;
				margin-left: 3px;
			}

			ol.q-wizard__steps--horizontal > li.q-wizard__step:not(:last-child):after {
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-top: 30px solid transparent;
				border-bottom: 30px solid transparent;
				border-left: 15px solid #c2c8cc;
				position: absolute;
				top: 25%;
				margin-top: -15px;
				left: 100%;
				z-index: 2;
			}

			ol.q-wizard__steps--horizontal > li.q-wizard__step {
				padding: 7px 0 7px 15px;
			}
		}

		@media (max-width: 992px) {
			.q-wizard-container {
				width: 100%;
			}
		}
	}


	@if $wizard-content == 'compact' {
		/***************************************************************************
		 *                        Content style: Compact                           *
		 ***************************************************************************/

		.q-wizard__content.compact {
			background-color: transparent;
			background-clip: border-box;
			border: none;
			height: fit-content;
			display: flex;
			flex-direction: column;
			position: relative;
			min-width: 0;
			word-wrap: break-word;
		}

		.q-wizard__content.compact .q-wizard__content-title {
			background-color: transparent;
			color: $primary;
			display: flex;
			align-items: center;
			border-radius: 0;
			padding: 0;
			height: auto;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		.q-wizard__content.compact .q-wizard__content-title .q-wizard__step-icon,
		.q-wizard__content.compact .q-wizard__content-title .q-wizard__step-number {
			display: none;
		}

		.q-wizard__content.compact .q-wizard__content-title h3 {
			letter-spacing: 0.02rem;
			font-size: 1.5rem;
			line-height: 1.5rem;
			font-weight: 700;
			text-transform: uppercase;
			white-space: nowrap;
			padding-bottom: 1.5rem;
		}

		.q-wizard__content.compact .form-flow {
			width: fit-content;
			margin: 0 auto;
		}

		.q-wizard__content.compact .c-groupbox {
			background-color: $container;
			border: none;
			border-top: none;
			padding: 0;
			border-radius: 0;
			margin: 0.75rem 0;
		}

		.q-wizard__content.compact .c-groupbox__title {
			color: $secondary;
			margin-bottom: 0.75rem;
		}

		.q-wizard__content.compact .c-groupbox:not(:first-child) {
			border-left: 2px solid rgba(0, 0, 0, 0.1);
			padding-left: 1rem;
		}

		.q-wizard__content.compact .q-wizard__content-navigation {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding: 1rem 0 0;
		}

		/* Extra small devices (portrait phones, less than 576px) */

		@media (max-width: 575.98px) {
			.q-wizard__content.compact .c-groupbox:not(:first-child) {
				border-left: none;
			}

			.q-wizard__content.compact .c-groupbox:not(:first-child) {
				border-top: 2px solid rgba(0, 0, 0, 0.1);
				padding-top: 1rem;
			}

			.q-wizard__content.compact .form-flow {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}
