.fc-toolbar-chunk {
	display: flex;

	.q-button {
		color: $primary;

		&:hover {
			color: $on-primary;
		}
	}
}

.q-fc {
	&-event-info {
		min-width: 450px;

		&_btns {
			display: flex;
		}

		&_date {
			margin-bottom: 12px;
		}
	}
}
