USE [W_GnBD]
if (524 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTADDRL_CUSTADID', 'customeraddressid', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaddrl', 'GQTADDRL_CUSTADID', 'gqt';
end
GO
if (235 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAERO_CODAERO_', 'codaero', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1911
SELECT 'GQTAERO_5D47AA5B5D0C4EB0', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtaero', 'GQTAERO_CODAERO_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AGENT
SELECT 'GQTAGENT_0C278B961732421E', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGENT_0C278B961732421E','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T01AGENT
SELECT 'GQTAGENT_80596EAA93024E59', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtagent', 'GQTAGENT_CODAGENT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRLN_CODAIRLN', 'codairln', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup AIRPLAIRLNAIRLNAME
SELECT 'GQTAIRLN_ED9FDE51615B4022', 'airlname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairln', 'GQTAIRLN_CODAIRLN', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAUDIT_CODAUDIT', 'codaudit', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaudit', 'GQTAUDIT_CODAUDIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATEG_CODCATEG', 'codcateg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CATEG
SELECT 'GQTCATEG_31428EC0DE854C01', 'categoria', 0, 1, 0, 0
UNION ALL
SELECT 'GQTCATEG_31428EC0DE854C01','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TBS_131
SELECT 'GQTCATEG_A9C9793E872947C8', 'abbreviation', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcategorias', 'GQTCATEG_CODCATEG', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCFAQS_CODCFAQS', 'codcfaqs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtcfaqs', 'GQTCFAQS_CODCFAQS', 'gqt';
end
GO
if (98 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCNTRY_CODCNTRY', 'codcntry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4271
SELECT 'GQTCNTRY_22CD7BD59F7D4463', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcntry', 'GQTCNTRY_CODCNTRY', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCTRY_CODCTRY_', 'codctry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03COUNTRY
SELECT 'GQTCTRY_3FD690A50DCF475A', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtctry', 'GQTCTRY_CODCTRY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDECOM_CODDECO_', 'coddeco', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DECOM
SELECT 'GQTDECOM_ECFD79F6825940B4', 'decomnr', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDECOM_ECFD79F6825940B4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2C111
SELECT 'GQTDECOM_DEBD90CB911647DB', 'dtdeco', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdecom', 'GQTDECOM_CODDECO_', 'gqt';
end
GO
if (82 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDESAM_CODDESAM', 'coddesam', 1, 1, 0, 1
UNION ALL
SELECT 'GQTDESAM_zzState', 'zzState', 0, 1, 0, 0
 
exec CheckIdxTmp @tabela, 'gqtdesam', 'GQTDESAM_CODDESAM', 'gqt';
end
GO
if (1589 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISST_CODDISST', 'coddisst', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_251
SELECT 'GQTDISST_D0437FF616AF4897', 'status', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdisst', 'GQTDISST_CODDISST', 'gqt';
end
GO
if (534 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDTTYP_CODDTTYP', 'coddttyp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_7111
SELECT 'GQTDTTYP_83B2AE15B35F4889', 'string', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdatatypes', 'GQTDTTYP_CODDTTYP', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACTY_CODFACTY', 'codfacty', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4231
SELECT 'GQTFACTY_5A9D7884BD864BDF', 'type', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacilitytype', 'GQTFACTY_CODFACTY', 'gqt';
end
GO
if (136 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAMIL_CODFAMIL', 'codfamil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2921
SELECT 'GQTFAMIL_E5B57EFCFE8C4352', 'family', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfamil', 'GQTFAMIL_CODFAMIL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFTGRI_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup GRIDFTGRILEGENDA
SELECT 'GQTFTGRI_37EDA4225EE2494E', 'legenda', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtftgri', 'GQTFTGRI_CODPHOTO', 'gqt';
end
GO
if (28 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGENRE_CODGENRE', 'codgenre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_161
SELECT 'GQTGENRE_B993740BA43A442F', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgenre', 'GQTGENRE_CODGENRE', 'gqt';
end
GO
if (105 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGITEM_CODGITEM', 'codgitem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_C0ECBC8EABAD404D', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_D0B1E75DE28543AC', 'itemgcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgitem', 'GQTGITEM_CODGITEM', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRPB_CODGRPB_', 'codgrpb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_EDITABLETABLELIST
SELECT 'GQTGRPB_5CA19C29333C42FB', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrpb', 'GQTGRPB_CODGRPB_', 'gqt';
end
GO
if (1022 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINPGR_CODINPGR', 'codinpgr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_361
SELECT 'GQTINPGR_1EA7A5214BA6449E', 'textgro', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinpgr', 'GQTINPGR_CODINPGR', 'gqt';
end
GO
if (502 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTKINDE_CODKINDE', 'codkinde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4121
SELECT 'GQTKINDE_638362CB528B4008', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtkindofequipment', 'GQTKINDE_CODKINDE', 'gqt';
end
GO
if (128 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLANGU_CODLANG_', 'codlang', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_921
SELECT 'GQTLANGU_BACEF6813F6A4343', 'langua', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlangu', 'GQTLANGU_CODLANG_', 'gqt';
end
GO
if (1749 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtmem', 'GQTMEM_CODMEM__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTORGAN_CODORGAN', 'codorgan', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup VENDAORGANORGANIZA
SELECT 'GQTORGAN_E76E41A7058B4DDF', 'organiza', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtorgan', 'GQTORGAN_CODORGAN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUDOC_CODDOCSD', 'coddocsd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUDOC
SELECT 'GQTOUDOC_C1F1AB0F55574CBA', 'nrdocsda', 1, 1, 0, 0
UNION ALL
SELECT 'GQTOUDOC_C1F1AB0F55574CBA','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoudoc', 'GQTOUDOC_CODDOCSD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPEDID_CODPEDID', 'codpedid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PEDID
SELECT 'GQTPEDID_E58CD01D7A834123', 'nrpedido', 1, 1, 0, 0
UNION ALL
SELECT 'GQTPEDID_E58CD01D7A834123','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_281
SELECT 'GQTPEDID_B3C176A9C7CC4DE0', 'dtpedido', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpedid', 'GQTPEDID_CODPEDID', 'gqt';
end
GO
if (520 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERIO_CODPERIO', 'codperio', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtperiod', 'GQTPERIO_CODPERIO', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERSO_CODPERSO', 'codperso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_3496BAB78EC24D0C', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_3496BAB78EC24D0C', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_A1D1614342EF4716', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtperson', 'GQTPERSO_CODPERSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPSNGR_CODPSNGR', 'codpsngr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSPSNGRFSTNAME
SELECT 'GQTPSNGR_7D497B040D1649ED', 'fstname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpsngr', 'GQTPSNGR_CODPSNGR', 'gqt';
end
GO
if (1750 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup USERSPSWNOME
SELECT 'GQTPSW_BCE88E216BC64CF8', 'nome', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIS_CODREGIS', 'codregis', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_936E5DFAF0754D10', 'nif', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_936E5DFAF0754D10','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_0093506421064A66', 'email1', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_0093506421064A66','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu REG_111
SELECT 'GQTREGIS_6D16AAC053F64BD3', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregis', 'GQTREGIS_CODREGIS', 'gqt';
end
GO
if (542 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROGL1_CODROGL1', 'codrogl1', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_431
SELECT 'GQTROGL1_9FE8B8110BC0436A', 'title', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrogl1', 'GQTROGL1_CODROGL1', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROLE_CODROLE_', 'codrole', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrole', 'GQTROLE_CODROLE_', 'gqt';
end
GO
if (78 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROOMS_CODROOMS', 'codrooms', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_658841479BAC4EB2', 'roomnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_540708601DD84B4B', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrooms', 'GQTROOMS_CODROOMS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDF_CODRORDF', 'codrordf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDF
SELECT 'GQTRORDF_92513D36EBD548D3', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDF_92513D36EBD548D3','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordf', 'GQTRORDF_CODRORDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDI_CODRORDI', 'codrordi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDI
SELECT 'GQTRORDI_7B3F7C580BD2449D', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDI_7B3F7C580BD2449D','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordi', 'GQTRORDI_CODRORDI', 'gqt';
end
GO
if (491 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRULES_CODREGRA', 'codregra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrules', 'GQTRULES_CODREGRA', 'gqt';
end
GO
if (1754 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'gqt';
end
GO
if (1753 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'gqt';
end
GO
if (1752 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSBCAT_CODSBCAT', 'codsbcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup TPCATSBCATSUBCATEG
SELECT 'GQTSBCAT_C8CA01E32F094E1A', 'subcateg', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsbcat', 'GQTSBCAT_CODSBCAT', 'gqt';
end
GO
if (12 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSHITY_CODSHITY', 'codshity', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtshity', 'GQTSHITY_CODSHITY', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPACE_CODESPAC', 'codespac', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtspace', 'GQTSPACE_CODESPAC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPECI_CODESPEC', 'codespec', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_F460DD63547B48F2', 'especial', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_F460DD63547B48F2', 'areatecn', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites REPARSPECIESPECIAL
SELECT 'GQTSPECI_2DA7CC468DE24F16', 'areatecn', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtspeci', 'GQTSPECI_CODESPEC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTAKE_CODPARTE', 'codparte', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PESS1STAKEDESIGNAT
SELECT 'GQTSTAKE_9B33D46777FD49DA', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtstake', 'GQTSTAKE_CODPARTE', 'gqt';
end
GO
if (3 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTRAT_CODESTRA', 'codestra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtstrat', 'GQTSTRAT_CODESTRA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTEAMP_CODEQJOG', 'codeqjog', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup JOGOSTEAMPEQUIPA
SELECT 'GQTTEAMP_070F5B79518C4E75', 'equipa', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtteamp', 'GQTTEAMP_CODEQJOG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPPRO_CODTPPRO', 'codtppro', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PROPR00TPPROTPPROPRI
SELECT 'GQTTPPRO_E40EE144E8EC4DCE', 'tppropri', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttppro', 'GQTTPPRO_CODTPPRO', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRSB_CODTRSB_', 'codtrsb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3151
SELECT 'GQTTRSB_F2A6DF158DCA4532', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttrsb', 'GQTTRSB_CODTRSB_', 'gqt';
end
GO
if (250 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUICOM_CODUICOM', 'coduicom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_OVERVIEW
SELECT 'GQTUICOM_D424C6B74E1F431F', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtuicom', 'GQTUICOM_CODUICOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWAREH_CODWAREH', 'codwareh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_8F7461623F6D4913', 'warehdes', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWAREH_8F7461623F6D4913','showreco', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_EAE8923349EE4A60', 'warehcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtwareh', 'GQTWAREH_CODWAREH', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTYEAR_CODYEAR_', 'codyear', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A31
SELECT 'GQTYEAR_630978873CB5422C', 'year', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtyear', 'GQTYEAR_CODYEAR_', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPL_CODAIRPL', 'codairpl', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtairpl', 'GQTAIRPL_CODAIRPL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPT_CODAIRPT', 'codairpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup FLIGHAIRPTAIRPTNAM
SELECT 'GQTAIRPT_9BB2AB2F5E224215', 'airptnam', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairpt', 'GQTAIRPT_CODAIRPT', 'gqt';
end
GO
if (1030 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATTP_CODTPCAT', 'codtpcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_471
SELECT 'GQTCATTP_7915AE98F96541AC', 'tpcatego', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcattp', 'GQTCATTP_CODTPCAT', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CITY
SELECT 'GQTCITY_696130E92BAA4457', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcity', 'GQTCITY_CODCITY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPNY_CODEMPRE', 'codempre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_8F3CFAFCDB6E4E04', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_8F3CFAFCDB6E4E04', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_95405B960A504120', 'acronym', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_6A4C45B8FE7D490C', 'nif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_BB90F34661E14716', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_7AD4B1E5589543F0', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_88DD21FC11DA4593', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcmpny', 'GQTCMPNY_CODEMPRE', 'gqt';
end
GO
if (1539 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACIL_CODFACIL', 'codfacil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_AF651C7EF8434CA9', 'codentit', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_AF651C7EF8434CA9', 'incorpor', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_4211
SELECT 'GQTFACIL_31D522C54AFB4170', 'incorpor', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_4871F5B371BC4DE4', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_4871F5B371BC4DE4', 'codentit', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacility', 'GQTFACIL_CODFACIL', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAQS_CODFAQS_', 'codfaqs', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_35911
SELECT 'GQTFAQS_B09CF5F6BDF84532', 'codcfaqs', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfaqs', 'GQTFAQS_CODFAQS_', 'gqt';
end
GO
if (1024 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGLOB_CODGLOB_', 'codglob', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtglob', 'GQTGLOB_CODGLOB_', 'gqt';
end
GO
if (1725 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEM_CODITEM_', 'coditem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_D652A6A2A3BE4906', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_D652A6A2A3BE4906', 'codwareh', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_451
SELECT 'GQTITEM_87DB655659B447C1', 'itemcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTITEM_87DB655659B447C1','valid', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_333695E71D69408E', 'codwareh', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_333695E71D69408E', 'itemcod', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtitem', 'GQTITEM_CODITEM_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMANUA_CODMANUA', 'codmanua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP KINDEPSEUDMANUALS
SELECT 'GQTMANUA_0C3C5450640340AF', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmanualtocollect', 'GQTMANUA_CODMANUA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPARAM_CODPARAM', 'codparam', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_C4C8806D81324E46', 'parameter', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_C4C8806D81324E46', 'codkinde', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_7A94FAB0F37E442F', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtparameter', 'GQTPARAM_CODPARAM', 'gqt';
end
GO
if (467 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRPIN_CODPESSO', 'codpesso', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtprpin', 'GQTPRPIN_CODPESSO', 'gqt';
end
GO
if (172 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWORG_CODPWORG', 'codpworg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTPWORG_79ECA85919914DC7', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpworg', 'GQTPWORG_CODPWORG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGF_CODROIGF', 'codroigf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_A6CB48DD6BF24458', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_A6CB48DD6BF24458', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_A6CB48DD6BF24458','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4311
SELECT 'GQTROIGF_5AE37CBE8AA24BB0', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_FC1BF245DB1A46F8', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_FC1BF245DB1A46F8', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_FC1BF245DB1A46F8','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigf', 'GQTROIGF_CODROIGF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGI_CODROIGI', 'codroigi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_E0662AE208784CC4', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_E0662AE208784CC4', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_E0662AE208784CC4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4411
SELECT 'GQTROIGI_0E228C1405834241', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_4DB638A6C20845D1', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_4DB638A6C20845D1', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_4DB638A6C20845D1','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigi', 'GQTROIGI_CODROIGI', 'gqt';
end
GO
if (1755 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'gqt';
end
GO
if (1756 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'gqt';
end
GO
if (1751 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_367110F96C3545AF', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_367110F96C3545AF', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'GQTS_UA_367110F96C3545AF','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemApaga PSW
SELECT 'GQTS_UA_BBC84A81E9714632', 'codpsw', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALE_CODVENDA', 'codvenda', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALE_12F83CCEE0DD4527', 'codorgan', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_511
SELECT 'GQTSALE_EE47EBE1BF0B4CB0', 'startdt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTSALE_EE47EBE1BF0B4CB0','showrcrd', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtsale', 'GQTSALE_CODVENDA', 'gqt';
end
GO
if (517 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALES_CODSALES', 'codsales', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALES_F9FA1F5361894D71', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsales', 'GQTSALES_CODSALES', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLB_CODTBLB_', 'codtblb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3131
SELECT 'GQTTBLB_070101F3558142F5', 'text', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblb', 'GQTTBLB_CODTBLB_', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLK_CODTBLK_', 'codtblk', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3161
SELECT 'GQTTBLK_8ED279F5D4934C2E', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblk', 'GQTTBLK_CODTBLK_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTICKT_CODTICKT', 'codtickt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSTICKTTKTID
SELECT 'GQTTICKT_DFCDC90E607E4B85', 'tktid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSTICKTTKTID
SELECT 'GQTTICKT_D6441C0E652D46C0', 'codpsngr', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttickt', 'GQTTICKT_CODTICKT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPCON_CODTPCON', 'codtpcon', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_3E0414D9AB074CFB', 'tipocont', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_3E0414D9AB074CFB', 'codgenre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites CONTATPCONTIPOCONT
SELECT 'GQTTPCON_C9683829CB5D4E7E', 'codgenre', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpcon', 'GQTTPCON_CODTPCON', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPEQU_CODTPEQU', 'codtpequ', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup TPEQU
SELECT 'GQTTPEQU_66D130F371AB4E71', 'tpequcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTTPEQU_66D130F371AB4E71','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D11
SELECT 'GQTTPEQU_31C079BFB59A4CFC', 'tipoequi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FAMI1PSEUDTIPOSEQU
SELECT 'GQTTPEQU_761898066ECB4E52', 'codfamil', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpequ', 'GQTTPEQU_CODTPEQU', 'gqt';
end
GO
if (10 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUSERS_CODUSERS', 'codusers', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtusers', 'GQTUSERS_CODUSERS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWPESS_CODPESS_', 'codpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR WAREH
SELECT 'GQTWPESS_7FBEF2D730474EBA', 'codwareh', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_7FBEF2D730474EBA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu STY_IMGBACKGROUND
SELECT 'GQTWPESS_D7FF6ECCE2014DAB', 'date', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_PESSCARD
SELECT 'GQTWPESS_30FF42A2ACC54E78', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_30FF42A2ACC54E78','showreco', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtwpess', 'GQTWPESS_CODPESS_', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGAMES_CODGAMES', 'codgames', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtgames', 'GQTGAMES_CODGAMES', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMC_CODCATAR', 'codcatar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_31D0AAF801324F9B', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_31D0AAF801324F9B', 'codtpcat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DV relacao1 ARTIGPSEUDCATEGORI
SELECT 'GQTITEMC_AD3AA817BEE44BDE', 'codtpcat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtitemc', 'GQTITEMC_CODCATAR', 'gqt';
end
GO
if (1512 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMP_CODITEMP', 'coditemp', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtitemp', 'GQTITEMP_CODITEMP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHPD_CODLNHPD', 'codlnhpd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_F83568C11BE84E08', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_F83568C11BE84E08', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_F83568C11BE84E08','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB limites LNHDELNHPDLINE
SELECT 'GQTLNHPD_A961FCB569504627', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_1FE4ED24426A4FC7', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_1FE4ED24426A4FC7', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_1FE4ED24426A4FC7','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhpd', 'GQTLNHPD_CODLNHPD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPT_CODOUTPT', 'codoutpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_40A811BDA9994A2E', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_40A811BDA9994A2E', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_40A811BDA9994A2E','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDSAIOUTPTDOCUMENR
SELECT 'GQTOUTPT_F1008775A92A4058', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_D5723A2580924436', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_D5723A2580924436', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_D5723A2580924436','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpt', 'GQTOUTPT_CODOUTPT', 'gqt';
end
GO
if (155 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROJE_CODPROJE', 'codproje', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A11
SELECT 'GQTPROJE_21943C4CE3FD4EF6', 'projecto', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproje', 'GQTPROJE_CODPROJE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPE_CODPROPE', 'codprope', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PROPE
SELECT 'GQTPROPE_DD2EAD89F6974DC8', 'order', 0, 1, 0, 0
UNION ALL
SELECT 'GQTPROPE_DD2EAD89F6974DC8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_4589FB7825FF4FF3', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_4589FB7825FF4FF3', 'codagent', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_5BF972884E754248', 'codagent', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprope', 'GQTPROPE_CODPROPE', 'gqt';
end
GO
if (521 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIO_CODREGIA', 'codregia', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_4D9BB3E2823446C5', 'regiao', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_4D9BB3E2823446C5', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_CE1411953F2F414B', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregio', 'GQTREGIO_CODREGIA', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTABPR_CODTABPR', 'codtabpr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_15AF574598EE4FDB', 'codtpeq1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_15AF574598EE4FDB', 'precohor', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_15AF574598EE4FDB','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_FB0B456ADD0E41B0', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_FB0B456ADD0E41B0', 'codtpeq1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_FB0B456ADD0E41B0','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqttabpr', 'GQTTABPR_CODTABPR', 'gqt';
end
GO
if (130 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRADU_CODTRADU', 'codtradu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_406830FAC6864D6C', 'codidio2', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_406830FAC6864D6C', 'atraduzi', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_911
SELECT 'GQTTRADU_5C1F145F9C6346FD', 'referenc', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttradu', 'GQTTRADU_CODTRADU', 'gqt';
end
GO
if (1642 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGREG_CODAGGRE', 'codaggre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_223C221F42154BAE', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_223C221F42154BAE', 'year', 0, 2, 0, 0
UNION ALL
-- Index with origin: Formula SR YEAR
SELECT 'GQTAGREG_F940C654A2344723', 'codyear', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGREG_F940C654A2344723','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_442EBFB73CD747AF', 'value', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_442EBFB73CD747AF', 'codproje', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_442EBFB73CD747AF', 'codyear', 0, 3, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_6D8DD278EC424905', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_6D8DD278EC424905', 'codyear', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtagreg', 'GQTAGREG_CODAGGRE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPKI_CODCMPKI', 'codcmpki', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_6BD5A4C9ADA54A93', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_6BD5A4C9ADA54A93', 'codtpequ', 0, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_6BD5A4C9ADA54A93','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2A11
SELECT 'GQTCMPKI_F6D098C3C2C84663', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_FC1F7B3FB2564102', 'codtpequ', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_FC1F7B3FB2564102', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_FC1F7B3FB2564102','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtcmpki', 'GQTCMPKI_CODCMPKI', 'gqt';
end
GO
if (1553 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTENTIT_CODENTIT', 'codentit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_511
SELECT 'GQTENTIT_655A01CBEFEF48A7', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTENTIT_655A01CBEFEF48A7','supplier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_655A01CBEFEF48A7','carrier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_655A01CBEFEF48A7','manufact', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtentity', 'GQTENTIT_CODENTIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLIGH_CODFLIGH', 'codfligh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLIGHFLIGHTID
SELECT 'GQTFLIGH_8F3B7119A08B4CF7', 'flightid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfligh', 'GQTFLIGH_CODFLIGH', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHAG_CODLNHAG', 'codlnhag', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PEDIDPSEUDAGRUPAME
SELECT 'GQTLNHAG_46062823DF8D4FA3', 'codpedid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhag', 'GQTLNHAG_CODLNHAG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPU_CODOUTPU', 'codoutpu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_1641222AC8A240D3', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_1641222AC8A240D3', 'exitdt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_1641222AC8A240D3','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_1621D3C78F924ABE', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_1621D3C78F924ABE', 'codoutpt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_1621D3C78F924ABE','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DSAIDPSEUDSAIDAS
SELECT 'GQTOUTPU_87F5BD0416E94929', 'codoutpt', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_7522F24FC69E4D39', 'codoutpt', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_7522F24FC69E4D39', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_7522F24FC69E4D39','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpu', 'GQTOUTPU_CODOUTPU', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROCN_CODPROCN', 'codprocn', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CONTACTS
SELECT 'GQTPROCN_1CA0E74E01D44F82', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE10PSEUDPROPCONT
SELECT 'GQTPROCN_002D764AEF2C4490', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprocn', 'GQTPROCN_CODPROCN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPH_CODPROPH', 'codproph', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03PHOTOS
SELECT 'GQTPROPH_E1092E389704460B', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE11PSEUDPROPHOTO
SELECT 'GQTPROPH_24FC94491B9B47EB', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproph', 'GQTPROPH_CODPROPH', 'gqt';
end
GO
if (169 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWREG_CODPWREG', 'codpwreg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph REGIAO
SELECT 'GQTPWREG_ECE0340915074625', 'codregia', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwreg', 'GQTPWREG_CODPWREG', 'gqt';
end
GO
if (1588 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISPA_CODDISPA', 'coddispa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DISPA
SELECT 'GQTDISPA_D0A383611022441E', 'dispanr', 1, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_D0A383611022441E','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_2211
SELECT 'GQTDISPA_9A779F2CA0C74B2C', 'dispadt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_9A779F2CA0C74B2C','isprepar', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatch', 'GQTDISPA_CODDISPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEXPEN_CODDESPE', 'coddespe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT EXPEN
SELECT 'GQTEXPEN_970561320D5A4DE1', 'yearnumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR AGREG
SELECT 'GQTEXPEN_A331C955EA584503', 'codaggre', 0, 1, 0, 0
UNION ALL
SELECT 'GQTEXPEN_A331C955EA584503','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_A21
SELECT 'GQTEXPEN_8DB3243E65794829', 'descript', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP ANOPSEUDTODASDES
SELECT 'GQTEXPEN_D014B795AF4D443D', 'codyear', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROJEPSEUDDESPESAS
SELECT 'GQTEXPEN_E7DF6758CCE74250', 'codproje', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtexpen', 'GQTEXPEN_CODDESPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLTSC_CODFLTSC', 'codfltsc', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_F078A8CEC3974ACB', 'scaleid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_30E5701AAADE454D', 'codfligh', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfltsc', 'GQTFLTSC_CODFLTSC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDE_CODLNHDE', 'codlnhde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemApaga LNHPD
SELECT 'GQTLNHDE_C1D5BB92CBA54CE7', 'codlnhpd', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_0D6B0D8F68674DB4', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_0D6B0D8F68674DB4', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_0D6B0D8F68674DB4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula SR LNHAG
SELECT 'GQTLNHDE_FFDDDD63EC144748', 'codlnhag', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLNHDE_FFDDDD63EC144748','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PEDIDPSEUDDESAGREG
SELECT 'GQTLNHDE_F56827DC1FC24412', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_57F45DCD7D7543DA', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_57F45DCD7D7543DA', 'codlnhpd', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_F42CDC34C19343F0', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_F42CDC34C19343F0', 'ordem', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_F42CDC34C19343F0','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhde', 'GQTLNHDE_CODLNHDE', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLOCAT_CODLOCAT', 'codlocat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4251
SELECT 'GQTLOCAT_E661661D09034503', 'gln', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocation', 'GQTLOCAT_CODLOCAT', 'gqt';
end
GO
if (506 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMESSA_CODMESSA', 'codmessa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_611
SELECT 'GQTMESSA_B9F51F9190F34EC5', 'idnotif', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmessages', 'GQTMESSA_CODMESSA', 'gqt';
end
GO
if (1737 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPESSO_CODPESSO', 'codpesso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_FD7A892E75504502', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_FD7A892E75504502', 'idfuncio', 1, 2, 0, 0
UNION ALL
SELECT 'GQTPESSO_FD7A892E75504502','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_EA2ECCEE7BD2416D', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_EA2ECCEE7BD2416D', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_EA2ECCEE7BD2416D', 'gender', 0, 3, 0, 0
UNION ALL
SELECT 'GQTPESSO_EA2ECCEE7BD2416D','interna', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_271
SELECT 'GQTPESSO_0DF18ECA4C3C4629', 'dtultcat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_E01B338C580843B8', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_E01B338C580843B8', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_1406F4E4D7124158', 'gender', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_54AC8029D6AE44C3', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_54AC8029D6AE44C3', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_E0234FC5E3374AFB', 'dtnascim', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_4E0696740CE044D2', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_CD1CB0698DD84559', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_E142921A6EA34493', 'email2', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites PROPRALLPESSONAME
SELECT 'GQTPESSO_F8494C86CD5B4A3D', 'codpaise', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_EBC985029200447F', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_EBC985029200447F', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_285EA2F436C5421C', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_285EA2F436C5421C', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_9E34B524735D415D', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_9E34B524735D415D', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_9E34B524735D415D', 'codpaise', 0, 3, 0, 0

exec CheckIdxTmp @tabela, 'gqtpessoas', 'GQTPESSO_CODPESSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRECEI_CODRECEI', 'codrecei', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RECEI
SELECT 'GQTRECEI_F08DF5F392DB4CD5', 'number', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRECEI_F08DF5F392DB4CD5','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_111
SELECT 'GQTRECEI_2719000B604F4144', 'dtreceip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtreceipt', 'GQTRECEI_CODRECEI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSET_CODASSET', 'codasset', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ASSET
SELECT 'GQTASSET_43D80A397ED84F4D', 'assetnum', 1, 1, 0, 0
UNION ALL
SELECT 'GQTASSET_43D80A397ED84F4D','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_CA6C68AEEFC14919', 'assettyp', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_D9EA69040AC341DD', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_D9EA69040AC341DD', 'assettyp', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtasset', 'GQTASSET_CODASSET', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTBRDPS_CODBRDPS', 'codbrdps', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtbrdps', 'GQTBRDPS_CODBRDPS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCONTA_CODCONTA', 'codconta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_141
SELECT 'GQTCONTA_9D2D39CDFB844E40', 'contacto', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDCONTACTO
SELECT 'GQTCONTA_70F8D59E5C1947D2', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtconta', 'GQTCONTA_CODCONTA', 'gqt';
end
GO
if (115 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTESPPE_CODESPPE', 'codesppe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV relacaoF PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_A06F7848DF0E49A1', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV relacao1 PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_9998643718AE4D1D', 'codespec', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtesppe', 'GQTESPPE_CODESPPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEVCAT_CODPROGR', 'codprogr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_0B7301285335425A', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_0B7301285335425A', 'codpesso', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEVCAT_0B7301285335425A','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDEVOLUCAO
SELECT 'GQTEVCAT_2ADA6510FA9F4D99', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtevcat', 'GQTEVCAT_CODPROGR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRID_CODGRID_', 'codgrid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PESSOGRIPSEUDGRID1
SELECT 'GQTGRID_0E1F1948093A47BB', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrid', 'GQTGRID_CODGRID_', 'gqt';
end
GO
if (1497 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTHPESS_CODHPESS', 'codhpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemDesmarca PESSO
SELECT 'GQTHPESS_CCC4190D750E4340', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu PTN_1421
SELECT 'GQTHPESS_368E746D78BE409F', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqthpess', 'GQTHPESS_CODHPESS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINDOC_CODDENTR', 'coddentr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_E701DDAF19B648A8', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_E701DDAF19B648A8', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_E701DDAF19B648A8','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDENTNORINDOCDOCUMENR
SELECT 'GQTINDOC_12CC7CA9C2A1419F', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5497DA2482C34080', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_5497DA2482C34080', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_5497DA2482C34080','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtindoc', 'GQTINDOC_CODDENTR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLCEXT_CODLCEXT', 'codlcext', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_D75E0155A20B4598', 'glnext', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_D75E0155A20B4598', 'codlocat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_5266698F21FF4292', 'codlocat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocationextension', 'GQTLCEXT_CODLCEXT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDF_CODLNHDF', 'codlnhdf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP LNHDEPSEUDLNPROPS
SELECT 'GQTLNHDF_A551172C826C428C', 'codlnhde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhdf', 'GQTLNHDF_CODLNHDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPR_CODPROPR', 'codpropr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_6511F748F26040C0', 'codregia', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_6511F748F26040C0', 'codpais1', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_1649E0D2CF694980', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_1649E0D2CF694980', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_2ADE44FB5CDF49B8', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpropr', 'GQTPROPR_CODPROPR', 'gqt';
end
GO
if (1365 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAFINI_CODAFINI', 'codafini', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTAFINI_7216022BEFCC4DC0', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtafini', 'GQTAFINI_CODAFINI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSMA_CODASSMA', 'codassma', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET03PSEUDDOCUMENT
SELECT 'GQTASSMA_31F450D0EF0441B2', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetmanual', 'GQTASSMA_CODASSMA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSPA_CODASSPA', 'codasspa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET04PSEUDPARAMETE
SELECT 'GQTASSPA_47CEC6963006438C', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetparameter', 'GQTASSPA_CODASSPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTATTAC_CODATTAC', 'codattac', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_1D8EA677A3764182', 'codasset', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_50A6DDFB6B9B4069', 'attached', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_50A6DDFB6B9B4069', 'codasset', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtattachment', 'GQTATTAC_CODATTAC', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEQUIP_CODEQUIP', 'codequip', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_3C1E3FC67E9A44AA', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_3C1E3FC67E9A44AA', 'designat', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_3C1E3FC67E9A44AA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemDesmarca DECOM
SELECT 'GQTEQUIP_FBCB3DF2B9C04FE1', 'coddeco', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_8A2F0090948643AF', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_8A2F0090948643AF', 'sequennr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_8A2F0090948643AF','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTEQUIP_42E7073CBA504228', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_B14579EF22974A26', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_B14579EF22974A26', 'coddeco', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_B14579EF22974A26','bought', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_B14579EF22974A26','ifabatif', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_B14579EF22974A26','showrc', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_14F7BB2991A64655', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_14F7BB2991A64655', 'codtpequ', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_52B36330A3394C65', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_52B36330A3394C65', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu PTN_3G11
SELECT 'GQTEQUIP_9DA935AEE24F4D66', 'dtaquisi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_E422FA7A091741FD', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_E422FA7A091741FD', 'codpess1', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtequip', 'GQTEQUIP_CODEQUIP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLDENT_CODLDENT', 'codldent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_54AE5271555749F6', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_54AE5271555749F6', 'coddentr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_54AE5271555749F6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_4DB6728911074FB2', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_4DB6728911074FB2', 'dhentra', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_4DB6728911074FB2','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DENTRPSEUDENTRADAS
SELECT 'GQTLDENT_769E9065B7114F76', 'coddentr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_B3FCA8D4A126481B', 'coddentr', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_B3FCA8D4A126481B', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_B3FCA8D4A126481B','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtldent', 'GQTLDENT_CODLDENT', 'gqt';
end
GO
if (466 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTNOTIF_CODNOTIF', 'codnotif', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_B37C521966574971', 'begin', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_B7EE37F4576D440D', 'end', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_1523025B33AF498F', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_542DCB58B7B2473C', 'idnotif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_A2C027F493A440DD', 'idmsg', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_3E60572FB9C541B1', 'mailerr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_FBAA32609B4E4B4A', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_5F2B22A7D1DB4179', 'creatdat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_852363A297904116', 'creatope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtnotif', 'GQTNOTIF_CODNOTIF', 'gqt';
end
GO
if (501 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRODU_CODPRODU', 'codprodu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_311
SELECT 'GQTPRODU_1743B22A0EB74F07', 'product', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproduct', 'GQTPRODU_CODPRODU', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWCOM_CODPWCOM', 'codpwcom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTPWCOM_BB50A5EC37CA4BFC', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwcom', 'GQTPWCOM_CODPWCOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTANEXD_CODANEXD', 'codanexd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_931
SELECT 'GQTANEXD_CE3FD8ECC95B45D4', 'dthranex', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP EQUDOCUMPSEUDLISANEX
SELECT 'GQTANEXD_AA7DE449CA6A4E05', 'codequip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtanexd', 'GQTANEXD_CODANEXD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDILIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_84E45F4623EA41E6', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_84E45F4623EA41E6', 'coddispa', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_84E45F4623EA41E6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_9192A803D07F4452', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_9192A803D07F4452', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_9192A803D07F4452','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DISPAPSEUDDISPATCH
SELECT 'GQTDILIN_B009E0FAE4EC4E65', 'coddispa', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_FC8C49948D1D4FBE', 'coddispa', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_FC8C49948D1D4FBE', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_FC8C49948D1D4FBE','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatchline', 'GQTDILIN_CODDILIN', 'gqt';
end
GO
if (1569 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLDS_CODFLDS_', 'codflds', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu QWB_11
SELECT 'GQTFLDS_F1D2973943FF4067', 'duration', 0, 1, 0, 0
UNION ALL
SELECT 'GQTFLDS_F1D2973943FF4067','shwrc', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtflds', 'GQTFLDS_CODFLDS_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINSTA_CODINSTA', 'codinsta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR EQUIP
SELECT 'GQTINSTA_ADC24897EA5F4A4F', 'codequip', 0, 1, 0, 0
UNION ALL
SELECT 'GQTINSTA_ADC24897EA5F4A4F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_261
SELECT 'GQTINSTA_34AB0BE591E0490D', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_LEAFLET
SELECT 'GQTINSTA_1A640C39E60F4A66', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP TPEQUPSEUDINSTALAC
SELECT 'GQTINSTA_2CDBCE0643B44533', 'codtpequ', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinsta', 'GQTINSTA_CODINSTA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLENDI_CODLENDI', 'codlendi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_AD4C7A00CD1C4214', 'lendinnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_AD4C7A00CD1C4214', 'codpess1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_AD4C7A00CD1C4214','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_6ABDAEAC033C41E8', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_6ABDAEAC033C41E8', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_93370F8182B64C11', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_93370F8182B64C11', 'warndt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_93370F8182B64C11','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_93370F8182B64C11','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_7A9A3244CBB04D38', 'warndt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_7A9A3244CBB04D38','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_7A9A3244CBB04D38','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_0DDDCB69BFAE49A4', 'end', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_0DDDCB69BFAE49A4','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_0DDDCB69BFAE49A4','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_40F0679A75714800', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_40F0679A75714800', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_FF7B817426A7468D', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_FF7B817426A7468D', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_4DC15FC0FDDC416C', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_4DC15FC0FDDC416C', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_05DD7EE45FBE4B0C', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_05DD7EE45FBE4B0C', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_5C18A13A6959427C', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_5C18A13A6959427C', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_3027B205F099417D', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_3027B205F099417D', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_9BFD581FBD3F449D', 'codpess1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_9BFD581FBD3F449D', 'lendinnr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_9BFD581FBD3F449D','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlendi', 'GQTLENDI_CODLENDI', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMOVIM_CODMOVIM', 'codmovim', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_B219B111C85C403C', 'dhmudanc', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_B219B111C85C403C', 'codequip', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_B219B111C85C403C','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_1996FBE942EE4101', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_1996FBE942EE4101', 'codrooms', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_1996FBE942EE4101','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2511
SELECT 'GQTMOVIM_5D3CC6337D1B4BCE', 'codrooms', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmovim', 'GQTMOVIM_CODMOVIM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPHOTO_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_098B60EE58954F35', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_098B60EE58954F35', 'anexed', 0, 2, 0, 0
UNION ALL
SELECT 'GQTPHOTO_098B60EE58954F35','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_521A0A86C18F4095', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_521A0A86C18F4095', 'codequip', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtphoto', 'GQTPHOTO_CODPHOTO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRELIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_5512DE848F6C4DC9', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_5512DE848F6C4DC9', 'codrecei', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_5512DE848F6C4DC9','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_98798F7A4DA041F1', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_98798F7A4DA041F1', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_98798F7A4DA041F1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP RECEIPSEUDRECEIPTL
SELECT 'GQTRELIN_EE42A494A7F74841', 'codrecei', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_E0C285C08F0644C2', 'codrecei', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_E0C285C08F0644C2', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_E0C285C08F0644C2','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtreceiptline', 'GQTRELIN_CODDILIN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREPAR_CODREPAR', 'codrepar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_DD82943075F14C23', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_DD82943075F14C23', 'nrrepara', 1, 2, 0, 0
UNION ALL
SELECT 'GQTREPAR_DD82943075F14C23','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_REPAIR_LIST
SELECT 'GQTREPAR_67679B63F5984870', 'dtrepara', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_E44D63D30622494B', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_E44D63D30622494B', 'nrrepara', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtrepar', 'GQTREPAR_CODREPAR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTVISIT_CODVISIT', 'codvisit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_7CD1C5229E0B4000', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_7CD1C5229E0B4000', 'startdt', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_D27C56628B404FFF', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_D27C56628B404FFF', 'codequip', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_A37F6983CA4548FB', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_A37F6983CA4548FB', 'dtfim', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_E896ED77B83644D2', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_E896ED77B83644D2', 'color', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtvisit', 'GQTVISIT_CODVISIT', 'gqt';
end
GO
if (1560 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFEECA_CODFEECA', 'codfeeca', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1931
SELECT 'GQTFEECA_70349880C6F84C00', 'feedback', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FLDSTBLPSEUDFEECA
SELECT 'GQTFEECA_5E021890FBC84190', 'codflds', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfeeca', 'GQTFEECA_CODFEECA', 'gqt';
end
GO

if (1756 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'gqtalerta_alerta01'))
	DROP INDEX gqtalerta_alerta01 ON gqtalerta
CREATE INDEX gqtalerta_alerta01 ON gqtalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit01'))
	DROP INDEX gqtpostit_postit01 ON gqtpostit
CREATE INDEX gqtpostit_postit01 ON gqtpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit02'))
	DROP INDEX gqtpostit_postit02 ON gqtpostit
CREATE INDEX gqtpostit_postit02 ON gqtpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit03'))
	DROP INDEX gqtpostit_postit03 ON gqtpostit
CREATE INDEX gqtpostit_postit03 ON gqtpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit04'))
	DROP INDEX gqtpostit_postit04 ON gqtpostit
CREATE INDEX gqtpostit_postit04 ON gqtpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit05'))
	DROP INDEX gqtpostit_postit05 ON gqtpostit
CREATE INDEX gqtpostit_postit05 ON gqtpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit06'))
	DROP INDEX gqtpostit_postit06 ON gqtpostit
CREATE INDEX gqtpostit_postit06 ON gqtpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit07'))
	DROP INDEX gqtpostit_postit07 ON gqtpostit
CREATE INDEX gqtpostit_postit07 ON gqtpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'gqtaltent_altent01'))
	DROP INDEX gqtaltent_altent01 ON gqtaltent
CREATE INDEX gqtaltent_altent01 ON gqtaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega01'))
	DROP INDEX gqtdelega_delega01 ON gqtdelega
CREATE INDEX gqtdelega_delega01 ON gqtdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega02'))
	DROP INDEX gqtdelega_delega02 ON gqtdelega
CREATE INDEX gqtdelega_delega02 ON gqtdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstusr_codpsw'))
	DROP INDEX gqtlstusr_codpsw ON gqtlstusr
CREATE INDEX gqtlstusr_codpsw ON gqtlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstcol_codlstusr'))
	DROP INDEX gqtlstcol_codlstusr ON gqtlstcol
CREATE INDEX gqtlstcol_codlstusr ON gqtlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstren_codlstusr'))
	DROP INDEX gqtlstren_codlstusr ON gqtlstren
CREATE INDEX gqtlstren_codlstusr ON gqtlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtusrwid_codlstusr'))
	DROP INDEX gqtusrwid_codlstusr ON gqtusrwid
CREATE INDEX gqtusrwid_codlstusr ON gqtusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid_name'))
	DROP INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid'))
	DROP INDEX gqttblcfg_codpsw_uuid ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid ON gqttblcfg (codpsw, uuid)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfgsel_codpsw_uuid'))
	DROP INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel
CREATE INDEX gqttblcfgsel_codpsw_uuid ON gqttblcfgsel (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'gqtmqqueues_tabelacod'))
	DROP INDEX gqtmqqueues_tabelacod ON gqtmqqueues
CREATE INDEX gqtmqqueues_tabelacod ON gqtmqqueues (tabelacod)

if (exists(select top 1 name from sys.indexes where name = 'gqtmqqueues_channelid'))
	DROP INDEX gqtmqqueues_channelid ON gqtmqqueues
CREATE INDEX gqtmqqueues_channelid ON gqtmqqueues (channelid, datastatus) INCLUDE (sendnumber,	mqstatus)

if (exists(select top 1 name from sys.indexes where name = 'gqtmqqueues_queuekey'))
	DROP INDEX gqtmqqueues_queuekey ON gqtmqqueues
CREATE INDEX gqtmqqueues_queuekey ON gqtmqqueues (queuekey)


if (exists(select top 1 name from sys.indexes where name = 'loggqtall_loggqtall01'))
	DROP INDEX loggqtall_loggqtall01 ON loggqtall
CREATE CLUSTERED INDEX [loggqtall_loggqtall01] ON [dbo].[logGQTall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE GQTcfg set versindx = 1756
end
GO