
--Se por alguma razão ainda não existe a tabela de logs, cria-a
--Existe o mesmo código para a crição da tabela no template tblHardcoded para ela poder ser referenciada por exemplo em views
IF OBJECT_ID('dbo.logGQTall', 'U') IS NULL
BEGIN
  USE [W_GnBD]
	CREATE TABLE [dbo].[logGQTall](
	  [COD] [varchar](38) NOT NULL,
	  [LOGTABLE] [varchar](50) NULL,
		[LOGFIELD] [varchar](50) NULL,
		[OP] [char](1) NOT NULL,
		[VAL] [varchar](MAX) NULL,
		[DATE] [datetime] NOT NULL,
		[WHO] [varchar](50) NULL
	)
END

-- Alteração: os campos tipo Memo sem RTF passam também a entrar para os log triggers,
-- o que obriga a ter a coluna val com varchar(max) caso tenha sido gerado SQLServer 2005 ou 2008
-- especificamos o tamanho a -1 para a função detectar que os tamanhos de campos são diferentes
-- e executar a alteração (o SQLServer assume que o tamanho de varchar(max) é -1)
exec AlterarCamposTmp 'logGQTall', 'VAL', 'VARCHAR', 'VARCHAR(MAX)', -1
GO


USE [W_GnBD]
IF OBJECT_ID('tlog_GQTAsset', 'TR') IS NOT NULL
   DROP TRIGGER tlog_GQTAsset
GO

CREATE TRIGGER tlog_GQTAsset
  ON GQTAsset AFTER INSERT,UPDATE,DELETE
AS
BEGIN
if @@ROWCOUNT = 0
		return
set ansi_nulls off
set nocount on

	declare @now as datetime
	set @now = getdate()

-- Action being done
-- testing the nature of the change in the overhead SAVES execution plan by skipping the "insert into logXXXall" that will select nothing, but it consumes time to figure it out:
declare @Type varchar
IF EXISTS (SELECT TOP 1 codasset FROM inserted)
       IF EXISTS (SELECT TOP 1 codasset FROM deleted)
               SELECT @Type = 'U'
       ELSE
               SELECT @Type = 'I'
ELSE
       SELECT @Type = 'D'
	   
--catches the inserts (only for ZZSTATES at 0)
IF(@Type = 'I')
BEGIN
	insert into logGQTall  (cod, logtable, logfield, op, val, [date], who)
	select inserted.codasset as cod, 'gqtasset' as logtable, NULL , 'I', NULL as val, @now as [date], HOST_NAME()
	from inserted 
	where inserted.zzstate = 0;
END	   

IF(@Type = 'D') --catches the deletes
--"who" will be hostname and not username because the delete operation does not mark the record with any aditional information (only for ZZSTATES at 0)
--Please use shadow tables to record the aplicational deletes and cross that information with this one to trace who did the delete
--Another possibility is crossing the information with the Mem table to know what user was logged in at that time
BEGIN
	insert into logGQTall  (cod, logtable, logfield, op, val, [date], who)
	select deleted.codasset, 'gqtasset' as logtable, NULL , 'D', NULL as val, @now as [date], HOST_NAME()
	-- JGF 2021.06.30 Removed zzstate verification. Check issue PAT 97 for reasoning.
	from deleted 
END

IF(@Type = 'U') -- catches the updates
BEGIN
-- Tests if any the change really affects the logged fields (set in GENIO definitions), 
-- updated compare method to use EXCEPT operator (basically retrieves the row if values are diferent, this method is also considering NULL comparisons, which is great)
	insert into logGQTall  (cod, logtable, logfield, op, val, [date], who)
	
	--APPLICATIONAL INSERTS (moved to this update condition, since in fact its an update at SQL level, saves overhead calculations to catch this case)
	select inserted.codasset as cod, 'gqtasset' as logtable, NULL , 'I', NULL as val, @now as [date], HOST_NAME()
	from inserted left outer join deleted on deleted.codasset = inserted.codasset
    where inserted.zzstate = 0 and deleted.zzstate <> 0
	UNION ALL
	
	--NORMAL UPDATES
	select cod, logtable, logfield, 'U', val, @now, HOST_NAME() 
	FROM
	(
 		select inserted.codasset as cod, 'gqtasset' as logtable, 'assetnum' as logfield, cast(inserted.[assetnum]  as varchar(max)) as val 
		from inserted inner join deleted on deleted.codasset = inserted.codasset
		where EXISTS (SELECT inserted.[assetnum] EXCEPT SELECT deleted.[assetnum]) 
		-- JGF 2021.06.30 Removed zzstate verification. Check issue PAT 97 for reasoning.
  
 	) log_changed_fields
END --IF UPDATE

END --TRIGGER
GO
