

USE [W_GnBD]

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[logGQTall_ASSET_VIEW]') AND xtype = N'V') DROP VIEW [dbo].[logGQTall_ASSET_VIEW]
GO

CREATE VIEW [dbo].[logGQTall_ASSET_VIEW] AS
SELECT
	[logGQTall].[COD] [COD],
	[logGQTall].[DATE] [DATE],
	[logGQTall].[OP] [OP],
	MAX (CASE WHEN [logGQTall].[LOGFIELD] = 'assetnum' THEN [logGQTall].[VAL] END) [ASSET.ASSETNUM],
	[logGQTall].[WHO] [WHO]
FROM [logGQTall]
WHERE [logGQTall].[LOGTABLE] = 'gqtasset'
GROUP BY
	[logGQTall].[COD],
	[logGQTall].[DATE],
	[logGQTall].[OP],
	[logGQTall].[WHO];
GO

	
