 if db_id('W_GnBD') is null
begin
	CREATE DATABASE [W_GnBD] COLLATE SQL_Latin1_General_CP1_CI_AI
	ALTER DATABASE [W_GnBD] SET RECOVERY SIMPLE
	ALTER DATABASE [W_GnBD] SET AUTO_CLOSE  OFF
end
else
begin
	if ((select convert(sysname,DatabasePropertyEx('W_GnBD','Collation'))) != 'SQL_Latin1_General_CP1_CI_AI')
	begin
		ALTER DATABASE [W_GnBD] SET SINGLE_USER WITH ROLLBACK IMMEDIATE 
		ALTER DATABASE [W_GnBD] COLLATE SQL_Latin1_General_CP1_CI_AI
		ALTER DATABASE [W_GnBD] SET MULTI_USER
	end
end
GO
use [W_GnBD]
if (cast(substring(convert(nvarchar(25), (SELECT SERVERPROPERTY('productversion'))),1,2) as float) >= 10)
begin
			/*IF NOT EXISTS(SELECT [sys].[database_files].[name] 
					FROM [sys].[tables] 
					INNER JOIN [sys].[database_files] ON TABLES.[filestream_data_space_id] = DATABASE_FILES.[data_space_id]
				  	WHERE [sys].[tables].[name] LIKE '%docums')*/
  	IF NOT EXISTS(SELECT name FROM [sys].[database_files] WHERE [sys].[database_files].type_desc = 'FILESTREAM')
	BEGIN
		IF NOT EXISTS(SELECT filegroup_guid FROM SYS.filegroups WHERE name = 'FileStreamGroup_W_GnBD')
			ALTER DATABASE W_GnBD add FILEGROUP FileStreamGroup_W_GnBD CONTAINS FILESTREAM;
		
		/*IF NOT EXISTS(SELECT filegroup_guid FROM SYS.filegroups WHERE name = 'FileStreamGroup_W_GnBD')
			ALTER DATABASE W_GnBD add FILEGROUP FileStreamGroup_W_GnBD CONTAINS FILESTREAM;
		*/
		IF NOT EXISTS(SELECT FILE_ID FROM SYS.database_files WHERE name = 'FileStream_W_GnBD' AND type_desc = 'FILESTREAM')
			ALTER DATABASE W_GnBD ADD FILE(NAME=FileStream_W_GnBD, FILENAME='W_PathFS\W_GnBD_FileStream') TO FILEGROUP FileStreamGroup_W_GnBD;
	END
end
GO
