USE [W_GnBD]


DECLARE @codPsw uniqueidentifier 

DECLARE @codUserAuth uniqueidentifier 

IF NOT EXISTS (SELECT * FROM UserLogin WHERE nome = 'QUIDGEST') 
BEGIN
		set @codPsw = NewID()
		INSERT INTO UserLogin (codpsw, nome, password, zzstate) VALUES (@codPsw,'QUIDGEST', 'TQOQMQJLFIB:?@:65:1,', 0)
END
else
	SELECT @codPsw = codpsw FROM UserLogin WHERE nome = 'QUIDGEST'

IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'TBS' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
	INSERT INTO UserAuthorization (codua, codpsw, sistema, modulo, nivel, zzstate) VALUES (@codUserAuth, @codPsw,'GQT', 'TBS', 99, 0)	
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'WMS' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
	INSERT INTO UserAuthorization (codua, codpsw, sistema, modulo, nivel, zzstate) VALUES (@codUserAuth, @codPsw,'GQT', 'WMS', 99, 0)	
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'IMO' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
	INSERT INTO UserAuthorization (codua, codpsw, sistema, modulo, nivel, zzstate) VALUES (@codUserAuth, @codPsw,'GQT', 'IMO', 99, 0)	
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'TRN' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'STY' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'PTN' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'REG' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
END
IF NOT EXISTS (SELECT * FROM UserAuthorization WHERE sistema = 'GQT' AND modulo = 'GQT' and codpsw = @codPsw) 
BEGIN
	SET @codUserAuth = NewID()
END
