*{gqtfeeca}*
GO
USE [W_GnBD]
GO
*{gqtvisit}*
GO
USE [W_GnBD]
GO
*{stock}*
GO
USE [W_GnBD]
GO
*{gqtrepar}*
GO
USE [W_GnBD]
GO
*{gqtreceiptline}*
GO
USE [W_GnBD]
GO
*{gqtphoto}*
GO
USE [W_GnBD]
GO
*{gqtmovim}*
GO
USE [W_GnBD]
GO
*{gqtlendi}*
GO
USE [W_GnBD]
GO
*{gqtinsta}*
GO
USE [W_GnBD]
GO
*{gqtflds}*
GO
USE [W_GnBD]
GO
*{gqtdispatchline}*
GO
USE [W_GnBD]
GO
*{gqtanexd}*
GO
USE [W_GnBD]
GO
*{gqtpwcom}*
GO
USE [W_GnBD]
GO
*{gqtproduct}*
USE [W_GnBD]
update [gqtproduct] set
     [outputs] = + (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
     ,[stock] = - (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
              + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
     ,[inputs] = + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqtnotif}*
GO
USE [W_GnBD]
GO
*{gqtldent}*
GO
USE [W_GnBD]
GO
*{gqtequip}*
USE [W_GnBD]
update [gqtequip] set
     [valortot] = + (select isnull(sum(source.[VALUE]),0) from [gqtinsta] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)
     ,[qtdmovim] = + (select isnull(count(*),0) from [gqtmovim] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)
GO
USE [W_GnBD]
update [gqtequip] set [gqtequip].[moviment] = (select SUBSTRING((SELECT '; ' + cast([roomnr] as nvarchar(MAX)) AS [text()] From gqtmovim Where dbo.emptyC(cast([roomnr] as nvarchar(MAX))) = 0 and cast([roomnr] as nvarchar(MAX))<> '' AND codequip = gqtequip.codequip AND ZZSTATE=0 ORDER BY dhmudanc For XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'),3,8000))
GO
*{ccorr}*
GO
USE [W_GnBD]
GO
*{gqtattachment}*
GO
USE [W_GnBD]
GO
*{gqtassetparameter}*
GO
USE [W_GnBD]
GO
*{gqtassetmanual}*
GO
USE [W_GnBD]
GO
*{gqtafini}*
GO
USE [W_GnBD]
GO
*{gqtpropr}*
GO
USE [W_GnBD]
GO
*{gqtlnhdf}*
GO
USE [W_GnBD]
GO
*{gqtlocationextension}*
GO
USE [W_GnBD]
GO
*{gqtindoc}*
GO
USE [W_GnBD]
GO
*{gqthpess}*
GO
USE [W_GnBD]
GO
*{gqtgrid}*
GO
USE [W_GnBD]
GO
*{gqtevcat}*
GO
USE [W_GnBD]
GO
*{gqtesppe}*
GO
USE [W_GnBD]
GO
*{gqtconta}*
GO
USE [W_GnBD]
GO
*{gqtbrdps}*
GO
USE [W_GnBD]
GO
*{gqtasset}*
GO
USE [W_GnBD]
GO
*{gqtreceipt}*
GO
USE [W_GnBD]
GO
*{gqtpessoas}*
GO
USE [W_GnBD]
GO
*{gqtmessages}*
GO
USE [W_GnBD]
GO
*{gqtlocation}*
GO
USE [W_GnBD]
GO
*{gqtlnhde}*
GO
USE [W_GnBD]
GO
*{gqtfltsc}*
GO
USE [W_GnBD]
GO
*{gqtexpen}*
GO
USE [W_GnBD]
GO
*{gqtdispatch}*
GO
USE [W_GnBD]
GO
*{gqtpwreg}*
GO
USE [W_GnBD]
GO
*{gqtproph}*
GO
USE [W_GnBD]
GO
*{gqtprocn}*
GO
USE [W_GnBD]
GO
*{gqtoutpu}*
GO
USE [W_GnBD]
GO
*{gqtlnhag}*
USE [W_GnBD]
update [gqtlnhag] set
     [qtdtpequ] = + (select isnull(sum(source.[QUANTIDA]),0) from [gqtlnhde] as source where [gqtlnhag].[codlnhag] = source.[codlnhag] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqtfligh}*
GO
USE [W_GnBD]
GO
*{gqtentity}*
GO
USE [W_GnBD]
GO
*{gqtcmpki}*
GO
USE [W_GnBD]
GO
*{gqtagreg}*
USE [W_GnBD]
update [gqtagreg] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtexpen] as source where [gqtagreg].[codaggre] = source.[codaggre] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqttradu}*
GO
USE [W_GnBD]
GO
*{gqttabpr}*
GO
USE [W_GnBD]
GO
*{gqtregio}*
GO
USE [W_GnBD]
GO
*{gqtprope}*
GO
USE [W_GnBD]
GO
*{gqtproje}*
GO
USE [W_GnBD]
GO
*{gqtoutpt}*
GO
USE [W_GnBD]
GO
*{gqtlnhpd}*
GO
USE [W_GnBD]
GO
*{gqtitemp}*
GO
USE [W_GnBD]
GO
*{gqtitemc}*
GO
USE [W_GnBD]
GO
*{gqtgames}*
GO
USE [W_GnBD]
GO
*{gqtwpess}*
GO
USE [W_GnBD]
GO
*{gqtusers}*
GO
USE [W_GnBD]
GO
*{gqttpequ}*
GO
USE [W_GnBD]
GO
*{gqttpcon}*
GO
USE [W_GnBD]
GO
*{gqttickt}*
GO
USE [W_GnBD]
GO
*{gqttblk}*
GO
USE [W_GnBD]
GO
*{gqttblb}*
GO
USE [W_GnBD]
GO
*{gqtsales}*
GO
USE [W_GnBD]
GO
*{gqtsale}*
GO
USE [W_GnBD]
GO
*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{gqtroigi}*
GO
USE [W_GnBD]
GO
*{gqtroigf}*
GO
USE [W_GnBD]
GO
*{gqtpworg}*
GO
USE [W_GnBD]
GO
*{gqtprpin}*
GO
USE [W_GnBD]
GO
*{gqtparameter}*
GO
USE [W_GnBD]
GO
*{gqtmanualtocollect}*
GO
USE [W_GnBD]
GO
*{gqtitem}*
USE [W_GnBD]
update [gqtitem] set
     [existenc] = - (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
              + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
     ,[exits] = + (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
     ,[entries] = + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
GO
USE [W_GnBD]
update [gqtitem] set [gqtitem].[category] = (select SUBSTRING((SELECT '; ' + cast([tpcateg] as nvarchar(MAX)) AS [text()] From gqtitemc Where dbo.emptyC(cast([tpcateg] as nvarchar(MAX))) = 0 and cast([tpcateg] as nvarchar(MAX))<> '' AND coditem = gqtitem.coditem AND ZZSTATE=0 ORDER BY tpcateg For XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'),3,8000))
GO
*{gqtglob}*
GO
USE [W_GnBD]
GO
*{gqtfaqs}*
GO
USE [W_GnBD]
GO
*{gqtfacility}*
GO
USE [W_GnBD]
GO
*{gqtcmpny}*
USE [W_GnBD]
update [gqtcmpny] set
     [qtdpesso] = + (select isnull(count(*),0) from [gqtpessoas] as source where [gqtcmpny].[codempre] = source.[codempre] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqtcity}*
GO
USE [W_GnBD]
GO
*{gqtcattp}*
GO
USE [W_GnBD]
GO
*{gqtairpt}*
GO
USE [W_GnBD]
GO
*{gqtairpl}*
GO
USE [W_GnBD]
GO
*{gqtyear}*
USE [W_GnBD]
update [gqtyear] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtagreg] as source where [gqtyear].[codyear] = source.[codyear] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqtwareh}*
USE [W_GnBD]
update [gqtwareh] set
     [num_employee] = + (select isnull(count(*),0) from [gqtwpess] as source where [gqtwareh].[codwareh] = source.[codwareh] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{gqtuicom}*
GO
USE [W_GnBD]
GO
*{gqttrsb}*
GO
USE [W_GnBD]
GO
*{gqttppro}*
GO
USE [W_GnBD]
GO
*{gqtteamp}*
GO
USE [W_GnBD]
GO
*{gqtstrat}*
GO
USE [W_GnBD]
GO
*{gqtstake}*
GO
USE [W_GnBD]
GO
*{gqtspeci}*
GO
USE [W_GnBD]
GO
*{gqtspace}*
GO
USE [W_GnBD]
GO
*{gqtshity}*
GO
USE [W_GnBD]
GO
*{gqtsbcat}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{gqtrules}*
GO
USE [W_GnBD]
GO
*{gqtrordi}*
GO
USE [W_GnBD]
GO
*{gqtrordf}*
GO
USE [W_GnBD]
GO
*{gqtrooms}*
GO
USE [W_GnBD]
GO
*{gqtrole}*
GO
USE [W_GnBD]
GO
*{gqtrogl1}*
GO
USE [W_GnBD]
GO
*{gqtregis}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{gqtpsngr}*
GO
USE [W_GnBD]
GO
*{gqtperson}*
GO
USE [W_GnBD]
GO
*{gqtperiod}*
GO
USE [W_GnBD]
GO
*{gqtpedid}*
GO
USE [W_GnBD]
GO
*{gqtoudoc}*
GO
USE [W_GnBD]
GO
*{gqtorgan}*
GO
USE [W_GnBD]
GO
*{gqtmem}*
GO
USE [W_GnBD]
GO
*{gqtlangu}*
GO
USE [W_GnBD]
GO
*{gqtkindofequipment}*
GO
USE [W_GnBD]
GO
*{gqtinpgr}*
GO
USE [W_GnBD]
GO
*{gqtgrpb}*
GO
USE [W_GnBD]
GO
*{gqtgitem}*
GO
USE [W_GnBD]
GO
*{gqtgenre}*
GO
USE [W_GnBD]
GO
*{gqtftgri}*
GO
USE [W_GnBD]
GO
*{gqtfamil}*
GO
USE [W_GnBD]
GO
*{gqtfacilitytype}*
GO
USE [W_GnBD]
GO
*{gqtdatatypes}*
GO
USE [W_GnBD]
GO
*{gqtdisst}*
GO
USE [W_GnBD]
GO
*{gqtdesam}*
GO
USE [W_GnBD]
GO
*{gqtdecom}*
GO
USE [W_GnBD]
GO
*{gqtctry}*
GO
USE [W_GnBD]
GO
*{gqtcntry}*
GO
USE [W_GnBD]
GO
*{gqtcfaqs}*
GO
USE [W_GnBD]
GO
*{gqtcategorias}*
GO
USE [W_GnBD]
GO
*{gqtaudit}*
GO
USE [W_GnBD]
GO
*{gqtairln}*
GO
USE [W_GnBD]
GO
*{gqtagent}*
GO
USE [W_GnBD]
GO
*{gqtaero}*
GO
USE [W_GnBD]
GO
*{gqtaddrl}*
GO
USE [W_GnBD]
GO
*{gqpaddress}*
GO
USE [W_GnBD]
GO
