-- Framework change routines

-- Migrate data from field NIVEL to field ROLE
IF (0 < (SELECT COUNT(*) FROM UserAuthorization WHERE ROLE IS NULL))
BEGIN
	UPDATE UserAuthorization
	SET ROLE = NIVEL
	WHERE NIVEL <> 0
END
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_0_1]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_0_1]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_0_1
AS
BEGIN
UPDATE GQTtblcfg SET CONFIG =
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
CONFIG,
''~'', ''|~|''),
''"'', ''~"''),
''\~"Name\~"'', ''"name"''),
''\~"Active\~"'', ''"active"''),
''\~"Conditions\~"'', ''"conditions"''),
''\~"Field\~"'', ''"field"''),
''\~"Operator\~"'', ''"operator"''),
''\~"Values\~"'', ''"values"''),
''\~"'', ''"''),
''~"advancedFilters~"'', ''"advancedFilters"''),
''~"columnFilters~"'', ''"columnFilters"''),
''~"groupFilterValues~"'', ''"staticFilters"''),
''~"activeFilter~"'', ''"activeFilter"''),
''~"initialSortColumn~"'', ''"columnOrderBy"''),
''~"perPage~"'', ''"rowsPerPage"''),
''~"defaultSearchColumn~"'', ''"defaultSearchColumn"''),
''~"columnOrder~"'', ''"columnConfiguration"''),
''~"columnSizes~"'', ''"columnSizes"''),
''~"hasTextWrap~"'', ''"lineBreak"''),
''\\'', ''\''),
''~"'', ''''),
''|~|'', ''~'')
UPDATE GQTcfg SET usrsetv = 1;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_1_2]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_1_2]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_1_2
AS
BEGIN
UPDATE GQTtblcfg SET usrsetv = 1;
UPDATE GQTcfg SET usrsetv = 2;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_tblcfgsel]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_tblcfgsel]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_tblcfgsel
AS
BEGIN
-- Init the ISDEFAULT column
UPDATE GQTtblcfg SET ISDEFAULT = 0;

-- Move default view indicator to table TBLCFG
UPDATE cfg
SET ISDEFAULT = 1
FROM GQTtblcfg cfg
INNER JOIN GQTtblcfgsel sel ON cfg.CODTBLCFG = sel.CODTBLCFG;

-- Drop table TBLCFGSEL afterwards
DROP TABLE GQTtblcfgsel;

-- Also drop column CONFIGID, as it is not being used
ALTER TABLE GQTtblcfg DROP COLUMN CONFIGID;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_2_3]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_2_3]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_2_3
AS
BEGIN
UPDATE GQTcfg SET usrsetv = 3;
END')
GO

DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.GQTcfg
IF @usrsetv = '0'
	EXEC dbo.UpdateUserSettingsFormat_0_1
GO
DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.GQTcfg
IF @usrsetv = '1'
	EXEC dbo.UpdateUserSettingsFormat_1_2
GO
DECLARE @TableExists BIT = IIF(OBJECT_ID('dbo.GQTtblcfgsel', 'U') IS NOT NULL, 1, 0);
IF @TableExists = 1
	EXEC dbo.UpdateUserSettingsFormat_tblcfgsel
GO
DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.GQTcfg
IF @usrsetv = '2'
	EXEC dbo.UpdateUserSettingsFormat_2_3
GO
