-- recalculo de fórmulas para a tabela GQTFEECA
GO
GO
-- recalculo de fórmulas para a tabela GQTVISIT
GO
GO
-- recalculo de fórmulas para a tabela STOCK
GO
GO
-- recalculo de fórmulas para a tabela GQTREPAR
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTReceiptLine
-- Layer 0
update [relin]
SET [relin].[outstand] =[relin].[ordered]-[relin].[received]
FROM [gqtreceiptline] AS [relin]


GO
GO
-- recalculo de fórmulas para a tabela GQTPHOTO
GO
GO
-- recalculo de fórmulas para a tabela GQTMOVIM
-- Layer 0
update [movim]
SET [movim].[roomnr] =ISNULL([rooms].[roomnr], '')+' '+ISNULL([rooms].[designat], '')
FROM [gqtmovim] AS [movim]
LEFT JOIN [gqtrooms] as [rooms] ON [movim].[codrooms]=[rooms].[codrooms]


GO
GO
-- recalculo de fórmulas para a tabela GQTLENDI
-- Layer 0
update [lendi]
SET [lendi].[warndt] =dbo.SomaDias([lendi].[start],ISNULL([equip].[frequenc], 0))
,[lendi].[returned] =(case when (dbo.emptyD([lendi].[returndt])=1) then 0 else 1 end)
FROM [gqtlendi] AS [lendi]
LEFT JOIN [gqtequip] as [equip] ON [lendi].[codequip]=[equip].[codequip]


-- Layer 1
update [lendi]
SET [lendi].[end] =dbo.SomaDias([lendi].[warndt],1)
FROM [gqtlendi] AS [lendi]


-- Layer 2
update [lendi]
SET [lendi].[dayslimi] =(case when (dbo.emptyD([lendi].[end])=1) then 0 else dbo.Diferenca_entre_Datas(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),[lendi].[end],'D') end)
FROM [gqtlendi] AS [lendi]


-- Layer 3
update [lendi]
SET [lendi].[ifoutdt] =(case when ([lendi].[dayslimi]<0) then 1 else 0 end)
FROM [gqtlendi] AS [lendi]


GO
GO
-- recalculo de fórmulas para a tabela GQTINSTA
USE [W_GnBD]
UPDATE [gqtinsta] SET [gqtinsta].[precohor] = ISNULL((SELECT TOP 1 [gqttabpr].[precohor] FROM [gqttabpr] WHERE  [gqttabpr].[since] <= [gqtinsta].[since] AND [gqttabpr].[codtpeq1] = [gqtinsta].[codtpequ]  ORDER BY [gqttabpr].[since] DESC), 0);
GO
-- Layer 0
update [insta]
SET [insta].[hours] =(case when (dbo.emptyD([insta].[since])=1 or dbo.emptyD([insta].[until])=1) then 0 else dbo.Diferenca_entre_Datas([insta].[since],[insta].[until],'H') end)
FROM [gqtinsta] AS [insta]


-- Layer 1
update [insta]
SET [insta].[value] =[insta].[hours]*[insta].[precohor]
FROM [gqtinsta] AS [insta]


GO
GO
-- recalculo de fórmulas para a tabela GQTFLDS
GO
GO
-- recalculo de fórmulas para a tabela GQTDispatchLine
-- Layer 0
update [dilin]
SET [dilin].[outstand] =[dilin].[ordered]-[dilin].[delivere]
FROM [gqtdispatchline] AS [dilin]


GO
GO
-- recalculo de fórmulas para a tabela GQTANEXD
USE [W_GnBD]
UPDATE [gqtanexd] SET [gqtanexd].[tittradu] = ISNULL((SELECT TOP 1 [gqttradu].[traduzid] FROM [gqttradu] WHERE  [gqttradu].[atraduzi] <= [gqtanexd].[title] AND [gqttradu].[codidio2] = [gqtanexd].[codlang]  ORDER BY [gqttradu].[atraduzi] DESC), '');
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTPWCOM
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTProduct
USE [W_GnBD]
update [gqtproduct] set
     [stock] = - (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
     
 + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
,
     [outputs] = + (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
,
     [inputs] = + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTNOTIF
GO
GO
-- recalculo de fórmulas para a tabela GQTLDENT
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTEQUIP
USE [W_GnBD]
-- Last value from gqtmovim
update [gqtequip] set [codrooms] = tmptab1.[codrooms] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[dhmudanc]) as uData from [gqtmovim] as tmpFromTab  where tmpFromTab.[dhmudanc] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtmovim] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[dhmudanc] = tmptab2.uData
-- Clean last value from gqtmovim
update [gqtequip] set [codrooms] = NULL where not exists(select [src].[codequip] from [gqtmovim] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[dhmudanc] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
-- Last value from gqtphoto
update [gqtequip] set [lastpho] = tmptab1.[photogra] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[anexed]) as uData from [gqtphoto] as tmpFromTab  where tmpFromTab.[anexed] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtphoto] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[anexed] = tmptab2.uData
-- Clean last value from gqtphoto
update [gqtequip] set [lastpho] = NULL where not exists(select [src].[codequip] from [gqtphoto] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[anexed] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
GO
USE [W_GnBD]
UPDATE [gqtequip] SET [gqtequip].[first] = ISNULL((SELECT TOP 1 [gqtmovim].[roomnr] FROM [gqtmovim] WHERE  [gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere] AND [gqtmovim].[codequip] = [gqtequip].[codequip]  ORDER BY [gqtmovim].[dhmudanc] ASC), '');
UPDATE [gqtequip] SET [gqtequip].[before] = ISNULL((SELECT TOP 1 [gqtmovim].[roomnr] FROM [gqtmovim] WHERE  [gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere]  ORDER BY [gqtmovim].[dhmudanc] DESC), '');
UPDATE [gqtequip] SET [gqtequip].[followin] = ISNULL((SELECT TOP 1 [gqtmovim].[roomnr] FROM [gqtmovim] WHERE  [gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] AND [gqtmovim].[codequip] = [gqtequip].[codequip]  ORDER BY [gqtmovim].[dhmudanc] ASC), '');
UPDATE [gqtequip] SET [gqtequip].[last] = ISNULL((SELECT TOP 1 [gqtmovim].[roomnr] FROM [gqtmovim] WHERE  [gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] AND [gqtmovim].[codequip] = [gqtequip].[codequip]  ORDER BY [gqtmovim].[dhmudanc] DESC), '');
UPDATE [gqtequip] SET [gqtequip].[moviment] = ((SELECT SUBSTRING((SELECT  '; ' + cast(([gqtmovim].[roomnr]) as nvarchar(MAX))  as [text()] FROM [gqtmovim] WHERE [codequip] = [gqtequip].[codequip] AND [zzstate] = 0 AND  [gqtmovim].[roomnr] <> '' AND [gqtmovim].[roomnr] IS NOT NULL ORDER BY [gqtmovim].[dhmudanc] FOR XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'), 3, 8000)));
GO
USE [W_GnBD]
update [gqtequip] set
     [valortot] = + (select isnull(sum(source.[VALUE]),0) from [gqtinsta] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)
,
     [qtdmovim] = + (select isnull(count(*),0) from [gqtmovim] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)

GO
-- Layer 0
update [equip]
SET [equip].[registnr] =right('000000'+dbo.NumericToString([equip].[sequennr],0),6)
,[equip].[bought] =(case when (dbo.emptyD([equip].[dtaquisi])=1) then 0 else 1 end)
FROM [gqtequip] AS [equip]


-- Layer 1
update [equip]
SET [equip].[ifabatif] =(case when (dbo.emptyD([equip].[dtdeco])=1) then 0 else 1 end)
FROM [gqtequip] AS [equip]


GO
GO
-- recalculo de fórmulas para a tabela CCORR
GO
GO
-- recalculo de fórmulas para a tabela GQTAttachment
GO
GO
-- recalculo de fórmulas para a tabela GQTAssetParameter
-- Layer 0
update [asspa]
SET [asspa].[toshow] =(case when ([asspa].[datatype]='T') then [asspa].[text] else (case when ([asspa].[datatype]='N') then dbo.NumericToString([asspa].[quantity],0) else (case when ([asspa].[datatype]='D') then dbo.NumericToString(year([asspa].[date]),0)+'-'+right('00'+dbo.NumericToString(month([asspa].[date]),0),2)+'-'+right('00'+dbo.NumericToString(day([asspa].[date]),0),2) else '' end) end) end)
FROM [gqtassetparameter] AS [asspa]


GO
GO
-- recalculo de fórmulas para a tabela GQTAssetManual
GO
GO
-- recalculo de fórmulas para a tabela GQTAFINI
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPR
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHDF
GO
GO
-- recalculo de fórmulas para a tabela GQTLocationExtension
GO
GO
-- recalculo de fórmulas para a tabela GQTINDOC
-- Layer 0
update [indoc]
SET [indoc].[date] =(case when (dbo.emptyG([indoc].[codwareh])=1) then NULL else [indoc].[dhdocume] end)
FROM [gqtindoc] AS [indoc]


GO
GO
-- recalculo de fórmulas para a tabela GQTHPESS
GO
GO
-- recalculo de fórmulas para a tabela GQTGRID
GO
GO
-- recalculo de fórmulas para a tabela GQTEVCAT
USE [W_GnBD]
UPDATE [gqtevcat] SET [gqtevcat].[until] = ((SELECT dateadd(DAY, -1, min([tabela1].[since])) FROM [gqtevcat] as [tabela1] WHERE  [tabela1].[since] > [gqtevcat].[since] AND [tabela1].[codpesso] = [gqtevcat].[codpesso] ));
GO
-- Layer 0
-- Layer 1
update [evcat]
SET [evcat].[fimperio] =(case when (dbo.emptyD([evcat].[untilman])=0) then [evcat].[untilman] else [evcat].[until] end)
FROM [gqtevcat] AS [evcat]


GO
GO
-- recalculo de fórmulas para a tabela GQTESPPE
GO
GO
-- recalculo de fórmulas para a tabela GQTCONTA
GO
GO
-- recalculo de fórmulas para a tabela GQTBRDPS
GO
GO
-- recalculo de fórmulas para a tabela GQTAsset
GO
GO
-- recalculo de fórmulas para a tabela GQTReceipt
-- Layer 0
update [recei]
SET [recei].[checked] =(case when (([recei].[dtcheck] IS NULL)) then 0 else 1 end)
,[recei].[tocheck] =(case when (not ([recei].[dtreceip] IS NULL) and ([recei].[dtcheck] IS NULL)) then 1 else 0 end)
FROM [gqtreceipt] AS [recei]


GO
GO
-- recalculo de fórmulas para a tabela GQTPessoas
USE [W_GnBD]
-- Last value from gqtevcat
update [gqtpessoas] set [codcateg] = tmptab1.[codcateg], [dtultcat] = tmptab1.[since] from [gqtpessoas] inner join (select tmpFromTab.[CODPESSO], max(tmpFromTab.[since]) as uData from [gqtevcat] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODPESSO]) as tmptab2 on [gqtpessoas].[codpesso] = tmptab2.[codpesso] inner join [gqtevcat] as tmptab1 on [gqtpessoas].[codpesso] = tmptab1.[codpesso] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqtevcat
update [gqtpessoas] set [codcateg] = NULL,[dtultcat] = NULL where not exists(select [src].[codpesso] from [gqtevcat] [src] where [src].[codpesso] = [gqtpessoas].[codpesso] and [src].[codpesso] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODPESSO])
GO
-- Layer 0
update [pesso]
SET [pesso].[idade] =dbo.Idade([pesso].[dtnascim],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))
FROM [gqtpessoas] AS [pesso]


GO
GO
-- recalculo de fórmulas para a tabela GQTMessages
GO
GO
-- recalculo de fórmulas para a tabela GQTLocation
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHDE
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTFLTSC
GO
GO
-- recalculo de fórmulas para a tabela GQTEXPEN
USE [W_GnBD]
UPDATE [gqtexpen] SET [gqtexpen].[prevval] = ISNULL((SELECT TOP 1 [gqtexpen].[value] FROM [gqtexpen] WHERE  [gqtexpen].[yearnumb] <= [gqtexpen].[yearprev]  ORDER BY [gqtexpen].[yearnumb] DESC), 0);
GO
-- Layer 0
update [expen]
SET [expen].[yearnumb] =ISNULL([year].[yearnum], 0)
,[expen].[yearprev] =ISNULL([year].[yearnum], 0)-1
FROM [gqtexpen] AS [expen]
LEFT JOIN [gqtyear] as [year] ON [expen].[codyear]=[year].[codyear]


-- Layer 1
GO
GO
-- recalculo de fórmulas para a tabela GQTDispatch
-- Layer 0
update [dispa]
SET [dispa].[status] =(case when (dbo.emptyD([dispa].[dispadt])=0) then 'D' else (case when (dbo.emptyD([dispa].[prepared])=0) then 'P' else 'I' end) end)
FROM [gqtdispatch] AS [dispa]


GO
GO
-- recalculo de fórmulas para a tabela GQTPWREG
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPH
GO
GO
-- recalculo de fórmulas para a tabela GQTPROCN
GO
GO
-- recalculo de fórmulas para a tabela GQTOUTPU
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHAG
USE [W_GnBD]
update [gqtlnhag] set
     [qtdtpequ] = + (select isnull(sum(source.[QUANTIDA]),0) from [gqtlnhde] as source where [gqtlnhag].[codlnhag] = source.[codlnhag] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTFLIGH
GO
GO
-- recalculo de fórmulas para a tabela GQTEntity
USE [W_GnBD]
UPDATE [gqtentity] SET [gqtentity].[firstfacilitie] = ((SELECT TOP 1 [gqtfacility].[codfacil] FROM [gqtfacility] WHERE  [gqtfacility].[incorpor] <= [gqtentity].[founded] AND [gqtfacility].[codentit] = [gqtentity].[codentit]  ORDER BY [gqtfacility].[incorpor] ASC));
UPDATE [gqtentity] SET [gqtentity].[lastfacilitie] = ((SELECT TOP 1 [gqtfacility].[codfacil] FROM [gqtfacility] WHERE  [gqtfacility].[incorpor] >= [gqtentity].[founded] AND [gqtfacility].[codentit] = [gqtentity].[codentit]  ORDER BY [gqtfacility].[incorpor] DESC));
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTCMPKI
GO
GO
-- recalculo de fórmulas para a tabela GQTAGREG
USE [W_GnBD]
update [gqtagreg] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtexpen] as source where [gqtagreg].[codaggre] = source.[codaggre] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTTRADU
GO
GO
-- recalculo de fórmulas para a tabela GQTTABPR
GO
GO
-- recalculo de fórmulas para a tabela GQTREGIO
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPE
-- Layer 0
update [prope]
SET [prope].[buildage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year(dbo.DateAddYears(NULL,dbo.atoi([prope].[year])))
FROM [gqtprope] AS [prope]


GO
GO
-- recalculo de fórmulas para a tabela GQTPROJE
USE [W_GnBD]
UPDATE [gqtproje] SET [gqtproje].[primeiro] = ISNULL((SELECT TOP 1 [gqtagreg].[value] FROM [gqtagreg] WHERE  [gqtagreg].[yearnumb] <= [gqtproje].[year] AND [gqtagreg].[codproje] = [gqtproje].[codproje]  ORDER BY [gqtagreg].[yearnumb] ASC), 0);
UPDATE [gqtproje] SET [gqtproje].[before] = ISNULL((SELECT TOP 1 [gqtagreg].[value] FROM [gqtagreg] WHERE  [gqtagreg].[yearnumb] <= [gqtproje].[year] AND [gqtagreg].[codproje] = [gqtproje].[codproje]  ORDER BY [gqtagreg].[yearnumb] DESC), 0);
UPDATE [gqtproje] SET [gqtproje].[followin] = ISNULL((SELECT TOP 1 [gqtagreg].[value] FROM [gqtagreg] WHERE  [gqtagreg].[yearnumb] >= [gqtproje].[year] AND [gqtagreg].[codproje] = [gqtproje].[codproje]  ORDER BY [gqtagreg].[yearnumb] ASC), 0);
UPDATE [gqtproje] SET [gqtproje].[ultimo] = ISNULL((SELECT TOP 1 [gqtagreg].[value] FROM [gqtagreg] WHERE  [gqtagreg].[yearnumb] >= [gqtproje].[year] AND [gqtagreg].[codproje] = [gqtproje].[codproje]  ORDER BY [gqtagreg].[yearnumb] DESC), 0);
GO
-- Layer 0
-- Layer 1
-- Layer 2
update [proje]
SET [proje].[saldo1] =[proje].[followin]-[proje].[before]
,[proje].[saldo2] =[proje].[ultimo]-[proje].[primeiro]
FROM [gqtproje] AS [proje]


GO
GO
-- recalculo de fórmulas para a tabela GQTOUTPT
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHPD
GO
GO
-- recalculo de fórmulas para a tabela GQTITEMC
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTGAMES
GO
GO
-- recalculo de fórmulas para a tabela GQTWPESS
GO
GO
-- recalculo de fórmulas para a tabela GQTUSERS
GO
GO
-- recalculo de fórmulas para a tabela GQTTPEQU
USE [W_GnBD]
-- Last value from gqttabpr
update [gqttpequ] set [since] = tmptab1.[since], [precoult] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[since]) as uData from [gqttabpr] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqttabpr
update [gqttpequ] set [since] = NULL,[precoult] = NULL where not exists(select [src].[codtpeq1] from [gqttabpr] [src] where [src].[codtpeq1] = [gqttpequ].[codtpequ] and [src].[codtpeq1] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODTPEQ1])
-- Last value from gqttabpr
update [gqttpequ] set [precomax] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[precohor]) as uData from [gqttabpr] as tmpFromTab  group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[precohor] = tmptab2.uData
-- Clean last value from gqttabpr
update [gqttpequ] set [precomax] = NULL where not exists(select [src].[codtpeq1] from [gqttabpr] [src] group by [src].[CODTPEQ1])
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTTPCON
GO
GO
-- recalculo de fórmulas para a tabela GQTTICKT
GO
GO
-- recalculo de fórmulas para a tabela GQTTBLK
GO
GO
-- recalculo de fórmulas para a tabela GQTTBLB
GO
GO
-- recalculo de fórmulas para a tabela GQTSALES
GO
GO
-- recalculo de fórmulas para a tabela GQTSALE
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela GQTROIGI
GO
GO
-- recalculo de fórmulas para a tabela GQTROIGF
GO
GO
-- recalculo de fórmulas para a tabela GQTPWORG
GO
GO
-- recalculo de fórmulas para a tabela GQTPRPIN
GO
GO
-- recalculo de fórmulas para a tabela GQTParameter
GO
GO
-- recalculo de fórmulas para a tabela GQTManualToCollect
GO
GO
-- recalculo de fórmulas para a tabela GQTITEM
USE [W_GnBD]
UPDATE [gqtitem] SET [gqtitem].[category] = ((SELECT SUBSTRING((SELECT  '; ' + cast(([gqtitemc].[tpcateg]) as nvarchar(MAX))  as [text()] FROM [gqtitemc] WHERE [coditem] = [gqtitem].[coditem] AND [zzstate] = 0 AND  [gqtitemc].[tpcateg] <> '' AND [gqtitemc].[tpcateg] IS NOT NULL ORDER BY [gqtitemc].[tpcateg] FOR XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'), 3, 8000)));
GO
USE [W_GnBD]
update [gqtitem] set
     [existenc] = - (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
     
 + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
,
     [exits] = + (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
,
     [entries] = + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)

GO
-- Layer 0
-- Layer 1
update [item]
SET [item].[disponib] =(case when ([item].[existenc]>0) then 'A' else (case when ([item].[existenc]<=0) then 'O' else 'D' end) end)
FROM [gqtitem] AS [item]


GO
GO
-- recalculo de fórmulas para a tabela GQTGLOB
-- Layer 0
update [glob]
SET [glob].[pzerod] =100+(100-[glob].[pzero])
,[glob].[pvalmind] =100+(100-[glob].[pvalmax])
,[glob].[palertd] =100+(100-[glob].[palert])
,[glob].[plimbomd] =100+(100-[glob].[plimbom])
,[glob].[plimsupd] =100+(100-[glob].[plimsup])
,[glob].[pvalmaxd] =100+(100-[glob].[pvalmin])
,[glob].[plimmaud] =100+(100-[glob].[plimmau])
,[glob].[pbomsc] =100+(100-[glob].[pbomc])
,[glob].[palertsc] =100+(100-[glob].[palertc])
,[glob].[pmausc] =100+(100-[glob].[pmauc])
,[glob].[pmaxsc] =100+(100-[glob].[pminc])
,[glob].[pzerosc] =100+(100-[glob].[pzeroc])
,[glob].[pricolor] ='#009AA5'
FROM [gqtglob] AS [glob]


GO
GO
-- recalculo de fórmulas para a tabela GQTFAQS
GO
GO
-- recalculo de fórmulas para a tabela GQTFacility
-- Layer 0
update [facil]
SET [facil].[geocoord] =(case when ([facil].[gpsinput]='L') then dbo.GetGeoFromLatLng([facil].[latitude],[facil].[longitud]) else [facil].[geocoori] end)
FROM [gqtfacility] AS [facil]


GO
GO
-- recalculo de fórmulas para a tabela GQTCMPNY
USE [W_GnBD]
update [gqtcmpny] set
     [qtdpesso] = + (select isnull(count(*),0) from [gqtpessoas] as source where [gqtcmpny].[codempre] = source.[codempre] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTCITY
GO
GO
-- recalculo de fórmulas para a tabela GQTCATTP
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRPT
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRPL
GO
GO
-- recalculo de fórmulas para a tabela GQTYEAR
USE [W_GnBD]
update [gqtyear] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtagreg] as source where [gqtyear].[codyear] = source.[codyear] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTWAREH
USE [W_GnBD]
update [gqtwareh] set
     [num_employee] = + (select isnull(count(*),0) from [gqtwpess] as source where [gqtwareh].[codwareh] = source.[codwareh] and source.zzstate = 0)

GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTUICOM
GO
GO
-- recalculo de fórmulas para a tabela GQTTRSB
GO
GO
-- recalculo de fórmulas para a tabela GQTTPPRO
GO
GO
-- recalculo de fórmulas para a tabela GQTTEAMP
GO
GO
-- recalculo de fórmulas para a tabela GQTSTRAT
GO
GO
-- recalculo de fórmulas para a tabela GQTSTAKE
GO
GO
-- recalculo de fórmulas para a tabela GQTSPECI
GO
GO
-- recalculo de fórmulas para a tabela GQTSPACE
GO
GO
-- recalculo de fórmulas para a tabela GQTSHITY
GO
GO
-- recalculo de fórmulas para a tabela GQTSBCAT
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela GQTRULES
GO
GO
-- recalculo de fórmulas para a tabela GQTRORDI
GO
GO
-- recalculo de fórmulas para a tabela GQTRORDF
GO
GO
-- recalculo de fórmulas para a tabela GQTROOMS
GO
GO
-- recalculo de fórmulas para a tabela GQTROLE
GO
GO
-- recalculo de fórmulas para a tabela GQTROGL1
GO
GO
-- recalculo de fórmulas para a tabela GQTREGIS
GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela GQTPSNGR
GO
GO
-- recalculo de fórmulas para a tabela GQTPerson
GO
GO
-- recalculo de fórmulas para a tabela GQTPeriod
GO
GO
-- recalculo de fórmulas para a tabela GQTPEDID
GO
GO
-- recalculo de fórmulas para a tabela GQTPatient
GO
GO
-- recalculo de fórmulas para a tabela GQTOUDOC
GO
GO
-- recalculo de fórmulas para a tabela GQTORGAN
GO
GO
-- recalculo de fórmulas para a tabela GQTMEM
GO
GO
-- recalculo de fórmulas para a tabela GQTLANGU
GO
GO
-- recalculo de fórmulas para a tabela GQTKindOfEquipment
GO
GO
-- recalculo de fórmulas para a tabela GQTINPGR
GO
GO
-- recalculo de fórmulas para a tabela GQTGRPB
GO
GO
-- recalculo de fórmulas para a tabela GQTGITEM
GO
GO
-- recalculo de fórmulas para a tabela GQTGENRE
GO
GO
-- recalculo de fórmulas para a tabela GQTFTGRI
GO
GO
-- recalculo de fórmulas para a tabela GQTFAMIL
GO
GO
-- recalculo de fórmulas para a tabela GQTFacilityType
GO
GO
-- recalculo de fórmulas para a tabela GQTDataTypes
-- Layer 0
update [dttyp]
SET [dttyp].[qrcode] =[dttyp].[string]
FROM [gqtdatatypes] AS [dttyp]


GO
GO
-- recalculo de fórmulas para a tabela GQTDESAM
GO
GO
-- recalculo de fórmulas para a tabela GQTDECOM
GO
GO
-- recalculo de fórmulas para a tabela GQTCTRY
GO
GO
-- recalculo de fórmulas para a tabela GQTCompany
GO
GO
-- recalculo de fórmulas para a tabela GQTCNTRY
GO
GO
-- recalculo de fórmulas para a tabela GQTCFAQS
GO
GO
-- recalculo de fórmulas para a tabela GQTCategorias
GO
GO
-- recalculo de fórmulas para a tabela GQTAUDIT
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRLN
GO
GO
-- recalculo de fórmulas para a tabela GQTAGENT
GO
GO
-- recalculo de fórmulas para a tabela GQTAERO
GO
GO
-- recalculo de fórmulas para a tabela GQTADDRL
GO
GO
-- recalculo de fórmulas para a tabela GQTAddress
GO
GO


GO
