update gqtwareh set gqtwareh.num_employee = 0;
GO
update gqtyear set gqtyear.value = 0;
GO
update gqtitem set gqtitem.existenc = 0;
update gqtitem set gqtitem.exits = 0;
GO
update gqtagreg set gqtagreg.value = 0;
GO
update gqtlnhag set gqtlnhag.qtdtpequ = 0;
GO
update gqtcmpny set gqtcmpny.qtdpesso = 0;
GO
update gqtitem set gqtitem.existenc = 0;
update gqtitem set gqtitem.entries = 0;
GO
update gqtproduct set gqtproduct.stock = 0;
update gqtproduct set gqtproduct.outputs = 0;
GO
update gqtequip set gqtequip.valortot = 0;
GO
update gqtequip set gqtequip.qtdmovim = 0;
GO
update gqtproduct set gqtproduct.inputs = 0;
update gqtproduct set gqtproduct.stock = 0;
GO
