@import "bootstrap4/_variables.scss";
@import "bootstrap4/mixins";
@import "bootstrap4/utilities";

$imagesPath: '../img';

// Sprites
$iconSpritePath: '#{$imagesPath}/glyphicons-halflings.png';
$iconWhiteSpritePath: '#{$imagesPath}/glyphicons-halflings-white.png';

$navsIconSpritePath: $iconSpritePath;
$navsIconSpritePath_Hover: $navsIconSpritePath;
$dropdownsIconSpritePath: $iconSpritePath;
$dropdownsIconSpritePath_Hover: $iconWhiteSpritePath;

$inputAppendPrependIconSpritePath: $iconSpritePath;

/* Buttons Variables */
//@btnBackground: @btnBackground;
//@btnBackgroundHighlight: @btnBackgroundHighlight;
//@btnBorder: @btnBorder;
$btnTextColor: $body-color;
$btnTextColorHighlight: $body-color;
$btnTextShadow: rgba(rgb(0, 0, 0), 0.25);

$btnPrimaryBackground: $link-color;
$btnPrimaryBackgroundHighlight: lighten($btnPrimaryBackground, 20%);
$btnPrimaryBorder: $primary;
$btnPrimaryTextColor: $white;
$btnPrimaryTextColorHighlight: $white;

//@btnInfoBackground: @btnInfoBackground;
//@btnInfoBackgroundHighlight: @btnInfoBackgroundHighlight;
$btnInfoBorder: $cyan;
$btnInfoTextColor: $btnPrimaryTextColor;
$btnInfoTextColorHighlight: $btnPrimaryTextColor;

//@btnSuccessBackground: @btnSuccessBackground;
//@btnSuccessBackgroundHighlight: @btnSuccessBackgroundHighlight;
$btnSuccessBorder: $success;
$btnSuccessTextColor: $btnPrimaryTextColor;
$btnSuccessTextColorHighlight: $btnPrimaryTextColor;

//@btnWarningBackground: @btnWarningBackground;
//@btnWarningBackgroundHighlight: @btnWarningBackgroundHighlight;
$btnWarningBorder: $warning;
$btnWarningTextColor: $btnPrimaryTextColor;
$btnWarningTextColorHighlight: $btnPrimaryTextColor;

//@btnDangerBackground: @btnDangerBackground;
//@btnDangerBackgroundHighlight: @btnDangerBackgroundHighlight;
$btnDangerBorder: $danger;
$btnDangerTextColor: $btnPrimaryTextColor;
$btnDangerTextColorHighlight: $btnPrimaryTextColor;

////@btnInverseBackground: @btnInverseBackground;
////@btnInverseBackgroundHighlight: @btnInverseBackgroundHighlight;
//@btnInverseBorder: @btnInverseBackgroundHighlight;
//@btnInverseTextColor: @btnPrimaryTextColor;
//@btnInverseTextColorHighlight: @btnPrimaryTextColor;

/* Modal's Variables */
$modalBackdropBackground: $black;
$modalBorder: $dropdown-border-color;
////@modalFooterBackground: @formActionsBackground;

/* Breadcrumbs */
////@breadcrumbBackground: @formActionsBackground;
$breadcrumbBorder: $dropdown-border-color;
$breadcrumbTextShadow: $white;
$breadcrumbDivider: $body-color;
$breadcrumbActive: $link-hover-color;

/* Inputs */
$inputTextColor: $gray-700;
$inputDisabledTextColor: $gray-900;
$inputDisabledBackground:$gray-200;
$inputFocusBorder: rgba($input-border-color,.8);
$inputAppendPrependBackgroundColor: $gray-900;
$inputAppendPrependBorderColor: $input-border-color;
$inputAppendPrependActiveBackgroundColor: lighten($inputAppendPrependBackgroundColor, 30);
$inputAppendPrependActiveBorderColor: $inputAppendPrependBorderColor;
$inputAppendPrependTextColor: $body-color;

/* Nav Tabs */
//@navTabsBackground: @formActionsBackground;
$navTabsBackground: $white;
$navTabsBackgroundHighlight: $white;
$navTabsBorder:$dropdown-border-color;
$navTabsBorderHighlight: $navTabsBorder;
$navTabsText: $body-color;
$navTabsTextHover: $link-hover-color;

/* Accordions */
$accordionBackground: $navTabsBackground;
$accordionBorder: $navTabsBorder;
$accordionSpritePath: '#{$imagesPath}/acordion_sprite.png';

/* DateTime Picker */
/*@datetimepickerBackground: @formActionsBackground;
@datetimepickerBorder: @dropdownBorder;
@datetimepickerActiveBackground: @btnPrimaryBackground;
@datetimepickerActiveBackgroundImg: none;
@datetimepickerHoverBackground: darken(@tableBackgroundHover, 10%);
@datetimepickerHoverBackgroundImg: none;*/


/* SearchList */
$DownloadButtonBackgroundPath: '#{$imagesPath}/Download.png';

/* Quidgest */
$qdgFlowLabelColor: $body-color;

$wellBackground: #f5f5f5;

$qdgZoneFieldBackground: $wellBackground;
$qdgZoneFieldBorder: $dropdown-border-color;
$qdgZoneFieldBorderRadius: $border-radius;
$qdgZoneFieldText:$body-color;
$qdgZoneFieldTitleBackground: transparent;
$qdgZoneFieldTitleBorder: transparent;
$qdgZoneFieldTitleBorderRadius: $border-radius;
$qdgZoneFieldTitleText: $link-color;
$qdgZoneField_inputBackground: $white;
$qdgZoneField_inputBorder: $input-border-color;
$qdgZoneField_inputDisabledBackground: $qdgZoneFieldBackground;
$qdgZoneField_inputFocusBorder: rgba($input-border-color,.8);

$btnPrimaryBackgroundHighlight: spin($primary, 20%);

$qdgTableRowHighlightStart: $primary;
$qdgTableRowHighlightEnd: $btnPrimaryBackgroundHighlight;
$qdgTableRowHighlightText: $btnPrimaryTextColorHighlight ;

$qdgDirtyRow: #F2DEDE;
$qdgDirtyRowHover: #FCF8E3;

$qdgLoadingImgPath: '#{$imagesPath}/loadingTables.gif';

$qdgChecklistExtentedBackground: $table-accent-bg;
$qdgChecklistExtentedBorder: $table-border-color;

$qdgMultiformContainerBorder: $gray-100;
$qdgMultiformBorder: $qdgMultiformContainerBorder;

$qdgEmptyValueText: #CACACA;

$qdgFileuploadLoadingPath: '${imagesPath}/loading.gif';

$qdgSOLRBorder: #E5E5E5;

$qdgDBeditFilterBoxBorder: #DDDDDD;

$qdgDocumentFileCheckout: $green;
$qdgDocumentFileCheckoutOther: $orange;

$qdgModalLegendText: $gray-900;

$qdgFooterBackground: $dropdown-divider-bg;
$qdgFooterBorder: $dropdown-divider-bg;
$qdgFooterTextColor: $white;
$qdgFooterLinkColor: $link-color;
$qdgFooterHeight: 30px;


/* Layout Logon */
$logonBodyBackground: $white;
$logonBodyBackgroundImg: '${imagesPath}/fundo.png';
$logonBodyBackgroundRepeat: round;
$logonBodyBackgroundPosition: none;

$logonLoginContainerBackground: $white;
$logonLoginContainerImg: '${imagesPath}/login.png';

$logonCartaoCidadaoImg: '${imagesPath}/cc_login.png';
$logonAjudaCartaoCidadaoImg: '${imagesPath}/ajuda_login_cc.png';

/* Layout Header*/
$headerBackground: $white;
$headerBackgroundHighlight: $white;
$headerLogoPath: '${imagesPath}/logotipo_header.png';
$headerUserProfileLogoPath: '${imagesPath}/icon_user.png';
$headerUsernameText: $body-color;

$headerUserProfileDropdownBackground: $primary;
$headerUserProfileDropdownBorder: $primary;
$headerUserProfileDropdownBorderRadius: 0px;
$headerUserProfileDropdownItemText: $white;
$headerUserProfileDropdownItemHighlight: $btnPrimaryBackgroundHighlight;

$headerNavigationChangeModuleIconPath: '${imagesPath}/icon_change_mod.png';

/* Layout Menu*/
$menuToggleIconPath: '${imagesPath}/icon_menu.png';
