/* Quidgest Overrides */
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.form-flow > .form-actions {
    padding-left: 0;
    padding-right: 0;
}

//Header
.c-header {
    background-color: $header-bg;
    display: block;
    @if($compactheader){
        height: $compactheader-height;
    }@else{
        height: $header-height;
    }
    position: relative;
    padding-left: 0;
    z-index: 1041;

    &__brand {
        display: inline-block;

        img {
            @if($compactheader){    
                max-height: 40px;
                padding: 0;
                margin-top: .8rem;
                margin-left: 2rem;
            }@else{
                max-height: 80px;
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            } 
            width: auto;
        }
    }

    &__content {
        @if($compactheader){
            margin: 1.5rem 1rem 0.25rem 0;
         }@else{
             margin: 2.5rem 1rem 0.25rem 0;
         }
        margin-bottom: 0.25rem;
        display: inline-block;
    }

    &__user-id label {
        padding-right: 0.5rem;
        font-size: 0.9rem;
        color: #607d8b;
    }

    &__icon {
        font-size: 18px;
        padding-top: 0.25rem;
        padding-right: 0.5rem;
        color: $primary;

        &:hover {
            color:$hover-primary;
        }
    }

    .i-text__error {
        padding: 0.3rem;
        margin-top: -10px;
    }
}

@media (max-height: 768px), (max-width: 991.98px) {
    #header-container{
        .c-header{
            height: $compactheader-height;

            &__brand{
                img{
                    height: 2.5rem;
                    padding: 0;
                    margin-top: .8rem;
                    margin-left: 2rem;
                }
            }

            &__content{
                margin: 1.5rem 1rem 0.25rem 0;
            }
        }
    }
}



/* Layout */
.breadcrumbs
{
    min-height: 40px;
	border: none;
}

#header-container ~ #breadcrumbs ~ #main > #formContainer,
#header-container ~ #breadcrumbs ~ #main > #formContainer #c-stickyHeader,
#header-container ~ #breadcrumbs ~ #main > #formContainer div.page-header.row{
    margin-top: 0;   
}

//When theres no breadcrumbs
#header-container ~ #main > #formContainer div.page-header.row{
    margin-top: 1rem;   
}


.validation-summary-errors {
    //color: $errorText;
    @extend .i-text__error;
    color: #b94a48;
}

//c-footer
.c-footer {
    //position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    border-top: 1px solid $primary;
    color: $primary;
    @if($compactstyle) {
        padding: 0rem 0.4rem;
    }
    @else {
        padding: 0.4rem 1.2rem 0.7rem 1.5rem;
    }
    //display: inline;
    margin-top:auto;
    z-index: 10;

    &__certifications {
        float: left;
        display: inline;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__genio-version {
        color: $primary;
        font-size: 0.75rem;
        vertical-align: bottom;
    }

    &__quidgest {
        width: 70px;
        margin-bottom: -1px;
    }

    &__text {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        color: $primary;
        font-size: 0.75rem;
        vertical-align: bottom;
    }

    .row{
        margin:auto;
    }
}

.n-language {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &__icon {
        font-size: 0.9rem;
        padding-top: 0.25rem;
        padding-right: 0.5rem;
    }

    &__item {
        margin-top: 0.1rem;

        & + &::before {
            display: inline-block;
            padding-right: 0.5rem;
            color: $primary;
            content: " | ";
        }
    }

    &__link {
        padding-right: 0.5rem;
        color: $primary;

        &:hover, &:focus {
            text-decoration: none;
            font-weight: 700;
            color: darken($primary, 7.6%);
        }
    }
}

.f-login {
    background: url('#{$imagesPath}/f-login__background.png') no-repeat center center fixed;
    background-size: cover;
    
    &--header {
        transform: scale(0.85,0.85);
        background-color: #fff;
    }
}

#formContainer .f-login__brand img {
	max-height:130px;
	width:auto;
}

#wrap {
    display: flex;
    flex-direction: column;
}

#wrap > div.container-fluid.p-0.content {
    height: 100%;
}

/* Inputs */
.multiline-text
{
    //.uneditable-textarea;
}

// General classes for quick sizes
.input-mini       { width: 60px !important; }
.input-small      { width: 90px !important;}
.input-medium     { width: 150px !important; }
.input-large      { width: 210px; }
.input-xlarge     { width: 270px; }
.input-xxlarge    { width: 530px; }

.navbar-dark .navbar-text .dropdown-menu a {
    color: black;
    padding-left:6px;
}

.changeModuleIcon {
    color: rgba(255, 255, 255, 0.85);
    margin-top: 0;
    font-size: 24px;
}

a.f-login__button {
    color: $primary !important;
}

.userLogon {

    .i-text__error {
        background-color: rgba(183, 28, 28, 0.05);
    }
}

////////////////////Ribbon
$ribbon-shadow-color: #8b9097;
$ribbon-corner-radius: 0.25rem;
$ribbon-border-color: #b6babf;

#ribbon {
    cursor: default;
    font-size: 8pt;
    padding-top: 0.3rem;
    background-color: darken($primary, 10%);
    border-bottom: 1px solid $ribbon-shadow-color;
    -webkit-box-shadow: $ribbon-shadow-color 0px 1px 3px;
    -moz-box-shadow: $ribbon-shadow-color 0px 1px 3px;
    box-shadow: $ribbon-shadow-color 0px 1px 3px;
    behavior: url(/PIE.htc);
    z-index: 25;
    margin-bottom: 0.313rem;
    top: 0;
    left: 0;
    right: 0;
    min-height: 35px;

    .backstage {
        height: auto;
        bottom: 0;
    }

    .ribbon-window-title {
        text-align: center;
        color: #000;
        padding: 2px;
        font-size: 10pt;
        display: block;
    }

    #ribbon-tab-header-strip {
        margin: 5px 0 -9px 10px;
        white-space: nowrap;
        display: inline-block;
    }

    .ribbon-tab-header {
        display: inline;
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 8pt;
        color: color-yiq($primary);
        border-bottom: 1px solid $ribbon-border-color;

        -webkit-border-radius: $ribbon-corner-radius $ribbon-corner-radius 0px 0px;
        -moz-border-radius: $ribbon-corner-radius $ribbon-corner-radius 0px 0px;
        border-radius: $ribbon-corner-radius $ribbon-corner-radius 0px 0px;

        position: relative;
        z-index: 40;
        float: left;

        &:hover {
            background: $primary;
            border: 1px solid $primary;
            border-bottom: 1px solid $ribbon-border-color;
            color: $white;
            margin: -1px 4px 0px 4px;
            cursor: pointer;
        }

        &.sel, &.sel:hover {
            background: $white;
            color: color-yiq($white);
            margin: -1px 4px 0px 4px;
            border: 1px solid $ribbon-border-color;
            border-bottom: 1px solid $white;
            cursor: default;
            z-index: 45;
        }

        &.file {
            padding: 5px 20px;
            background: #2860b3;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
            background: -moz-linear-gradient(#4488e5, #2860b3);
            -pie-background: linear-gradient(#4488e5, #2860b3);
            border: 1px solid #1f48a1;
            margin: -1px 4px;
            border-bottom: 1px solid #4488e5;
            cursor: default;
            color: #fff;

            &:hover {
                background: #3870c3;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
                background: -moz-linear-gradient(#5498f5, #3870c3);
                -pie-background: linear-gradient(#5498f5, #3870c3);
                border: 1px solid #1f48a1;
                cursor: pointer;
                border-bottom: 1px solid #4488e5;
                z-index: 55;
                position: relative;
            }

            &.sel {
                background: #4488e5;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2860b3), to(#4488e5));
                background: -moz-linear-gradient(#2860b3, #4488e5);
                -pie-background: linear-gradient(#2860b3, #4488e5);
                border: 1px solid #1f48a1;
                cursor: pointer;
                border-bottom: 1px solid #4488e5;
                z-index: 55;
                position: relative;
            }
        }
    }

    .ribbon-tab {
        min-height: 65px;
        padding: 5px;
        margin-top: 5px;
        @include gradient-y($white, $gray-light);
        z-index: 30;

        &.file {
            padding: 0;
            margin-top: 5px;
            border-top: 1px solid #1f48a1;
            background-color: #4488e5;
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4488e5, endColorstr=#ffffff);
            background-image: -moz-linear-gradient(left, #4488e5 15%, #ffffff 100%);
            background-image: -webkit-linear-gradient(left, #4488e5 15%, #ffffff 100%);
            background-image: -ms-linear-gradient(left, #4488e5 15%, #ffffff 100%);
            background-image: linear-gradient(left, #4488e5 15%, #ffffff 100%);
            background-image: -o-linear-gradient(left, #4488e5 15%, #ffffff 100%);
            background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#4488e5), color-stop(100%,#ffffff));
            overflow: hidden;
            min-width: 500px;
            z-index: 30;
        }
    }

    .ribbon-backstage {
        display: none;
    }

    .section-title {
        background-color: $gray;
        color: #000000;
        text-align: center;
        clear: left;
        display: block;
        position: absolute;
        left: 2px;
        right: 2px;
        /*top: 50px;*/
        bottom: 0;
        padding: 1px;
        padding-bottom: 2px;
    }

    .ribbon-section {
        float: left;
        position: relative;
        min-height: 65px;
        border: 0px solid;
        border-right: 1px solid #C7C7C7;
        margin-bottom: 2px;
        padding: 0px 2px;
    }

    .ribbon-last-section {
        border-right-width: 0px;
    }

    .ribbon-button {
        padding: 0.25rem 0.375rem;
        border: 1px solid transparent;
        border-radius: $ribbon-corner-radius;

        text-decoration: none;

        &:active {
            border: 1px solid #F1C43F;
            background: #F1C43F;
            cursor: pointer;
        }

        &.disabled {
            &:hover {
                border: 1px solid transparent;
                background: transparent;
                cursor: default;
            }

            &:active {
                border: 1px solid transparent;
                background: transparent;
                cursor: default;
            }

            .button-title {
                color: #888;
            }
        }

        &-large {
            text-align: center;
            height: 38px;
            min-width: 44px;
            float: left;
            box-sizing: initial;

            .button-title {
                clear: left;
                display: block;
            }

            .ribbon-icon {
                margin: auto;
                width: 24px;
                height: 24px;
            }
        }

        &-small {
            height: 14px;
            padding: 3px 4px;
            text-align: left;

            .ribbon-icon {
                width: 16px;
                height: 16px;
                float: left;
                clear: left;
                margin: -1px 5px 0px 1px;
            }
        }

        &:last-child {
            margin-bottom: 18px;
        }

        .button-help {
            display: none;
        }

        .button-title {
            color: #444;

            .caret {
                vertical-align: middle;
            }
        }
    }
	.clearfix {
		display: block;
	}
}


#ribbon.backstage .ribbon-tab-header {
    border-bottom: 1px solid #1f48a1;
}

#ribbon.ribbon-collapsible {
    .ribbon-tab {
        position: absolute;
        width: 100%;
    }
}


#ribbon.backstage .ribbon-backstage {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #FFF;
}


#ribbon .ribbon-button .ribbon-icon.ribbon-hot, #ribbon .ribbon-button .ribbon-icon.ribbon-disabled {
    display: none;
}

#ribbon .ribbon-button-large .ribbon-icon.ribbon-normal {
    display: block;
}

#ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal {
    display: none;
}

#ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot {
    display: block;
}

#ribbon .ribbon-button-small .ribbon-icon.ribbon-normal {
    display: inline;
}

#ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot {
    display: inline;
}

#ribbon .ribbon-button:hover, #ribbon .ribbon-button.sel {
    border: 1px solid $hover-primary;
    background: lighten($hover-primary, 50%);
    cursor: pointer;
}

#ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon {
    display: none;
}

#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-disabled {
    display: block;
    opacity: 0.8;
}

#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-implicit-disabled {
    opacity: 0.4;
}

.ribbon-tooltip {
    font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    position: fixed;
    z-index: 5000;
    border: 1px solid #8b9097;
    background-color: #e5e5f0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
    background: -moz-linear-gradient(#ffffff, #e5e5f0);
    -pie-background: linear-gradient(#ffffff, #e5e5f0);
    padding: 5px;
    -webkit-box-shadow: #c6c9cd 1px 1px 3px;
    -moz-box-shadow: #c6c9cd 1px 1px 3px;
    box-shadow: #c6c9cd 1px 1px 3px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    width: 200px;
    top: 150px !important;
}

#ribbon .ribbon-section {
    margin-bottom: 0px;
    border-right-color: $light;
}

#ribbon .section-title {
    background-color: $secondary;
    color: color-yiq($secondary);
}

#ribbon .ribbon-window-title {
    padding: 0px;
}

#ribbon .ribbon-button .ribbon-button-large {
    box-sizing: initial;
}

#ribbon .dropdown-item img {
    width: 14px;
    height: 14px;
}

.ribbon-symbol {
    width: 32px;
    height: 32px;
}

.navbarribbon {
    vertical-align: top;
    margin-bottom: 0px;
}

.navbar .navribbon {
    margin-right: 0px;
}

.navbarribbon .nav > li > a,
.navbarribbon .nav > li > a.open {
    margin-left: 0px;
    padding-bottom: 0px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.navbar {
    // If has the $compactheader set to true 
    @if($compactheader) {
        padding: 0.2rem 1rem;

        .changeModuleIcon {
            font-size: 1rem;
            padding-top: .35rem;
        }

        .bookmarks__container .bookmarks__header i{
            padding-top: .65rem;
            font-size: 1.2rem;
        }
    }

    //if the screen is small
    @media (max-width: 991.98px), (max-height: 768px) {
        padding: 0.2rem 1rem;

        .changeModuleIcon {
            font-size: 1rem;
            padding-top: .35rem;
        }

        .bookmarks__container .bookmarks__header i {
            padding-top: .65rem;
            font-size: 1.2rem;
        }
    }

    .c-header__icon {
        color: rgba(255, 255, 255, 0.5);
    }

    &-text {
        .dropdown-menu, .c-card {
            border: none;
        }

        .c-card__body {
            padding: 0;
            border-color: $primary;
        }
    }

    &.navbar-expand-md .dropdown-item {
        display: inline-flex;
    }

    .e-badge {
        font-weight: 600;
        font-size: .80rem;
        margin-left: .25rem;
    }
}

.ribbon-modules {
	padding: 0.1rem 1rem !important;
}

.menu-search {

    &__group {
        display:none;
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }


    &__area {
        z-index: 1000;
        max-height: 480px;
        overflow-y: auto;
        box-shadow: -0.5rem .5rem 1rem rgba(0,0,0,.15);
        background-color : $white;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $secondary;
        }
    }

}


///Results of menu search
.menu-result {
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;

    &__text {
        font-weight: 500;
        color: $primary;
    }

    &__full-path {
        font-size: smaller;
        color: $primary;
    }

    &__count {
        float: right;
        font-size: small;
        padding-right: 0.25rem;
    }

    &:hover {
        background-color: $light;

        & .menu-result__full-path {
            color: $hover-primary
        }

        & .menu-result__text {
            color: $hover-primary
        }
    }
}
//////////////////////////
@media (max-width: 767px)
{
    #header-container,
    .breadcrumbs
    {
        margin-left: -10px;
        margin-right: -10px;

        #header
        {
            padding: 0 10px;
        }
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    #header-container .nav .dropdown .dropdown-menu {
        /*right: 0 !important;*/
        left: auto !important;
    }

    .navbar-toggler {
        margin-right:auto;
    }

    .c-header, #toggle-suggestion {
        display: none;
    }
    .f-login__background{
        width:360px;
    }
    .navbar-collapse  .navbar-text {
        display: flex !important;
    }

    .navbar-collapse .navbar-text .userLogon {
        display: none;
    }

    .navbar {
        &-collapse {
            .dropdown_login {
                display: none;
            }
        }

        .collapse_login{
            display:flex!important;
        }
    }

	.navbar-collapse.collapse.show .navbar-text ul {
		margin-right: auto !important;
		margin-left: initial !important;

		div.align-items-center {
			flex-direction: column;
		}
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*--- Mobile portrait ---*/
    #header-container
    {
        #header
        {
            .container
            {
                height: 200px;
                background-position: center top 10px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .input-xxlarge {
        width: 340px;
    }

    .c-groupbox {
        padding: 0.2rem !important;
        margin-bottom:0.6rem !important;
    }

    .c-modal__body {
        padding: 0rem !important;
    }

    .container-fluid {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    select,
    input[type="text"],
    .i-text__field {
        padding: $input-btn-padding-y 0.13rem !important;
    }

    .c-footer__genio-version{
        visibility: hidden;
    }
}

@media (max-width:768px) and (min-width: 575.98px) {
    .input-xxlarge {
        width: 470px;
    }
}


.changeModuleIcon {
    color: rgba(255, 255, 255, 0.85);
    margin-top: 0;
    font-size: 24px;
}

span.i-changeModule__placeholder {
    color: #fff !important;
    font-size: 0.93rem;
    margin: 0 1.5rem 0 0.5rem;

    &:hover {
        color: rgba(255, 255, 255, 0.5) !important;
    }
}
.i-changeModule__item.current {
    display: none;
}

/* .i-changeModule__item .current {
    color: #fff !important;
    font-size: 1.05rem;
    margin: 0 1.5rem 0 0.5rem;
} */

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .c-tab__item-header {
    //color: rgba(255, 255, 255, 0.85);
    color: #fff;
    margin-right: .5rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .c-tab__item-header:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .c-tab__item-header:focus {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .show > .c-tab__item-header,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .active > .c-tab__item-header,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show.c-tab__item-header,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .active.c-tab__item-header {
    color: #fff;
    font-weight: 700;
}

.c-header__content {
    display: inline-block;

    .n-menu__aside-icon {
        color: $primary;
    }

    #sidebarCollapse {
        margin-right: 0.25rem;
    }
}

ul.n-menu__aside {
    list-style-type: none;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
    margin-top: -1rem;
}

#sidebarCollapse {
    display: inline-flex;
    align-items: flex-start;
}

ul.c-sidebar__list {
    list-style-type: none;
}

.c-sidebar__list .c-sidebar__list-item a.c-sidebar__list-link {
    color: $primary !important;
}

.navbar .c-header__icon {
    color: $primary !important;
}

.navbar-collapse .navbar-text .d-flex.align-items-center{
    align-items:flex-start !important;
}

.dropdown-submenu {
    &.left {
        .dropdown-menu {
            top: 0;
            right: 100%;
            left: auto;
            margin-top: 0;
            margin-right: 0;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px;
            border-radius: 6px 0 6px 6px;
        }

        & > a::before {
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: 0.255em;
            vertical-align: 0.255em;
            margin-top: 6px;
            content: "";
            border-top: 0.3em solid transparent;
            border-right: 0.3em solid;
            border-bottom: 0.3em solid transparent;
        }

        & > a::after {
            display:none;
        }
    }
}

iframe[src*="ReportViewerWebForm"] {
    background-color: white;
}


/********************************************
 * Bookmarks
 *******************************************/

 .bookmarks__container {
    padding-right: 0.75rem;

    // fixed size of dropdown list
    &-ddlist {
        //display: block;
    }

    .bookmarks__header {
        color: rgba(255, 255, 255, 0.85);
        margin-top: 0;
        font-size: 24px;
    }

    .bookmarks__btn {
        &--remove {
            border: none;
            color: $secondary;
            cursor: pointer;
        }

        &--add {
            border: none;
            margin-top: 0.5rem;
            color: $secondary;
            cursor: pointer;
        }
    }

    .bookmarks__content {

        .bookmarks__item {
            white-space: nowrap;
            padding-top: 0.25rem;
            padding-right: 1.25rem;
            padding-bottom: 0.25rem;
            padding-left: 1.25rem;
            cursor: pointer;

            .bookmarks__text {
                font-weight: 500;
                color: $primary;
            }

            .bookmarks__full-path {
                font-size: smaller;
                color: $primary;
            }

            &:hover {
                background-color: $light;

                & .bookmarks__text {
                    color: $hover-primary
                }

                & .bookmarks__full-path {
                    color: $hover-primary
                }
            }
        }
    }
}

.c-rightSidebar {
    //z-index: 499 !important;

    &__header {
        top: 150px !important;
    }

    &__control .b-icon--float {
        top: 150px !important;
        z-index: 500;
    }
}

#main {
    //transition: margin-left .5s;
    height: 100%;
    margin-right: 50px;
}

.loginPage #main {
    margin-right:0;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
}

.fixed-header .i-changeModule li.i-changeModule span.i-changeModule__placeholder {
    display: none;
}

.sticky-top {
    position: sticky;
    top: 50px;
    z-index: 1020;
    margin: 0 -15px;
    padding: 0 1rem;
    background-color: $body-bg;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.18);
}

.sticky-top > .c-action-bar {
    padding: 0.25rem 0;
}

.page-head-scrolled {
    position: sticky;
    top: 53px;
    z-index: 1020;
    background-color: $body-bg;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.18);
}

.breadcrumbs-scrolled {
  animation: fadeOut ease 250ms;
  opacity: 0;
  margin-top: 60px;
}

.wrapper .c-rightSidebar {
    top: 150px;
    .c-rightSidebar__header {
        top: 0 !important;
    }
}

.c-g-reporting {
    margin-top: 20px !important;
}

.loginPageHoriz{
    height:100%;

    #main{
        flex-direction:row !important;
        height:inherit;
        margin-right: 0;
    }
}

.c-rightSidebar__content {
    padding: 0.5rem .5rem 0 .5rem !important;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
}

#Menu div.table-responsive {
    @if($compactheader){
        max-height: 63vh; 
    } @else {
        max-height: 60vh;   
    }
}


@media (max-height: 768px) {
    #Menu div.table-responsive {
        max-height: 54vh;
    }
}



// Styles applied when LoginStyle is embed_page with header
.border-bottom.c-header{
    .float-xl-right.float-sm-center.mt-4 {
        #login-btn {
            margin-right: 20px;
        }

        a.dropdown-toggle.b-icon-text.b-icon-text--primary {
            @if($compactheader){
                margin-top: -0.5rem;
            } @else {
                margin-top: 9px;
            }
        }

        @media (max-width: 1200px) {
            #login-btn {
                margin-top: 25px;
                float: right;
            }
        }
    }
}
// Styles applied when LoginStyle is embed_page with no header
.navbar-text {

    #login-btn {

        .f-login {
            margin-right: 5px;
        }

    }

}

#login-btn {
    position: relative;

    #dropdown_login_menu {
        background-color: transparent;

        .c-card {
            background-color: transparent;

             .f-login {
                margin-top: 20px;
             }
        }
    }

}

#dropdown_login_menu {
    border: none;
    margin-top: 5px;

    .c-card {
        border: none !important;

        .c-card__body {
            padding: 0;

            .f-login {
                height: min-content !important;

                .f-login__container {
                    width: 300px;
                    height: min-content;

                    .f-login__background {
                        padding: 25px 20px;
                    }
                }

                img {
					max-height:75px;
					width:auto;
                }
            }
        }
    }

}


.f-login {
    border-radius: $border-radius;
}

#FirstTab div.table-responsive{
    max-height: 45vh;
}


#breadcrumbs.container,
.navbar > .container {
    padding: 0
}