/* ========================================================
 * All Theme variables will be placed here.
 * ======================================================== */

$blue: #0091ea !default;
$indigo: #304ffe !default;
$purple: #6200ea !default;
$pink: #c51162 !default;
$red: #b71c1c !default;
$orange: #dd2c00 !default;
$yellow: #ffab00 !default;
$green: #4caf50 !default;
$teal: #00bfa5 !default;
$cyan: #00b8d4 !default;
$white: #fff !default;
$gray: #7C858D !default;
$gray-dark: #40474F !default;
$gray-light: #C4C5CA !default;

$primary: #018BD2 !default;
$primary-dark: #01689C !default;
$primary-light: #D2F0FF !default;
$secondary: #11294d !default;
$secondary-light: #707f94 !default;
$secondary-dark: #040a13 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: #eaebec !default;
$dark: #1e2436 !default;

$body-bg: $white !default;
$body-color: $dark !default;
$container-bg-color: $white !default;
$border-dark-color: rgba(rgb(0,0,0),0.1) !default;
$border-light-color: rgba(rgb(255,255,255),0.2) !default;
$disabled-bg: $gray !default;

//action focus
$action-focus-width: 2px !default;
$action-focus-style: dotted !default;
$action-focus-color: #201060 !default;

//inputs
$input-label: $gray !default;
$input-border-color: $gray-light !default;
$input-bg: $white !default;
$input-color: $gray-dark !default;
$input-disabled-bg: $light !default;

$input-btn-padding-y: .26rem !default;
$input-btn-padding-x: .25rem !default;

//input focus
$input-focus-color: rgba(0, 169, 206, 0.35) !default;

//button focus
$button-focus-color: rgba(238, 96, 2, 0.5) !default;

//icons
$icon-color: $primary !default;
$icon-light: $body-bg !default;
$icon-dark: $secondary !default;

$font-size-base: 0.9rem !default;
$line-height-base:1.5 !default;

$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$compactstyle: true !default;
$compactheader: false !default;
$border-radius: 0.25rem !default;
$table-striped: false !default;
$table-head-inverse: false !default;
$table-vertical-border: true !default;
$buttons-all-primary: false !default;
$enable-table-wrap: true !default;
$save-icon: 'floppy-disk' !default;
$menu-behaviour: 'partial_collapse' !default;

/* IR other theme variables */
$table-border-color: $gray-light !default;

$hover-primary: darken($primary, 15%) !default;
$hover-secondary: darken($secondary, 15%) !default;
$hover-dropdown: $light;

$primary-light: rgba($primary, 20%) !default;

$compactheader-height: 4rem !default;
$header-height: 6rem !default;
$header-bg: $white !default;

$link-hover-decoration: none;

// Wizards
$wizard-steps: 'circle' !default;
$wizard-content: 'standard' !default;

$btn-align-right: false !default;
$menu-multi-level: false !default;

// Group borders
$group-border-top: 1px solid $input-border-color !default;
$group-border-bottom: 1px solid $input-border-color !default;
