use [W_GnBD]

--converter o antigo schema de logins para o novo
--caso a tabela antiga de psw ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'GQTPSW')
begin
	insert into UserLogin (CODPSW, NOME, PASSWORD, PSWTYPE, DATAPSW, CERTSN, ZZSTATE)
	select CODPSW, NOME, PASSWORD, 'QH', GETDATE(), CERTSN, ZZSTATE from GQTPSW;

--para codigos internos
	if (not exists(select id_objecto from Codigos_Sequenciais where id_objecto='UserAuthorization'))
		insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', 1)

	declare @codtbl table (cod int);
	declare @bs int;
	declare @cod int;
	SELECT @bs = count(1) from GQTpsw;
	insert into @codtbl exec UpdateCod 'UserAuthorization', @bs;
	select @cod = cod from @codtbl;
BEGIN TRY
	insert into UserAuthorization (CODUA, CODPSW, SISTEMA, MODULO, NIVEL, ZZSTATE)
	select STR(@cod - 1 + ROW_NUMBER() OVER (ORDER BY codpsw), 6), CODPSW, 'GQT', 'QWB', [QWB], 0 from GQTPSW;
END TRY
BEGIN CATCH
END CATCH;
	insert into @codtbl exec UpdateCod 'UserAuthorization', @bs;
	select @cod = cod from @codtbl;
BEGIN TRY
	insert into UserAuthorization (CODUA, CODPSW, SISTEMA, MODULO, NIVEL, ZZSTATE)
	select STR(@cod - 1 + ROW_NUMBER() OVER (ORDER BY codpsw), 6), CODPSW, 'GQT', 'XRS', [XRS], 0 from GQTPSW;
END TRY
BEGIN CATCH
END CATCH;
	EXEC sp_rename 'GQTPSW', 'backupGQTPSW'
end
GO

--caso a tabela antiga de docums ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'GQTDOCUMS')
begin
	INSERT INTO DOCUMS ([coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE])
	SELECT [coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE] FROM GQTDOCUMS
	EXEC sp_rename 'GQTDOCUMS', 'backupGQTDOCUMS'
end
GO

--caso a tabela antiga de hashcd ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'GQThashcd')
begin
	INSERT INTO hashcd ([tabela],[campos],[datacria],[ZZSTATE],[codhashcd])
	SELECT [tabela],[campos],[datacria],[ZZSTATE],[codhashcd] FROM GQThashcd
	EXEC sp_rename 'GQThashcd', 'backupGQThashcd'
end
GO

if (object_id(N'[dbo].[FillHashcd]', 'P') is not null) drop procedure [dbo].[FillHashcd]
EXEC ('CREATE PROCEDURE dbo.FillHashcd
AS
BEGIN
  DECLARE @o_proximo int = 0
  DECLARE @_campos varchar(max) = '''', @_ccampos varchar(max) = ''''
  DECLARE @codHashcd bigint
END')
GO

EXEC dbo.FillHashcd
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_0_1]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_0_1]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_0_1
AS
BEGIN
UPDATE GQTtblcfg SET CONFIG =
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
CONFIG,
''~'', ''|~|''),
''"'', ''~"''),
''\~"Name\~"'', ''"name"''),
''\~"Active\~"'', ''"active"''),
''\~"Conditions\~"'', ''"conditions"''),
''\~"Field\~"'', ''"field"''),
''\~"Operator\~"'', ''"operator"''),
''\~"Values\~"'', ''"values"''),
''\~"'', ''"''),
''~"advancedFilters~"'', ''"advancedFilters"''),
''~"columnFilters~"'', ''"columnFilters"''),
''~"groupFilterValues~"'', ''"staticFilters"''),
''~"activeFilter~"'', ''"activeFilter"''),
''~"initialSortColumn~"'', ''"columnOrderBy"''),
''~"perPage~"'', ''"rowsPerPage"''),
''~"defaultSearchColumn~"'', ''"defaultSearchColumn"''),
''~"columnOrder~"'', ''"columnConfiguration"''),
''~"columnSizes~"'', ''"columnSizes"''),
''~"hasTextWrap~"'', ''"lineBreak"''),
''\\'', ''\''),
''~"'', ''''),
''|~|'', ''~'')
UPDATE GQTcfg SET usrsetv = 1;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_1_2]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_1_2]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_1_2
AS
BEGIN
UPDATE GQTtblcfg SET usrsetv = 1;
UPDATE GQTcfg SET usrsetv = 2;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_tblcfgsel]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_tblcfgsel]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_tblcfgsel
AS
BEGIN
-- Init the ISDEFAULT column
UPDATE GQTtblcfg SET ISDEFAULT = 0;

-- Move default view indicator to table TBLCFG
UPDATE cfg
SET ISDEFAULT = 1
FROM GQTtblcfg cfg
INNER JOIN GQTtblcfgsel sel ON cfg.CODTBLCFG = sel.CODTBLCFG;

-- Drop table TBLCFGSEL afterwards
DROP TABLE GQTtblcfgsel;

-- Also drop column CONFIGID, as it is not being used
ALTER TABLE GQTtblcfg DROP COLUMN CONFIGID;
END')
GO

DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.GQTcfg
IF @usrsetv = '0'
	EXEC dbo.UpdateUserSettingsFormat_0_1
GO
DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.GQTcfg
IF @usrsetv = '1'
	EXEC dbo.UpdateUserSettingsFormat_1_2
GO
DECLARE @TableExists BIT = IIF(OBJECT_ID('dbo.GQTtblcfgsel', 'U') IS NOT NULL, 1, 0);
IF @TableExists = 1
	EXEC dbo.UpdateUserSettingsFormat_tblcfgsel
GO
