USE [W_GnBD]
if (524 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTADDRL_CUSTADID', 'customeraddressid', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaddrl', 'GQTADDRL_CUSTADID', 'gqt';
end
GO
if (235 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAERO_CODAERO_', 'codaero', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1911
SELECT 'GQTAERO_34ACAF183D7642CE', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtaero', 'GQTAERO_CODAERO_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AGENT
SELECT 'GQTAGENT_5AA1C47133FB449F', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGENT_5AA1C47133FB449F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T01AGENT
SELECT 'GQTAGENT_DCC2023318814EC3', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtagent', 'GQTAGENT_CODAGENT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRLN_CODAIRLN', 'codairln', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup AIRPLAIRLNAIRLNAME
SELECT 'GQTAIRLN_621F219D177F4194', 'airlname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairln', 'GQTAIRLN_CODAIRLN', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAUDIT_CODAUDIT', 'codaudit', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtaudit', 'GQTAUDIT_CODAUDIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATEG_CODCATEG', 'codcateg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CATEG
SELECT 'GQTCATEG_241B6CEBBC0E4E08', 'categoria', 0, 1, 0, 0
UNION ALL
SELECT 'GQTCATEG_241B6CEBBC0E4E08','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TBS_131
SELECT 'GQTCATEG_3752D26A1E2E481C', 'abbreviation', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcategorias', 'GQTCATEG_CODCATEG', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCFAQS_CODCFAQS', 'codcfaqs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtcfaqs', 'GQTCFAQS_CODCFAQS', 'gqt';
end
GO
if (98 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCNTRY_CODCNTRY', 'codcntry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4271
SELECT 'GQTCNTRY_FC8EE6DD6C594B7F', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcntry', 'GQTCNTRY_CODCNTRY', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCTRY_CODCTRY_', 'codctry', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03COUNTRY
SELECT 'GQTCTRY_B8E2A625C66B4F11', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtctry', 'GQTCTRY_CODCTRY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDECOM_CODDECO_', 'coddeco', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DECOM
SELECT 'GQTDECOM_B1B1DC714F8F4D3F', 'decomnr', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDECOM_B1B1DC714F8F4D3F','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2C111
SELECT 'GQTDECOM_F2BC433B1E3A4E89', 'dtdeco', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdecom', 'GQTDECOM_CODDECO_', 'gqt';
end
GO
if (82 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDESAM_CODDESAM', 'coddesam', 1, 1, 0, 1
UNION ALL
SELECT 'GQTDESAM_zzState', 'zzState', 0, 1, 0, 0
 
exec CheckIdxTmp @tabela, 'gqtdesam', 'GQTDESAM_CODDESAM', 'gqt';
end
GO
if (1589 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISST_CODDISST', 'coddisst', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_251
SELECT 'GQTDISST_D8A57B6215D24B15', 'status', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdisst', 'GQTDISST_CODDISST', 'gqt';
end
GO
if (534 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDTTYP_CODDTTYP', 'coddttyp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_7111
SELECT 'GQTDTTYP_5364ABC558A741BB', 'string', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtdatatypes', 'GQTDTTYP_CODDTTYP', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACTY_CODFACTY', 'codfacty', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4231
SELECT 'GQTFACTY_7970C00DE67C4FA5', 'type', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacilitytype', 'GQTFACTY_CODFACTY', 'gqt';
end
GO
if (136 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAMIL_CODFAMIL', 'codfamil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2921
SELECT 'GQTFAMIL_EC3F56CD428E4746', 'family', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfamil', 'GQTFAMIL_CODFAMIL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFTGRI_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup GRIDFTGRILEGENDA
SELECT 'GQTFTGRI_09889E6491084245', 'legenda', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtftgri', 'GQTFTGRI_CODPHOTO', 'gqt';
end
GO
if (28 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGENRE_CODGENRE', 'codgenre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_161
SELECT 'GQTGENRE_5723744D54124147', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgenre', 'GQTGENRE_CODGENRE', 'gqt';
end
GO
if (105 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGITEM_CODGITEM', 'codgitem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_6B6BFF863613498F', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_441
SELECT 'GQTGITEM_DA64F2D161DF45BE', 'itemgcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgitem', 'GQTGITEM_CODGITEM', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRPB_CODGRPB_', 'codgrpb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_EDITABLETABLELIST
SELECT 'GQTGRPB_CCED6EA874A3485E', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrpb', 'GQTGRPB_CODGRPB_', 'gqt';
end
GO
if (1022 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINPGR_CODINPGR', 'codinpgr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_361
SELECT 'GQTINPGR_44BD35C58811400E', 'textgro', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinpgr', 'GQTINPGR_CODINPGR', 'gqt';
end
GO
if (502 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTKINDE_CODKINDE', 'codkinde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4121
SELECT 'GQTKINDE_23F1D6F266E6480A', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtkindofequipment', 'GQTKINDE_CODKINDE', 'gqt';
end
GO
if (128 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLANGU_CODLANG_', 'codlang', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_921
SELECT 'GQTLANGU_6545AC16543E45C5', 'langua', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlangu', 'GQTLANGU_CODLANG_', 'gqt';
end
GO
if (2022 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtmem', 'GQTMEM_CODMEM__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTORGAN_CODORGAN', 'codorgan', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup VENDAORGANORGANIZA
SELECT 'GQTORGAN_88FEFEC385164C8D', 'organiza', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtorgan', 'GQTORGAN_CODORGAN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUDOC_CODDOCSD', 'coddocsd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUDOC
SELECT 'GQTOUDOC_D5390BFFF9A540B1', 'nrdocsda', 1, 1, 0, 0
UNION ALL
SELECT 'GQTOUDOC_D5390BFFF9A540B1','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoudoc', 'GQTOUDOC_CODDOCSD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPEDID_CODPEDID', 'codpedid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PEDID
SELECT 'GQTPEDID_B7CBDA19624444FC', 'nrpedido', 1, 1, 0, 0
UNION ALL
SELECT 'GQTPEDID_B7CBDA19624444FC','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_281
SELECT 'GQTPEDID_2B39A2E4E8994DF8', 'dtpedido', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpedid', 'GQTPEDID_CODPEDID', 'gqt';
end
GO
if (520 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERIO_CODPERIO', 'codperio', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtperiod', 'GQTPERIO_CODPERIO', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPERSO_CODPERSO', 'codperso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_111A020C4EDF4C2B', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_111A020C4EDF4C2B', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_43211
SELECT 'GQTPERSO_5925460B298C4259', 'gender', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtperson', 'GQTPERSO_CODPERSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPSNGR_CODPSNGR', 'codpsngr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSPSNGRFSTNAME
SELECT 'GQTPSNGR_9F14020E143C4BF9', 'fstname', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpsngr', 'GQTPSNGR_CODPSNGR', 'gqt';
end
GO
if (2023 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PSW
SELECT 'GQTPSW_14584F14F5844938', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'GQTPSW_14584F14F5844938','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIS_CODREGIS', 'codregis', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_E378F9AB3B84490A', 'nif', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_E378F9AB3B84490A','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup REGIS
SELECT 'GQTREGIS_77FAA465476D4C6D', 'email1', 0, 1, 0, 0
UNION ALL
SELECT 'GQTREGIS_77FAA465476D4C6D','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu REG_111
SELECT 'GQTREGIS_AFC8B3DEE239485F', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregis', 'GQTREGIS_CODREGIS', 'gqt';
end
GO
if (542 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROGL1_CODROGL1', 'codrogl1', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_431
SELECT 'GQTROGL1_865945EBE2E84564', 'title', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrogl1', 'GQTROGL1_CODROGL1', 'gqt';
end
GO
if (941 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROLE_CODROLE_', 'codrole', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrole', 'GQTROLE_CODROLE_', 'gqt';
end
GO
if (78 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROOMS_CODROOMS', 'codrooms', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_98FC3F3FA76A468F', 'roomnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2311
SELECT 'GQTROOMS_11F50DB9028241C2', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtrooms', 'GQTROOMS_CODROOMS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDF_CODRORDF', 'codrordf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDF
SELECT 'GQTRORDF_1B6718D174A34341', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDF_1B6718D174A34341','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordf', 'GQTRORDF_CODRORDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRORDI_CODRORDI', 'codrordi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RORDI
SELECT 'GQTRORDI_499412C1F0B0420A', 'order', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRORDI_499412C1F0B0420A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtrordi', 'GQTRORDI_CODRORDI', 'gqt';
end
GO
if (491 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRULES_CODREGRA', 'codregra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtrules', 'GQTRULES_CODREGRA', 'gqt';
end
GO
if (2027 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'gqt';
end
GO
if (2026 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'gqt';
end
GO
if (2025 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSBCAT_CODSBCAT', 'codsbcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup TPCATSBCATSUBCATEG
SELECT 'GQTSBCAT_D56C8CED69774CE8', 'subcateg', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsbcat', 'GQTSBCAT_CODSBCAT', 'gqt';
end
GO
if (12 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSHITY_CODSHITY', 'codshity', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtshity', 'GQTSHITY_CODSHITY', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPACE_CODESPAC', 'codespac', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtspace', 'GQTSPACE_CODESPAC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSPECI_CODESPEC', 'codespec', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_A5CA02F947D44A84', 'especial', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index REPARSPECIESPECIAL
SELECT 'GQTSPECI_A5CA02F947D44A84', 'areatecn', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites REPARSPECIESPECIAL
SELECT 'GQTSPECI_6570321F42C64918', 'areatecn', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtspeci', 'GQTSPECI_CODESPEC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTAKE_CODPARTE', 'codparte', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PESS1STAKEDESIGNAT
SELECT 'GQTSTAKE_820BD86BFAF34D14', 'designat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtstake', 'GQTSTAKE_CODPARTE', 'gqt';
end
GO
if (3 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSTRAT_CODESTRA', 'codestra', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtstrat', 'GQTSTRAT_CODESTRA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTEAMP_CODEQJOG', 'codeqjog', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup JOGOSTEAMPEQUIPA
SELECT 'GQTTEAMP_EC316A81EECF473A', 'equipa', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtteamp', 'GQTTEAMP_CODEQJOG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPPRO_CODTPPRO', 'codtppro', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup PROPR00TPPROTPPROPRI
SELECT 'GQTTPPRO_850361D40BD449DF', 'tppropri', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttppro', 'GQTTPPRO_CODTPPRO', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRSB_CODTRSB_', 'codtrsb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3151
SELECT 'GQTTRSB_AE21B287FB4B47C6', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttrsb', 'GQTTRSB_CODTRSB_', 'gqt';
end
GO
if (250 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUICOM_CODUICOM', 'coduicom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_OVERVIEW
SELECT 'GQTUICOM_B97FA4203694474C', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtuicom', 'GQTUICOM_CODUICOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWAREH_CODWAREH', 'codwareh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_52832D4495364DA0', 'warehdes', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWAREH_52832D4495364DA0','showreco', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_461
SELECT 'GQTWAREH_B50E962A6A9E4FFA', 'warehcod', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtwareh', 'GQTWAREH_CODWAREH', 'gqt';
end
GO
if (525 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTYEAR_CODYEAR_', 'codyear', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A31
SELECT 'GQTYEAR_E87675C7A74E4121', 'year', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtyear', 'GQTYEAR_CODYEAR_', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPL_CODAIRPL', 'codairpl', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtairpl', 'GQTAIRPL_CODAIRPL', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAIRPT_CODAIRPT', 'codairpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup FLIGHAIRPTAIRPTNAM
SELECT 'GQTAIRPT_1EE58225AB254CA5', 'airptnam', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtairpt', 'GQTAIRPT_CODAIRPT', 'gqt';
end
GO
if (1030 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCATTP_CODTPCAT', 'codtpcat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_471
SELECT 'GQTCATTP_3904D978F5944509', 'tpcatego', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcattp', 'GQTCATTP_CODTPCAT', 'gqt';
end
GO
if (1382 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CITY
SELECT 'GQTCITY_3D366F7366734CDA', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcity', 'GQTCITY_CODCITY_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPNY_CODEMPRE', 'codempre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_B7ED67568DD14D5F', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_B7ED67568DD14D5F', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_7D9F73CA9B7B47A1', 'acronym', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_1122A146C7FD4953', 'nif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_4FC9AB52D8854C93', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_621
SELECT 'GQTCMPNY_3EA2B9A8C87C4C84', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRCMPNYDESIGNAT
SELECT 'GQTCMPNY_49CA91DD22514E8C', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtcmpny', 'GQTCMPNY_CODEMPRE', 'gqt';
end
GO
if (1539 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFACIL_CODFACIL', 'codfacil', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_A73093F3D25C40D6', 'codentit', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ENTIT
SELECT 'GQTFACIL_A73093F3D25C40D6', 'incorpor', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu WMS_4211
SELECT 'GQTFACIL_5234225FB6AB400B', 'incorpor', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_D3B8082E56DC4AB1', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index LOCATFACILNAME
SELECT 'GQTFACIL_D3B8082E56DC4AB1', 'codentit', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtfacility', 'GQTFACIL_CODFACIL', 'gqt';
end
GO
if (924 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFAQS_CODFAQS_', 'codfaqs', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu STY_35911
SELECT 'GQTFAQS_431C4C068AF64360', 'codcfaqs', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfaqs', 'GQTFAQS_CODFAQS_', 'gqt';
end
GO
if (1024 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGLOB_CODGLOB_', 'codglob', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtglob', 'GQTGLOB_CODGLOB_', 'gqt';
end
GO
if (1725 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEM_CODITEM_', 'coditem', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_FFEC7A4B90244233', 'itemdes', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_FFEC7A4B90244233', 'codwareh', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_451
SELECT 'GQTITEM_3C769A3B35B94F03', 'itemcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTITEM_3C769A3B35B94F03','valid', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_289E7827500F40F8', 'codwareh', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_4611
SELECT 'GQTITEM_289E7827500F40F8', 'itemcod', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtitem', 'GQTITEM_CODITEM_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMANUA_CODMANUA', 'codmanua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP KINDEPSEUDMANUALS
SELECT 'GQTMANUA_11CC8CDB676F4CB9', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmanualtocollect', 'GQTMANUA_CODMANUA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPARAM_CODPARAM', 'codparam', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_87B1C1A01A3E458A', 'parameter', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_87B1C1A01A3E458A', 'codkinde', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP KINDEPSEUDPARAMETE
SELECT 'GQTPARAM_0DF2543B24244FB1', 'codkinde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtparameter', 'GQTPARAM_CODPARAM', 'gqt';
end
GO
if (467 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRPIN_CODPESSO', 'codpesso', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtprpin', 'GQTPRPIN_CODPESSO', 'gqt';
end
GO
if (172 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWORG_CODPWORG', 'codpworg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTPWORG_237C06675CC649C0', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpworg', 'GQTPWORG_CODPWORG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGF_CODROIGF', 'codroigf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_C7D50A07A46D46CF', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_C7D50A07A46D46CF', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_C7D50A07A46D46CF','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4311
SELECT 'GQTROIGF_77FF456AE40940B2', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_F2FF12AB36054453', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGF
SELECT 'GQTROIGF_F2FF12AB36054453', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGF_F2FF12AB36054453','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigf', 'GQTROIGF_CODROIGF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTROIGI_CODROIGI', 'codroigi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_22E321D2E9404ECC', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_22E321D2E9404ECC', 'codrogl1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_22E321D2E9404ECC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu PTN_4411
SELECT 'GQTROIGI_343D7B31FC754575', 'codrogl1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_D061C0244364401C', 'codrogl1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup ROIGI
SELECT 'GQTROIGI_D061C0244364401C', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTROIGI_D061C0244364401C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtroigi', 'GQTROIGI_CODROIGI', 'gqt';
end
GO
if (2028 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'gqt';
end
GO
if (2029 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'gqt';
end
GO
if (2024 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_3237CAEB86BC457E', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'GQTS_UA_3237CAEB86BC457E', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'GQTS_UA_3237CAEB86BC457E','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemApaga PSW
SELECT 'GQTS_UA_D1268D597FA241F2', 'codpsw', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALE_CODVENDA', 'codvenda', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALE_4F7B2567DB7A46C6', 'codorgan', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_511
SELECT 'GQTSALE_3E98F7D8EC964EC3', 'startdt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTSALE_3E98F7D8EC964EC3','showrcrd', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtsale', 'GQTSALE_CODVENDA', 'gqt';
end
GO
if (517 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTSALES_CODSALES', 'codsales', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph ORGAN
SELECT 'GQTSALES_BBECB1AAA63F48FD', 'codorgan', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtsales', 'GQTSALES_CODSALES', 'gqt';
end
GO
if (546 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLB_CODTBLB_', 'codtblb', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3131
SELECT 'GQTTBLB_83BEF604DE50491D', 'text', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblb', 'GQTTBLB_CODTBLB_', 'gqt';
end
GO
if (548 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTBLK_CODTBLK_', 'codtblk', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu PTN_3161
SELECT 'GQTTBLK_625F367185C947BE', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttblk', 'GQTTBLK_CODTBLK_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTICKT_CODTICKT', 'codtickt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSTICKTTKTID
SELECT 'GQTTICKT_249709BE8DF046AB', 'tktid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSTICKTTKTID
SELECT 'GQTTICKT_564A7FC4ACD44C36', 'codpsngr', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttickt', 'GQTTICKT_CODTICKT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPCON_CODTPCON', 'codtpcon', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_87FF45096A064C3E', 'tipocont', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index CONTATPCONTIPOCONT
SELECT 'GQTTPCON_87FF45096A064C3E', 'codgenre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites CONTATPCONTIPOCONT
SELECT 'GQTTPCON_2A6C8F9EC22C48A1', 'codgenre', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpcon', 'GQTTPCON_CODTPCON', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTPEQU_CODTPEQU', 'codtpequ', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup TPEQU
SELECT 'GQTTPEQU_2003F81B463848A0', 'tpequcod', 0, 1, 0, 0
UNION ALL
SELECT 'GQTTPEQU_2003F81B463848A0','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D11
SELECT 'GQTTPEQU_99D1F39B5A4849C6', 'tipoequi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FAMI1PSEUDTIPOSEQU
SELECT 'GQTTPEQU_658337BED01A4003', 'codfamil', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttpequ', 'GQTTPEQU_CODTPEQU', 'gqt';
end
GO
if (10 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTUSERS_CODUSERS', 'codusers', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtusers', 'GQTUSERS_CODUSERS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTWPESS_CODPESS_', 'codpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR WAREH
SELECT 'GQTWPESS_AAB1B14C818E44A1', 'codwareh', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_AAB1B14C818E44A1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu STY_IMGBACKGROUND
SELECT 'GQTWPESS_9C4E48CA9AC84EA6', 'date', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_PESSCARD
SELECT 'GQTWPESS_36A885628E4441BF', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTWPESS_36A885628E4441BF','showreco', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtwpess', 'GQTWPESS_CODPESS_', 'gqt';
end
GO
if (77 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGAMES_CODGAMES', 'codgames', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtgames', 'GQTGAMES_CODGAMES', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMC_CODCATAR', 'codcatar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_91028CBA38E5410D', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV ARTIGPSEUDCATEGOR
SELECT 'GQTITEMC_91028CBA38E5410D', 'codtpcat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DV relacao1 ARTIGPSEUDCATEGORI
SELECT 'GQTITEMC_03FF51E207A44D2A', 'codtpcat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtitemc', 'GQTITEMC_CODCATAR', 'gqt';
end
GO
if (1761 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTITEMP_CODITEMP', 'coditemp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemApaga ITEM
SELECT 'GQTITEMP_7CDBCB5491E1497F', 'coditem', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtitemp', 'GQTITEMP_CODITEMP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHPD_CODLNHPD', 'codlnhpd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_28A85239500148DC', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_28A85239500148DC', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_28A85239500148DC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB limites LNHDELNHPDLINE
SELECT 'GQTLNHPD_ED32522FFEEB4793', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_1F5C732FE4854C46', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHPD
SELECT 'GQTLNHPD_1F5C732FE4854C46', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHPD_1F5C732FE4854C46','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhpd', 'GQTLNHPD_CODLNHPD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPT_CODOUTPT', 'codoutpt', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_9E01AA3D2E5C4FE5', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_9E01AA3D2E5C4FE5', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_9E01AA3D2E5C4FE5','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDSAIOUTPTDOCUMENR
SELECT 'GQTOUTPT_FE64942EB3B94A26', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_DE4A2BC3741D4875', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPT
SELECT 'GQTOUTPT_DE4A2BC3741D4875', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPT_DE4A2BC3741D4875','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpt', 'GQTOUTPT_CODOUTPT', 'gqt';
end
GO
if (155 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROJE_CODPROJE', 'codproje', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_A11
SELECT 'GQTPROJE_484CD5F30AA04DBA', 'projecto', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproje', 'GQTPROJE_CODPROJE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPE_CODPROPE', 'codprope', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PROPE
SELECT 'GQTPROPE_4523243B2E7A46DE', 'order', 0, 1, 0, 0
UNION ALL
SELECT 'GQTPROPE_4523243B2E7A46DE','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_11004D68F6F34905', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_11004D68F6F34905', 'codagent', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu TRN_T14PROPERTY
SELECT 'GQTPROPE_E5971E596CE24DD0', 'codagent', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprope', 'GQTPROPE_CODPROPE', 'gqt';
end
GO
if (521 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREGIO_CODREGIA', 'codregia', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_0D187028D48144AB', 'regiao', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_0D187028D48144AB', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_2311
SELECT 'GQTREGIO_71194A9E5EA14D13', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtregio', 'GQTREGIO_CODREGIA', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTABPR_CODTABPR', 'codtabpr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_93FCC6538B814B57', 'codtpeq1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_93FCC6538B814B57', 'precohor', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_93FCC6538B814B57','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_974C77E05C4944DC', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV TPEQU
SELECT 'GQTTABPR_974C77E05C4944DC', 'codtpeq1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTTABPR_974C77E05C4944DC','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqttabpr', 'GQTTABPR_CODTABPR', 'gqt';
end
GO
if (130 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTTRADU_CODTRADU', 'codtradu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_7CCE0BBA027B4A4F', 'codidio2', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT ANEXD
SELECT 'GQTTRADU_7CCE0BBA027B4A4F', 'atraduzi', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_911
SELECT 'GQTTRADU_EC5448DA13F640FF', 'referenc', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqttradu', 'GQTTRADU_CODTRADU', 'gqt';
end
GO
if (1642 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAGREG_CODAGGRE', 'codaggre', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_2750CF21BD874473', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula CT PROJE
SELECT 'GQTAGREG_2750CF21BD874473', 'year', 0, 2, 0, 0
UNION ALL
-- Index with origin: Formula SR YEAR
SELECT 'GQTAGREG_730300F590184994', 'codyear', 0, 1, 0, 0
UNION ALL
SELECT 'GQTAGREG_730300F590184994','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_20C50743932F47C6', 'value', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_20C50743932F47C6', 'codproje', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DESPEAGREGVALUE
SELECT 'GQTAGREG_20C50743932F47C6', 'codyear', 0, 3, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_99ED071124694F9E', 'codproje', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DESPEAGREGVALUE
SELECT 'GQTAGREG_99ED071124694F9E', 'codyear', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtagreg', 'GQTAGREG_CODAGGRE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCMPKI_CODCMPKI', 'codcmpki', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_A67DE201B7094BBB', 'order', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_A67DE201B7094BBB', 'codtpequ', 0, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_A67DE201B7094BBB','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2A11
SELECT 'GQTCMPKI_CBA9B11D1C204C54', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_CCA031732162468C', 'codtpequ', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup CMPKI
SELECT 'GQTCMPKI_CCA031732162468C', 'order', 1, 2, 0, 0
UNION ALL
SELECT 'GQTCMPKI_CCA031732162468C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtcmpki', 'GQTCMPKI_CODCMPKI', 'gqt';
end
GO
if (1553 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTENTIT_CODENTIT', 'codentit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_511
SELECT 'GQTENTIT_87FC0AB957284AF5', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'GQTENTIT_87FC0AB957284AF5','supplier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_87FC0AB957284AF5','carrier', 0, 0, 1, 0
UNION ALL
SELECT 'GQTENTIT_87FC0AB957284AF5','manufact', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtentity', 'GQTENTIT_CODENTIT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLIGH_CODFLIGH', 'codfligh', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLIGHFLIGHTID
SELECT 'GQTFLIGH_A2F7D1F5486347C7', 'flightid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfligh', 'GQTFLIGH_CODFLIGH', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHAG_CODLNHAG', 'codlnhag', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PEDIDPSEUDAGRUPAME
SELECT 'GQTLNHAG_89BBC91252C64D4E', 'codpedid', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhag', 'GQTLNHAG_CODLNHAG', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTOUTPU_CODOUTPU', 'codoutpu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_707A661DA63B4A86', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLSAIDAS
SELECT 'GQTOUTPU_707A661DA63B4A86', 'exitdt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_707A661DA63B4A86','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_EC09172CFE9448A4', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_EC09172CFE9448A4', 'codoutpt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_EC09172CFE9448A4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DSAIDPSEUDSAIDAS
SELECT 'GQTOUTPU_5C26EDB8906449D9', 'codoutpt', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_25C7FA267C2A430C', 'codoutpt', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup OUTPU
SELECT 'GQTOUTPU_25C7FA267C2A430C', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTOUTPU_25C7FA267C2A430C','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtoutpu', 'GQTOUTPU_CODOUTPU', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROCN_CODPROCN', 'codprocn', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03CONTACTS
SELECT 'GQTPROCN_A801A296A5F74F56', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE10PSEUDPROPCONT
SELECT 'GQTPROCN_2C12741D715046A6', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtprocn', 'GQTPROCN_CODPROCN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPH_CODPROPH', 'codproph', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TRN_T03PHOTOS
SELECT 'GQTPROPH_CB750C6F959C477C', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROPE11PSEUDPROPHOTO
SELECT 'GQTPROPH_A6276615D6A84266', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproph', 'GQTPROPH_CODPROPH', 'gqt';
end
GO
if (169 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWREG_CODPWREG', 'codpwreg', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph REGIAO
SELECT 'GQTPWREG_7D28C2DA1C9545B0', 'codregia', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwreg', 'GQTPWREG_CODPWREG', 'gqt';
end
GO
if (1588 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDISPA_CODDISPA', 'coddispa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DISPA
SELECT 'GQTDISPA_690D51B3221D49AD', 'dispanr', 1, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_690D51B3221D49AD','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_2211
SELECT 'GQTDISPA_002D9DAF30FF4F33', 'dispadt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTDISPA_002D9DAF30FF4F33','isprepar', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatch', 'GQTDISPA_CODDISPA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEXPEN_CODDESPE', 'coddespe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula CT EXPEN
SELECT 'GQTEXPEN_C6797577CBDE49C5', 'yearnumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR AGREG
SELECT 'GQTEXPEN_1D29FD44B1B443C4', 'codaggre', 0, 1, 0, 0
UNION ALL
SELECT 'GQTEXPEN_1D29FD44B1B443C4','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_A21
SELECT 'GQTEXPEN_99CC98A3788A4F02', 'descript', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP ANOPSEUDTODASDES
SELECT 'GQTEXPEN_2B2DFDC268E146A7', 'codyear', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PROJEPSEUDDESPESAS
SELECT 'GQTEXPEN_139143D6ADC0490E', 'codproje', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtexpen', 'GQTEXPEN_CODDESPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLTSC_CODFLTSC', 'codfltsc', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB lookup BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_403DDAA17827445B', 'scaleid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites BRDPSFLTSCSCALEID
SELECT 'GQTFLTSC_098BE477FB134494', 'codfligh', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfltsc', 'GQTFLTSC_CODFLTSC', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDE_CODLNHDE', 'codlnhde', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemApaga LNHPD
SELECT 'GQTLNHDE_8BA8146099D84B4A', 'codlnhpd', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_DFE07BE3C17449CA', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_DFE07BE3C17449CA', 'codpedid', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_DFE07BE3C17449CA','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula SR LNHAG
SELECT 'GQTLNHDE_D03907B6CFD549C1', 'codlnhag', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLNHDE_D03907B6CFD549C1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PEDIDPSEUDDESAGREG
SELECT 'GQTLNHDE_4D7D63D91AC54057', 'codpedid', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_5E0BC06E063C4590', 'ordem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index LNHPDPSEUDDESAGREG
SELECT 'GQTLNHDE_5E0BC06E063C4590', 'codlnhpd', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_ECFE2D5B22204A8D', 'codpedid', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LNHDE
SELECT 'GQTLNHDE_ECFE2D5B22204A8D', 'ordem', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLNHDE_ECFE2D5B22204A8D','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlnhde', 'GQTLNHDE_CODLNHDE', 'gqt';
end
GO
if (504 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLOCAT_CODLOCAT', 'codlocat', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_4251
SELECT 'GQTLOCAT_55EA553AFD954D55', 'gln', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocation', 'GQTLOCAT_CODLOCAT', 'gqt';
end
GO
if (506 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMESSA_CODMESSA', 'codmessa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_611
SELECT 'GQTMESSA_E0478AFBD2574183', 'idnotif', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmessages', 'GQTMESSA_CODMESSA', 'gqt';
end
GO
if (1885 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPESSO_CODPESSO', 'codpesso', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_A5F4B492AFCB4AC6', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup PESS2
SELECT 'GQTPESSO_A5F4B492AFCB4AC6', 'idfuncio', 0, 2, 0, 0
UNION ALL
SELECT 'GQTPESSO_A5F4B492AFCB4AC6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_0F9678979EB24FA7', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_0F9678979EB24FA7', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_0F9678979EB24FA7', 'gender', 0, 3, 0, 0
UNION ALL
SELECT 'GQTPESSO_0F9678979EB24FA7','interna', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_271
SELECT 'GQTPESSO_9F6EE29FA63E4875', 'dtultcat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_3E453D8359244AC4', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6111211
SELECT 'GQTPESSO_3E453D8359244AC4', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_AF8096F4CC7A49F6', 'gender', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_A8D10394735E496A', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61211
SELECT 'GQTPESSO_A8D10394735E496A', 'gender', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_87E037B0D7F2441A', 'dtnascim', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_7DBA369D3796461F', 'telephon', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_F0DB8EDA25684F48', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_61411
SELECT 'GQTPESSO_754A941E3F534276', 'email2', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu PTN_711
SELECT 'GQTPESSO_EDA291E3BB63402F', 'mapheigh', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites PROPRALLPESSONAME
SELECT 'GQTPESSO_2FC44A9BB7584C83', 'codpaise', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_FA4CF988A1134E76', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PROPRALLPESSONAME
SELECT 'GQTPESSO_FA4CF988A1134E76', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_65230B38A77A4F2F', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites DENTRPESSONAME
SELECT 'GQTPESSO_65230B38A77A4F2F', 'codpaise', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_0792734B6E5D49BA', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_0792734B6E5D49BA', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB index DENTRPESSONAME
SELECT 'GQTPESSO_0792734B6E5D49BA', 'codpaise', 0, 3, 0, 0

exec CheckIdxTmp @tabela, 'gqtpessoas', 'GQTPESSO_CODPESSO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRECEI_CODRECEI', 'codrecei', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RECEI
SELECT 'GQTRECEI_664558B1AD5344E6', 'number', 1, 1, 0, 0
UNION ALL
SELECT 'GQTRECEI_664558B1AD5344E6','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_111
SELECT 'GQTRECEI_B45063CDF37041B0', 'dtreceip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtreceipt', 'GQTRECEI_CODRECEI', 'gqt';
end
GO
if (1785 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSET_CODASSET', 'codasset', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup ASSET
SELECT 'GQTASSET_9B98A4E7BADD4F1E', 'assetnum', 1, 1, 0, 0
UNION ALL
SELECT 'GQTASSET_9B98A4E7BADD4F1E','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_216E930ABD95429A', 'assettyp', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_21F5B3FE07AB4760', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu WMS_ASSET_CARD
SELECT 'GQTASSET_21F5B3FE07AB4760', 'assettyp', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtasset', 'GQTASSET_CODASSET', 'gqt';
end
GO
if (1461 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTBRDPS_CODBRDPS', 'codbrdps', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtbrdps', 'GQTBRDPS_CODBRDPS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTCONTA_CODCONTA', 'codconta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_141
SELECT 'GQTCONTA_4949C76EC52B4825', 'contacto', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDCONTACTO
SELECT 'GQTCONTA_C03BBF8415FA4D97', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtconta', 'GQTCONTA_CODCONTA', 'gqt';
end
GO
if (115 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTESPPE_CODESPPE', 'codesppe', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DV relacaoF PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_3E5BE5D9599B4FF6', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: DV relacao1 PESSOPSEUDESPECIAL
SELECT 'GQTESPPE_628BCF22BF89479A', 'codespec', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtesppe', 'GQTESPPE_CODESPPE', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEVCAT_CODPROGR', 'codprogr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_70A338B577C44C3A', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV PESSO
SELECT 'GQTEVCAT_70A338B577C44C3A', 'codpesso', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEVCAT_70A338B577C44C3A','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP PESSO1PSEUDEVOLUCAO
SELECT 'GQTEVCAT_3829626B0FA746F5', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtevcat', 'GQTEVCAT_CODPROGR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTGRID_CODGRID_', 'codgrid', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PESSOGRIPSEUDGRID1
SELECT 'GQTGRID_10FFFABEE48442F5', 'codpesso', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtgrid', 'GQTGRID_CODGRID_', 'gqt';
end
GO
if (1497 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTHPESS_CODHPESS', 'codhpess', 1, 1, 0, 1
 UNION ALL
-- Index with origin: TambemDesmarca PESSO
SELECT 'GQTHPESS_E71BE29F97F3458B', 'codpesso', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu PTN_1421
SELECT 'GQTHPESS_99BFAAF0ED2240B1', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqthpess', 'GQTHPESS_CODHPESS', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINDOC_CODDENTR', 'coddentr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_E8E3F5255ABB4D67', 'documenr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_E8E3F5255ABB4D67', 'codwareh', 0, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_E8E3F5255ABB4D67','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DB index LDENTNORINDOCDOCUMENR
SELECT 'GQTINDOC_2A4EA16B07694067', 'dhdocume', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_9D7C0FB2BD3B4922', 'codwareh', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup INDOC
SELECT 'GQTINDOC_9D7C0FB2BD3B4922', 'documenr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTINDOC_9D7C0FB2BD3B4922','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtindoc', 'GQTINDOC_CODDENTR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLCEXT_CODLCEXT', 'codlcext', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_A1B609DE8444401E', 'glnext', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_A1B609DE8444401E', 'codlocat', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB limites PRODULCEXTGLNEXT
SELECT 'GQTLCEXT_BEDAFEA9D8EF49F5', 'codlocat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlocationextension', 'GQTLCEXT_CODLCEXT', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLNHDF_CODLNHDF', 'codlnhdf', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP LNHDEPSEUDLNPROPS
SELECT 'GQTLNHDF_A512BEC28FB94C5F', 'codlnhde', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtlnhdf', 'GQTLNHDF_CODLNHDF', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPROPR_CODPROPR', 'codpropr', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_3F3114075A9A451E', 'codregia', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP REGIAPROPSEUDIMOVEISS
SELECT 'GQTPROPR_3F3114075A9A451E', 'codpais1', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_5F4827088F524C5E', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_5F4827088F524C5E', 'codcntry', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu IMO_1311
SELECT 'GQTPROPR_A3BEE00F70914828', 'codcntry', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpropr', 'GQTPROPR_CODPROPR', 'gqt';
end
GO
if (1365 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTAFINI_CODAFINI', 'codafini', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTAFINI_134C18A5AA9A461C', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtafini', 'GQTAFINI_CODAFINI', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSMA_CODASSMA', 'codassma', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET03PSEUDDOCUMENT
SELECT 'GQTASSMA_EEC3723FD80544B5', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetmanual', 'GQTASSMA_CODASSMA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTASSPA_CODASSPA', 'codasspa', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET04PSEUDPARAMETE
SELECT 'GQTASSPA_A53AA62F23064EA6', 'codasset', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtassetparameter', 'GQTASSPA_CODASSPA', 'gqt';
end
GO
if (1787 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTATAGS_CODTAGS_', 'codtags', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'gqtatags', 'GQTATAGS_CODTAGS_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTATTAC_CODATTAC', 'codattac', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_2CF58244501A4128', 'codasset', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_E649A25F133F4FA4', 'attached', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ASSET02PSEUDATTACHME
SELECT 'GQTATTAC_E649A25F133F4FA4', 'codasset', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtattachment', 'GQTATTAC_CODATTAC', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTEQUIP_CODEQUIP', 'codequip', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_7A4644E8280C4926', 'codtpequ', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index INSTAEQUIPREGISTNR
SELECT 'GQTEQUIP_7A4644E8280C4926', 'designat', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_7A4644E8280C4926','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: TambemDesmarca DECOM
SELECT 'GQTEQUIP_AEEB3BF7C1E24CE7', 'coddeco', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_A652FE9D121D4232', 'codempre', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup EQUIP
SELECT 'GQTEQUIP_A652FE9D121D4232', 'sequennr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_A652FE9D121D4232','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTEQUIP_A750CD055C5140B7', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_D6F77BB662DD4E09', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2C311
SELECT 'GQTEQUIP_D6F77BB662DD4E09', 'coddeco', 0, 2, 0, 0
UNION ALL
SELECT 'GQTEQUIP_D6F77BB662DD4E09','bought', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_D6F77BB662DD4E09','ifabatif', 0, 0, 1, 0
UNION ALL
SELECT 'GQTEQUIP_D6F77BB662DD4E09','showrc', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_BA517FA32D37462F', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_2D111
SELECT 'GQTEQUIP_BA517FA32D37462F', 'codtpequ', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_609AE114A2024927', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_6211
SELECT 'GQTEQUIP_609AE114A2024927', 'codempre', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu PTN_3G11
SELECT 'GQTEQUIP_0211FF2CF5A14176', 'dtaquisi', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_B6B53CA3BF67456B', 'registnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB index COMODEQUIPREGISTNR
SELECT 'GQTEQUIP_B6B53CA3BF67456B', 'codpess1', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtequip', 'GQTEQUIP_CODEQUIP', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLDENT_CODLDENT', 'codldent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_02BB60906BF34ED2', 'line', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_02BB60906BF34ED2', 'coddentr', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_02BB60906BF34ED2','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_30F984CF26C64FA7', 'coditem', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ARTIGPSEUDLENTRADA
SELECT 'GQTLDENT_30F984CF26C64FA7', 'dhentra', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_30F984CF26C64FA7','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DENTRPSEUDENTRADAS
SELECT 'GQTLDENT_2F83C031E7C74DA9', 'coddentr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_213F09E7E22B4F5A', 'coddentr', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LDENT
SELECT 'GQTLDENT_213F09E7E22B4F5A', 'line', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLDENT_213F09E7E22B4F5A','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtldent', 'GQTLDENT_CODLDENT', 'gqt';
end
GO
if (466 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTNOTIF_CODNOTIF', 'codnotif', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_6A82A6BE3DAF43F2', 'begin', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_C34F15E4F8DD4040', 'end', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_107E967D79474C59', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_35C9022A2DB849FB', 'idnotif', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_50E69FDAB6FF405D', 'idmsg', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_419365ADCACB4DAE', 'mailerr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_0C74F337DAD043FB', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_A3F104D1C7614784', 'creatdat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_81
SELECT 'GQTNOTIF_E7297B85D4DF4255', 'creatope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtnotif', 'GQTNOTIF_CODNOTIF', 'gqt';
end
GO
if (501 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPRODU_CODPRODU', 'codprodu', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu WMS_311
SELECT 'GQTPRODU_162A9761844B470C', 'product', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtproduct', 'GQTPRODU_CODPRODU', 'gqt';
end
GO
if (1618 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPWCOM_CODPWCOM', 'codpwcom', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Eph COMODANTE
SELECT 'GQTPWCOM_EEEA18A2D05B4791', 'codpess1', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtpwcom', 'GQTPWCOM_CODPWCOM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTANEXD_CODANEXD', 'codanexd', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu GQT_931
SELECT 'GQTANEXD_89919ECECAC84209', 'dthranex', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP EQUDOCUMPSEUDLISANEX
SELECT 'GQTANEXD_18B158D42CB74D98', 'codequip', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtanexd', 'GQTANEXD_CODANEXD', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTDILIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_B6B8B3F6D8B14929', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_B6B8B3F6D8B14929', 'coddispa', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_B6B8B3F6D8B14929','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_C5BA60F37DC64430', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDOUTPUTSD
SELECT 'GQTDILIN_C5BA60F37DC64430', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_C5BA60F37DC64430','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP DISPAPSEUDDISPATCH
SELECT 'GQTDILIN_DF0D90ABE50A4686', 'coddispa', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_BC49641C11804158', 'coddispa', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup DILIN
SELECT 'GQTDILIN_BC49641C11804158', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTDILIN_BC49641C11804158','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtdispatchline', 'GQTDILIN_CODDILIN', 'gqt';
end
GO
if (1569 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFLDS_CODFLDS_', 'codflds', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu QWB_11
SELECT 'GQTFLDS_0FEA920688D643D2', 'duration', 0, 1, 0, 0
UNION ALL
SELECT 'GQTFLDS_0FEA920688D643D2','shwrc', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtflds', 'GQTFLDS_CODFLDS_', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTINSTA_CODINSTA', 'codinsta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR EQUIP
SELECT 'GQTINSTA_AAC4FC16D0CE4951', 'codequip', 0, 1, 0, 0
UNION ALL
SELECT 'GQTINSTA_AAC4FC16D0CE4951','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_261
SELECT 'GQTINSTA_004823F41F884FBF', 'since', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu STY_LEAFLET
SELECT 'GQTINSTA_0CD54625237743D8', 'designat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP TPEQUPSEUDINSTALAC
SELECT 'GQTINSTA_CAE56CE7D5A2428C', 'codtpequ', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtinsta', 'GQTINSTA_CODINSTA', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTLENDI_CODLENDI', 'codlendi', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_700F7E228EC74285', 'lendinnr', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_700F7E228EC74285', 'codpess1', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_700F7E228EC74285','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_24DBA2983A444E14', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_24DBA2983A444E14', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_0C604FE722D143B4', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_0C604FE722D143B4', 'warndt', 0, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_0C604FE722D143B4','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_0C604FE722D143B4','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_652D90818DEA46FB', 'warndt', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_652D90818DEA46FB','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_652D90818DEA46FB','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_111
SELECT 'GQTLENDI_A9C220BB73334FAB', 'end', 0, 1, 0, 0
UNION ALL
SELECT 'GQTLENDI_A9C220BB73334FAB','returned', 0, 0, 1, 0
UNION ALL
SELECT 'GQTLENDI_A9C220BB73334FAB','ifoutdt', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_5E38A5BCA2E146F3', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_5E38A5BCA2E146F3', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_E00A3A391AD14423', 'codpess1', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1211
SELECT 'GQTLENDI_E00A3A391AD14423', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_FD0A49497DC243AD', 'start', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1411
SELECT 'GQTLENDI_FD0A49497DC243AD', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_B433C20A1BB44708', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_B433C20A1BB44708', 'start', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_E8539D99A68D4068', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_E8539D99A68D4068', 'warndt', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_0E76F707E4CE4119', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_1711
SELECT 'GQTLENDI_0E76F707E4CE4119', 'end', 0, 2, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_0D4D733EA53F4080', 'codpess1', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup LENDI
SELECT 'GQTLENDI_0D4D733EA53F4080', 'lendinnr', 1, 2, 0, 0
UNION ALL
SELECT 'GQTLENDI_0D4D733EA53F4080','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtlendi', 'GQTLENDI_CODLENDI', 'gqt';
end
GO
if (858 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTMOVIM_CODMOVIM', 'codmovim', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_1EF8DBDC603F478B', 'dhmudanc', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTMOVIM_1EF8DBDC603F478B', 'codequip', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_1EF8DBDC603F478B','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_FA457DE51F954E87', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu GQT_231
SELECT 'GQTMOVIM_FA457DE51F954E87', 'codrooms', 0, 2, 0, 0
UNION ALL
SELECT 'GQTMOVIM_FA457DE51F954E87','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_2511
SELECT 'GQTMOVIM_79FBC6B1E49D41E7', 'codrooms', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtmovim', 'GQTMOVIM_CODMOVIM', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTPHOTO_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_BC2D9DFED05F4FB1', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV EQUIP
SELECT 'GQTPHOTO_BC2D9DFED05F4FB1', 'anexed', 0, 2, 0, 0
UNION ALL
SELECT 'GQTPHOTO_BC2D9DFED05F4FB1','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_D944DBF81E6E45B4', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDFOTOEQUI
SELECT 'GQTPHOTO_D944DBF81E6E45B4', 'codequip', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtphoto', 'GQTPHOTO_CODPHOTO', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTRELIN_CODDILIN', 'coddilin', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_4D59C279A6524BBC', 'linenumb', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_4D59C279A6524BBC', 'codrecei', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_4D59C279A6524BBC','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_2F23811A10434504', 'codprodu', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index PRODUPSEUDINPUTSRE
SELECT 'GQTRELIN_2F23811A10434504', 'instant', 0, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_2F23811A10434504','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: DP RECEIPSEUDRECEIPTL
SELECT 'GQTRELIN_D0CCE3C49B444DBC', 'codrecei', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_87933E95D65A4767', 'codrecei', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RELIN
SELECT 'GQTRELIN_87933E95D65A4767', 'linenumb', 1, 2, 0, 0
UNION ALL
SELECT 'GQTRELIN_87933E95D65A4767','zzState', 1, 0, 1, 0

exec CheckIdxTmp @tabela, 'gqtreceiptline', 'GQTRELIN_CODDILIN', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTREPAR_CODREPAR', 'codrepar', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_12810515E1CD4FC7', 'codempre', 1, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup REPAR
SELECT 'GQTREPAR_12810515E1CD4FC7', 'nrrepara', 1, 2, 0, 0
UNION ALL
SELECT 'GQTREPAR_12810515E1CD4FC7','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: Menu GQT_REPAIR_LIST
SELECT 'GQTREPAR_9CC91DF7FB76497B', 'dtrepara', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_5C96BD21D5904513', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index ACCORDIPSEUDREPARACO
SELECT 'GQTREPAR_5C96BD21D5904513', 'nrrepara', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtrepar', 'GQTREPAR_CODREPAR', 'gqt';
end
GO
if (1513 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTVISIT_CODVISIT', 'codvisit', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_D1D99854D7234927', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_D1D99854D7234927', 'startdt', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_48D737820EC94B25', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_48D737820EC94B25', 'codequip', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_6E74260066F04B37', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_6E74260066F04B37', 'dtfim', 0, 2, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_EC06C0FF04C6467F', 'codequip', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP index EQUIPPSEUDVISEQUIP
SELECT 'GQTVISIT_EC06C0FF04C6467F', 'color', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'gqtvisit', 'GQTVISIT_CODVISIT', 'gqt';
end
GO
if (1560 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'GQTFEECA_CODFEECA', 'codfeeca', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu TBS_1931
SELECT 'GQTFEECA_2AD243E3D50B4343', 'feedback', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP FLDSTBLPSEUDFEECA
SELECT 'GQTFEECA_D5DBBD9F499A4D63', 'codflds', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'gqtfeeca', 'GQTFEECA_CODFEECA', 'gqt';
end
GO

if (2029 > isnull((select versindx from GQTcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'gqtalerta_alerta01'))
	DROP INDEX gqtalerta_alerta01 ON gqtalerta
CREATE INDEX gqtalerta_alerta01 ON gqtalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit01'))
	DROP INDEX gqtpostit_postit01 ON gqtpostit
CREATE INDEX gqtpostit_postit01 ON gqtpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit02'))
	DROP INDEX gqtpostit_postit02 ON gqtpostit
CREATE INDEX gqtpostit_postit02 ON gqtpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit03'))
	DROP INDEX gqtpostit_postit03 ON gqtpostit
CREATE INDEX gqtpostit_postit03 ON gqtpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit04'))
	DROP INDEX gqtpostit_postit04 ON gqtpostit
CREATE INDEX gqtpostit_postit04 ON gqtpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit05'))
	DROP INDEX gqtpostit_postit05 ON gqtpostit
CREATE INDEX gqtpostit_postit05 ON gqtpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit06'))
	DROP INDEX gqtpostit_postit06 ON gqtpostit
CREATE INDEX gqtpostit_postit06 ON gqtpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'gqtpostit_postit07'))
	DROP INDEX gqtpostit_postit07 ON gqtpostit
CREATE INDEX gqtpostit_postit07 ON gqtpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'gqtaltent_altent01'))
	DROP INDEX gqtaltent_altent01 ON gqtaltent
CREATE INDEX gqtaltent_altent01 ON gqtaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega01'))
	DROP INDEX gqtdelega_delega01 ON gqtdelega
CREATE INDEX gqtdelega_delega01 ON gqtdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'gqtdelega_delega02'))
	DROP INDEX gqtdelega_delega02 ON gqtdelega
CREATE INDEX gqtdelega_delega02 ON gqtdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstusr_codpsw'))
	DROP INDEX gqtlstusr_codpsw ON gqtlstusr
CREATE INDEX gqtlstusr_codpsw ON gqtlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstcol_codlstusr'))
	DROP INDEX gqtlstcol_codlstusr ON gqtlstcol
CREATE INDEX gqtlstcol_codlstusr ON gqtlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtlstren_codlstusr'))
	DROP INDEX gqtlstren_codlstusr ON gqtlstren
CREATE INDEX gqtlstren_codlstusr ON gqtlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqtusrwid_codlstusr'))
	DROP INDEX gqtusrwid_codlstusr ON gqtusrwid
CREATE INDEX gqtusrwid_codlstusr ON gqtusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid_name'))
	DROP INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid_name ON gqttblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'gqttblcfg_codpsw_uuid'))
	DROP INDEX gqttblcfg_codpsw_uuid ON gqttblcfg
CREATE INDEX gqttblcfg_codpsw_uuid ON gqttblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'loggqtall_loggqtall01'))
	DROP INDEX loggqtall_loggqtall01 ON loggqtall
CREATE CLUSTERED INDEX [loggqtall_loggqtall01] ON [dbo].[logGQTall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE GQTcfg set versindx = 2029
end
GO