
-- recalculo de fórmulas para a tabela GQTFEECA
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTVISIT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela STOCK
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTREPAR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTReceiptLine
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [relin]
SET [relin].[outstand] =[relin].[ordered]-[relin].[received]
FROM [gqtreceiptline] AS [relin]


GO
GO
-- recalculo de fórmulas para a tabela GQTPHOTO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTMOVIM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [movim]
SET [movim].[roomnr] =ISNULL([rooms].[roomnr], '')+' '+ISNULL([rooms].[designat], '')
FROM [gqtmovim] AS [movim]
LEFT JOIN [gqtrooms] as [rooms] ON [movim].[codrooms]=[rooms].[codrooms]


GO
GO
-- recalculo de fórmulas para a tabela GQTLENDI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [lendi]
SET [lendi].[warndt] =dbo.SomaDias([lendi].[start],ISNULL([equip].[frequenc], 0))
,[lendi].[returned] =(case when (dbo.emptyD([lendi].[returndt])=1) then 0 else 1 end)
FROM [gqtlendi] AS [lendi]
LEFT JOIN [gqtequip] as [equip] ON [lendi].[codequip]=[equip].[codequip]


-- Layer 1
update [lendi]
SET [lendi].[end] =dbo.SomaDias([lendi].[warndt],1)
FROM [gqtlendi] AS [lendi]


-- Layer 2
update [lendi]
SET [lendi].[dayslimi] =(case when (dbo.emptyD([lendi].[end])=1) then 0 else dbo.Diferenca_entre_Datas(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),[lendi].[end],'D') end)
FROM [gqtlendi] AS [lendi]


-- Layer 3
update [lendi]
SET [lendi].[ifoutdt] =(case when ([lendi].[dayslimi]<0) then 1 else 0 end)
FROM [gqtlendi] AS [lendi]


GO
GO
-- recalculo de fórmulas para a tabela GQTINSTA
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtinsta] set [gqtinsta].[precohor] = ISNULL((select top 1 [gqttabpr].[precohor] from [gqttabpr] where ([gqttabpr].[since] <= [gqtinsta].[since] and [gqttabpr].[codtpeq1] = [gqtinsta].[codtpequ]) order by [gqttabpr].[since] DESC),0)
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [insta]
SET [insta].[hours] =(case when (dbo.emptyD([insta].[since])=1 or dbo.emptyD([insta].[until])=1) then 0 else dbo.Diferenca_entre_Datas([insta].[since],[insta].[until],'H') end)
FROM [gqtinsta] AS [insta]


-- Layer 1
update [insta]
SET [insta].[value] =[insta].[hours]*[insta].[precohor]
FROM [gqtinsta] AS [insta]


GO
GO
-- recalculo de fórmulas para a tabela GQTFLDS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTDispatchLine
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [dilin]
SET [dilin].[outstand] =[dilin].[ordered]-[dilin].[delivere]
FROM [gqtdispatchline] AS [dilin]


GO
GO
-- recalculo de fórmulas para a tabela GQTANEXD
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtanexd] set [gqtanexd].[tittradu] = ISNULL((select top 1 [gqttradu].[traduzid] from [gqttradu] where ([gqttradu].[atraduzi] <= [gqtanexd].[title] and [gqttradu].[codidio2] = [gqtanexd].[codlang]) order by [gqttradu].[atraduzi] DESC),'')
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTPWCOM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTProduct
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtproduct] set
     [outputs] = + (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
     ,[stock] = - (select isnull(sum(source.[DELIVERE]),0) from [gqtdispatchline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
              + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
     ,[inputs] = + (select isnull(sum(source.[RECEIVED]),0) from [gqtreceiptline] as source where [gqtproduct].[codprodu] = source.[codprodu] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTNOTIF
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLDENT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTEQUIP
USE [W_GnBD]
-- Last value from gqtmovim
update [gqtequip] set [codrooms] = tmptab1.[codrooms] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[dhmudanc]) as uData from [gqtmovim] as tmpFromTab  where tmpFromTab.[dhmudanc] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtmovim] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[dhmudanc] = tmptab2.uData
-- Clean last value from gqtmovim
update [gqtequip] set [codrooms] = NULL where not exists(select [src].[codequip] from [gqtmovim] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[dhmudanc] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
-- Last value from gqtphoto
update [gqtequip] set [lastpho] = tmptab1.[photogra] from [gqtequip] inner join (select tmpFromTab.[CODEQUIP], max(tmpFromTab.[anexed]) as uData from [gqtphoto] as tmpFromTab  where tmpFromTab.[anexed] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODEQUIP]) as tmptab2 on [gqtequip].[codequip] = tmptab2.[codequip] inner join [gqtphoto] as tmptab1 on [gqtequip].[codequip] = tmptab1.[codequip] where tmptab1.[anexed] = tmptab2.uData
-- Clean last value from gqtphoto
update [gqtequip] set [lastpho] = NULL where not exists(select [src].[codequip] from [gqtphoto] [src] where [src].[codequip] = [gqtequip].[codequip] and [src].[codequip] is not null and [src].[anexed] <= getdate() and [src].[zzstate] = 0 group by [src].[CODEQUIP])
GO
USE [W_GnBD]
update [gqtequip] set [gqtequip].[first] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] ASC),'')
update [gqtequip] set [gqtequip].[before] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] <= [gqtequip].[dtrefere]) order by [gqtmovim].[dhmudanc] DESC),'')
update [gqtequip] set [gqtequip].[followin] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] ASC),'')
update [gqtequip] set [gqtequip].[last] = ISNULL((select top 1 [gqtmovim].[roomnr] from [gqtmovim] where ([gqtmovim].[dhmudanc] >= [gqtequip].[dtrefere] and [gqtmovim].[codequip] = [gqtequip].[codequip]) order by [gqtmovim].[dhmudanc] DESC),'')
GO
USE [W_GnBD]
update [gqtequip] set
     [valortot] = + (select isnull(sum(source.[VALUE]),0) from [gqtinsta] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)
     ,[qtdmovim] = + (select isnull(count(*),0) from [gqtmovim] as source where [gqtequip].[codequip] = source.[codequip] and source.zzstate = 0)
GO
USE [W_GnBD]
update [gqtequip] set [gqtequip].[moviment] = (select SUBSTRING((SELECT '; ' + cast([roomnr] as nvarchar(MAX)) AS [text()] From gqtmovim Where dbo.emptyC(cast([roomnr] as nvarchar(MAX))) = 0 and cast([roomnr] as nvarchar(MAX))<> '' AND codequip = gqtequip.codequip AND ZZSTATE=0 ORDER BY dhmudanc For XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'),3,8000))
GO
-- Layer 0
update [equip]
SET [equip].[registnr] =right('000000'+dbo.NumericToString([equip].[sequennr],0),6)
,[equip].[bought] =(case when (dbo.emptyD([equip].[dtaquisi])=1) then 0 else 1 end)
FROM [gqtequip] AS [equip]


-- Layer 1
update [equip]
SET [equip].[ifabatif] =(case when (dbo.emptyD([equip].[dtdeco])=1) then 0 else 1 end)
FROM [gqtequip] AS [equip]


GO
GO
-- recalculo de fórmulas para a tabela CCORR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAttachment
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTATAGS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAssetParameter
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [asspa]
SET [asspa].[toshow] =(case when ([asspa].[datatype]='T') then [asspa].[text] else (case when ([asspa].[datatype]='N') then dbo.NumericToString([asspa].[quantity],0) else (case when ([asspa].[datatype]='D') then dbo.NumericToString(year([asspa].[date]),0)+'-'+right('00'+dbo.NumericToString(month([asspa].[date]),0),2)+'-'+right('00'+dbo.NumericToString(day([asspa].[date]),0),2) else '' end) end) end)
FROM [gqtassetparameter] AS [asspa]


GO
GO
-- recalculo de fórmulas para a tabela GQTAssetManual
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAFINI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHDF
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLocationExtension
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTINDOC
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [indoc]
SET [indoc].[date] =(case when (dbo.emptyG([indoc].[codwareh])=1) then NULL else [indoc].[dhdocume] end)
FROM [gqtindoc] AS [indoc]


GO
GO
-- recalculo de fórmulas para a tabela GQTHPESS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTGRID
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTEVCAT
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtevcat] set [gqtevcat].[until] = (select min(tabela1.[since])-1 from gqtevcat as tabela1 where (tabela1.[since] > [gqtevcat].[since] and tabela1.[codpesso] = [gqtevcat].[codpesso]))
GO
GO
USE [W_GnBD]
GO
-- Layer 0
-- Layer 1
update [evcat]
SET [evcat].[fimperio] =(case when (dbo.emptyD([evcat].[untilman])=0) then [evcat].[untilman] else [evcat].[until] end)
FROM [gqtevcat] AS [evcat]


GO
GO
-- recalculo de fórmulas para a tabela GQTESPPE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCONTA
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTBRDPS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAsset
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTReceipt
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [recei]
SET [recei].[checked] =(case when (([recei].[dtcheck] IS NULL)) then 0 else 1 end)
,[recei].[tocheck] =(case when (not ([recei].[dtreceip] IS NULL) and ([recei].[dtcheck] IS NULL)) then 1 else 0 end)
FROM [gqtreceipt] AS [recei]


GO
GO
-- recalculo de fórmulas para a tabela GQTPessoas
USE [W_GnBD]
-- Last value from gqtevcat
update [gqtpessoas] set [dtultcat] = tmptab1.[since], [codcateg] = tmptab1.[codcateg] from [gqtpessoas] inner join (select tmpFromTab.[CODPESSO], max(tmpFromTab.[since]) as uData from [gqtevcat] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODPESSO]) as tmptab2 on [gqtpessoas].[codpesso] = tmptab2.[codpesso] inner join [gqtevcat] as tmptab1 on [gqtpessoas].[codpesso] = tmptab1.[codpesso] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqtevcat
update [gqtpessoas] set [dtultcat] = NULL,[codcateg] = NULL where not exists(select [src].[codpesso] from [gqtevcat] [src] where [src].[codpesso] = [gqtpessoas].[codpesso] and [src].[codpesso] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODPESSO])
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [pesso]
SET [pesso].[idade] =dbo.Idade([pesso].[dtnascim],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))
FROM [gqtpessoas] AS [pesso]


GO
GO
-- recalculo de fórmulas para a tabela GQTMessages
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLocation
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHDE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTFLTSC
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTEXPEN
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtexpen] set [gqtexpen].[prevval] = ISNULL((select top 1 [gqtexpen].[value] from [gqtexpen] where ([gqtexpen].[yearnumb] <= [gqtexpen].[yearprev]) order by [gqtexpen].[yearnumb] DESC),0)
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [expen]
SET [expen].[yearnumb] =ISNULL([year].[yearnum], 0)
,[expen].[yearprev] =ISNULL([year].[yearnum], 0)-1
FROM [gqtexpen] AS [expen]
LEFT JOIN [gqtyear] as [year] ON [expen].[codyear]=[year].[codyear]


-- Layer 1
GO
GO
-- recalculo de fórmulas para a tabela GQTDispatch
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [dispa]
SET [dispa].[status] =(case when (dbo.emptyD([dispa].[dispadt])=0) then 'D' else (case when (dbo.emptyD([dispa].[prepared])=0) then 'P' else 'I' end) end)
FROM [gqtdispatch] AS [dispa]


GO
GO
-- recalculo de fórmulas para a tabela GQTPWREG
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPH
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPROCN
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTOUTPU
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHAG
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtlnhag] set
     [qtdtpequ] = + (select isnull(sum(source.[QUANTIDA]),0) from [gqtlnhde] as source where [gqtlnhag].[codlnhag] = source.[codlnhag] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTFLIGH
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTEntity
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtentity] set [gqtentity].[firstfacilitie] = ISNULL((select top 1 [gqtfacility].[codfacil] from [gqtfacility] where ([gqtfacility].[incorpor] <= [gqtentity].[founded] and [gqtfacility].[codentit] = [gqtentity].[codentit]) order by [gqtfacility].[incorpor] ASC),'')
update [gqtentity] set [gqtentity].[lastfacilitie] = ISNULL((select top 1 [gqtfacility].[codfacil] from [gqtfacility] where ([gqtfacility].[incorpor] >= [gqtentity].[founded] and [gqtfacility].[codentit] = [gqtentity].[codentit]) order by [gqtfacility].[incorpor] DESC),'')
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTCMPKI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAGREG
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtagreg] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtexpen] as source where [gqtagreg].[codaggre] = source.[codaggre] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTTRADU
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTABPR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTREGIO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPROPE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [prope]
SET [prope].[buildage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year(dbo.DateAddYears(NULL,dbo.atoi([prope].[year])))
FROM [gqtprope] AS [prope]


GO
GO
-- recalculo de fórmulas para a tabela GQTPROJE
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtproje] set [gqtproje].[primeiro] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] <= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] ASC),0)
update [gqtproje] set [gqtproje].[before] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] <= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] DESC),0)
update [gqtproje] set [gqtproje].[followin] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] >= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] ASC),0)
update [gqtproje] set [gqtproje].[ultimo] = ISNULL((select top 1 [gqtagreg].[value] from [gqtagreg] where ([gqtagreg].[year] >= [gqtproje].[year] and [gqtagreg].[codproje] = [gqtproje].[codproje]) order by [gqtagreg].[year] DESC),0)
GO
GO
USE [W_GnBD]
GO
-- Layer 0
-- Layer 1
-- Layer 2
update [proje]
SET [proje].[saldo1] =[proje].[followin]-[proje].[before]
,[proje].[saldo2] =[proje].[ultimo]-[proje].[primeiro]
FROM [gqtproje] AS [proje]


GO
GO
-- recalculo de fórmulas para a tabela GQTOUTPT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLNHPD
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTITEMP
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTITEMC
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTGAMES
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTWPESS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTUSERS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTPEQU
USE [W_GnBD]
-- Last value from gqttabpr
update [gqttpequ] set [since] = tmptab1.[since], [precoult] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[since]) as uData from [gqttabpr] as tmpFromTab  where tmpFromTab.[since] <= getdate() and tmpFromTab.zzstate = 0 group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[since] = tmptab2.uData
-- Clean last value from gqttabpr
update [gqttpequ] set [since] = NULL,[precoult] = NULL where not exists(select [src].[codtpeq1] from [gqttabpr] [src] where [src].[codtpeq1] = [gqttpequ].[codtpequ] and [src].[codtpeq1] is not null and [src].[since] <= getdate() and [src].[zzstate] = 0 group by [src].[CODTPEQ1])
-- Last value from gqttabpr
update [gqttpequ] set [precomax] = tmptab1.[precohor] from [gqttpequ] inner join (select tmpFromTab.[CODTPEQ1], max(tmpFromTab.[precohor]) as uData from [gqttabpr] as tmpFromTab  group by tmpFromTab.[CODTPEQ1]) as tmptab2 on [gqttpequ].[codtpequ] = tmptab2.[codtpeq1] inner join [gqttabpr] as tmptab1 on [gqttpequ].[codtpequ] = tmptab1.[codtpeq1] where tmptab1.[precohor] = tmptab2.uData
-- Clean last value from gqttabpr
update [gqttpequ] set [precomax] = NULL where not exists(select [src].[codtpeq1] from [gqttabpr] [src] group by [src].[CODTPEQ1])
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTTPCON
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTICKT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTBLK
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTBLB
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSALES
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSALE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTROIGI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTROIGF
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPWORG
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPRPIN
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTParameter
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTManualToCollect
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTITEM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtitem] set
     [existenc] = - (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
              + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
     ,[exits] = + (select isnull(sum(source.[EXITQNTY]),0) from [gqtoutpu] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
     ,[entries] = + (select isnull(sum(source.[QTDENTRA]),0) from [gqtldent] as source where [gqtitem].[coditem] = source.[coditem] and source.zzstate = 0)
GO
USE [W_GnBD]
update [gqtitem] set [gqtitem].[category] = (select SUBSTRING((SELECT '; ' + cast([tpcateg] as nvarchar(MAX)) AS [text()] From gqtitemc Where dbo.emptyC(cast([tpcateg] as nvarchar(MAX))) = 0 and cast([tpcateg] as nvarchar(MAX))<> '' AND coditem = gqtitem.coditem AND ZZSTATE=0 ORDER BY tpcateg For XML PATH (''), TYPE).value('.', 'NVARCHAR(MAX)'),3,8000))
GO
-- Layer 0
-- Layer 1
update [item]
SET [item].[disponib] =(case when ([item].[existenc]>0) then 'A' else (case when ([item].[existenc]<=0) then 'O' else 'D' end) end)
FROM [gqtitem] AS [item]


GO
GO
-- recalculo de fórmulas para a tabela GQTGLOB
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [glob]
SET [glob].[pzerod] =100+(100-[glob].[pzero])
,[glob].[pvalmind] =100+(100-[glob].[pvalmax])
,[glob].[palertd] =100+(100-[glob].[palert])
,[glob].[plimbomd] =100+(100-[glob].[plimbom])
,[glob].[plimsupd] =100+(100-[glob].[plimsup])
,[glob].[pvalmaxd] =100+(100-[glob].[pvalmin])
,[glob].[plimmaud] =100+(100-[glob].[plimmau])
,[glob].[pbomsc] =100+(100-[glob].[pbomc])
,[glob].[palertsc] =100+(100-[glob].[palertc])
,[glob].[pmausc] =100+(100-[glob].[pmauc])
,[glob].[pmaxsc] =100+(100-[glob].[pminc])
,[glob].[pzerosc] =100+(100-[glob].[pzeroc])
,[glob].[pricolor] ='#009AA5'
FROM [gqtglob] AS [glob]


GO
GO
-- recalculo de fórmulas para a tabela GQTFAQS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTFacility
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [facil]
SET [facil].[geocoord] =(case when ([facil].[gpsinput]='L') then dbo.GetGeoFromLatLng([facil].[latitude],[facil].[longitud]) else [facil].[geocoori] end)
FROM [gqtfacility] AS [facil]


GO
GO
-- recalculo de fórmulas para a tabela GQTCMPNY
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtcmpny] set
     [qtdpesso] = + (select isnull(count(*),0) from [gqtpessoas] as source where [gqtcmpny].[codempre] = source.[codempre] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTCITY
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCATTP
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRPT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRPL
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTYEAR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtyear] set
     [value] = + (select isnull(sum(source.[VALUE]),0) from [gqtagreg] as source where [gqtyear].[codyear] = source.[codyear] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTWAREH
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [gqtwareh] set
     [num_employee] = + (select isnull(count(*),0) from [gqtwpess] as source where [gqtwareh].[codwareh] = source.[codwareh] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela GQTUICOM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTRSB
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTPPRO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTTEAMP
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSTRAT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSTAKE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSPECI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSPACE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSHITY
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTSBCAT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela GQTRULES
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTRORDI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTRORDF
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTROOMS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTROLE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTROGL1
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTREGIS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela UserLogin
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPSNGR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPerson
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPeriod
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTPEDID
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTOUDOC
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTORGAN
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTMEM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTLANGU
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTKindOfEquipment
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTINPGR
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTGRPB
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTGITEM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTGENRE
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTFTGRI
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTFAMIL
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTFacilityType
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTDataTypes
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [dttyp]
SET [dttyp].[qrcode] =[dttyp].[string]
FROM [gqtdatatypes] AS [dttyp]


GO
GO
-- recalculo de fórmulas para a tabela GQTDISST
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTDESAM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTDECOM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCTRY
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCNTRY
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCFAQS
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTCategorias
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAUDIT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAIRLN
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAGENT
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTAERO
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQTADDRL
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela GQPAddress
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO


GO