USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTADDRL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTADDRL', coalesce(cast((select max(customeraddressid) from GQTADDRL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAERO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAERO', coalesce(cast((select max(codaero) from GQTAERO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAFINI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAFINI', coalesce(cast((select max(codafini) from GQTAFINI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAGENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAGENT', coalesce(cast((select max(codagent) from GQTAGENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAGREG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAGREG', coalesce(cast((select max(codaggre) from GQTAGREG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAIRLN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAIRLN', coalesce(cast((select max(codairln) from GQTAIRLN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAIRPL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAIRPL', coalesce(cast((select max(codairpl) from GQTAIRPL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAIRPT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAIRPT', coalesce(cast((select max(codairpt) from GQTAIRPT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTANEXD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTANEXD', coalesce(cast((select max(codanexd) from GQTANEXD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAsset')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAsset', coalesce(cast((select max(codasset) from GQTAsset) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SHDGQTAsset')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SHDGQTAsset', coalesce(cast((select max(SHDcodasset) from SHDGQTAsset) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAssetManual')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAssetManual', coalesce(cast((select max(codassma) from GQTAssetManual) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAssetParameter')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAssetParameter', coalesce(cast((select max(codasspa) from GQTAssetParameter) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTATAGS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTATAGS', coalesce(cast((select max(codtags) from GQTATAGS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAttachment')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAttachment', coalesce(cast((select max(codattac) from GQTAttachment) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTAUDIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTAUDIT', coalesce(cast((select max(codaudit) from GQTAUDIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTBRDPS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTBRDPS', coalesce(cast((select max(codbrdps) from GQTBRDPS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCategorias')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCategorias', coalesce(cast((select max(codcateg) from GQTCategorias) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCATTP')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCATTP', coalesce(cast((select max(codtpcat) from GQTCATTP) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCFAQS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCFAQS', coalesce(cast((select max(codcfaqs) from GQTCFAQS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCITY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCITY', coalesce(cast((select max(codcity) from GQTCITY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCMPKI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCMPKI', coalesce(cast((select max(codcmpki) from GQTCMPKI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCMPNY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCMPNY', coalesce(cast((select max(codempre) from GQTCMPNY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCNTRY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCNTRY', coalesce(cast((select max(codcntry) from GQTCNTRY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCONTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCONTA', coalesce(cast((select max(codconta) from GQTCONTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCTRY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCTRY', coalesce(cast((select max(codctry) from GQTCTRY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDECOM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDECOM', coalesce(cast((select max(coddeco) from GQTDECOM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDESAM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDESAM', coalesce(cast((select max(coddesam) from GQTDESAM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDispatchLine')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDispatchLine', coalesce(cast((select max(coddilin) from GQTDispatchLine) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDispatch')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDispatch', coalesce(cast((select max(coddispa) from GQTDispatch) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDISST')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDISST', coalesce(cast((select max(coddisst) from GQTDISST) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDataTypes')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDataTypes', coalesce(cast((select max(coddttyp) from GQTDataTypes) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTEntity')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTEntity', coalesce(cast((select max(codentit) from GQTEntity) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTEQUIP')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTEQUIP', coalesce(cast((select max(codequip) from GQTEQUIP) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTESPPE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTESPPE', coalesce(cast((select max(codesppe) from GQTESPPE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTEVCAT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTEVCAT', coalesce(cast((select max(codprogr) from GQTEVCAT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTEXPEN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTEXPEN', coalesce(cast((select max(coddespe) from GQTEXPEN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFacility')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFacility', coalesce(cast((select max(codfacil) from GQTFacility) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFacilityType')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFacilityType', coalesce(cast((select max(codfacty) from GQTFacilityType) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFAMIL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFAMIL', coalesce(cast((select max(codfamil) from GQTFAMIL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFAQS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFAQS', coalesce(cast((select max(codfaqs) from GQTFAQS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFEECA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFEECA', coalesce(cast((select max(codfeeca) from GQTFEECA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFLDS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFLDS', coalesce(cast((select max(codflds) from GQTFLDS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFLIGH')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFLIGH', coalesce(cast((select max(codfligh) from GQTFLIGH) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFLTSC')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFLTSC', coalesce(cast((select max(codfltsc) from GQTFLTSC) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTFTGRI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTFTGRI', coalesce(cast((select max(codphoto) from GQTFTGRI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGAMES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGAMES', coalesce(cast((select max(codgames) from GQTGAMES) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGENRE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGENRE', coalesce(cast((select max(codgenre) from GQTGENRE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGITEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGITEM', coalesce(cast((select max(codgitem) from GQTGITEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGLOB')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGLOB', coalesce(cast((select max(codglob) from GQTGLOB) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGRID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGRID', coalesce(cast((select max(codgrid) from GQTGRID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTGRPB')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTGRPB', coalesce(cast((select max(codgrpb) from GQTGRPB) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTHPESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTHPESS', coalesce(cast((select max(codhpess) from GQTHPESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTINDOC')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTINDOC', coalesce(cast((select max(coddentr) from GQTINDOC) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTINPGR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTINPGR', coalesce(cast((select max(codinpgr) from GQTINPGR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTINSTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTINSTA', coalesce(cast((select max(codinsta) from GQTINSTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTITEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTITEM', coalesce(cast((select max(coditem) from GQTITEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTITEMC')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTITEMC', coalesce(cast((select max(codcatar) from GQTITEMC) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTITEMP')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTITEMP', coalesce(cast((select max(coditemp) from GQTITEMP) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTKindOfEquipment')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTKindOfEquipment', coalesce(cast((select max(codkinde) from GQTKindOfEquipment) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLANGU')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLANGU', coalesce(cast((select max(codlang) from GQTLANGU) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLocationExtension')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLocationExtension', coalesce(cast((select max(codlcext) from GQTLocationExtension) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLDENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLDENT', coalesce(cast((select max(codldent) from GQTLDENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLENDI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLENDI', coalesce(cast((select max(codlendi) from GQTLENDI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLNHAG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLNHAG', coalesce(cast((select max(codlnhag) from GQTLNHAG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLNHDE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLNHDE', coalesce(cast((select max(codlnhde) from GQTLNHDE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLNHDF')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLNHDF', coalesce(cast((select max(codlnhdf) from GQTLNHDF) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLNHPD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLNHPD', coalesce(cast((select max(codlnhpd) from GQTLNHPD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLocation')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLocation', coalesce(cast((select max(codlocat) from GQTLocation) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTManualToCollect')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTManualToCollect', coalesce(cast((select max(codmanua) from GQTManualToCollect) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTMessages')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTMessages', coalesce(cast((select max(codmessa) from GQTMessages) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTMOVIM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTMOVIM', coalesce(cast((select max(codmovim) from GQTMOVIM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTNOTIF')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTNOTIF', coalesce(cast((select max(codnotif) from GQTNOTIF) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTORGAN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTORGAN', coalesce(cast((select max(codorgan) from GQTORGAN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTOUDOC')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTOUDOC', coalesce(cast((select max(coddocsd) from GQTOUDOC) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTOUTPT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTOUTPT', coalesce(cast((select max(codoutpt) from GQTOUTPT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTOUTPU')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTOUTPU', coalesce(cast((select max(codoutpu) from GQTOUTPU) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTParameter')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTParameter', coalesce(cast((select max(codparam) from GQTParameter) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPEDID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPEDID', coalesce(cast((select max(codpedid) from GQTPEDID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPeriod')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPeriod', coalesce(cast((select max(codperio) from GQTPeriod) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPerson')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPerson', coalesce(cast((select max(codperso) from GQTPerson) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPessoas')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPessoas', coalesce(cast((select max(codpesso) from GQTPessoas) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPHOTO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPHOTO', coalesce(cast((select max(codphoto) from GQTPHOTO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPROCN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPROCN', coalesce(cast((select max(codprocn) from GQTPROCN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTProduct')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTProduct', coalesce(cast((select max(codprodu) from GQTProduct) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPROJE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPROJE', coalesce(cast((select max(codproje) from GQTPROJE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPROPE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPROPE', coalesce(cast((select max(codprope) from GQTPROPE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPROPH')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPROPH', coalesce(cast((select max(codproph) from GQTPROPH) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPROPR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPROPR', coalesce(cast((select max(codpropr) from GQTPROPR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPRPIN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPRPIN', coalesce(cast((select max(codpesso) from GQTPRPIN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPSNGR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPSNGR', coalesce(cast((select max(codpsngr) from GQTPSNGR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPWCOM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPWCOM', coalesce(cast((select max(codpwcom) from GQTPWCOM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPWORG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPWORG', coalesce(cast((select max(codpworg) from GQTPWORG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPWREG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPWREG', coalesce(cast((select max(codpwreg) from GQTPWREG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTReceipt')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTReceipt', coalesce(cast((select max(codrecei) from GQTReceipt) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTREGIO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTREGIO', coalesce(cast((select max(codregia) from GQTREGIO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTREGIS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTREGIS', coalesce(cast((select max(codregis) from GQTREGIS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTReceiptLine')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTReceiptLine', coalesce(cast((select max(coddilin) from GQTReceiptLine) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTREPAR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTREPAR', coalesce(cast((select max(codrepar) from GQTREPAR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTROGL1')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTROGL1', coalesce(cast((select max(codrogl1) from GQTROGL1) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTROIGF')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTROIGF', coalesce(cast((select max(codroigf) from GQTROIGF) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTROIGI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTROIGI', coalesce(cast((select max(codroigi) from GQTROIGI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTROLE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTROLE', coalesce(cast((select max(codrole) from GQTROLE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTROOMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTROOMS', coalesce(cast((select max(codrooms) from GQTROOMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTRORDF')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTRORDF', coalesce(cast((select max(codrordf) from GQTRORDF) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTRORDI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTRORDI', coalesce(cast((select max(codrordi) from GQTRORDI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTRULES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTRULES', coalesce(cast((select max(codregra) from GQTRULES) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSALE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSALE', coalesce(cast((select max(codvenda) from GQTSALE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSALES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSALES', coalesce(cast((select max(codsales) from GQTSALES) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSBCAT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSBCAT', coalesce(cast((select max(codsbcat) from GQTSBCAT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSHITY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSHITY', coalesce(cast((select max(codshity) from GQTSHITY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSPACE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSPACE', coalesce(cast((select max(codespac) from GQTSPACE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSPECI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSPECI', coalesce(cast((select max(codespec) from GQTSPECI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSTAKE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSTAKE', coalesce(cast((select max(codparte) from GQTSTAKE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSTRAT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSTRAT', coalesce(cast((select max(codestra) from GQTSTRAT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTABPR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTABPR', coalesce(cast((select max(codtabpr) from GQTTABPR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTBLB')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTBLB', coalesce(cast((select max(codtblb) from GQTTBLB) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTBLK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTBLK', coalesce(cast((select max(codtblk) from GQTTBLK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTEAMP')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTEAMP', coalesce(cast((select max(codeqjog) from GQTTEAMP) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTICKT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTICKT', coalesce(cast((select max(codtickt) from GQTTICKT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTPCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTPCON', coalesce(cast((select max(codtpcon) from GQTTPCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTPEQU')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTPEQU', coalesce(cast((select max(codtpequ) from GQTTPEQU) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTPPRO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTPPRO', coalesce(cast((select max(codtppro) from GQTTPPRO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTRADU')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTRADU', coalesce(cast((select max(codtradu) from GQTTRADU) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTRSB')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTRSB', coalesce(cast((select max(codtrsb) from GQTTRSB) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTUICOM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTUICOM', coalesce(cast((select max(coduicom) from GQTUICOM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTUSERS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTUSERS', coalesce(cast((select max(codusers) from GQTUSERS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTVISIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTVISIT', coalesce(cast((select max(codvisit) from GQTVISIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWAREH')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWAREH', coalesce(cast((select max(codwareh) from GQTWAREH) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWPESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWPESS', coalesce(cast((select max(codpess) from GQTWPESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTYEAR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTYEAR', coalesce(cast((select max(codyear) from GQTYEAR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTMEM', coalesce(cast((select max(CODMEM) from GQTMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTCFG', coalesce(cast((select max(CODCFG) from GQTCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTUSRSET', coalesce(cast((select max(CODUSRSET) from GQTUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTUSRCFG', coalesce(cast((select max(CODUSRCFG) from GQTUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWKFACT', coalesce(cast((select max(CODWKFACT) from GQTWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWKFCON', coalesce(cast((select max(CODWKFCON) from GQTWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWKFLIG', coalesce(cast((select max(CODWKFLIG) from GQTWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWKFLOW', coalesce(cast((select max(CODWKFLOW) from GQTWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTNOTIFI', coalesce(cast((select max(CODNOTIFI) from GQTNOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTSCRCRD', coalesce(cast((select max(CODSCRCRD) from GQTSCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPOSTIT', coalesce(cast((select max(CODPOSTIT) from GQTPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTPRMFRM', coalesce(cast((select max(CODPRMFRM) from GQTPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTALERTA', coalesce(cast((select max(CODALERTA) from GQTALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTALTENT', coalesce(cast((select max(CODALTENT) from GQTALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTALERT', coalesce(cast((select max(CODTALERT) from GQTTALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTDELEGA', coalesce(cast((select max(CODDELEGA) from GQTDELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLSTUSR', coalesce(cast((select max(CODLSTUSR) from GQTLSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLSTCOL', coalesce(cast((select max(CODLSTCOL) from GQTLSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTLSTREN', coalesce(cast((select max(CODLSTREN) from GQTLSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTUSRWID', coalesce(cast((select max(CODUSRWID) from GQTUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTTBLCFG', coalesce(cast((select max(CODTBLCFG) from GQTTBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from GQTWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'GQTWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('GQTWORKFLOWTASK', coalesce(cast((select max(CODTASK) from GQTWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 