USE [W_GnBD]

GO
UPDATE dest SET dest.[dtdeco] = source.[dtdeco] FROM gqtequip AS dest INNER JOIN gqtdecom AS source ON source.coddeco = dest.coddeco WHERE dest.[dtdeco] is null OR dest.[dtdeco] != source.[dtdeco]
UPDATE dest SET dest.[dtdeco] = NULL FROM gqtequip AS dest WHERE (coddeco IS NULL OR coddeco = '') AND dest.[dtdeco]  IS NOT NULL 
GO
UPDATE dest SET dest.[name] = source.[nome] FROM gqtpwcom AS dest INNER JOIN userlogin AS source ON source.codpsw = dest.codpsw WHERE dest.[name] is null OR dest.[name] != source.[nome]
UPDATE dest SET dest.[name] = '' FROM gqtpwcom AS dest WHERE (codpsw IS NULL OR codpsw = '') AND dest.[name]  != '' 
GO
UPDATE dest SET dest.[year] = source.[year] FROM gqtagreg AS dest INNER JOIN gqtyear AS source ON source.codyear = dest.codyear WHERE dest.[year] is null OR dest.[year] != source.[year]
UPDATE dest SET dest.[year] = '' FROM gqtagreg AS dest WHERE (codyear IS NULL OR codyear = '') AND dest.[year]  != '' 
UPDATE dest SET dest.[yearnumb] = source.[yearnum] FROM gqtagreg AS dest INNER JOIN gqtyear AS source ON source.codyear = dest.codyear WHERE dest.[yearnumb] is null OR dest.[yearnumb] != source.[yearnum]
UPDATE dest SET dest.[yearnumb] = 0 FROM gqtagreg AS dest WHERE (codyear IS NULL OR codyear = '') AND dest.[yearnumb]  != 0 
GO
UPDATE dest SET dest.[tpcateg] = source.[tpcatego] FROM gqtitemc AS dest INNER JOIN gqtcattp AS source ON source.codtpcat = dest.codtpcat WHERE dest.[tpcateg] is null OR dest.[tpcateg] != source.[tpcatego]
UPDATE dest SET dest.[tpcateg] = '' FROM gqtitemc AS dest WHERE (codtpcat IS NULL OR codtpcat = '') AND dest.[tpcateg]  != '' 
GO
UPDATE dest SET dest.[year] = source.[year] FROM gqtproje AS dest INNER JOIN gqtyear AS source ON source.codyear = dest.codyear WHERE dest.[year] is null OR dest.[year] != source.[year]
UPDATE dest SET dest.[year] = '' FROM gqtproje AS dest WHERE (codyear IS NULL OR codyear = '') AND dest.[year]  != '' 
GO
UPDATE dest SET dest.[codpedid] = source.[codpedid] FROM gqtlnhde AS dest INNER JOIN gqtlnhpd AS source ON source.codlnhpd = dest.codlnhpd WHERE dest.[codpedid] is null OR dest.[codpedid] != source.[codpedid]
UPDATE dest SET dest.[codpedid] = NULL FROM gqtlnhde AS dest WHERE (codlnhpd IS NULL OR codlnhpd = '') AND dest.[codpedid]  IS NOT NULL 
GO
UPDATE dest SET dest.[exitdt] = source.[dhdocume] FROM gqtoutpu AS dest INNER JOIN gqtoutpt AS source ON source.codoutpt = dest.codoutpt WHERE dest.[exitdt] is null OR dest.[exitdt] != source.[dhdocume]
UPDATE dest SET dest.[exitdt] = NULL FROM gqtoutpu AS dest WHERE (codoutpt IS NULL OR codoutpt = '') AND dest.[exitdt]  IS NOT NULL 
GO
UPDATE dest SET dest.[instant] = source.[dispadt] FROM gqtdispatchline AS dest INNER JOIN gqtdispatch AS source ON source.coddispa = dest.coddispa WHERE dest.[instant] is null OR dest.[instant] != source.[dispadt]
UPDATE dest SET dest.[instant] = NULL FROM gqtdispatchline AS dest WHERE (coddispa IS NULL OR coddispa = '') AND dest.[instant]  IS NOT NULL 
GO
UPDATE dest SET dest.[codpais1] = source.[codcntry] FROM gqtpropr AS dest INNER JOIN gqtpessoas AS source ON source.codpesso = dest.codpesso WHERE dest.[codpais1] is null OR dest.[codpais1] != source.[codcntry]
UPDATE dest SET dest.[codpais1] = NULL FROM gqtpropr AS dest WHERE (codpesso IS NULL OR codpesso = '') AND dest.[codpais1]  IS NOT NULL 
GO
UPDATE dest SET dest.[instant] = source.[dtreceip] FROM gqtreceiptline AS dest INNER JOIN gqtreceipt AS source ON source.codrecei = dest.codrecei WHERE dest.[instant] is null OR dest.[instant] != source.[dtreceip]
UPDATE dest SET dest.[instant] = NULL FROM gqtreceiptline AS dest WHERE (codrecei IS NULL OR codrecei = '') AND dest.[instant]  IS NOT NULL 
GO
UPDATE dest SET dest.[dhentra] = source.[dhdocume] FROM gqtldent AS dest INNER JOIN gqtindoc AS source ON source.coddentr = dest.coddentr WHERE dest.[dhentra] is null OR dest.[dhentra] != source.[dhdocume]
UPDATE dest SET dest.[dhentra] = NULL FROM gqtldent AS dest WHERE (coddentr IS NULL OR coddentr = '') AND dest.[dhentra]  IS NOT NULL 
GO
UPDATE dest SET dest.[nridenti] = source.[idfuncio] FROM gqtpwcom AS dest INNER JOIN gqtpessoas AS source ON source.codpesso = dest.codpess1 WHERE dest.[nridenti] is null OR dest.[nridenti] != source.[idfuncio]
UPDATE dest SET dest.[nridenti] = 0 FROM gqtpwcom AS dest WHERE (codpess1 IS NULL OR codpess1 = '') AND dest.[nridenti]  != 0 
GO
UPDATE dest SET dest.[codempre] = source.[codempre] FROM gqtrepar AS dest INNER JOIN gqtequip AS source ON source.codequip = dest.codequip WHERE dest.[codempre] is null OR dest.[codempre] != source.[codempre]
UPDATE dest SET dest.[codempre] = NULL FROM gqtrepar AS dest WHERE (codequip IS NULL OR codequip = '') AND dest.[codempre]  IS NOT NULL 
GO

