$border-radius:0;
$table-head-inverse:true;
$menu-multi-level:false;
$wizard-steps:'arrow';
$enable-table-wrap:true;
$headings-text-transform:none;
$compactstyle:false;

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL GQT CSS_THEMEVARIABLES]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL GQT CSS_THEMEVARIABLES QUIDVUE]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */
