/****************************************************************************************************/
/***                             Classes CSS para Qweb3                                           ***/
/***                                                                                              ***/
/****************************************************************************************************/

/************************************* CSS for big font languages ***********************************/

body, input, textarea { font-size:11pt; }
.GroupBoxText { font-size:11pt; }
.TitleText { font-size: 14pt; }