$info:#17A2B8;
$success:#28A745;
$dark:#1E2436;
$light:#EDF0F3;
$menu-multi-level:false;
$danger:#B71C1C;
$compactstyle:false;
$gray-dark:#40474F;
$warning:#FFA900;
$primary:#018BD2;
$gray:#7C858D;
$secondary:#040628;
$wizard-steps:'arrow';
$border-radius:0;
$table-head-inverse:true;
$gray-light:#C4C5CA;

// USE /[MANUAL GQT CSS_THEMEVARIABLES]/

// USE /[MANUAL GQT CSS_THEMEVARIABLES QUIDGEST]/
