$info:#17A2B8;
$success:#28A745;
$dark:#1E2436;
$light:#EDF0F3;
$menu-multi-level:true;
$danger:#B71C1C;
$compactstyle:true;
$gray-dark:#40474F;
$warning:#FFA900;
$primary:#018BD2;
$gray:#7C858D;
$secondary:#040628;
$gray-light:#C4C5CA;

// USE /[MANUAL GQT CSS_THEMEVARIABLES]/

// USE /[MANUAL GQT CSS_THEMEVARIABLES QUIDGEST]/
