
/* Quidgest Overrides */
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.form-flow > .form-actions {
    padding-left: 0;
    padding-right: 0;
}

/* Layout */
.breadcrumbs {
    min-height: 40px;
    border: none;
}

/*  page title  */
.legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    white-space: normal;
    color: $gray-dark;
}

#header-container {
    #header {
        //background-color: @headerBackground;
        background-color: transparent;

        .container-fluid {
            height: 100px;

            a.logo {
                display: block;
                background-image: url("#{$headerLogoPath}");
                background-position: center center;
                background-repeat: no-repeat;
                height: 100px;
                width: 250px;
                float: left;
            }
        }
        /*div.userProfile,
        div.userLogon {
            //color: $layoutColor2;

            div.profileOptions {
                margin-top: 20px;
                height: 40px;

                div.userName {
                    //color: $layoutColor2;
                    display: inline-block;
                    font-size: 24px;
                    padding: 10px 20px;
                    float: right;
                }

                div.year {
                    //color: $layoutColor2;
                    display: inline-block;
                    font-size: 16px;
                    padding: 10px 20px;
                    float: right
                }

                div.userActions {
                    border-left: 1px solid $layoutColor2;
                    height: 100%;
                    text-transform: uppercase;
                    float: right;
                    font-weight: bold;
                    color: $layoutColor7 !important;

                    a {
                        margin: -10px 0 0 15px;
                        background-position: center 5px;
                        background-repeat: no-repeat;
                        padding: 40px 5px 5px 5px;
                        display: inline-block;
                        background-size: 32px 32px;
                        color: $layoutColor5;

                        &:hover {
                            color: $layoutColor2;
                        }

                        &.config {
                            background-image: url("#{$imagesPath}/icon_configuracoes.png");
                        }

                        &.logout {
                            background-image: url("#{$imagesPath}/icon_logout.png");
                        }
                    }
                }
            }
        }

        div.userLogon {
            background-image: none;
        }*/
    }
    /*.navigation {
        .navbar .nav {
            margin: 0 10px 0 10px;
            float: none;

            li:hover a.brand {
                background-color: $btnPrimaryBackgroundHighlight;
            }

            a.brand {
                display: inline-block;
                padding: 0;

                i.changeModuleIcon {
                    background-image: url("${headerNavigationChangeModuleIconPath}");
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    margin-top: 7px;
                }
            }
        }
    }*/
    .navigationside {
        position: fixed;
        z-index: 10000;
        right: 100%;
        top: 0;
        transform: translateX(50px);
        height: 100%;
        background-color: $light;
        background-image: url("#{$imagesPath}/q_menu.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 250px;
        //.transition(.4s ease-in-out all);
        &.open {
            transform: translateX(250px);

            .menuContainer .dropdown a {
                margin-right: 0px;
            }

            .n-sidebar__nav-link:hover {
                background-color: rgba(0,0,0,0.05);
                border-radius: 0.2rem;
                color: $primary;
            }

            .nav-sidebar .nav-link p {
                display: inline-block;
                //margin: 0 -0.5rem;
            }

            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                color: #fff;
                background-color: $primary;
                margin-right: 0;
                margin-bottom: 0.05rem;
            }

            .nav_menuContainer {
                overflow-y: auto;
                margin-right: 0.3rem;

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: rgba(0,0,0,0.2);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }

        .menuContainer {
            padding: 20px 10px 10px 10px;
            min-height: 35px;
            display:flex;

            .button {
                text-align: right;
                //padding-bottom: 30px;
                padding-right: 3px;
				margin-left:auto;

                a {
                    color: transparent !important;
                    background-color: transparent !important;
                    //background: url("#{$imagesPath}/hamburguer_icon.png") no-repeat center center;
                    padding: 5px;
                    background-size: 24px 24px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    margin-right: 0px;
                    float: right;

                    &:hover {
                        background-size: 29px 29px;
                    }
                }
            }

            .n-sidebar__nav-link--active {
                background-color: transparent;

                p {
                    color: $primary;
                }
            }

            .modules {
                float: left;
                line-height: 24px;
            }

            a {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                padding: 8px 10px 8px 10px;
                position: relative;
                margin-right: 50px;

                &.brand {
                    i.changeModuleIcon {
                        background-image: url("#{$headerNavigationChangeModuleIconPath}");
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        margin-top: 7px;
                    }
                }

                &:hover {
                    background-color: $gray-light;
                }
            }

            .dropdown.open a.dropdown-toggle {
                background-color: $gray-light;
            }

            .dropdown-menu {
                position: relative;
                //width: 100%;
                border: none;
                //background: transparent;
                margin: 0px 0 20px 0;
                border-radius: 0px;
                padding: 0;
                //left: 0;
                a {
                    font-size: 11px;
                    padding: 10px 10px 10px 20px;

                    i {
                        display: none;
                    }
                }
            }

            .dropdown-submenu .dropdown-menu {
                position: absolute;

                a {
                    padding: 10px 10px 10px 20px;

                    i {
                        display: none;
                    }
                }
            }
        }
        .n-sidebar__toggler-icon{
            color:$primary;
        }
    }
}

.f-login {
    background: url('#{$imagesPath}/f-login__background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0 -15px;

    &--header {
        transform: scale(0.85,0.85);
        background-color: #fff;
    }
}

#formContainer .f-login__brand img {
	max-height:130px;
	width:auto;
}

/*#wrap .content {
    height: 100% !important;
}*/

.validation-summary-errors {
    //color: $errorText;
    @extend .i-text__error;
    color: #b94a48;
}

/* Layout Footer */
/*.selos_footer {
    float: left;
}

.logo_quidgest_footer {
    float: right;
}*/

/*.linguas_footer {
    float: right;

    a {
        color: $white;
    }
}*/


/* Inputs */
.multiline-text {
    width: auto;
    height: auto;
}

// General classes for quick sizes
.input-mini {
    width: 67px !important;
}

.input-small {
    width: 100px !important;
}

.input-medium {
    width: 160px !important;
}

.input-large {
    width: 220px;
}

.input-xlarge {
    width: 280px;
}

.input-xxlarge {
    width: 520px;
}

[data-widget="pushmenu"] {
    cursor: pointer;
}

//Header
.c-header {
    background-color: #fff;
    display: block;
    height: 4rem;
    position: relative;
    z-index: 5;

    &__brand {
        margin-top: 0.7rem;
        margin-bottom: 0.25rem;
        display: inline-block;

        img {
            width: 80%;
        }
    }

    &__content {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        display: inline-block;
    }

    &__user-id {
        background: transparent;

        label {
            padding-right: 0.5rem;
            font-size: 0.9rem;
            color: #607d8b;
        }
    }

    &__icon {
        font-size: 18px;
        padding-top: 0.25rem;
        padding-right: 0.5rem;
        color: $primary;

        &:hover {
            color: #0064b7;
        }
    }

    &--sidebar {
        background-color: #fff;
        border-bottom: 2px solid $primary;
        //border-bottom: 1px solid $gray-light !important;
    }
}

.main-header.c-header--sidebar {
    background-color: $primary;
    color: $body-bg;
    height: 50px;

    i:hover {
        color: $hover-primary;
    }
}

.jumbotron {
    margin-top: 20px !important;
}

.breadcrumb {
    margin-top: 8px !important;
}

#breadcrumbs ~ div > #formContainer,
#breadcrumbs ~ div > #formContainer div.page-header.row {
    margin-top: 0;
}

div > #formContainer div.page-header.row {
    margin-top: 1rem;
}




.navbar-dark .navbar-text .dropdown-menu a {
    color: black;
    padding-left: 6px;
}


.dropdown-menu {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-sizing: border-box;

    .float-right {
        right: auto !important;
    }
}

.dropdown-menu > li > a > [class^="icon-"], .dropdown-menu > li > a > [class*=" icon-"], .dropdown-menu > li > a > [class^="icon-"], .dropdown-menu > li > a > [class*=" icon-"], .dropdown-submenu > a > [class^="icon-"], .dropdown-submenu > a > [class*=" icon-"] {
    background-image: none !important;
    width: 0px;
}

/*#footer {
    opacity: 1;
    width: 100%;
    padding: 0px;
    position: fixed;
    //height: 30px;
    bottom: 0;
    text-align: center;
    margin: auto;
    z-index: 1000;
    border: 0px;
    text-transform: none;
    -webkit-transform: translate3d(0,0,0);
    font-size: 12px;

    p {
        margin-top: 0px;
    }

    .logoFooter, .logoFooter a, linguas_footer, linguas_footer a {
        color: $color3;
    }

    .footerVersion {
        color: $color1;
        font-size: 9px;
    }
}*/

//Color in Table rows
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: $primary;
    background-image: -moz-linear-gradient(top, $primary, $primary);
    background-image: -webkit-gradient(linear,0 0,0 100%,from($primary),to($primary));
    background-image: -webkit-linear-gradient(top,$primary,$primary);
    background-image: -o-linear-gradient(top,$primary,$primary);
    background-image: linear-gradient(to bottom,$primary,$primary);
    background-repeat: repeat-x;
}

/*.LoginDetails {
    background-color: $loginDetails;
    height: 150px;
}*/


/*#vertical_menu .userName, #vertical_menu .userName:hover {
    position: absolute;
    top: 95px;
    left: 28px;
    color: $white !important;
}*/


/*.moduleDetails {
    img {
        //max-width: 14%;
        width: 60px;
        height: 45px;
        position: absolute;
        top: 28px;
        right: 12px;
    }
}*/

/*.ModuloAtual {
    position: absolute;
    top: 22px;
    left: 22px;
    overflow: hidden;
    box-sizing: border-box;
    outline-style: none;
    display: block;
    width: 70px;
    height: 70px;
    z-index: 1;
    border-radius: 50%;

    img {
        position: absolute;
        box-sizing: border-box;
        border-style: none;
        border-width: 0px;
        width: 93px;
        height: 70px;
        left: -8px;
        top: 0px;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: middle;
        max-width: none;
    }
}*/

/*.ModuleInfo {
    height: 40px;
    text-transform: uppercase;

    span {
        padding: 10px 10px 10px 10px;
        margin-left: 0;
        text-overflow: clip;
        display: block;
        font-size: medium;
        color: $primary;
    }
}*/

/*.LogOff {
    position: absolute;
    top: 106px;
    right: 14px;
}

.Password {
    position: absolute;
    top: 106px;
    right: 60px;
}

.Manual {
    position: absolute;
    top: 106px;
    right: 106px;
}*/

.wellcomeAuthenticated {
    color: $primary !important;
    width: auto !important;
    margin-top: 20% !important;
}

/*#toggleMenu {
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $titleBar;
    //.box-shadow(0 0 15px rgba($textColor,0.5));
    background-image: url("#{$menuToggleIconPath}");
    background-position: left 10px center;
    background-repeat: no-repeat;
    z-index: 99999;

    &.opened {
        background-image: url("#{$menuToggleIconPathOpened}");
    }

    a {
        display: block;
        width: 100%;
        height: 52px;

        &:hover, &:focus, &:active {
            color: $color3;
        }
    }
}*/

/* Menu */
/*.mm-opening .mm-menu.mm-front, .mm-opening .mm-menu.mm-next {
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
    box-shadow: 0 0 16px rgba(0,0,0,.28);
}

.mm-listview {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.mm-menu.mm-vertical .mm-listview li.mm-opened > a.mm-next, .mm-menu.mm-vertical .mm-listview li.mm-opened > .mm-panel, .mm-menu .mm-listview li.mm-opened.mm-vertical > a.mm-next, .mm-menu .mm-listview li.mm-opened.mm-vertical > .mm-panel {
    background: none;
}

.mm-vertical .mm-listview .mm-panel, .mm-listview .mm-vertical .mm-panel {
    display: none;
    padding: 0px 0px 0px 10px;
}
/*.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
    background: #80cbc4;
    color: @white;
}*/
/*.mm-page {
    height: 100%;
    min-height: 100%;
}

.mm-menu {
    max-width: 300px;
    width: auto;
    background-color: $menuMmMenuBackgroundColor;
    color: $menuColor !important;

    em.mm-counter {
        color: rgba(0, 0, 0, 0);
    }

    .mm-listview > li .mm-selected > a:not(.mm-next), .mm-listview > li.mm-selected > span {
        background: $color3;
        color: $menuMmMenuBackgroundColor;
    }

    .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
        background-color: $color4;
    }
}*/



/*// Header color for menus on smaller screen
.mm-menu .mm-header {
    background-color: $color1;
    text-transform: uppercase;
    //height: 150px;
    a {
        color: $white;
    }

    .mm-btn.mm-prev:before {
        border-color: $white;
    }
}*/
.wrapper{
    min-height:inherit;
}

html, body {
    height: 100% !important;
}

//c-footer
.c-footer {
    //position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    border-top: 1px solid $primary;
    color: $primary;
    padding: 0.4rem 3.2rem 0.7rem 3.5rem;
    //display: inline;
    margin-top: auto;
    z-index: 10;

    &__certifications {
        float: left;
        display: inline;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__genio-version {
        color: $primary;
        font-size: 0.75rem;
        vertical-align: bottom;
    }

    &__quidgest {
        width: 70px;
        margin-bottom: -1px;
    }

    &__text {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        color: $primary;
        font-size: 0.75rem;
        vertical-align: bottom;
    }
}


.n-language {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &__icon {
        font-size: 1rem;
        padding-top: 0.25rem;
        padding-right: 0.5rem;
    }

    &__item {
        margin-top: 0.1rem;

        & + &::before {
            display: inline-block;
            padding-right: 0.5rem;
            color: $primary;
            content: " | ";
        }
    }

    &__link {
        padding-right: 0.5rem;
        color: $primary;

        &:hover, &:focus {
            text-decoration: none;
            font-weight: 700;
            color: darken($primary, 7.6%);
            //letter-spacing: -0.025rem;
        }
    }
}

/*.nav li.dropdown.open .caret {
    border-top-color: $layoutColor6;
    border-bottom-color: $layoutColor6;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
    border-top-color: $layoutColor6;
    border-bottom-color: $layoutColor6;
}*/

/*.dropdown-submenu > a:after {
    display: inline-block;
    border-left-color: $layoutColor7;
    margin-left: 10px;
    margin-top: 3px;
    float: none;
}*/

#wrap {
    position: relative;
    padding-left: 50px;
}

#wrap div.container-fluid.content:first-child{
    height:100%;
}

/*.mm-page #wrap {
    padding-left: 0;
}*/
.n-menu {
    &--sidebar {
        border-color: $gray-light;
        box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    }

    &__brand {
        padding: 0.8125rem 0.5rem;
        display: block;
        white-space: nowrap;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.main-sidebar {
    z-index: 950;
    height: 100vh;
    overflow-y: hidden;
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    .brand-text{
        white-space: nowrap;
        position: absolute;
    }

    .brand-image{
        margin-top: 0;
        margin-left: -4px;
    }

    &.n-menu--sidebar {
        border-color: $gray-light;
        box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    }

    .n-sidebar__brand {
        padding: 0.8125rem 0.5rem;
        display: block;
        //white-space: nowrap;
        //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: none;
        //height: 50px;
        background-color: $secondary;

        &-text {
            color: $primary;
            margin-top: -10px;
            //font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: 600 !important;

            &:hover {
                color: $primary;
                font-weight: 600 !important;
                text-decoration: none;
                letter-spacing: 0;
            }
        }
    }

    .n-sidebar__panel {
        padding: 0.8125rem 0.5rem;
        display: block;
        white-space: nowrap;
        height: 100px;
        background-color: $primary;
        width: 250px;
    }

    .c-header {
        &__icon {
            color: #fff;

            &:hover {
                color: #002439;
            }
        }

        &__user-id {
            label {
                color: #fff;
                margin-top: 0.2rem
            }

            &:hover label {
                color: #002439;
                letter-spacing: -0.025rem;
            }
        }
    }

    .c-footer {
        padding-left: 0.5rem;
        padding-bottom: 0.3rem;
        width: 250px;

        .versionContainer {
            display: none;
        }

        .languageContainer {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

.main-sidebar .brand-text,
.sidebar .nav-link p,
.sidebar .user-panel .info {
    margin-top: 0.2rem;
}

.n-sidebar__nav-link--active .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
    color: $secondary;
}


.n-sidebar {
    &__toggler-icon {
        color: $icon-light;
        font-size: 24px;

        &:hover {
            color: $hover-primary;
        }
    }

    &__brand-text {
        font-size: 1.25rem;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.9);

        &:hover {
            color: rgba(255, 255, 255, 0.5);
            font-weight: 700 !important;
            text-decoration: none;
        }
    }

    &__img {
        float: left;
        line-height: 0.8;
        max-height: 34px;
        width: auto;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -3px;
        opacity: 1;
        border-radius: 50%;
        box-shadow: none;
    }
    /* herda user-panel */
    &__panel {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0.8125rem 0.5rem;
        display: block;
        white-space: nowrap;
        height: 100px;
        background-color: $primary;
        width: 250px;

        &-img {
            padding-left: 1rem;
            display: inline-block;
        }

        &-icon {
            color: $primary;
            text-align: center;
            width: 1.6rem;
            font-size: 1.2rem;
            margin-right: .5rem;
            margin-top: .2rem;
        }

        &-title {
            display: block !important;
            color: #fff;
        }

        a.dropdown-toggle {
            color: #fff;
        }
    }

    &__nav-item {
        &--dropdown {
            margin-bottom: -1rem;
            margin-left: 1rem;
            padding-top: .6rem;
        }
    }

    &__nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        &-link {
            border-radius: .2rem;

            &--active {
                color: $body-bg;
                background-color: $primary;
                border-radius: 0.25rem !important;

                &:hover {
                    color: $secondary !important;
                    background-color: rgba(0, 0, 0, .25);
                    font-weight: 700;
                }
            }
        }
    }

    &__icon {
        text-align: center;
        width: 1.6rem;
        font-size: 1.2rem;
        margin-right: .2rem;

        &:hover {
            color: $hover-primary;
        }
    }

    &__module {
        border-bottom: 1px solid #4f5962;
    }

    .dropdown a.dropdown-item {
        color: $dark;
    }

    &__section {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 0.6rem;

        .menu-search {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0.15rem 0 0.6rem 0;
        }
    }

    &__title {
        color: $primary;
        font-size: .8rem;
        font-weight: 600 !important;
        text-transform: uppercase;
        line-height: 2rem;
        letter-spacing: 0.02rem;
        padding-left: 1rem;
        //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border: none;
    }

    &__active-module {
        background-color: $primary;
        color: $secondary;
        //padding: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        border-radius: 0.25rem;

        span{
            margin: 0;
            margin-left: .3rem;
            transition: margin-left .3s linear,opacity .5s ease;
        }
    }

    .nav-item > .nav-link {
        margin-bottom: 0;
    }
}

.sidebar {
    min-height: unset !important;
    overflow-x: hidden;

    scrollbar-width: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 9px;
        background-color: rgba(0,0,0,0.2);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
    }
}

.content-wrapper{
    background-color:transparent;
    z-index: auto;
    //.container-fluid.content {
      //  flex: 1 1 auto !important;
    //}
}

.modules .brand, .n-sidebar__module-img .brand {
    font-size: 24px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: $primary;
    //margin-right: 3.1rem;
}

.nav-link {
    display: block;
}

.nav-link .n-sidebar__nav-link .e-badge {
    font-weight: 600;
    font-size: .80rem;
    margin-left: .25rem;
}

.nav-sidebar .nav-link > p .right {
    position: absolute;
    right: 1rem !important;
    top: 12px;
}

.nav-item.menu-open:hover > .nav-link:hover,
.nav-item:hover > .nav-link:hover {
    color: #0064b7;
    font-weight: 700;
}

.nav_menuContainer {
    height: 90%;
    margin-right: 3.13rem;
}

label{
    font-weight:inherit!important;
}

@media (max-width: 767px) {
    #header-container,
    .breadcrumbs {
        margin-left: -20px;
        margin-right: -20px;

        #header {
            padding: 0 10px;
        }
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }

    .container {
        .logo {
            width: 55%;
            padding-top: 17px;
        }
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*--- Mobile portrait ---*/
    #header-container {
        #header {
            /*div.userProfile,
            div.userLogon
            {
                margin-top: 100px;
            }*/
            .container {
                height: 200px;
                background-position: center top 10px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .input-xxlarge {
        width: 340px;
    }

    .c-groupbox {
        margin-bottom: 0.6rem !important;
    }

    .c-modal__body {
        padding: 0rem !important;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    select,
    input[type="text"],
    .i-text__field {
        padding: 0.13rem 0.13rem !important;
    }

    .c-header {
        height: 4.5rem;
    }

    .c-header__brand img {
        width: 60%;
    }

    .c-header__brand img, .c-header__content {
        display: inline;
        margin-left: 0.5rem;
        vertical-align: top;
    }

    .c-header__user-id {
        margin-top: -0.5rem;
    }

    .n-breadcrumb {
        transform: scale(0.75,0.75);
        margin-left: -2.5rem;
        padding: 0.75rem .25rem;
    }
}

@media (max-width:768px) and (min-width: 575.98px) {
    .input-xxlarge {
        width: 470px;
    }
}

.loginPage .content-wrapper{
    margin-left:0;

    .container-fluid {
        flex: 1 1 100% !important;
    }
}

#wrap.loginPage {
    padding-left: 0;
}

/*
JMN (2021-05-07)
This override in modal z-index was breaking certain controls.
Bootstrap components set their z-indexes on bootstrap4/_variables.scss

.modal.show{
    z-index:4000;
}
*/

.c-user__dropdown {
    min-width: 17rem;
    padding: 0;

    .c-card__header {
        background-color: $secondary;
        color: $body-bg;
    }

    .c-card__title .n-module__title {
        color: $body-bg;
    }

    .c-card__subtitle {
        color: $primary;
    }

    .c-sidebar__list {
        list-style-type: none;
        margin-left: 0px;
        padding: 0;

        &-item:hover {
            color: $hover-primary !important;
            background-color: $hover-dropdown;
        }
    }
}

.c-card.n-module__container {
    background-color: #d7e0e6;
    border: none;
    border-radius: 0;
}

.c-sidebar {
    &__list {
        list-style-type: none;
        margin-left: 0px;
        padding: 0 0.5rem;

        &-item {
            line-height: 1.25rem;
            letter-spacing: 0.02rem;
            padding: 0.75rem;
            border-bottom: 1px solid $border-dark-color;

            .e-icon {
                margin-top: -.05rem;
                margin-right: 0.25rem;
            }
        }

        &-link {
            color:  $primary !important;
            text-decoration: none !important;

            &:hover {
                color: $hover-primary !important;
                text-decoration: none !important;
            }
        }

        &-icon {
            font-size: 1.15rem;
            margin-right: 0.25rem;
        }
    }
}

@media (min-width: 992px) {
    .sidebar-mini {
        &.sidebar-collapse {
            .n-sidebar__title, p.n-sidebar__item {
                p, span{
                    opacity: 0;
                    margin-left: -10px;
                }
            }


            @if($menu-behaviour == 'full_collapse'){
                 .main-header, .content-wrapper {
                     margin-left: 0 !important;
                 }
 
                 .main-sidebar {
                     margin-left: -250px;
                     transition: margin-left 0.4s ease-in-out, width 0.4s ease-in-out;
                 }
            }


            .main-sidebar:hover{
                .n-sidebar__title, p.n-sidebar__item {
                    p, span{
                        opacity: 1;
                        margin-left: 0;
                    }
                }

                .dropdown-divider, .brand-image {
                    display: block;
                }
            }

            .dropdown-divider, .brand-image {
                display: none;
            }

            .n-sidebar__section {
                border: none;
            }
        }
    }
}

    .sidebar-mini {
        &.sidebar-collapse {
            .n-sidebar__title {
                white-space:nowrap!important;
            }

            .nav-sidebar .nav-link {
                white-space: nowrap !important;
            }

            .main-sidebar {
                overflow-y: inherit;
            }
        }

        .loginPage {
            #topPageWarning {
                margin-left: 0;
                margin-top: 0;
            }
        }

        #topPageWarning {
            margin-left: 250px;
            margin-top: 0;
        }
    }

    #wrapper, .sidebar-open {
        #topPageWarning {
            margin-left: 250px;
            margin-top: 40px;
        }
    }

    #wrapper.loginPage {
        #topPageWarning {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .sidebar-collapse #topPageWarning {
        margin-left: 70px !important;
        margin-top: 40px !important;
    }

    .sidebar-mini .nav-sidebar .nav-link {
        white-space: normal !important;
    }


    .nav-sidebar .n-sidebar__title p {
        display: inline-block;
        margin: 0;
    }

    .nav-icon .n-sidebar__icon .e-icon {
        padding-top: 0.25rem;
        padding-left: .3rem;
    }
    .nav-sidebar .menu-open>.nav-link i.right{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link,
    .sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
        background-color: rgba(0, 0, 0, .25);
    }

    .nav-item.menu-open:hover>.nav-link:hover,
    .nav-item:hover>.nav-link:hover,
    .nav-item:hover>.c-tab__item-header:hover,
    .c-tab__item:hover>.nav-link:hover,
    .c-tab__item:hover>.c-tab__item-header:hover,
    .nav-item.selected
    {
        color: $primary;
        font-weight: 400;
    }

    .sidebar-dark-primary{
        background-color: $secondary;
        .nav-treeview>.nav-item>.nav-link:hover,
        .nav-item.selected {
            color: $primary;
            background-color: rgba(0, 0, 0, .25);
        }

        .sidebar {
            a {
                color: $body-bg;
                font-weight: 400;

                &:hover {
                    color: $primary !important;
                    font-weight: 400;
                }
            }

            .n-sidebar__nav-item--dropdown a:hover {
                color:$dark !important;
                font-weight: 400;
            }
        }

        .nav-item.selected{
            a.nav-link {
                color: $primary !important;
            }
        }
    }


    p{
        &.n-sidebar__item {
            font-size: .95rem;
            color: rgba(255, 255, 255);
            span{
                opacity: 1;
                position: absolute;
                white-space: nowrap;
                transition: margin-left .3s linear,opacity .5s ease;
            }

            i{
                color: $white;
            }

            &:hover{
                i{
                    color: $primary;
                }
                color: $primary;
            }
        }
    }

    .main-header .nav-link {
        height:auto;
    }

    .sidebar-collapse .brand-text.n-sidebar__brand-text {
        display:none;
    }

    .menu-search {
        .i-input-group__field {
            background-color: rgba(255,255,255,0.1);
            border-color: rgba(255,255,255,0.2);
            color:$white;
            height: inherit;

            &:focus {
                color: $white;
                background-color: rgba(255,255,255,0.1);
                outline: 0;
                box-shadow: 0 0 0 0.2rem $info;
            }
        }
    }


    .menu-result {

        &__text {
            font-weight: 500;
        }

        &__full-path {
            font-size: smaller;
            color : rgba(255,255,255,0.5);
        }

        &__count {
            float: right;
            font-size: small;
            color : $primary;
        }
    }

    li.menu-result{
        white-space: normal !important;
    }

    .sidebar-collapse .menu-search {
        .i-input-group__field {
            display: none;
        }

        .i-input-group--right{
            margin-left:0.47rem;
            .b-icon--primary{
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
        }
    }

    .sidebar-open, .main-sidebar.n-menu--sidebar:hover {
        .menu-search .i-input-group__field {
            display: block;
        }

        .i-input-group--right {
            margin-left: 0;

            .b-icon--primary {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

            }
        }
    }

    .navigationside{
        .menu-search {
            .i-input-group__field {
                background-color: $input-border-color;
                border-color: $border-dark-color;
                color: $input-color;

                &:focus {
                    color: $input-color;
                    background-color: rgba(255,255,255,0.1);
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem $info;
                }
            }
        }

        .menu-result__full-path {
            color : $input-color;
        }
    }

    .c-user__dropdown ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
    }

	div.navbar .n-menu__aside-icon {
		color: $primary;
	}

	.dropdown_login {
		.f-login {
			background: none;

			&__brand img {
				max-height:75px;
				width:auto;
			}
		}

		.f-login__background {
			margin-top: auto;
			margin-bottom: auto;
			width: auto;
			background-color: $secondary;
			padding: 20px;
			border-radius: 0.25rem;
		}

		.dropdown-menu, .c-card {
			border: none;
		}

		.c-card__body {
			padding: 0;
			border-color: $primary;
		}
	}

    iframe[src*="ReportViewerWebForm"] {
        background-color: white;
    }


/********************************************
 * Bookmarks
 *******************************************/

 .bookmarks {
	&__container {
		// fixed size of dropdown list
		&-ddlist {
			display: block;
		}

		.bookmarks__btn {
			&--remove {
				border: none;
			}

			&--link{
				font-size: 12px;
				margin-left: .5rem;
			}

			&--add {
				border: none;
				margin-top: .5rem;
			}
		}

		.bookmarks__content {

			.bookmarks__item {

				&:not(:only-child){
					border-top: 1px solid rgba(255, 255, 255, 0.1);
				}
					
				.bookmarks__text {
					font-weight: 500;
                    font-size: 14px;
				}

				.b-btn.b-btn--link:hover{
					font-weight: 400;
					color: $primary;
					background-color: $primary-light;
				}

				.bookmarks__full-path {
                    margin-left: .5rem;
					font-size: 12px;
					color: rgba(255,255,255,0.5);
				}
			}
		}
	}


}

/*fixed header*/
#header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}

.sticky-top {
    position: sticky;
    top: 50px;
    z-index: 1020;
    margin: 0 -15px;
    padding: 0 1rem;
    background-color: $body-bg;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.18);
}

.page-head-scrolled {
    position: sticky;
    z-index: 1020;
    background-color: $body-bg;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.18);
}

.breadcrumbs-scrolled {
  animation: fadeOut ease 250ms;
  opacity: 0;
}


/* breadcrumbs after fixed header */
.n-breadcrumb {
    position: relative;
    top: 50px;
    margin-top: 5px !important;
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem 0.5rem;
    list-style: none;
    background-color: $body-bg;
    border-radius: 0.25rem;
}

/*form action-bar*/
.form-horizontal .c-action-bar {
    display: inline-block;
    padding: 0.5rem 0 0 0;
    width: 100%;
    margin: 0rem 0 .5rem 0;
}

.form-horizontal .c-action-bar .b-btn-group {
    padding: 0.26rem 0.5rem;
    line-height: 1.5;
    font-size: 0.9rem;
}

.form-horizontal .c-action-bar .b-btn-group:before {
    color: $gray-dark !important;
    font-weight: 700;
    line-height: 2.1;
    margin-right: 0.5rem;
    content: "|" !important;
}

.sticky-top > .c-action-bar {
    padding: 0.25rem 0;
}

#main {
    //transition: margin-left .5s;
    padding: 0;
    margin-right:50px;
}

.c-rightSidebar {
    top: 0 !important;
}

#wrap {
    .c-rightSidebar__header {
        margin-top: 1rem;
    }

    .sticky-top {
        top: 4.1rem;
    }
}

/* menu items level2 */
ul.nav-treeview li.n-sidebar__nav-item a.n-sidebar__nav-link p {
    @if $menu-multi-level {
        margin-left: .75rem;
        font-size: .85rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
    }
}

/* menu items level3 new class n-sidebar__nav--level3 */
ul.n-sidebar__nav--level3 a.n-sidebar__nav-link p {
    @if $menu-multi-level {
        margin-left: 1.5rem !important;
        font-size: .85rem !important;
        font-weight: 400;
        letter-spacing: 0.02rem;
        opacity: 0.7;
    }
}

/* Fixes the alerts being hidden under the top bar in vertical menu. */
.c-alert
{
    margin-top: 1rem;

    & ~ .c-alert
    {
        margin-top: 0;
    }
}

.nav-item.selected {
    border-radius: $border-radius;
}

.nav-item.selected {
    border-radius: $border-radius;
}

#Menu div.table-responsive{
    max-height: 70vh;
}

#FirstTab div.table-responsive{
    max-height: 55vh;
}


@media (max-width: 768px) {
    #Menu div.table-responsive {
        max-height: 60vh;
    }
}

//Light Menu         
.sidebar-light-primary {
    background-color: $light;

    .n-sidebar__section{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .bookmarks__container .bookmarks__content .bookmarks__item:not(:only-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #MenuSearchInput {
        border: 1px solid $gray-light;  
        color: $dark;
    }

    .menu-result__text:hover{
        color: $primary;
    }

    .menu-result__full-path {
        color: $dark;
    }

    .bookmarks__container .bookmarks__content .bookmarks__item .bookmarks__full-path,
    span.bookmarks__text:hover {
        color: $secondary;

        &:hover {
            color: $primary;
        }
    }

    .n-sidebar {
        &__brand-text,
        a.nav-link.n-sidebar__nav-link.n-sidebar__module-link {
            color: $secondary;
        }

        &__brand {
            background-color: $light;
        }
    }

    li.n-sidebar__nav-item:hover > a.nav-link.n-sidebar__nav-link > span.e-badge--mini-menu {
        color: $light;
        background-color: $dark;
    }
    
    //li.nav-item.has-treeview.menu-open > a.nav-link.n-sidebar__nav-link,
    .nav-treeview > .nav-item > .nav-link:hover,
    .nav-link .n-sidebar__nav-link:hover,
    .nav-sidebar > .nav-item:hover > .nav-link,
    .nav-sidebar > .nav-item.menu-open > .nav-link,
    .nav-item.selected {
        color: $dark;
        background-color: $primary-light;
    }

    .e-badge--mini-menu {
        background-color: $gray;
    }
}

#CollapsibleModules > .n-sidebar__nav-link--active, .dropdown-menu.show > .current {
    display: none;
}
